Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

chore(stripe): format
  packages/wallet/backend/src/utils/helpers.ts
Labels: package: wallet/backend, type: source

fix(stripe): paymentIntent amount is now scale 2 (#1987)
  packages/wallet/backend/src/stripe-integration/service.ts
  packages/wallet/backend/src/utils/helpers.ts
  packages/wallet/backend/tests/stripe-integration/service.test.ts
  packages/wallet/backend/tests/utils/helpers.test.ts
Labels: package: wallet/backend, type: source, type: test

feat: batch revoke keys
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/backend/src/walletAddressKeys/validation.ts
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: source, type: test

feat(boutique): check order status before showing success message
  packages/boutique/backend/src/app.ts
  packages/boutique/frontend/src/app/checkout/confirmation.tsx
  packages/boutique/frontend/src/hooks/use-order-query.ts
Labels: package: boutique/backend, package: boutique/frontend, type: source

add extra info for error message
  packages/boutique/frontend/src/app/checkout/confirmation.tsx
Labels: package: boutique/frontend

feat(boutique): check order status before showing success message (#1988)
  packages/boutique/backend/src/app.ts
  packages/boutique/frontend/src/app/checkout/confirmation.tsx
  packages/boutique/frontend/src/hooks/use-order-query.ts
Labels: package: boutique/backend, package: boutique/frontend, type: source

revoke multiple keys
  packages/wallet/frontend/src/components/providers/DeveloperKeysProvider.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/lib/context/developerKeys.ts
Labels: package: wallet/frontend, type: source

fix: set args in keys field
  packages/wallet/frontend/src/lib/api/walletAddress.ts
Labels: package: wallet/frontend, type: source

Update service.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: test

feat: feature request revoke keys in bulk (#1990)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/backend/src/walletAddressKeys/validation.ts
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
  packages/wallet/frontend/src/components/providers/DeveloperKeysProvider.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/lib/context/developerKeys.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

chore(rafiki): update Rafiki images to v1.1.2-beta
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

chore(rafiki): update Rafiki images to v1.1.2-beta (#1995)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

feat(wallet-backend): debug cards transactions response
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix(wallet-backend): filter out 'Advice' transactions in new transactions response and transactions that have the same createdAt date
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source

refactor(wallet-backend): remove debug logging for fetched transactions
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix(cards): createdAt bug and remove failed transactions (#1996)
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source

Update send.tsx
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

fix: Add error message when the PP is incorrect at Send (#1998)
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

compare balance to value with assetscale in mind
  packages/wallet/backend/src/quote/service.ts
Labels: package: wallet/backend, type: source

Update _app.tsx
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

fix: compare balance to value with assetscale in mind when checking balance (#2001)
  packages/wallet/backend/src/quote/service.ts
Labels: package: wallet/backend, type: source

fix: title name for Interledger Test Wallet (#2002)
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

fix: finish interaction on no access page
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/no-access.tsx
Labels: package: wallet/frontend, type: source

fix: reject grant of no access
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, type: source

fix: finish interaction on no access page (#2009)
  packages/wallet/backend/src/grant/service.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/no-access.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: remove expiration for receive incoming payment
  packages/wallet/backend/src/quote/service.ts
Labels: package: wallet/backend, type: source

make receive sending type default
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/frontend, type: source

fix: quote expiration problem (#2015)
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

add wallet address mentions everywhere and leave a few payment pointers as well
  README.md
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/frontend/src/app/checkout/components/payment-methods.tsx
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddress/validation.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/lib/api/transaction.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: documentation, type: source, type: test

fix(documentation): update Rafiki section and Interledger links to match rafiki repo
  README.md
Labels: type: documentation

feat: add wallet address mentions everywhere and leave a few payment pointe… (#2016)
  README.md
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/frontend/src/app/checkout/components/payment-methods.tsx
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddress/validation.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/lib/api/transaction.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: documentation, type: source, type: test

Update login.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
Labels: package: wallet/frontend, type: source

block all signup for cards
  packages/wallet/backend/src/app.ts
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix failing tests
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

fix: failing tests fix (#2026)
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

feat: Update registration option for cards (#2022)
  packages/wallet/backend/src/app.ts
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

update prettier
  README.md
  package.json
  pnpm-lock.yaml
Labels: type: documentation

fix: update prettier (#2052)
  README.md
  package.json
  pnpm-lock.yaml
Labels: type: documentation

chore: upgrade rafiki
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/receiver.request.ts
Labels: package: wallet/backend, type: source

chore: upgrade rafiki (#2054)
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/receiver.request.ts
Labels: package: wallet/backend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
