Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

feat(boutique-frontend): change default of dark theme to light theme (#1724)
  packages/boutique/frontend/src/components/theme-provider.tsx
Labels: package: boutique/frontend

fix: updated the headlessui/react package and refactored its usage
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/ErrorDialog.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardSpendingLimitDialog.tsx
Labels: package: wallet/frontend, type: source

Fix boutique themes
  .github/workflows/build-publish.yaml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/boutique/backend/src/product/model.ts
  packages/boutique/frontend/Dockerfile.prod
  packages/boutique/frontend/index.html
  packages/boutique/frontend/src/components/theme-provider.tsx
  packages/boutique/frontend/src/lib/constants.ts
  packages/boutique/frontend/vite.config.ts
Labels: package: boutique/backend, package: boutique/frontend, type: ci, type: source

feat(wallet/backend): lock cards API for staging (#1718)
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

fix(boutique): return dark image from API and update build step (#1726)
  .github/workflows/build-publish.yaml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/boutique/backend/src/product/model.ts
  packages/boutique/frontend/Dockerfile.prod
  packages/boutique/frontend/index.html
  packages/boutique/frontend/src/components/theme-provider.tsx
  packages/boutique/frontend/src/lib/constants.ts
  packages/boutique/frontend/vite.config.ts
Labels: package: boutique/backend, package: boutique/frontend, type: ci, type: source

Remove GCP logging transport
  packages/shared/backend/package.json
  packages/shared/backend/src/configs/logger.ts
  pnpm-lock.yaml
Labels: none

fix(shared): remove GCP logging transport (#1727)
  packages/shared/backend/package.json
  packages/shared/backend/src/configs/logger.ts
  pnpm-lock.yaml
Labels: none

Update $slug.tsx
  packages/boutique/frontend/src/app/products/$slug.tsx
Labels: package: boutique/frontend

SMall fixes for boutique
  packages/boutique/frontend/src/app/cart/components/cart-items.tsx
  packages/boutique/frontend/src/components/layouts/base.tsx
  packages/boutique/frontend/src/components/shopping-cart-popover.tsx
Labels: package: boutique/frontend

fix: Fix boutique image issues (#1729)
  packages/boutique/frontend/src/app/cart/components/cart-items.tsx
  packages/boutique/frontend/src/app/products/$slug.tsx
  packages/boutique/frontend/src/components/layouts/base.tsx
  packages/boutique/frontend/src/components/shopping-cart-popover.tsx
Labels: package: boutique/frontend

feat(workflows): api urls
  .github/workflows/build-publish.yaml
Labels: type: ci

feat(workflows): api urls (#1730)
  .github/workflows/build-publish.yaml
Labels: type: ci

WIP
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: source

replace rafiki money and boutique with correct names
  README.md
  packages/boutique/backend/src/open-payments/service.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, type: documentation, type: source

fix: Replace rafiki money and boutique with correct names (#1732)
  README.md
  packages/boutique/backend/src/open-payments/service.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, type: documentation, type: source

feat: override risk level
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

Small refactor
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

feat: override risk level (#1733)
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

feat: add support for GBP and ZAR in sandbox
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, type: source

feat: add support for GBP and ZAR in sandbox (#1734)
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, type: source

fix(wallet/frontend): temporary hardcoded value for staging
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

fix(wallet/frontend): temporary hardcoded value for staging (#1735)
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

feat(user): update session if kyc was verified
  packages/wallet/backend/src/user/controller.ts
Labels: package: wallet/backend, type: source

Fix default account creation logic
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

Add logic for setting up prod customer
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

Update kyc.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

Update AuthLayout.tsx
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
Labels: package: wallet/frontend, type: source

Link cardId to account instead of wallet address
  packages/wallet/backend/migrations/20241015141156_add_card_id_to_accounts.js
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

Update change pin endpoint, update urls for proxy endpoints
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

Update error message
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

setup wallet backend hot reload
  docker/dev/docker-compose.yml
  package.json
  packages/wallet/backend/package.json
  pnpm-lock.yaml
Labels: package: wallet/backend

setup wallet backend hot reload dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
Labels: package: wallet/backend

setup boutique backend hot reload
  docker/dev/docker-compose.yml
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/package.json
Labels: package: boutique/backend

wallet hot reload watch also for shared folder changes
  docker/dev/docker-compose.yml
  packages/wallet/backend/package.json
Labels: package: wallet/backend

fix watch share path and remove chokidar env var
  docker/dev/docker-compose.yml
  packages/boutique/backend/package.json
  packages/wallet/backend/package.json
Labels: package: wallet/backend, package: boutique/backend

fix distorted logo image in email templates
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
Labels: package: wallet/backend, type: source

Fix build
  .github/workflows/build-publish.yaml
  packages/wallet/frontend/next.config.js
Labels: package: wallet/frontend, type: ci

Fix
  .github/workflows/build-publish.yaml
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: ci, type: source

auth logo size fix and title size shrink
  packages/wallet/frontend/src/components/HeaderLogo.tsx
Labels: package: wallet/frontend, type: source

fix win compat issues with pnpm dev cmd and env var syntax
  package.json
  packages/wallet/frontend/package.json
Labels: package: wallet/frontend
