Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

chore: update `.nvmrc` (#1291)
  .nvmrc
Labels: none

test: fix import of error handler
  packages/boutique/backend/tests/app.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/helpers.ts
  packages/wallet/backend/tests/incomingPayment/controller.test.ts
  packages/wallet/backend/tests/outgoingPayment/controller.test.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/rafiki/controller.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
Labels: package: wallet/backend, package: boutique/backend, type: test

feat: move method to shared container utils
  packages/boutique/backend/src/container.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/configs/index.ts
  packages/shared/backend/src/container/index.ts
  packages/shared/backend/src/container/utils.ts
  packages/shared/backend/src/index.ts
  packages/wallet/backend/src/createContainer.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source

fix: add required field to rapyd contact
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/src/rapyd/service.ts
Labels: package: wallet/backend, type: source

fix: add required field to rapyd contact (#1296)
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/src/rapyd/service.ts
Labels: package: wallet/backend, type: source

for prod fix
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

feat(envVars): update env vars for telemetry on prod env
  docker/prod/.env.example
  docker/prod/docker-compose.yml
Labels: none

fix(telemetry): disable for prod as a test (#1297)
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
Labels: none

implement shared zod schema between backend and frontend
  package.json
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/backend/package.json
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/frontend/package.json
  packages/boutique/frontend/src/app/cart/components/one-click-setup.tsx
  packages/boutique/frontend/src/hooks/use-finish-checkout-mutation.ts
  packages/boutique/frontend/src/hooks/use-finish-setup-mutation.ts
  packages/boutique/frontend/src/hooks/use-instant-buy-mutation.ts
  packages/boutique/frontend/src/hooks/use-setup-one-click-mutation.ts
  packages/boutique/frontend/vite.config.ts
  packages/shared/boutique/index.ts
  packages/shared/boutique/src/index.ts
  packages/shared/boutique/src/validation.ts
  packages/shared/boutique/tsconfig.build.json
  packages/shared/boutique/tsconfig.json
  pnpm-lock.yaml
Labels: package: boutique/backend, package: boutique/frontend, type: source

implement shared zod schema between backend and frontend
  packages/boutique/frontend/Dockerfile.prod
  packages/shared/boutique/package.json
Labels: package: boutique/frontend

Update README.md
  README.md
Labels: type: documentation

migrate shared package for boutique from shared into boutique
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/frontend/Dockerfile.prod
  packages/boutique/frontend/vite.config.ts
  packages/boutique/shared/index.ts
  packages/boutique/shared/package.json
  packages/boutique/shared/src/index.ts
  packages/boutique/shared/src/validation.ts
  packages/boutique/shared/tsconfig.build.json
  packages/boutique/shared/tsconfig.json
  pnpm-lock.yaml
Labels: package: boutique/backend, package: boutique/frontend

chore: upgrade to rafiki alpha 9
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

fix(1289): change name to "test wallet" (#1290)
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: Update README.md (#1303)
  README.md
Labels: type: documentation

feat(docker): interledger pay
  docker/prod/.env.example
  docker/prod/docker-compose.yml
Labels: none

feat(docker): interledger pay (#1310)
  docker/prod/.env.example
  docker/prod/docker-compose.yml
Labels: none

chore: upgrade to rafiki alpha 9 (#1304)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

change shared/boutique to boutique/shared
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/backend/package.json
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/frontend/package.json
  packages/boutique/frontend/src/app/cart/components/one-click-setup.tsx
  packages/boutique/frontend/src/hooks/use-finish-checkout-mutation.ts
  packages/boutique/frontend/src/hooks/use-finish-setup-mutation.ts
  packages/boutique/frontend/src/hooks/use-instant-buy-mutation.ts
  packages/boutique/frontend/src/hooks/use-setup-one-click-mutation.ts
  packages/boutique/frontend/vite.config.ts
  packages/boutique/shared/package.json
  pnpm-lock.yaml
Labels: package: boutique/backend, package: boutique/frontend, type: source

change shared/boutique to boutique/shared
  pnpm-lock.yaml
Labels: none

fix: 1264 fixed the onboarding steps (#1270)
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

feat(workflows): build and publish docker image
  .github/workflows/build-publish.yaml
Labels: type: ci

chore(workflows): format
  .github/workflows/build-publish.yaml
Labels: type: ci

Update Input.tsx
  packages/wallet/frontend/src/ui/forms/Input.tsx
Labels: package: wallet/frontend, type: source

Update Input.tsx
  packages/wallet/frontend/src/ui/forms/Input.tsx
Labels: package: wallet/frontend, type: source

feat(workflows): build and publish docker image (#1330)
  .github/workflows/build-publish.yaml
  packages/wallet/frontend/src/ui/forms/Input.tsx
Labels: package: wallet/frontend, type: ci, type: source

fix(workflows): use latest pnpm version
  .github/workflows/build-publish.yaml
Labels: type: ci

fix(workflows): use latest pnpm version (#1332)
  .github/workflows/build-publish.yaml
Labels: type: ci

fix(workflows): use name instead of identifier
  .github/workflows/build-publish.yaml
Labels: type: ci

feat(workflows): latest pnpm (#1333)
  .github/workflows/build-publish.yaml
Labels: type: ci

Update package.json and move `index.ts` to `src`
  packages/boutique/shared/index.ts
  packages/boutique/shared/package.json
Labels: none

Fix lockfile
  pnpm-lock.yaml
Labels: none

added pageHeader, value placeholder, adjusted display of transfer header, label update
  .gitignore
  packages/wallet/frontend/src/components/TransferHeader.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, type: source

Implement Open Api Added Open api for accounts
  packages/wallet/backend/package.json
  packages/wallet/backend/src/account/account.docs.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/open-api/config.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

Fix pnpm version conflict
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.dev
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend

chore: move index.ts and update package.json (#1343)
  packages/boutique/shared/index.ts
  packages/boutique/shared/package.json
  pnpm-lock.yaml
Labels: none

chore: upgrade pnpm
  package.json
Labels: none

chore: upgrade pnpm
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/frontend/Dockerfile.prod
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/frontend/Dockerfile.dev
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend

chore: upgrade required version
  package.json
Labels: none

chore: upgrade pnpm
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/frontend/Dockerfile.prod
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/frontend/Dockerfile.dev
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend
