Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: backend, package: wallet, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: backend': packages/backend/**/*
'package: wallet': packages/wallet/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - "**/*.md"

'type: source':
  - packages/backend/src/**/*
  - packages/wallet/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

PR fix
  packages/wallet/src/pages/welcome.tsx
Labels: package: wallet, type: source

feat(wallet): add homepage (#46)
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/PageHeader.tsx
  packages/wallet/src/components/layouts/AppLayout.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/ui/Bubbles.tsx
  packages/wallet/src/ui/Button.tsx
  packages/wallet/src/utils/mocks.ts
Labels: package: wallet, type: source

feat(wallet): create welcome page (#47)
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/welcome.tsx
Labels: package: wallet, type: source

create login page
  packages/wallet/src/components/HeaderLogo.tsx
  packages/wallet/src/pages/login.tsx
Labels: package: wallet, type: source

remove unused code
  packages/backend/package-lock.json
  packages/backend/src/account/controller.ts
  packages/backend/src/account/model.ts
  packages/backend/src/account/routes.ts
  packages/backend/src/account/service.ts
  packages/backend/src/account/validation.ts
  packages/backend/src/auth/auth.routes.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/jwtStrategy.ts
  packages/backend/src/auth/models/refreshToken.ts
  packages/backend/src/index.ts
  packages/backend/src/open-payments/open-payments.controller.ts
  packages/backend/src/open-payments/open-payments.routes.ts
  packages/backend/src/routes.ts
  packages/backend/src/user/models/user.ts
Labels: package: backend, type: source

update expiry times to use environment variables
  packages/backend/src/user/models/user.ts
Labels: package: backend, type: source

lockfile
  pnpm-lock.yaml
Labels: none

add non null assertion exception for environment variables
  packages/backend/src/auth/models/refreshToken.ts
Labels: package: backend, type: source

type issues: fix unexpected any type
  packages/backend/src/auth/auth.service.ts
Labels: package: backend, type: source

cleanup
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/jwtStrategy.ts
  packages/backend/src/database/knexfile.js
  packages/backend/src/index.ts
  packages/backend/src/shared/open-payments.service.ts
  packages/backend/src/user/models/user.ts
  packages/backend/src/user/user.service.ts
Labels: package: backend, type: source

feat(wallet): create account page draft
  packages/wallet/src/pages/accounts/create.tsx
Labels: package: wallet, type: source

Add login form, error handling, other small changes
  packages/wallet/public/mobile-login.webp
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/pages/welcome.tsx
  packages/wallet/src/ui/Input.tsx
  packages/wallet/src/ui/Play.tsx
Labels: package: wallet, type: source

added redis config from .env and extracted the token logic from the User Model
  docker/dev/docker-compose.yml
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/models/refreshToken.ts
  packages/backend/src/user/models/user.ts
Labels: package: backend, type: source

feat(wallet): start building custom select component
  packages/wallet/src/pages/accounts/create.tsx
  packages/wallet/src/ui/Select.tsx
Labels: package: wallet, type: source

Add mobile design features to login and welcome page
  packages/wallet/public/login-mobile.webp
  packages/wallet/public/login-welcome.webp
  packages/wallet/public/mobile-login.webp
  packages/wallet/public/welcome-mobile.webp
  packages/wallet/src/components/HeaderLogo.tsx
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/pages/welcome.tsx
Labels: package: wallet, type: source

feat(wallet): settings first draft
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/SettingsTabs.tsx
  packages/wallet/src/pages/settings/index.tsx
  packages/wallet/src/pages/settings/notifications.tsx
  packages/wallet/src/pages/settings/security.tsx
Labels: package: wallet, type: source

PR review changes
  packages/wallet/src/components/Icons/Play.tsx
  packages/wallet/src/pages/login.tsx
Labels: package: wallet, type: source

New design changes
  packages/wallet/public/login-mobile.webp
  packages/wallet/public/welcome-mobile.webp
  packages/wallet/src/components/HeaderLogo.tsx
  packages/wallet/src/components/Icons/Play.tsx
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/pages/welcome.tsx
Labels: package: wallet, type: source

PR changes after suggestion
  packages/wallet/src/components/layouts/AuthLayout.tsx
Labels: package: wallet, type: source

feat(wallet): Create Login Page (#49)
  packages/wallet/public/login-mobile.webp
  packages/wallet/public/login-welcome.webp
  packages/wallet/public/welcome-mobile.webp
  packages/wallet/src/components/HeaderLogo.tsx
  packages/wallet/src/components/Icons/Play.tsx
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/pages/welcome.tsx
  packages/wallet/src/ui/Input.tsx
Labels: package: wallet, type: source

implement floating label for form inputs
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/ui/Input.tsx
  packages/wallet/src/ui/Label.tsx
Labels: package: wallet, type: source

PR suggested changes implemented
  packages/wallet/src/ui/Input.tsx
  packages/wallet/src/ui/Label.tsx
Labels: package: wallet, type: source

Update login.tsx
  packages/wallet/src/pages/login.tsx
Labels: package: wallet, type: source

feat(wallet): implement floating label for form inputs (#54)
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/ui/Input.tsx
  packages/wallet/src/ui/Label.tsx
Labels: package: wallet, type: source

Add migration files for all tables
  docker/dev/docker-compose.yml
  packages/backend/package.json
  packages/backend/src/database/knexfile.js
  packages/backend/src/database/migrations/20230209092730_account.js
  packages/backend/src/database/migrations/20230209095506_transaction.js
  packages/backend/src/database/migrations/20230209095515_user.js
  packages/backend/src/database/migrations/20230209095526_payment_pointer.js
  packages/backend/src/database/migrations/20230209095548_grant.js
  packages/backend/src/index.ts
  packages/backend/src/routes.ts
  pnpm-lock.yaml
Labels: package: backend, type: source

feat(backend): Db migration
  packages/backend/tsconfig.json
Labels: package: backend

feat(backend): fix lint issues
  packages/backend/src/database/knexfile.js
  packages/backend/src/database/migrations/20230209092730_account.js
  packages/backend/src/database/migrations/20230209095506_transaction.js
  packages/backend/src/database/migrations/20230209095515_user.js
  packages/backend/src/database/migrations/20230209095526_payment_pointer.js
  packages/backend/src/database/migrations/20230209095548_grant.js
  packages/backend/src/index.ts
  packages/backend/src/routes.ts
  packages/backend/tsconfig.json
Labels: package: backend, type: source

Create New Wallet Account
  packages/wallet/public/leafs.svg
  packages/wallet/public/register.webp
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/pages/register.tsx
  packages/wallet/src/ui/Form.tsx
  packages/wallet/src/ui/Input.tsx
Labels: package: wallet, type: source

Update register.tsx
  packages/wallet/src/pages/register.tsx
Labels: package: wallet, type: source

PR suggested changes implemented
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/pages/register.tsx
  packages/wallet/src/ui/Form.tsx
Labels: package: wallet, type: source

feat(wallet): Create New Wallet User Account (#56)
  packages/wallet/public/leafs.svg
  packages/wallet/public/register.webp
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/pages/register.tsx
  packages/wallet/src/ui/Input.tsx
Labels: package: wallet, type: source

add icons
  packages/wallet/src/components/Icons/Banknotes.tsx
  packages/wallet/src/components/Icons/Bars.tsx
  packages/wallet/src/components/Icons/Chevron.tsx
  packages/wallet/src/components/Icons/Grant.tsx
  packages/wallet/src/components/Icons/X.tsx
Labels: package: wallet, type: source

update mobile menu
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/ui/Bubbles.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

fix spacing
  packages/wallet/src/components/Menu.tsx
Labels: package: wallet, type: source

add settings icon
  packages/wallet/src/components/Icons/Cog.tsx
  packages/wallet/src/components/Menu.tsx
Labels: package: wallet, type: source

feat(backend): update on postgres port, added migration files for tables
  packages/backend/database/knexfile.js
  packages/backend/database/migrations/20230209092730_account.js
  packages/backend/database/migrations/20230209095515_user.js
  packages/backend/database/migrations/20230209095526_payment_pointer.js
  packages/backend/database/migrations/20230209095548_grant.js
  packages/backend/database/migrations/20230209130752_transaction.js
  packages/backend/package.json
  packages/backend/src/index.ts
Labels: package: backend, type: source

feat(backend): lint format issue
  docker/dev/docker-compose.yml
  packages/backend/database/knexfile.js
Labels: package: backend

feat(backend): move knexfile and migration folder
  packages/backend/knexfile.js
  packages/backend/migrations/20230209092730_account.js
  packages/backend/migrations/20230209095515_user.js
  packages/backend/migrations/20230209095526_payment_pointer.js
  packages/backend/migrations/20230209095548_grant.js
  packages/backend/migrations/20230209130752_transaction.js
  packages/backend/package.json
Labels: package: backend

feat(wallet): update mobile menu (#58)
  packages/wallet/src/components/Icons/Banknotes.tsx
  packages/wallet/src/components/Icons/Bars.tsx
  packages/wallet/src/components/Icons/Chevron.tsx
  packages/wallet/src/components/Icons/Cog.tsx
  packages/wallet/src/components/Icons/Grant.tsx
  packages/wallet/src/components/Icons/X.tsx
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/ui/Bubbles.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

shadow on input instead of wrapper
  packages/wallet/src/ui/Input.tsx
Labels: package: wallet, type: source
