Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

fix: update show legal name check (#2168)
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

feat: update rafiki to released card pos version
  docker/dev/docker-compose.yml
  packages/boutique/backend/src/open-payments/service.ts
  packages/wallet/backend/codegen.yml
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
Labels: package: wallet/backend, package: boutique/backend, type: source

feat: update rafiki to released card pos version (#2170)
  docker/dev/docker-compose.yml
  packages/boutique/backend/src/open-payments/service.ts
  packages/wallet/backend/codegen.yml
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
Labels: package: wallet/backend, package: boutique/backend, type: source

address issues
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

fix card sig verifier, add extra time diff
  packages/wallet/backend/src/interledgerCard/service.ts
Labels: package: wallet/backend, type: source

added some comments about currency
  packages/wallet/backend/src/interledgerCard/service.ts
Labels: package: wallet/backend, type: source

feat: validate card payload signature (#2169)
  packages/wallet/backend/migrations/20251023085846_add_cards_columns.js
  packages/wallet/backend/package.json
  packages/wallet/backend/seeds/01_users.js
  packages/wallet/backend/src/interledgerCard/model.ts
  packages/wallet/backend/src/interledgerCard/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/walletAddress/model.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

fix transaction date verification
  packages/wallet/backend/src/interledgerCard/service.ts
Labels: package: wallet/backend, type: source

fix lint
  packages/wallet/backend/src/interledgerCard/service.ts
Labels: package: wallet/backend, type: source

fix: transaction date verification (#2171)
  packages/wallet/backend/src/interledgerCard/service.ts
Labels: package: wallet/backend, type: source

fix: handle metadata as optional field
  packages/wallet/backend/src/incomingPayment/service.ts
Labels: package: wallet/backend, type: source

fix: handle metadata as optional field (#2173)
  packages/wallet/backend/src/incomingPayment/service.ts
Labels: package: wallet/backend, type: source

fix: round number before floor
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

fix(ci): renovate now consideres node 20
  renovate.json
Labels: none

fix: round number before floor (#2174)
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

Update index.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

fix: Update IDP message (#2177)
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

feat: add Payment Request API support in Boutique and Wallet
  packages/boutique/frontend/public/payment-request.html
  packages/boutique/frontend/src/app/checkout/components/payment-methods.tsx
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/public/images/manifest/icon-192x192.png
  packages/wallet/frontend/public/images/manifest/icon-512x512.png
  packages/wallet/frontend/public/images/manifest/icon.svg
  packages/wallet/frontend/public/manifest.json
  packages/wallet/frontend/public/pay/payment-manifest.json
  packages/wallet/frontend/public/service-worker.js
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/pay.tsx
Labels: package: wallet/frontend, package: boutique/frontend, type: source

phase 2 completed
  packages/mockgatehub/.gitignore
  packages/mockgatehub/AGENTS.md
  packages/mockgatehub/Dockerfile
  packages/mockgatehub/PROJECT_PLAN.md
  packages/mockgatehub/README.md
  packages/mockgatehub/go.mod
  packages/mockgatehub/go.sum
  packages/mockgatehub/internal/auth/signature.go
  packages/mockgatehub/internal/auth/signature_test.go
  packages/mockgatehub/internal/consts/consts.go
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/logger/logger.go
  packages/mockgatehub/internal/models/api.go
  packages/mockgatehub/internal/models/models.go
  packages/mockgatehub/internal/storage/interface.go
  packages/mockgatehub/internal/storage/memory.go
  packages/mockgatehub/internal/storage/memory_test.go
  packages/mockgatehub/internal/storage/seeder.go
  packages/mockgatehub/internal/utils/utils.go
  packages/mockgatehub/internal/webhook/manager.go
Labels: type: documentation

phase 3
  packages/mockgatehub/internal/auth/signature.go
  packages/mockgatehub/internal/handler/auth.go
  packages/mockgatehub/internal/handler/cards.go
  packages/mockgatehub/internal/handler/core.go
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/handler/helpers.go
  packages/mockgatehub/internal/handler/identity.go
  packages/mockgatehub/internal/handler/rates.go
  packages/mockgatehub/internal/models/models.go
  packages/mockgatehub/internal/storage/memory.go
  packages/mockgatehub/internal/storage/memory_test.go
Labels: none

phase 5
  packages/mockgatehub/PHASE4_COMPLETE.md
  packages/mockgatehub/PHASE5_COMPLETE.md
  packages/mockgatehub/go.mod
  packages/mockgatehub/go.sum
  packages/mockgatehub/internal/config/config.go
  packages/mockgatehub/internal/storage/redis.go
  packages/mockgatehub/internal/storage/redis_test.go
  packages/mockgatehub/internal/webhook/manager.go
  packages/mockgatehub/internal/webhook/manager_test.go
Labels: type: documentation

phase 8
  packages/mockgatehub/PHASE6_COMPLETE.md
  packages/mockgatehub/PHASE6_SUMMARY.md
  packages/mockgatehub/PHASE7_COMPLETE.md
  packages/mockgatehub/PHASE7_SUMMARY.md
  packages/mockgatehub/PROJECT_PLAN.md
  packages/mockgatehub/STATUS.md
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/handler/handler_test.go
  packages/mockgatehub/internal/handler/helpers.go
  packages/mockgatehub/internal/webhook/manager.go
  packages/mockgatehub/internal/webhook/manager_test.go
  packages/mockgatehub/test/integration/integration_test.go
Labels: type: documentation

phase 8
  packages/mockgatehub/PHASE8_QUICKSTART.md
  packages/mockgatehub/WALLET_BACKEND_INTEGRATION_ANALYSIS.md
Labels: type: documentation

Phase 8: Full stack integration testing - 8/9 critical endpoints working
  docker/local/RECOVERY_NOTES.md
  docker/local/REVERSE_ENGINEERING_REPORT.md
  docker/local/docker-compose.yml
  packages/mockgatehub/PHASE8_INTEGRATION_RESULTS.md
  packages/mockgatehub/internal/handler/auth.go
  packages/mockgatehub/internal/handler/core.go
Labels: type: documentation

expanded integration tests
  packages/mockgatehub/AGENTS.md
  packages/mockgatehub/internal/handler/core.go
  packages/mockgatehub/testenv/.gitignore
  packages/mockgatehub/testenv/README.md
  packages/mockgatehub/testenv/docker-compose.yml
  packages/mockgatehub/testenv/testscript.go
Labels: type: documentation

stack is running
  docker/local/docker-compose.yml
  docker/local/rafiki-setup.js
  packages/mockgatehub/PROJECT_PLAN.md
  packages/mockgatehub/STATUS.md
Labels: type: documentation

mockgatehub can no wlogin
  packages/mockgatehub/internal/handler/auth.go
  packages/mockgatehub/internal/handler/identity.go
  packages/mockgatehub/internal/models/api.go
  packages/mockgatehub/internal/storage/redis.go
  packages/mockgatehub/test/integration/integration_test.go
  packages/mockgatehub/testenv/testscript.go
Labels: none

checkpoint
  packages/mockgatehub/internal/auth/signature.go
  packages/mockgatehub/internal/handler/auth.go
  packages/mockgatehub/internal/handler/core.go
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/models/api.go
  packages/mockgatehub/internal/webhook/manager.go
  packages/mockgatehub/test/integration/integration_test.go
  packages/mockgatehub/testenv/.gitignore
  packages/mockgatehub/testenv/MIGRATION.md
  packages/mockgatehub/testenv/README.md
  packages/mockgatehub/testenv/run-tests.sh
  packages/mockgatehub/testenv/testscript.go
  packages/mockgatehub/web/index.html
Labels: type: documentation

checkpoint
  docker/local/RECOVERY_NOTES.md
  docker/local/REVERSE_ENGINEERING_REPORT.md
  docker/local/docker-compose.yml
  packages/mockgatehub/internal/handler/cards.go
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/middleware/withSession.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: documentation, type: source

webhook structure fixes
  packages/mockgatehub/internal/handler/auth.go
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/webhook/manager.go
  packages/mockgatehub/internal/webhook/manager_test.go
  packages/mockgatehub/testenv/MIGRATION.md
  packages/mockgatehub/testenv/README.md
  packages/mockgatehub/testenv/testscript.go
  packages/mockgatehub/web/index.html
Labels: type: documentation

deposits working
  packages/mockgatehub/CURRENCY_PRESELECTION.md
  packages/mockgatehub/Dockerfile
  packages/mockgatehub/VAULT_UUID_SUPPORT.md
  packages/mockgatehub/internal/consts/consts.go
  packages/mockgatehub/internal/handler/core.go
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/web/index.html
Labels: type: documentation

next build args support
  docker/local/docker-compose.yml
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/next.config.js
Labels: package: wallet/frontend

can now send between wallets
  docker/local/rafiki-setup.js
  packages/mockgatehub/internal/handler/rates.go
Labels: none

reverted lots of wallet code
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

further cleanup
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/service.ts
Labels: package: wallet/backend, type: source

checkpoint
  packages/mockgatehub/Makefile
  packages/mockgatehub/PHASE4_COMPLETE.md
  packages/mockgatehub/PHASE5_COMPLETE.md
  packages/mockgatehub/PHASE6_COMPLETE.md
  packages/mockgatehub/PHASE6_SUMMARY.md
  packages/mockgatehub/PHASE7_COMPLETE.md
  packages/mockgatehub/PHASE7_SUMMARY.md
  packages/mockgatehub/PHASE8_INTEGRATION_RESULTS.md
  packages/mockgatehub/PHASE8_QUICKSTART.md
  packages/mockgatehub/PROJECT_PLAN.md
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/handler/identity.go
  packages/mockgatehub/internal/storage/seeder.go
  packages/mockgatehub/test/integration/integration_test.go
  packages/mockgatehub/testenv/docker-compose.yml
  packages/mockgatehub/testenv/run-tests.sh
  packages/mockgatehub/testenv/testscript.go
  packages/mockgatehub/web/kyc-iframe.html
Labels: type: documentation

kyc
  packages/mockgatehub/internal/handler/auth.go
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/handler/identity.go
  packages/mockgatehub/web/kyc-iframe.html
Labels: none

kyc now working
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/handler/identity.go
  packages/mockgatehub/web/kyc-iframe.html
Labels: none

updated docs
  packages/mockgatehub/AGENTS.md
  packages/mockgatehub/CURRENCY_PRESELECTION.md
  packages/mockgatehub/README.md
  packages/mockgatehub/STATUS.md
  packages/mockgatehub/VAULT_UUID_SUPPORT.md
  packages/mockgatehub/WALLET_BACKEND_INTEGRATION_ANALYSIS.md
Labels: type: documentation

example env for local
  docker/local/.env.example
Labels: none

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
