Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

fix: flaky tests resolution
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/gatehub/service.test.ts
Labels: package: wallet/backend, type: source, type: test

style: fixed linting issues introduced when I added th elogging
  README.md
  local/scripts/rafiki-setup.js
Labels: type: documentation

style: fixed linting
  packages/boutique/backend/src/config/env.ts
Labels: package: boutique/backend, type: source

fix: address PR review feedback and fix Docker build
  local/scripts/rafiki-setup.js
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, type: source

fix: fixed linting issues
  .prettierignore
  local/docker-compose.yml
  local/scripts/rafiki-setup.js
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/frontend, type: source

ci: will now pull before up
  package.json
  wallet_logs.txt
Labels: none

fix: removed the +4 precision guard we don't need
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

fix: resolved dependency issues and aligned with workspace
  package.json
  pnpm-lock.yaml
Labels: none

style: prettier fix
  .github/copilot-instructions.md
Labels: type: ci, type: documentation

test: wallet unittest configuration fixes
  packages/boutique/backend/jest.setup.js
  packages/boutique/backend/jest.teardown.js
  packages/wallet/backend/jest.setup.js
Labels: package: wallet/backend, package: boutique/backend

fix: cleanup of debug
  README.md
  local/scripts/rafiki-setup.js
  packages/boutique/backend/src/config/env.ts
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/frontend/src/app/checkout/components/pay-button.tsx
  packages/boutique/frontend/tailwind.config.cjs
Labels: package: boutique/backend, package: boutique/frontend, type: documentation, type: source

style: linting issues in rafiki setup file
  local/scripts/rafiki-setup.js
Labels: none

style: prettier lint fix
  packages/wallet/frontend/next.config.js
Labels: package: wallet/frontend

test: resolved test issue where faker was creating short strings
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
Labels: package: wallet/backend, type: test

ci: makefile target for rafiki assets
  local/.env.example
  local/Makefile
  local/wallet.yaml
Labels: none

fix: removed changes to formatAmount
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

fix: correcting secrets
  local/.env.local
  local/mockgatehub.yaml
  local/rafiki.yaml
  local/scripts/local-tools.sh
  package.json
  packages/boutique/frontend/.env.local
  packages/wallet/backend/.env.example
  packages/wallet/backend/.env.local
  packages/wallet/frontend/.env.example
  packages/wallet/frontend/.env.local
  packages/wallet/frontend/next.config.js
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/frontend

refactor: wallet and boutique now run on host
  README.md
  local/.env.example
  local/boutique.yaml
  local/config/traefik/dynamic.yml
  local/docker-compose.yml
  local/mockgatehub.yaml
  local/rafiki.yaml
  local/scripts/run-package-with-local-stop.sh
  local/wallet.yaml
  package.json
  packages/boutique/backend/.env.example
  packages/boutique/backend/package.json
  packages/boutique/backend/src/config/env.ts
  packages/boutique/backend/src/container.ts
  packages/boutique/frontend/.env.example
  packages/boutique/frontend/src/lib/constants.ts
  packages/wallet/backend/.env.example
  packages/wallet/backend/package.json
  packages/wallet/backend/src/config/env.ts
  packages/wallet/frontend/.env.example
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/lib/httpClient.ts
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: documentation, type: source

docs: github copilot instructions update
  .github/copilot-instructions.md
Labels: type: ci, type: documentation

style: prettier automatic fixes to resolve linting
  packages/wallet/backend/jest.setup.js
Labels: package: wallet/backend

ci: changed configuration scheme to fail fast if misconfigured
  local/.env.example
  local/Makefile
  local/config/certs/local.crt
  local/config/certs/local.key
  local/wallet.yaml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

fix: added validation rules to boutique config
  packages/boutique/backend/src/config/env.ts
Labels: package: boutique/backend, type: source

refactor(local): breaking up into multiple service files
  local/.env.example
  local/Makefile
  local/config/certs/local.crt
  local/config/certs/local.key
  local/config/san.cnf
  local/config/traefik/dynamic.yml
  local/docker-compose.yml
  local/mailslurper.yaml
  local/mockgatehub.yaml
  local/postgres.yaml
  local/rafiki.yaml
  local/redis.yaml
  local/traefik.yaml
  local/wallet.yaml
Labels: none

docs: updated readme
  README.md
Labels: type: documentation

refactor: support for mockgatehub in local environment
  .github/copilot-instructions.md
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/dev/kratos.yml
  docker/entrypoint.sh
  docker/identity.schema.json
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  docker/prod/kratos.yml
  docker/temp/private-key.pem
  local/.env.example
  local/.gitignore
  local/docker-compose.yml
  local/init/dbinit.sql
  local/scripts/rafiki-setup.js
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/middleware/withSession.ts
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/utils/helpers.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package: wallet/backend, package: wallet/frontend, type: ci, type: documentation, type: source, type: docker

style: prettier
  packages/wallet/frontend/next.config.js
Labels: package: wallet/frontend

fix: clean up
  .github/copilot-instructions.md
  local/.env.example
  local/scripts/rafiki-setup.js
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: ci, type: documentation, type: source

docs: cleanup instructions
  README.md
  local/scripts/rafiki-setup.js
Labels: type: documentation

ci: removal of makefiles
  README.md
  local/Makefile
  local/scripts/local-tools.sh
  package.json
Labels: type: documentation

fix: examples are now useful
  .gitignore
  local/.env.example
  local/.env.local
  packages/boutique/backend/.env.example
  packages/boutique/backend/.env.local
  packages/boutique/backend/package.json
  packages/boutique/frontend/.env.example
  packages/boutique/frontend/.env.local
  packages/wallet/backend/.env.example
  packages/wallet/backend/.env.local
  packages/wallet/backend/package.json
  packages/wallet/frontend/.env.example
  packages/wallet/frontend/.env.local
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend

refactor: ci now part of local
  .github/copilot-instructions.md
  README.md
  local/.env.example
  local/Makefile
  local/boutique.yaml
  local/config/san.cnf
  local/config/traefik/dynamic.yml
  local/docker-compose.yml
  local/rafiki.yaml
  local/scripts/rafiki-setup.js
  local/traefik.yaml
  local/wallet.yaml
  package.json
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/config/env.ts
  packages/boutique/backend/src/container.ts
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/frontend/src/lib/constants.ts
  packages/boutique/frontend/vite.config.ts
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source

fix: backends will not fail silently
  packages/boutique/backend/package.json
Labels: package: boutique/backend

fix: update dev start
  packages/wallet/backend/package.json
Labels: package: wallet/backend

ci: added npm run to make testing easy
  README.md
  package.json
Labels: type: documentation

wip: experimenting
  README.md
  local/.env.example
  local/boutique.yaml
  local/config/certs/boutique.crt
  local/config/certs/boutique.key
  local/config/certs/local.crt
  local/config/certs/local.key
  local/config/san-boutique.cnf
  local/config/san-testnet.cnf
  local/config/traefik/dynamic.yml
  local/rafiki.yaml
  local/scripts/local-tools.sh
  local/scripts/rafiki-setup.js
  local/scripts/run-package-with-local-stop.sh
  local/wallet.yaml
  package.json
  packages/boutique/frontend/src/lib/constants.ts
  packages/boutique/frontend/vite.config.ts
Labels: package: boutique/frontend, type: documentation

fix: removed dangling e2e workspace
  pnpm-workspace.yaml
Labels: none

ci: default rafiki seeder will only seed two currencies for now
  local/Makefile
  local/mockgatehub.yaml
  local/scripts/rafiki-setup.js
Labels: none

fix: better secure domain handling
  README.md
  local/boutique.yaml
  local/config/certs/local.crt
  local/config/certs/local.key
  local/config/san.cnf
  local/rafiki.yaml
  local/scripts/local-tools.sh
  local/wallet.yaml
  packages/boutique/frontend/src/lib/constants.ts
  packages/wallet/backend/src/middleware/withSession.ts
  packages/wallet/frontend/next.config.js
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/frontend, type: documentation, type: source

fix: removed hardcoded interledger.cards
  packages/wallet/backend/src/middleware/withSession.ts
Labels: package: wallet/backend, type: source

fix: resolved issue where hosted balances were incorrectly calculated
  local/.env.local
  local/mockgatehub.yaml
  local/rafiki.yaml
  local/scripts/local-tools.sh
  local/scripts/rafiki-setup.js
  wallet_logs.txt
Labels: none

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
