Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: backend, package: wallet, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: backend': packages/backend/**/*
'package: wallet': packages/wallet/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - "**/*.md"

'type: source':
  - packages/backend/src/**/*
  - packages/wallet/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

add session service
  packages/backend-update/src/app.ts
  packages/backend-update/src/auth/service.ts
  packages/backend-update/src/index.ts
  packages/backend-update/src/session/service.ts
  packages/backend-update/src/user/controller.ts
  packages/backend-update/src/user/service.ts
Labels: none

refactor dependencies
  packages/backend-update/src/auth/controller.ts
  packages/backend-update/src/auth/service.ts
  packages/backend-update/src/index.ts
  packages/backend-update/src/user/controller.ts
Labels: none

remove user creation from auth tests
  packages/backend-update/src/tests/auth/service.test.ts
Labels: type: test

feat(backend): added unit tests for document service
  packages/backend/src/rapyd/documents/documents.service.ts
  packages/backend/src/tests/rapyd/documents.service.test.ts
Labels: package: backend, type: source, type: test

add user controller tests
  packages/backend-update/package.json
  packages/backend-update/src/tests/user/controller.test.ts
  packages/backend-update/src/tests/user/service.test.ts
  packages/backend-update/src/tests/utils.ts
Labels: type: test

replace `request`/`response` with `req`/`res` in tests
  packages/backend-update/src/tests/auth/controller.test.ts
  packages/backend-update/src/tests/user/controller.test.ts
  pnpm-lock.yaml
Labels: type: test

typo
  packages/backend-update/src/tests/auth/controller.test.ts
Labels: type: test

small design changes
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

small design changes (#251)
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

update docker files
  packages/backend/Dockerfile.dev
  packages/wallet/Dockerfile.dev
Labels: package: backend, package: wallet

Remove submodules
  .gitmodules
Labels: none

Update compose file and Dockerfiles
  docker/dev/docker-compose.yml
  package.json
  packages/backend/Dockerfile.dev
  packages/backend/package.json
  packages/wallet/Dockerfile.dev
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package: backend, package: wallet

Format compose file
  .prettierignore
  docker/dev/docker-compose.yml
Labels: none

Fix compose file
  docker/dev/docker-compose.yml
Labels: none

Remove comment from user controller tests
  packages/backend-update/src/tests/user/controller.test.ts
  pnpm-lock.yaml
Labels: type: test

Update lockfile
  pnpm-lock.yaml
Labels: none

Remove route file from auth module
  packages/backend-update/src/auth/router.ts
Labels: none

Update Personal Details to use default value Denmark and default address when testing
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
Labels: package: wallet, type: source

Update PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
Labels: package: wallet, type: source

Move tests outside `src` directory
  packages/backend-update/package.json
  packages/backend-update/tests/app.test.ts
  packages/backend-update/tests/app.ts
  packages/backend-update/tests/auth/controller.test.ts
  packages/backend-update/tests/auth/service.test.ts
  packages/backend-update/tests/tables.ts
  packages/backend-update/tests/user/controller.test.ts
  packages/backend-update/tests/user/service.test.ts
  packages/backend-update/tests/utils.ts
  packages/backend-update/tsconfig.build.json
Labels: type: test

Typo in tsconfig
  packages/backend-update/tsconfig.json
Labels: none

Use temp docker image for backend
  docker/dev/docker-compose.yml
Labels: none

Add Rafiki frontend and rename services
  docker/dev/docker-compose.yml
Labels: none

Update `.env` example
  docker/dev/.env.example
Labels: none
