Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: backend, package: wallet, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: backend': packages/backend/**/*
'package: wallet': packages/wallet/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - "**/*.md"

'type: source':
  - packages/backend/src/**/*
  - packages/wallet/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

account page draft
  packages/wallet/src/pages/account/[id].tsx
Labels: package: wallet, type: source

Added Readme file
  .github/CODE_OF_CONDUCT.md
  .github/contributing.md
  README.md
Labels: type: ci, type: documentation

Update contributing.md
  .github/contributing.md
Labels: type: ci, type: documentation

Update VerifyIdentityForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
Labels: package: wallet, type: source

update README
  .github/contributing.md
  README.md
Labels: type: ci, type: documentation

feat(wallet): Add New fields to KYC forms (#106)
  .github/CODE_OF_CONDUCT.md
  .github/contributing.md
  README.md
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/kyc/IdentificationForm.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/components/kyc/index.tsx
  packages/wallet/src/ui/FileUpload.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
Labels: package: wallet, type: ci, type: documentation, type: source

Update README.md
  README.md
Labels: type: documentation

chore: Update README.md (#108)
  README.md
Labels: type: documentation

add create payment pointer dialog
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/dialogs/ErrorDialog.tsx
  packages/wallet/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/src/pages/account/create.tsx
Labels: package: wallet, type: source

validate login input as well
  packages/backend/src/auth/schemas/loginSchema.ts
  packages/backend/src/routes.ts
Labels: package: backend, type: source

remove minimum length of password as it was not required yet.
  packages/backend/src/auth/schemas/signupSchema.ts
Labels: package: backend, type: source

update lockFile
  pnpm-lock.yaml
Labels: none

fix(wallet): icons import
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

Update packages/backend/migrations/20230214221007_refresh_token.js
  packages/backend/migrations/20230214221007_refresh_token.js
Labels: package: backend

Update packages/backend/seeds/seed_users.js
  packages/backend/seeds/seed_users.js
Labels: package: backend

Update packages/backend/src/auth/models/refreshToken.ts
  packages/backend/src/auth/models/refreshToken.ts
Labels: package: backend, type: source

Update docker/dev/docker-compose.yml
  docker/dev/docker-compose.yml
Labels: none

Update packages/backend/src/config/envParser.ts
  packages/backend/src/config/envParser.ts
Labels: package: backend, type: source

update tailwind color scheme
  packages/wallet/public/park.webp
  packages/wallet/src/components/HeaderLogo.tsx
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/PageHeader.tsx
  packages/wallet/src/components/SettingsTabs.tsx
  packages/wallet/src/components/TransferHeader.tsx
  packages/wallet/src/components/dialog/ErrorDialog.tsx
  packages/wallet/src/components/dialog/SuccessDialog.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/404.tsx
  packages/wallet/src/pages/auth/index.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/register.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Badge.tsx
  packages/wallet/src/ui/Button.tsx
  packages/wallet/src/ui/Divider.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/ui/forms/Input.tsx
  packages/wallet/src/ui/forms/Label.tsx
  packages/wallet/src/ui/forms/Select.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

build: remove signatures service
  docker/dev/docker-compose.yml
  docker/dev/private-key.pem
Labels: none

chore: ignore rafiki on pnpm checks
  .eslintignore
  .prettierignore
Labels: none

chore: update ci checkout step to use submodule
  .github/workflows/ci.yml
Labels: type: ci

core: increase checks job timeout
  .github/workflows/ci.yml
Labels: type: ci

fix layout shift
  packages/wallet/src/components/kyc/Tabs.tsx
Labels: package: wallet, type: source

update images
  packages/wallet/public/login-welcome.webp
  packages/wallet/public/register.webp
Labels: package: wallet

small changes to the auth pages
  packages/wallet/src/pages/auth/index.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/register.tsx
Labels: package: wallet, type: source

fix gradient hover for tabs
  packages/wallet/src/components/SettingsTabs.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
Labels: package: wallet, type: source

formatting
  packages/wallet/src/components/dialog/ErrorDialog.tsx
  packages/wallet/src/components/dialog/SuccessDialog.tsx
Labels: package: wallet, type: source

add gradients
  packages/wallet/tailwind.config.js
Labels: package: wallet

Update packages/wallet/tailwind.config.js
  packages/wallet/tailwind.config.js
Labels: package: wallet

Update packages/wallet/tailwind.config.js
  packages/wallet/tailwind.config.js
Labels: package: wallet

chore(wallet): update tailwind color scheme (#112)
  packages/wallet/public/login-welcome.webp
  packages/wallet/public/park.webp
  packages/wallet/public/register.webp
  packages/wallet/src/components/HeaderLogo.tsx
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/PageHeader.tsx
  packages/wallet/src/components/SettingsTabs.tsx
  packages/wallet/src/components/TransferHeader.tsx
  packages/wallet/src/components/dialog/ErrorDialog.tsx
  packages/wallet/src/components/dialog/SuccessDialog.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/404.tsx
  packages/wallet/src/pages/auth/index.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/register.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Badge.tsx
  packages/wallet/src/ui/Button.tsx
  packages/wallet/src/ui/Divider.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/ui/forms/Input.tsx
  packages/wallet/src/ui/forms/Label.tsx
  packages/wallet/src/ui/forms/Select.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

introduce debugging in the node application, linked to a vscode launch config.
  .vscode/launch.json
  docker/dev/docker-compose.yml
  packages/backend/Dockerfile.dev
  packages/backend/tsconfig.json
Labels: package: backend

Changes to input validation. No longer implementing a middleware validator, in order to preserve Types in controllers. remove gitignore rule for vscode.
  .gitignore
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/schemas/index.ts
  packages/backend/src/middlewares/validator.ts
  packages/backend/src/routes.ts
Labels: package: backend, type: source

rename env parser file to env move logger to new utils directoy
  packages/backend/src/config/env.ts
  packages/backend/src/utils/logger.ts
Labels: package: backend, type: source

env uses are now from the zod parsed env variable
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/jwtStrategy.ts
  packages/backend/src/auth/models/refreshToken.ts
  packages/backend/src/config/env.ts
  packages/backend/src/index.ts
  packages/backend/src/middlewares/errorHandler.ts
  packages/backend/src/utils/logger.ts
Labels: package: backend, type: source

design updates
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/components/PageHeader.tsx
  packages/wallet/src/components/layouts/AppLayout.tsx
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

prettier launch json
  .vscode/launch.json
Labels: none

remove unnecessary assertions. The types are now guaranteed by using the zod exported env variable
  packages/backend/src/auth/auth.service.ts
Labels: package: backend, type: source

feat(backend): adding header to axios request
  packages/backend/src/rapyd/utills/request.ts
  packages/backend/src/rapyd/verification/request.ts
  packages/backend/src/rapyd/wallet/request.ts
Labels: package: backend, type: source
