Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

chore: fix linter warnings — remove unused import and reformat files
  .github/copilot-instructions.md
  e2e/features/steps/cross-currency-transfer.steps.ts
  e2e/features/steps/deposit-transactions-regression.steps.ts
Labels: type: ci, type: documentation

fix: address copilot review feedback
  .github/copilot-instructions.md
  README.md
  e2e/.env.example
  e2e/features/auth-signup-dashboard.feature
  e2e/features/steps/auth-signup-dashboard.steps.ts
  e2e/package.json
  e2e/playwright.config.ts
  package.json
  packages/wallet/backend/package.json
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: ci, type: documentation, type: source, type: test

fix(test): remove redundant clearAllMocks from auth controller test
  packages/wallet/backend/tests/auth/controller.test.ts
Labels: package: wallet/backend, type: test

fix: Format type
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

fix: update Date Format
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

fix: Format
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

fix: rework to not touch packages
  .github/copilot-instructions.md
  e2e/.env.example
  e2e/features/auth-signup-dashboard.feature
  e2e/features/steps/auth-signup-dashboard.steps.ts
  e2e/features/steps/fixtures.ts
  e2e/helpers/local-wallet.ts
  e2e/package.json
  local/mailslurper.yaml
  packages/wallet/backend/.env.local
  packages/wallet/backend/package.json
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/email/service.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: ci, type: documentation, type: source

fix(e2e): call real verify endpoint to ensure gateHubUserId is created
  e2e/.env.example
  e2e/helpers/local-wallet.ts
Labels: none

fix: cleanup
  .github/copilot-instructions.md
  e2e/README.md
  packages/wallet/backend/.env.example
  packages/wallet/backend/tests/auth/controller.test.ts
Labels: package: wallet/backend, type: ci, type: documentation, type: test

fix: removed mail slurper since it is unused
  .github/copilot-instructions.md
  README.md
  local/docker-compose.yml
  local/mailslurper.yaml
Labels: type: ci, type: documentation

fix(e2e): fix prettier formatting in e2e README
  e2e/README.md
Labels: type: documentation

ci: migration to semantic-release
  .github/workflows/build-publish.yaml
  .github/workflows/release.yml
  .releaserc.json
Labels: type: ci

ci: semantic release on trigger
  .github/copilot-instructions.md
  .github/workflows/release.yml
  .releaserc.json
  README.md
  release.config.js
Labels: type: ci, type: documentation

fix: review and corrections
  .github/copilot-instructions.md
  .github/workflows/release.yml
  README.md
  release.config.js
Labels: type: ci, type: documentation

fix: add parallel proccessing when approving Transactions
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

fix: display grant send and receive amounts (#2208)
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

fix: Format
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

feat: Automatically approve blocked deposits (#2198)
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

ci: migration to semantic-release (#2209)
  .github/copilot-instructions.md
  .github/workflows/build-publish.yaml
  .github/workflows/release.yml
  README.md
  release.config.js
Labels: type: ci, type: documentation

test: e2e tests for basic functionality (#2189)
  .github/copilot-instructions.md
  README.md
  e2e/.env.example
  e2e/.gitignore
  e2e/README.md
  e2e/features/auth-signup-dashboard.feature
  e2e/features/cross-currency-transfer.feature
  e2e/features/deposit-transactions-regression.feature
  e2e/features/steps/auth-signup-dashboard.steps.ts
  e2e/features/steps/cross-currency-transfer.steps.ts
  e2e/features/steps/deposit-transactions-regression.steps.ts
  e2e/features/steps/fixtures.ts
  e2e/helpers/local-wallet.ts
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tsconfig.json
  local/docker-compose.yml
  local/mailslurper.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: type: ci, type: documentation

feat: boutique deploy time config
  packages/boutique/backend/src/config/env.ts
  packages/boutique/frontend/Dockerfile.prod
  packages/boutique/frontend/docker-entrypoint.sh
  packages/boutique/frontend/index.html
  packages/boutique/frontend/public/env.js
  packages/boutique/frontend/src/lib/constants.ts
  packages/boutique/frontend/src/lib/utils.ts
  packages/boutique/frontend/src/main.tsx
  packages/boutique/frontend/vite.config.ts
Labels: package: boutique/backend, package: boutique/frontend, type: source

fix: tweak
  packages/boutique/frontend/src/lib/constants.ts
Labels: package: boutique/frontend

fix: tweak
  packages/boutique/frontend/src/lib/constants.ts
Labels: package: boutique/frontend

Notes added by 'git notes add'
  94212d90d69f82af451b23eee23de5f89ac60bbf
Labels: none

fix: resolved linting
  packages/boutique/frontend/src/lib/constants.ts
Labels: package: boutique/frontend

fix: resolved reported issues
  packages/boutique/backend/jest.setup.js
  packages/boutique/backend/jest.teardown.js
  packages/boutique/frontend/Dockerfile.prod
  packages/boutique/frontend/nginx/nginx.conf
  packages/boutique/frontend/src/lib/utils.ts
Labels: package: boutique/backend, package: boutique/frontend

feat(boutique): boutique configuration at deploy time (#2210)
  packages/boutique/backend/jest.setup.js
  packages/boutique/backend/jest.teardown.js
  packages/boutique/backend/src/config/env.ts
  packages/boutique/frontend/Dockerfile.prod
  packages/boutique/frontend/docker-entrypoint.sh
  packages/boutique/frontend/index.html
  packages/boutique/frontend/nginx/nginx.conf
  packages/boutique/frontend/public/env.js
  packages/boutique/frontend/src/lib/constants.ts
  packages/boutique/frontend/src/lib/utils.ts
  packages/boutique/frontend/src/main.tsx
  packages/boutique/frontend/vite.config.ts
Labels: package: boutique/backend, package: boutique/frontend, type: source

ci: prep fore chart deploys
  README.md
  package.json
Labels: type: documentation

ci: transfer of boutique chart to this repo
  helm/boutique/Chart.lock
  helm/boutique/Chart.yaml
  helm/boutique/README.md
  helm/boutique/templates/configMap.backend.yaml
  helm/boutique/templates/configMap.frontend.yaml
  helm/boutique/templates/deployment.backend.yaml
  helm/boutique/templates/deployment.frontend.yaml
  helm/boutique/templates/secrets.backend.yaml
  helm/boutique/templates/service.backend.yaml
  helm/boutique/templates/service.frontend.yaml
  helm/boutique/tests/deployment.backend_test.yaml
  helm/boutique/tests/deployment.frontend_test.yaml
  helm/boutique/tests/secrets_test.yaml
  helm/boutique/tests/services_test.yaml
  helm/boutique/values.yaml
Labels: type: documentation

ci: workflows for testing and publishing charts
  .github/workflows/helm-charts.yml
  .github/workflows/helm-publish.yml
Labels: type: ci

ci: helm chart versioning set back to main
  .github/workflows/helm-charts.yml
  .github/workflows/helm-publish.yml
  helm/testnet-wallet/Chart.lock
  helm/testnet-wallet/Chart.yaml
  helm/testnet-wallet/README.md
  helm/testnet-wallet/templates/configMap.backend.yaml
  helm/testnet-wallet/templates/configMap.frontend.yaml
  helm/testnet-wallet/templates/deployment.backend.yaml
  helm/testnet-wallet/templates/deployment.frontend.yaml
  helm/testnet-wallet/templates/secrets.backend.yaml
  helm/testnet-wallet/templates/service.backend.yaml
  helm/testnet-wallet/templates/service.frontend.yaml
  helm/testnet-wallet/tests/deployment.backend_test.yaml
  helm/testnet-wallet/tests/deployment.frontend_test.yaml
  helm/testnet-wallet/tests/secrets_test.yaml
  helm/testnet-wallet/tests/services_test.yaml
  helm/testnet-wallet/values.yaml
Labels: type: ci, type: documentation

docs: chart instructions
  .github/copilot-instructions.md
  helm/boutique/README.md
  helm/testnet-wallet/README.md
Labels: type: ci, type: documentation

ci: get token from pat
  .github/workflows/helm-publish.yml
Labels: type: ci

ci: tweak
  .github/workflows/helm-publish.yml
Labels: type: ci

ci: fix helm unittest
  .github/workflows/helm-charts.yml
Labels: type: ci

fix(helm/boutique): port references
  helm/boutique/tests/deployment.frontend_test.yaml
  helm/boutique/values.yaml
Labels: none

ci: boutique chart variable scheme fix
  helm/boutique/tests/deployment.frontend_test.yaml
  helm/boutique/values.yaml
Labels: none

ci: renamed boutique to testnet-boutique
  .github/workflows/helm-charts.yml
  .github/workflows/helm-publish.yml
  helm/boutique/templates/configMap.backend.yaml
  helm/boutique/templates/configMap.frontend.yaml
  helm/boutique/templates/secrets.backend.yaml
  helm/boutique/templates/service.backend.yaml
  helm/boutique/templates/service.frontend.yaml
  helm/testnet-boutique/Chart.lock
  helm/testnet-boutique/Chart.yaml
  helm/testnet-boutique/README.md
  helm/testnet-boutique/templates/configMap.backend.yaml
  helm/testnet-boutique/templates/configMap.frontend.yaml
  helm/testnet-boutique/templates/deployment.backend.yaml
  helm/testnet-boutique/templates/deployment.frontend.yaml
  helm/testnet-boutique/templates/secrets.backend.yaml
  helm/testnet-boutique/templates/service.backend.yaml
  helm/testnet-boutique/templates/service.frontend.yaml
  helm/testnet-boutique/tests/deployment.backend_test.yaml
  helm/testnet-boutique/tests/deployment.frontend_test.yaml
  helm/testnet-boutique/tests/secrets_test.yaml
  helm/testnet-boutique/tests/services_test.yaml
  helm/testnet-boutique/values.yaml
Labels: type: ci, type: documentation

ci: clarified secrets mechanism
  helm/testnet-boutique/values.yaml
Labels: none

Potential fix for pull request finding
  helm/testnet-wallet/values.yaml
Labels: none

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
