Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

PR review changes
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

PR fixes
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

feat(wallet-frontend): add create WM PP button to Web Monetization PP list (#1065)
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

convert rapyd types to zod schema
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/response-validation.ts
  packages/wallet/backend/src/rapyd/service.ts
  packages/wallet/backend/src/utils/helpers.ts
Labels: package: wallet/backend, type: source

convert rapyd types to zod schema
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/rapyd.d.ts
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/src/rapyd/service.ts
  packages/wallet/backend/src/rapyd/validation.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: source, type: test

Fix RapydWalletSchema
  packages/wallet/backend/src/rapyd/schemas.ts
Labels: package: wallet/backend, type: source

Update Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
Labels: package: wallet/frontend, type: source

Fix showing error message
  packages/wallet/backend/src/rapyd/schemas.ts
Labels: package: wallet/backend, type: source

Resolving test 1
  .github/workflows/ci.yml
  .github/workflows/file_changes/action.yml
  packages/wallet/backend/tests/app.ts
Labels: package: wallet/backend, type: ci

Resolving test 2
  .github/workflows/ci.yml
  packages/wallet/backend/tests/app.ts
Labels: package: wallet/backend, type: ci

Resolving test 3
  .github/workflows/ci.yml
  packages/wallet/backend/tests/app.ts
Labels: package: wallet/backend, type: ci

Resolving test 4
  .github/workflows/ci.yml
  packages/boutique/backend/src/app.ts
  packages/wallet/backend/tests/app.ts
Labels: package: wallet/backend, package: boutique/backend, type: ci, type: source

optimize CI conditions
  packages/boutique/backend/src/app.ts
Labels: package: boutique/backend, type: source

feat: Rapyd zod validation (#1077)
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/rapyd.d.ts
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/src/rapyd/service.ts
  packages/wallet/backend/src/rapyd/validation.ts
  packages/wallet/backend/src/utils/helpers.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: source, type: test

fix: Update Onboarding to work only with tooltip (#1083)
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
Labels: package: wallet/frontend, type: source

test labels check
  .github/workflows/ci.yml
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: ci, type: source

test labels check 2
  .github/workflows/ci.yml
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: ci, type: source

test labels check 2
  .github/workflows/ci.yml
  .github/workflows/file_changes/action.yml
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: ci, type: source

feat: Run workflow checks based on modified package (#1039)
  .github/workflows/ci.yml
Labels: type: ci

chore: add logging size limit
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

Seed wallet backend with default account
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/src/rapyd/service.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

feat(grants): add endpoint to list grants with pagination (#1045)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/backend/src/grant/service.ts
  packages/wallet/backend/src/rafiki/auth/service.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/grant/service.test.ts
Labels: package: wallet/backend, type: source, type: test

chore: add logging size limit (#1097)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

Grant list improvements
  packages/wallet/frontend/src/components/cards/GrantCard.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/lib/hooks/useGrants.ts
  packages/wallet/frontend/src/lib/hooks/useRedirect.ts
  packages/wallet/frontend/src/lib/hooks/useTypedRouter.ts
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

- Add Boutique default account - Remove Boutique keys from env.example
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/rapyd/service.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

- Fix test
  packages/wallet/backend/src/rapyd/service.ts
Labels: package: wallet/backend, type: source

Update useTypedRouter.ts
  packages/wallet/frontend/src/lib/hooks/useTypedRouter.ts
Labels: package: wallet/frontend, type: source

remove unused grant cards
  packages/wallet/frontend/src/components/cards/GrantCard.tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

- Fix bugs - Change boutique PP name
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/rapyd/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

- Fix bugs
  docker/dev/docker-compose.yml
  packages/boutique/backend/src/config/env.ts
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, package: boutique/backend, type: source

- Fix inconsistency in default account balance
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

Added small fix for onboarding, now creating EUR account
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/frontend, type: source

Bug fix and transaction improvements
  packages/wallet/frontend/src/components/icons/Arrow.tsx
  packages/wallet/frontend/src/lib/api/asset.ts
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
  packages/wallet/frontend/src/ui/Table.tsx
Labels: package: wallet/frontend, type: source

fix: Bug fix and transaction improvements (#1121)
  packages/wallet/frontend/src/components/icons/Arrow.tsx
  packages/wallet/frontend/src/lib/api/asset.ts
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
  packages/wallet/frontend/src/ui/Table.tsx
Labels: package: wallet/frontend, type: source

feat(wallet-frontend): Grant list improvements (#1106)
  packages/wallet/frontend/src/components/cards/GrantCard.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/lib/hooks/useGrants.ts
  packages/wallet/frontend/src/lib/hooks/useRedirect.ts
  packages/wallet/frontend/src/lib/hooks/useTypedRouter.ts
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

feat: allow multiple keys per wallet address
  packages/wallet/backend/migrations/20240208113102_create_wallet_address_keys_table.js
  packages/wallet/backend/migrations/20240208123102_migrate_existing_keys.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/utils/jwk.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/backend/src/walletAddressKeys/validation.ts
Labels: package: wallet/backend, type: source

test: remove revoke/register tests
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
Labels: package: wallet/backend, type: test

feat: rename name to nickname
  packages/wallet/backend/migrations/20240208113102_create_wallet_address_keys_table.js
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/backend/src/walletAddressKeys/validation.ts
Labels: package: wallet/backend, type: source

Added Clear filters & order by date
  packages/wallet/frontend/src/components/icons/Chevron.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/lib/api/transaction.ts
  packages/wallet/frontend/src/lib/hooks/useTransactions.ts
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/Table.tsx
Labels: package: wallet/frontend, type: source

feat: include wallet keys in response
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
Labels: package: wallet/backend, type: source
