Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

Add simple migration - WIP
  packages/wallet/backend/migrations/20240801155211_update_wallet_addresses.js
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
Labels: package: wallet/backend, type: source

Prettier
  packages/wallet/backend/migrations/20240801155211_update_wallet_addresses.js
Labels: package: wallet/backend

- fix test - get one key instead array
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: source, type: test

Fix display of fee
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

fix: fix upload repetitive key into the Rafiki (#1461)
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: source, type: test

Added release template and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-or-feature-subtask.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/release.yaml
Labels: type: ci, type: documentation

Prettier fixes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-or-feature-subtask.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: type: ci, type: documentation

Prettier fixes
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

Revert "Prettier fixes"
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

fix layout
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/Button.tsx
Labels: package: wallet/frontend, type: source

fix layouts
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/pages/404.tsx
  packages/wallet/frontend/src/pages/no-access.tsx
Labels: package: wallet/frontend, type: source

Update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

Update Dev Keys
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

Update DeveloperKeys.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

feat: New design transfer pages (#1451)
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/icons/PaperPlane.tsx
Labels: package: wallet/frontend, type: source

feat: New design grants pages (#1452)
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

feat: New design setting pages (#1479)
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

Update tabs
  packages/wallet/frontend/src/components/SettingsTabs.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

- Add assetScale 2 filter for assets in exchange page
  packages/wallet/frontend/src/pages/exchange.tsx
Labels: package: wallet/frontend, type: source

feat: add assetScale 2 filter for assets in exchange page (#1484)
  packages/wallet/frontend/src/pages/exchange.tsx
Labels: package: wallet/frontend, type: source

Update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

Update [accountId].tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

Update migrations + partial asset display fix
  packages/wallet/backend/knexfile.js
  packages/wallet/backend/migrations/20240801155211_update_asset_scale.js
  packages/wallet/backend/migrations/20240801155211_update_wallet_addresses.js
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Prettier
  packages/wallet/backend/migrations/20240801155211_update_asset_scale.js
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Fix formatting?
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

Replaced templates with the ones from web extension
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-or-feature-subtask.md
  .github/ISSUE_TEMPLATE/feature-or-feature-subtask.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: type: ci, type: documentation

Update release.yaml
  .github/release.yaml
Labels: type: ci

feat: Added release template and issue templates (#1473)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-or-feature-subtask.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/release.yaml
Labels: type: ci

PR comments addressed
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

Some more fixes from PR comments
  packages/wallet/frontend/src/components/HeaderLogo.tsx
  packages/wallet/frontend/src/components/TransferHeader.tsx
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/toast/Toast.tsx
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
  packages/wallet/frontend/src/pages/kyc/personal.tsx
  packages/wallet/frontend/src/pages/kyc/proof.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/frontend, type: source

feat: New design Auth/KYC pages (#1448)
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/images/EnvelopeBird.png
  packages/wallet/backend/src/email/templates/images/InterledgerTestWallet.png
  packages/wallet/backend/src/email/templates/images/InterledgerTestnet.png
  packages/wallet/backend/src/email/templates/images/KeyBird.png
  packages/wallet/backend/src/email/templates/images/Verify.png
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/components/HeaderLogo.tsx
  packages/wallet/frontend/src/components/TransferHeader.tsx
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  packages/wallet/frontend/src/components/toast/Toast.tsx
  packages/wallet/frontend/src/pages/404.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
  packages/wallet/frontend/src/pages/kyc/personal.tsx
  packages/wallet/frontend/src/pages/kyc/proof.tsx
  packages/wallet/frontend/src/pages/no-access.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

Color changes
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
Labels: package: wallet/frontend, type: source

Colors added
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
Labels: package: wallet/frontend, type: source

Try fix migration
  packages/wallet/backend/migrations/20240801155211_update_asset_scale.js
Labels: package: wallet/backend

Try fix migration - amend
  packages/wallet/backend/migrations/20240801155211_update_asset_scale.js
Labels: package: wallet/backend

Prettier
  packages/wallet/backend/migrations/20240801155211_update_asset_scale.js
Labels: package: wallet/backend

Remove Light Dark svgs- use css colors for currentColor
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/icons/Euro.tsx
  packages/wallet/frontend/src/components/icons/HomeRooftop.tsx
  packages/wallet/frontend/src/components/icons/Key.tsx
  packages/wallet/frontend/src/components/icons/MoneyHand.tsx
  packages/wallet/frontend/src/components/icons/New.tsx
  packages/wallet/frontend/src/components/icons/Person.tsx
  packages/wallet/frontend/src/components/icons/PersonDoc.tsx
  packages/wallet/frontend/src/components/icons/Play.tsx
  packages/wallet/frontend/src/components/icons/Pointer.tsx
  packages/wallet/frontend/src/components/icons/Request.tsx
  packages/wallet/frontend/src/components/icons/Send.tsx
  packages/wallet/frontend/src/components/icons/Switch.tsx
  packages/wallet/frontend/src/components/icons/ThumbsUp.tsx
  packages/wallet/frontend/src/components/icons/TransactionCircle.tsx
  packages/wallet/frontend/src/components/icons/Wave.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/forms/Select.tsx
Labels: package: wallet/frontend, type: source

Update knex config
  packages/wallet/backend/knexfile.js
Labels: package: wallet/backend

Onboarding fixes
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/ExchangeRate.tsx
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/icons/New.tsx
  packages/wallet/frontend/src/components/icons/Request.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/pages/_document.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/TogglePayment.tsx
  packages/wallet/frontend/src/utils/constants.ts
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

Some more layout fixes
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/frontend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
