Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: backend, package: wallet, type: ci, type: documentation, type: source, type: test, type: docker

feat(wallet): add list/create account (#189)
  packages/backend/src/account/account.service.ts
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/lib/api/asset.ts
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/index.tsx
Labels: package: backend, package: wallet, type: source

update types for SSR and components
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/lib/api/paymentPointer.ts
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/pages/account/[accountId]/[paymentPointerId].tsx
Labels: package: wallet, type: source

formatting
  packages/backend/src/payment-pointer/payment-pointer.schema.ts
  packages/wallet/src/pages/account/[accountId]/[paymentPointerId].tsx
Labels: package: backend, package: wallet, type: source

add url to payment pointers table
  packages/backend/migrations/20230209095526_payment_pointer.js
Labels: package: backend

update payment pointer model
  packages/backend/src/payment-pointer/payment-pointer.model.ts
Labels: package: backend, type: source

feat(backend): improved create account function
  packages/backend/src/account/account.service.ts
Labels: package: backend, type: source

fix `noKyc` flag
  packages/backend/src/auth/auth.service.ts
Labels: package: backend, type: source

save pp URL in database and update pp schema
  packages/backend/src/payment-pointer/payment-pointer.schema.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/backend/src/rafiki/request/payment-pointer.request.ts
Labels: package: backend, type: source

remove console logs
  packages/backend/src/auth/auth.service.ts
Labels: package: backend, type: source

feat(backend): generate graphql types from remote schema (#195)
  packages/backend/codegen.yml
  packages/backend/package.json
  packages/backend/src/account/account.service.ts
  packages/backend/src/asset/asset.service.ts
  packages/backend/src/rafiki/generated/graphql.ts
  packages/backend/src/rafiki/graphql.client.ts
  packages/backend/src/rafiki/graphqlClient.ts
  packages/backend/src/rafiki/request/asset.request.ts
  packages/backend/src/rafiki/request/payment-pointer.request.ts
  pnpm-lock.yaml
Labels: package: backend, type: source

Fund account in rapyd
  packages/backend/src/account/account.model.ts
  packages/backend/src/account/account.route.ts
  packages/backend/src/account/account.service.ts
  packages/backend/src/account/schemas/account.schema.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
Labels: package: backend, type: source

feat(backend): store payment pointer url (#197)
  packages/backend/migrations/20230209095526_payment_pointer.js
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/payment-pointer/payment-pointer.model.ts
  packages/backend/src/payment-pointer/payment-pointer.schema.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/backend/src/rafiki/request/payment-pointer.request.ts
Labels: package: backend, type: source

add list and create payment pointer
  packages/backend/src/payment-pointer/payment-pointer.schema.ts
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/lib/api/paymentPointer.ts
  packages/wallet/src/pages/account/[accountId].tsx
Labels: package: backend, package: wallet, type: source

get payment pointer info
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/pages/account/[accountId]/[paymentPointerId].tsx
Labels: package: wallet, type: source

address comments
  packages/wallet/src/lib/api/paymentPointer.ts
Labels: package: wallet, type: source

feat(wallet): add get/list/create payment pointer (#192)
  packages/backend/src/payment-pointer/payment-pointer.schema.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/lib/api/paymentPointer.ts
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/pages/account/[accountId]/[paymentPointerId].tsx
Labels: package: backend, package: wallet, type: source

pnpm lock
  pnpm-lock.yaml
Labels: none

graphql generated
  packages/backend/src/rafiki/generated/graphql.ts
Labels: package: backend, type: source

fix the generated graphql.ts
  packages/backend/package.json
  packages/backend/src/rafiki/generated/graphql.ts
Labels: package: backend, type: source

remove test-setup.ts
  packages/backend/src/tests/test-setup.ts
Labels: package: backend, type: source

feat(testing): Integration tests (#179)
  packages/backend/jest.config.json
  packages/backend/jest.setup.js
  packages/backend/jest.teardown.js
  packages/backend/package.json
  packages/backend/src/config/env.ts
  packages/backend/src/global.d.ts
  packages/backend/src/index.ts
  packages/backend/src/rafiki/generated/graphql.ts
  packages/backend/src/tests/.gitkeep
  packages/backend/src/tests/auth/auth.service.test.ts
  packages/backend/src/types/express/index.d.ts
  pnpm-lock.yaml
Labels: package: backend, type: source, type: test

Add list of accounts to select, and other fixes
  packages/backend/migrations/20230209092730_account.js
  packages/backend/src/account/account.service.ts
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/pages/account/[accountId].tsx
Labels: package: backend, package: wallet, type: source

fetch account balance from rapyd
  packages/backend/src/account/account.model.ts
  packages/backend/src/account/account.service.ts
  packages/backend/src/rapyd/wallet/request.ts
Labels: package: backend, type: source

display real account balance
  packages/backend/src/account/account.service.ts
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/pages/index.tsx
Labels: package: backend, package: wallet, type: source

rename function
  packages/backend/src/account/account.service.ts
Labels: package: backend, type: source

fix kyc document type default value
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
Labels: package: wallet, type: source

fix export
  packages/backend/src/rapyd/wallet/request.ts
Labels: package: backend, type: source

Update fund dialog and default values
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/pages/account/[accountId].tsx
Labels: package: wallet, type: source

feat(backend): fund wallet (#193)
  packages/backend/migrations/20230209092730_account.js
  packages/backend/src/account/account.model.ts
  packages/backend/src/account/account.route.ts
  packages/backend/src/account/account.service.ts
  packages/backend/src/account/schemas/account.schema.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/backend/src/rapyd/virtual-accounts/index.ts
  packages/backend/src/rapyd/virtual-accounts/request.ts
  packages/backend/src/rapyd/virtual-accounts/virtual-accounts.d.ts
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/pages/account/[accountId].tsx
Labels: package: backend, package: wallet, type: source

format balance
  packages/backend/src/account/account.model.ts
  packages/backend/src/account/account.service.ts
  packages/backend/src/utils/helpers.ts
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/lib/api/account.ts
Labels: package: backend, package: wallet, type: source

integrate rafiki endpoints for prices, quote and webhook
  packages/backend/src/rafiki/integration/prices/prices.controller.ts
  packages/backend/src/rafiki/integration/prices/prices.service.ts
  packages/backend/src/rafiki/integration/quote/quote.controller.ts
  packages/backend/src/rafiki/integration/quote/quote.service.ts
  packages/backend/src/rafiki/integration/rafiki-integration.routes.ts
  packages/backend/src/rafiki/integration/webhook/webhook.controller.ts
  packages/backend/src/rafiki/integration/webhook/webhook.service.ts
Labels: package: backend, type: source

remove account select when creating a payment pointer
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/lib/api/paymentPointer.ts
  packages/wallet/src/pages/account/[accountId].tsx
Labels: package: wallet, type: source

add progress bar when navigating between pages
  packages/wallet/package.json
  packages/wallet/src/pages/_app.tsx
  packages/wallet/src/styles/main.css
  packages/wallet/src/ui/Progress.tsx
  pnpm-lock.yaml
Labels: package: wallet, type: source

update progress bar
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/styles/main.css
  packages/wallet/src/ui/Progress.tsx
Labels: package: wallet, type: source

typos and small fixes
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/styles/main.css
Labels: package: wallet, type: source

properly defined relations between user, account and paymentPointers added webhook events and tried to interact with rapyd in order to deposit or withdraw ammounts described in webhooks
  packages/backend/src/account/account.model.ts
  packages/backend/src/rafiki/integration/webhook/webhook.service.ts
  packages/backend/src/shared/models/errors/NotFoundException.ts
  packages/backend/src/user/models/user.ts
Labels: package: backend, type: source

scaffold new backend
  packages/backend-update/README.md
  packages/backend-update/package.json
  packages/backend-update/src/app.ts
  packages/backend-update/src/config/env.ts
  packages/backend-update/src/config/logger.ts
  packages/backend-update/src/container.ts
  packages/backend-update/src/index.ts
  packages/backend-update/tsconfig.json
  pnpm-lock.yaml
Labels: type: documentation

add custom response body
  packages/backend-update/src/global.d.ts
Labels: none

add error classes
  packages/backend-update/package.json
  packages/backend-update/src/errors/BadRequest.ts
  packages/backend-update/src/errors/Base.ts
  packages/backend-update/src/errors/Conflict.ts
  packages/backend-update/src/errors/InternalServerError.ts
  packages/backend-update/src/errors/NotFound.ts
  packages/backend-update/src/errors/Unauthorized.ts
  packages/backend-update/src/errors/index.ts
Labels: none

added graphql mutations. added rapyd integration for witdraw and deposit
  packages/backend/src/account/account.model.ts
  packages/backend/src/index.ts
  packages/backend/src/payment-pointer/payment-pointer.model.ts
  packages/backend/src/rafiki/generated/graphql.ts
  packages/backend/src/rafiki/integration/rafiki-integration.routes.ts
  packages/backend/src/rafiki/integration/webhook/webhook.controller.ts
  packages/backend/src/rafiki/integration/webhook/webhook.service.ts
  packages/backend/src/rafiki/request/liquidity.request.ts
  packages/backend/src/rapyd/wallet/request.ts
  packages/backend/src/rapyd/wallet/wallet.d.ts
  packages/backend/src/routes.ts
  packages/backend/src/user/models/user.ts
Labels: package: backend, type: source

.github/labeler.yml:

'package: backend': packages/backend/**/*
'package: wallet': packages/wallet/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - "**/*.md"

'type: source':
  - packages/backend/src/**/*
  - packages/wallet/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
