Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

chore: upgrade pnpm (#1348)
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/frontend/Dockerfile.prod
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/frontend/Dockerfile.dev
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend

feat(1311): update transfer pages ux (#1344)
  .gitignore
  packages/wallet/frontend/src/components/TransferHeader.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, type: source

chore: upgrade rafiki to alpha 10
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/boutique/backend/package.json
  packages/shared/backend/package.json
  packages/wallet/backend/package.json
  packages/wallet/frontend/package.json
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend

chore: upgrade rafiki to alpha 10 (#1349)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/boutique/backend/package.json
  packages/shared/backend/package.json
  packages/wallet/backend/package.json
  packages/wallet/frontend/package.json
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend

chore: upgrade pnpm
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/frontend/Dockerfile.prod
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/frontend/Dockerfile.dev
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend

chore: upgrade pnpm
  package.json
Labels: none

test: add experimental flag for jest to support esm dynamic import
  packages/boutique/backend/package.json
Labels: package: boutique/backend

chore: upgrade pnpm (#1350)
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/backend/package.json
  packages/boutique/frontend/Dockerfile.prod
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/frontend/Dockerfile.dev
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend

Revert index shared boutique
  packages/boutique/shared/index.ts
  pnpm-lock.yaml
Labels: none

parse open-payments intervals
  packages/wallet/backend/package.json
  packages/wallet/backend/src/grant/service.ts
  packages/wallet/backend/tests/grant/service.test.ts
  packages/wallet/backend/tests/mocks.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source, type: test

Fix pnpm version conflict
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.dev
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend

remove index from boutique/shared
  packages/boutique/shared/index.ts
Labels: none

Fix pnpm version conflict
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.dev
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend

remove index from boutique/shared
  packages/boutique/frontend/package.json
Labels: package: boutique/frontend

Fix pnpm version conflict
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.dev
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend

remove index from boutique/shared
  packages/boutique/backend/package.json
Labels: package: boutique/backend

merge
  pnpm-lock.yaml
Labels: none

chore: upgrade pnpm
  package.json
Labels: none

chore: upgrade pnpm
  package.json
Labels: none

feat(logger): add service name as context (#1287)
  package.json
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/container.ts
  packages/boutique/backend/src/product/service.ts
  packages/boutique/backend/tests/app.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/configs/index.ts
  packages/shared/backend/src/container/index.ts
  packages/shared/backend/src/container/utils.ts
  packages/shared/backend/src/index.ts
  packages/shared/backend/src/middleware/errorHandler.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/rafiki.ts
  packages/wallet/backend/src/config/walletAddress.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rafiki/auth/service.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/helpers.ts
  packages/wallet/backend/tests/incomingPayment/controller.test.ts
  packages/wallet/backend/tests/outgoingPayment/controller.test.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/rafiki/controller.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source, type: test

- Add wallet/shared package - bring account response type into shared package
  package.json
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/shared/package.json
  packages/wallet/shared/src/responses/account.ts
  packages/wallet/shared/src/responses/index.ts
  packages/wallet/shared/tsconfig.build.json
  packages/wallet/shared/tsconfig.json
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

feat: implement shared zod schema between backend and frontend (#1300)
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/backend/package.json
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/frontend/Dockerfile.prod
  packages/boutique/frontend/package.json
  packages/boutique/frontend/src/app/cart/components/one-click-setup.tsx
  packages/boutique/frontend/src/hooks/use-finish-checkout-mutation.ts
  packages/boutique/frontend/src/hooks/use-finish-setup-mutation.ts
  packages/boutique/frontend/src/hooks/use-instant-buy-mutation.ts
  packages/boutique/frontend/src/hooks/use-setup-one-click-mutation.ts
  packages/boutique/frontend/vite.config.ts
  packages/boutique/shared/package.json
  packages/boutique/shared/src/index.ts
  packages/boutique/shared/src/validation.ts
  packages/boutique/shared/tsconfig.build.json
  packages/boutique/shared/tsconfig.json
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.dev
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source

- Cover hours and minutes - Cover repetition - Cover end and start intervals
  packages/wallet/backend/src/grant/service.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: source

fix format
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, type: source

Fix pnpm version conflict
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.dev
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend

Fix Test
  packages/wallet/backend/tests/grant/service.test.ts
Labels: package: wallet/backend, type: test

Simplify the logic
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, type: source

feat: parse open-payments intervals (#1355)
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/package.json
  packages/wallet/backend/src/grant/service.ts
  packages/wallet/backend/tests/grant/service.test.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/frontend/Dockerfile.dev
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, type: source, type: test

feat: Add wallet/shared package (#1356)
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/shared/package.json
  packages/wallet/shared/src/responses/account.ts
  packages/wallet/shared/src/responses/index.ts
  packages/wallet/shared/tsconfig.build.json
  packages/wallet/shared/tsconfig.json
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

- Bring asset response type into shared package
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/asset.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/shared/src/index.ts
  packages/wallet/shared/src/types/account.ts
  packages/wallet/shared/src/types/asset.ts
  packages/wallet/shared/src/types/index.ts
Labels: package: wallet/frontend, type: source

Fix import assets
  packages/wallet/frontend/src/components/ExchangeRate.tsx
Labels: package: wallet/frontend, type: source

Fix import assets
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

fix version of pnpm to v9.1.4
  .github/workflows/build-publish.yaml
Labels: type: ci

rename Testnet
  .github/TESTNET_architecture.md
  .github/contributing.md
  README.md
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
Labels: package: wallet/backend, package: wallet/frontend, type: ci, type: documentation, type: source

fix: Rename Testnet (#1363)
  .github/TESTNET_architecture.md
  .github/contributing.md
  README.md
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
Labels: package: wallet/backend, package: wallet/frontend, type: ci, type: documentation, type: source

Quote text changes
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, type: source

Description read only
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, type: source

Add payment pointer full url tooltip to transaction list
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/styles/main.css
Labels: package: wallet/frontend, type: source

fix: Quote text changes (#1364)
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, type: source

fix: Description read only (#1365)
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, type: source
