Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

Add spending limit settings
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSpendingLimitDialog.tsx
  packages/wallet/frontend/src/lib/api/card.ts
Labels: package: wallet/frontend, type: source

Remove leftover settings button
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
Labels: package: wallet/frontend, type: source

Add comments
  packages/wallet/frontend/src/components/userCards/UserCardSpendingLimitDialog.tsx
Labels: package: wallet/frontend, type: source

Remove comments
  packages/wallet/frontend/src/lib/api/card.ts
Labels: package: wallet/frontend, type: source

Fix build
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
Labels: package: wallet/frontend, type: source

Move dialogs
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardSpendingLimitDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
Labels: package: wallet/frontend, type: source

feat(wallet/frontend): add card settings (#1564)
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardSpendingLimitDialog.tsx
  packages/wallet/frontend/src/components/icons/Key.tsx
  packages/wallet/frontend/src/components/icons/Limit.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

1560 - Resend verification email
  packages/shared/backend/src/errors/index.ts
  packages/shared/backend/src/errors/not-verified.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/auth/validation.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/auth/service.test.ts
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

test typo and login condition change to enable resend validation even if user enters wrong password
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/tests/auth/service.test.ts
Labels: package: wallet/backend, type: source, type: test

update test to verify invalid password with an validated account
  packages/wallet/backend/tests/auth/service.test.ts
Labels: package: wallet/backend, type: test

prettier fix
  packages/wallet/backend/tests/auth/service.test.ts
Labels: package: wallet/backend, type: test

Update card key icon and update button sizes
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
Labels: package: wallet/frontend, type: source

fix(wallet/frontend): update card key icon and button sizes (#1590)
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
Labels: package: wallet/frontend, type: source

feat: add endpoint to get iframe url
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/shared/src/types/iframe.ts
  packages/wallet/shared/src/types/index.ts
Labels: package: wallet/backend, type: source

fix: resolve imports
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/gatehub/controller.ts
Labels: package: wallet/backend, type: source

feat: add endpoint to get iframe url (#1591)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/shared/src/types/iframe.ts
  packages/wallet/shared/src/types/index.ts
Labels: package: wallet/backend, type: source

revert order of checks at login
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/tests/auth/service.test.ts
Labels: package: wallet/backend, type: source, type: test

move email schema definition to shared
  packages/wallet/backend/src/user/validation.ts
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

send forgot password to unverified users and confirm account on reset password
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

do not throw an error if user does not exist
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/auth/service.test.ts
Labels: package: wallet/backend, type: source, type: test

fix: Resend verification email (#1586)
  packages/shared/backend/src/errors/index.ts
  packages/shared/backend/src/errors/not-verified.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/auth/validation.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/user/validation.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/auth/service.test.ts
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

Await promise when creating GH Widget URL
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
Labels: package: wallet/backend, type: source

fix(wallet/backend): add missing awaits; fix scope for gatehub client (#1594)
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
Labels: package: wallet/backend, type: source

Add new env vars
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
Labels: none

chore(docker): add new env vars (#1595)
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
Labels: none

feat: create gatehub user
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  packages/wallet/backend/migrations/20230317135105_create_users.js
  packages/wallet/backend/migrations/20230317142949_create_accounts.js
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

Add window message types
  packages/wallet/frontend/src/lib/types/windowMessages.ts
Labels: package: wallet/frontend, type: source

moved chared zod schemas, updated password generation for tests
  packages/wallet/backend/src/asset/validation.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/validation.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/validation.ts
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/src/rates/validation.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/shared/src/types/rate.ts
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

add // eslint-disable-next-line no-useless-escape
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend

feat(wallet/frontend): add window message types (#1599)
  packages/wallet/frontend/src/lib/types/windowMessages.ts
Labels: package: wallet/frontend, type: source

fix: add managed user id in request
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix: format
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix: build
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

fix: prettier
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

Update user service
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

Format; Update KYC Page; fix `getBearerToken` method
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

Add standalone KYC page
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

Add TODO comment for settings page
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
Labels: package: wallet/frontend, type: source

Format with latest prettier
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

Progress
  packages/wallet/backend/src/app.ts
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source
