Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: commerce/backend, package: commerce/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: commerce/backend': packages/commerce/backend/**/*
'package: commerce/frontend': packages/commerce/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

First draft of notifications
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/NotificationToast.tsx
  packages/wallet/frontend/src/components/icons/MoneyBird.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/tailwind.config.js
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

feat(middleware): add handling of axios errors (#719)
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/middleware/errorHandler.ts
  packages/wallet/backend/src/paymentPointer/controller.ts
  packages/wallet/backend/src/user/controller.ts
Labels: package: wallet/backend, type: source

Refactor
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/config/env.ts
  packages/commerce/backend/src/container.ts
  packages/commerce/backend/src/middleware/validate.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/validation.ts
  packages/commerce/backend/src/shared/utils.ts
Labels: package: commerce/backend

Remove calculateTotalAmount
  packages/commerce/backend/src/order/service.ts
Labels: package: commerce/backend

Remove parseKey
  packages/commerce/backend/src/shared/utils.ts
  packages/commerce/backend/tests/order/service.test.ts
Labels: package: commerce/backend, type: test

Progress
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/container.ts
  packages/commerce/backend/src/errors/Conflict.ts
  packages/commerce/backend/src/errors/Unauthorized.ts
  packages/commerce/backend/src/errors/bad-request.ts
  packages/commerce/backend/src/errors/index.ts
  packages/commerce/backend/src/errors/internal-server-error.ts
  packages/commerce/backend/src/errors/not-found.ts
  packages/commerce/backend/src/open-payments/client.ts
  packages/commerce/backend/src/order-item/model.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/service.ts
  packages/commerce/backend/src/product/model.ts
Labels: package: commerce/backend

Add cache
  packages/commerce/backend/src/cache/in-memory.ts
Labels: package: commerce/backend

Rename fix
  packages/commerce/backend/src/errors/base.ts
Labels: package: commerce/backend

refactor: address 6 CRs
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/createContainer.ts
Labels: package: wallet/backend, type: source

Add token cache
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/commerce/backend/src/cache/in-memory.ts
  packages/commerce/backend/src/cache/token.ts
  packages/commerce/backend/src/config/env.ts
  packages/commerce/backend/src/container.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/model.ts
Labels: package: commerce/backend

Update OP libraries
  packages/commerce/backend/package.json
  packages/commerce/backend/src/errors/conflict.ts
  packages/commerce/backend/src/errors/unauthorized.ts
  pnpm-lock.yaml
Labels: package: commerce/backend

Downgrade `interledger/open-payments`: breaking changes
  packages/commerce/backend/package.json
  pnpm-lock.yaml
Labels: package: commerce/backend

Fixes
  packages/commerce/backend/src/cache/token.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
Labels: package: commerce/backend

Update GrantDetails.tsx
  packages/wallet/frontend/src/components/GrantDetails.tsx
Labels: package: wallet/frontend, type: source

Add Toast
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/components/toast/Toast.tsx
  packages/wallet/frontend/src/components/toast/Toaster.tsx
  packages/wallet/frontend/src/lib/hooks/useToast.ts
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

fix(quote): change invalid amount error
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

fix: resolve lint issue
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, type: source

Typo
  packages/commerce/backend/src/open-payments/service.ts
Labels: package: commerce/backend

Fix some notification bugs
  packages/wallet/frontend/src/components/NotificationToast.tsx
  packages/wallet/frontend/src/components/toast/Toast.tsx
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/frontend, type: source

Address feedback
  packages/commerce/backend/src/cache/token.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
Labels: package: commerce/backend

lint fixes
  packages/wallet/frontend/src/components/toast/Toast.tsx
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/frontend, type: source

lint fixes
  packages/commerce/frontend/src/components/ui/popover.tsx
  packages/commerce/frontend/src/components/ui/sheet.tsx
Labels: package: commerce/frontend

Update _app.tsx
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

feat(commerce/backend): add pre-interaction checkout flow (#723)
  .gitignore
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/commerce/backend/migrations/20230810053817_add_orders_table.js
  packages/commerce/backend/package.json
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/cache/in-memory.ts
  packages/commerce/backend/src/cache/token.ts
  packages/commerce/backend/src/config/env.ts
  packages/commerce/backend/src/container.ts
  packages/commerce/backend/src/errors/bad-request.ts
  packages/commerce/backend/src/errors/base.ts
  packages/commerce/backend/src/errors/conflict.ts
  packages/commerce/backend/src/errors/index.ts
  packages/commerce/backend/src/errors/internal-server-error.ts
  packages/commerce/backend/src/errors/not-found.ts
  packages/commerce/backend/src/errors/unauthorized.ts
  packages/commerce/backend/src/index.ts
  packages/commerce/backend/src/middleware/validate.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order-item/model.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/service.ts
  packages/commerce/backend/src/order/validation.ts
  packages/commerce/backend/src/product/model.ts
  packages/commerce/backend/src/shared/utils.ts
  packages/commerce/backend/tests/app.test.ts
  packages/commerce/backend/tests/order/service.test.ts
  packages/commerce/backend/tests/product/controller.test.ts
  packages/commerce/backend/tests/product/service.test.ts
  packages/commerce/backend/tests/user/service.test.ts
  pnpm-lock.yaml
Labels: package: commerce/backend, type: test

fix(quote): change invalid amount error (#729)
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

fix(rapyd): add additional beneficiary fields on withdraw money
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/rapyd.d.ts
Labels: package: wallet/backend, type: source

Add checkout view
  packages/commerce/frontend/package.json
  packages/commerce/frontend/src/app/cart/components/summary.tsx
  packages/commerce/frontend/src/app/cart/index.tsx
  packages/commerce/frontend/src/app/checkout/components/order-summary.tsx
  packages/commerce/frontend/src/app/checkout/components/pay-button.tsx
  packages/commerce/frontend/src/app/checkout/components/payment-methods.tsx
  packages/commerce/frontend/src/app/checkout/index.tsx
  packages/commerce/frontend/src/app/checkout/routes.tsx
  packages/commerce/frontend/src/app/index.tsx
  packages/commerce/frontend/src/app/products/components/product-card.tsx
  packages/commerce/frontend/src/components/ui/form/form.tsx
  packages/commerce/frontend/src/components/ui/tabs.tsx
  packages/commerce/frontend/src/hooks/use-create-order-mutation.ts
  packages/commerce/frontend/src/hooks/use-custom-mutation.ts
  packages/commerce/frontend/src/hooks/use-product-query.ts
  packages/commerce/frontend/src/hooks/use-products-query.ts
  packages/commerce/frontend/src/lib/fetcher.ts
  packages/commerce/frontend/src/lib/utils.ts
Labels: package: commerce/frontend

Backend changes
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/validation.ts
  pnpm-lock.yaml
Labels: package: commerce/backend

Fixes
  packages/commerce/frontend/src/app/checkout/components/order-summary.tsx
  packages/commerce/frontend/src/app/checkout/components/payment-methods.tsx
  packages/commerce/frontend/src/app/checkout/index.tsx
  packages/commerce/frontend/src/components/icons.tsx
  packages/commerce/frontend/src/components/ui/form/form.tsx
  packages/commerce/frontend/src/components/ui/input.tsx
  packages/commerce/frontend/src/lib/fetcher.ts
Labels: package: commerce/frontend

feat(commerce/frontend): add checkout view (#731)
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/validation.ts
  packages/commerce/frontend/package.json
  packages/commerce/frontend/src/app/cart/components/summary.tsx
  packages/commerce/frontend/src/app/cart/index.tsx
  packages/commerce/frontend/src/app/checkout/components/order-summary.tsx
  packages/commerce/frontend/src/app/checkout/components/pay-button.tsx
  packages/commerce/frontend/src/app/checkout/components/payment-methods.tsx
  packages/commerce/frontend/src/app/checkout/index.tsx
  packages/commerce/frontend/src/app/checkout/routes.tsx
  packages/commerce/frontend/src/app/index.tsx
  packages/commerce/frontend/src/app/products/components/product-card.tsx
  packages/commerce/frontend/src/components/icons.tsx
  packages/commerce/frontend/src/components/ui/form/form.tsx
  packages/commerce/frontend/src/components/ui/input.tsx
  packages/commerce/frontend/src/components/ui/tabs.tsx
  packages/commerce/frontend/src/hooks/use-create-order-mutation.ts
  packages/commerce/frontend/src/hooks/use-custom-mutation.ts
  packages/commerce/frontend/src/hooks/use-product-query.ts
  packages/commerce/frontend/src/hooks/use-products-query.ts
  packages/commerce/frontend/src/lib/fetcher.ts
  packages/commerce/frontend/src/lib/utils.ts
  pnpm-lock.yaml
Labels: package: commerce/backend, package: commerce/frontend

fix: generate required fields
  packages/wallet/backend/package.json
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/rapyd.d.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

fix: remove console.log
  packages/wallet/backend/src/rapyd/rapyd-client.ts
Labels: package: wallet/backend, type: source

Initial design for order confirmation page
  packages/commerce/frontend/package.json
  packages/commerce/frontend/src/app/checkout/confirmation.tsx
  packages/commerce/frontend/src/app/checkout/routes.tsx
  packages/commerce/frontend/src/components/animated-check-mark.tsx
  packages/commerce/frontend/src/components/animated-text.tsx
  pnpm-lock.yaml
Labels: package: commerce/frontend

fix: resolve some address issues
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/rapyd.d.ts
Labels: package: wallet/backend, type: source

Progress
  packages/commerce/backend/knexfile.js
  packages/commerce/backend/migrations/20230810053817_add_orders_table.js
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/cache/in-memory.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/validation.ts
  packages/commerce/frontend/package.json
  packages/commerce/frontend/src/app/checkout/components/payment-methods.tsx
  packages/commerce/frontend/src/app/checkout/confirmation.tsx
  packages/commerce/frontend/src/app/checkout/routes.tsx
  packages/commerce/frontend/src/app/products/index.tsx
  packages/commerce/frontend/src/app/route-schemas.ts
  packages/commerce/frontend/src/hooks/use-create-order-mutation.ts
  packages/commerce/frontend/src/hooks/use-custom-mutation.ts
  packages/commerce/frontend/src/hooks/use-finish-checkout-mutation.ts
  packages/commerce/frontend/src/hooks/use-zod-search-params.ts
  packages/commerce/frontend/src/lib/fetcher.ts
  pnpm-lock.yaml
Labels: package: commerce/backend, package: commerce/frontend

fix(rapyd): add additional beneficiary fields on withdraw money (#730)
  packages/wallet/backend/package.json
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/rapyd.d.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

use credentials:true instead of token
  packages/wallet/backend/src/socket/service.ts
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

More progress ..
  packages/commerce/backend/migrations/20230810053817_add_orders_table.js
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/service.ts
  packages/commerce/backend/src/order/validation.ts
  packages/commerce/frontend/src/app/checkout/components/loader.tsx
  packages/commerce/frontend/src/app/checkout/confirmation.tsx
  packages/commerce/frontend/src/app/products/index.tsx
  packages/commerce/frontend/src/app/route-schemas.ts
  packages/commerce/frontend/src/components/animated-check-mark.tsx
  packages/commerce/frontend/src/components/animated-text.tsx
  packages/commerce/frontend/src/components/ui/button.tsx
  packages/commerce/frontend/src/hooks/use-finish-checkout-mutation.ts
Labels: package: commerce/backend, package: commerce/frontend

Add orders worker
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/index.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/service.ts
Labels: package: commerce/backend

add socket to app level
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/frontend, type: source
