Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

fix: clean up
  .github/copilot-instructions.md
  local/.env.example
  local/scripts/rafiki-setup.js
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: ci, type: documentation, type: source

ci: removal of makefiles
  README.md
  local/Makefile
  local/scripts/local-tools.sh
  package.json
Labels: type: documentation

wip: experimenting
  README.md
  local/.env.example
  local/boutique.yaml
  local/config/certs/boutique.crt
  local/config/certs/boutique.key
  local/config/certs/local.crt
  local/config/certs/local.key
  local/config/san-boutique.cnf
  local/config/san-testnet.cnf
  local/config/traefik/dynamic.yml
  local/rafiki.yaml
  local/scripts/local-tools.sh
  local/scripts/rafiki-setup.js
  local/scripts/run-package-with-local-stop.sh
  local/wallet.yaml
  package.json
  packages/boutique/frontend/src/lib/constants.ts
  packages/boutique/frontend/vite.config.ts
Labels: package: boutique/frontend, type: documentation

refactor(local): breaking up into multiple service files
  local/.env.example
  local/Makefile
  local/config/certs/local.crt
  local/config/certs/local.key
  local/config/san.cnf
  local/config/traefik/dynamic.yml
  local/docker-compose.yml
  local/mailslurper.yaml
  local/mockgatehub.yaml
  local/postgres.yaml
  local/rafiki.yaml
  local/redis.yaml
  local/traefik.yaml
  local/wallet.yaml
Labels: none

ci: default rafiki seeder will only seed two currencies for now
  local/Makefile
  local/mockgatehub.yaml
  local/scripts/rafiki-setup.js
Labels: none

docs: cleanup instructions
  README.md
  local/scripts/rafiki-setup.js
Labels: type: documentation

fix: removed the +4 precision guard we don't need
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

refactor: wallet and boutique now run on host
  README.md
  local/.env.example
  local/boutique.yaml
  local/config/traefik/dynamic.yml
  local/docker-compose.yml
  local/mockgatehub.yaml
  local/rafiki.yaml
  local/scripts/run-package-with-local-stop.sh
  local/wallet.yaml
  package.json
  packages/boutique/backend/.env.example
  packages/boutique/backend/package.json
  packages/boutique/backend/src/config/env.ts
  packages/boutique/backend/src/container.ts
  packages/boutique/frontend/.env.example
  packages/boutique/frontend/src/lib/constants.ts
  packages/wallet/backend/.env.example
  packages/wallet/backend/package.json
  packages/wallet/backend/src/config/env.ts
  packages/wallet/frontend/.env.example
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/lib/httpClient.ts
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: documentation, type: source

ci: added npm run to make testing easy
  README.md
  package.json
Labels: type: documentation

ci: changed configuration scheme to fail fast if misconfigured
  local/.env.example
  local/Makefile
  local/config/certs/local.crt
  local/config/certs/local.key
  local/wallet.yaml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

refactor: support for mockgatehub in local environment
  .github/copilot-instructions.md
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/dev/kratos.yml
  docker/entrypoint.sh
  docker/identity.schema.json
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  docker/prod/kratos.yml
  docker/temp/private-key.pem
  local/.env.example
  local/.gitignore
  local/docker-compose.yml
  local/init/dbinit.sql
  local/scripts/rafiki-setup.js
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/middleware/withSession.ts
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/utils/helpers.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package: wallet/backend, package: wallet/frontend, type: ci, type: documentation, type: source, type: docker

fix: fixed linting issues
  .prettierignore
  local/docker-compose.yml
  local/scripts/rafiki-setup.js
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/frontend, type: source

fix: backends will not fail silently
  packages/boutique/backend/package.json
Labels: package: boutique/backend

style: did pnpm format
  README.md
Labels: type: documentation

fix: update dev start
  packages/wallet/backend/package.json
Labels: package: wallet/backend

fix: removed dangling e2e workspace
  pnpm-workspace.yaml
Labels: none

fix: removed hardcoded interledger.cards
  packages/wallet/backend/src/middleware/withSession.ts
Labels: package: wallet/backend, type: source

fix: resolved issue where hosted balances were incorrectly calculated
  local/.env.local
  local/mockgatehub.yaml
  local/rafiki.yaml
  local/scripts/local-tools.sh
  local/scripts/rafiki-setup.js
  wallet_logs.txt
Labels: none

ci: will now pull before up
  package.json
  wallet_logs.txt
Labels: none

fix: correcting secrets
  local/.env.local
  local/mockgatehub.yaml
  local/rafiki.yaml
  local/scripts/local-tools.sh
  package.json
  packages/boutique/frontend/.env.local
  packages/wallet/backend/.env.example
  packages/wallet/backend/.env.local
  packages/wallet/frontend/.env.example
  packages/wallet/frontend/.env.local
  packages/wallet/frontend/next.config.js
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/frontend

style: prettier linting
  local/scripts/rafiki-setup.js
Labels: none

fix: solve rafiki connection issues
  local/rafiki.yaml
  local/scripts/rafiki-setup.js
  packages/boutique/backend/src/open-payments/service.ts
Labels: package: boutique/backend, type: source

style: prettier lint fix
  packages/wallet/frontend/next.config.js
Labels: package: wallet/frontend

docs: tweaks to readme
  README.md
Labels: type: documentation

fix: minor edit to prevent 'cannot update RefundProvider' bug
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

docs: github copilot instructions update
  .github/copilot-instructions.md
Labels: type: ci, type: documentation

style: prettier fix
  .github/copilot-instructions.md
Labels: type: ci, type: documentation

style: prettier
  packages/wallet/frontend/next.config.js
Labels: package: wallet/frontend

fix(local): traefik will now auth.interledger.test/graphql
  local/rafiki.yaml
  packages/wallet/backend/.env.local
Labels: package: wallet/backend

fix: upgraded local environment to use Traefik v3.6
  local/traefik.yaml
Labels: none

docs: cleaned up documentation and examples
  README.md
  packages/boutique/backend/.env.example
  packages/wallet/backend/.env.example
Labels: package: wallet/backend, package: boutique/backend, type: documentation

test: resolved test issue where faker was creating short strings
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
Labels: package: wallet/backend, type: test

fix: flaky tests resolution
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/gatehub/service.test.ts
Labels: package: wallet/backend, type: source, type: test

fix: rafiki assets creation script should fail fast on error
  local/scripts/rafiki-setup.js
Labels: none

fix: we will not ask for sudo if we don't need it anymore
  local/scripts/local-tools.sh
Labels: none

feat: update grants pagination and add date sorting
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/backend/src/grant/service.ts
  packages/wallet/backend/src/grant/validation.ts
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/request/grant.request.ts
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/lib/hooks/useGrants.ts
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/shared/src/types/grant.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

style: apply prettier formatting
  packages/wallet/backend/src/grant/validation.ts
  packages/wallet/backend/src/rafiki/auth/request/grant.request.ts
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

refactor: resolve ESLint warning in sort redirect
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

fix: Automatically approve blocked deposits
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix: persist current page when changing grant sort order
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source
