Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

chore: upgrade node and eslint type libs
  package.json
  packages/boutique/backend/package.json
  packages/boutique/shared/package.json
  packages/shared/backend/package.json
  packages/wallet/backend/package.json
  packages/wallet/frontend/package.json
  packages/wallet/shared/package.json
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend

chore: downgrade eslint parser
  package.json
  pnpm-lock.yaml
Labels: none

fix: remove exchange tests
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/quote/service.test.ts
Labels: package: wallet/backend, type: test

refactor(stripe): clean up code formatting
  packages/wallet/backend/src/stripe/controller.ts
  packages/wallet/backend/src/stripe/service.ts
  packages/wallet/backend/tests/stripe/controller.test.ts
  packages/wallet/backend/tests/stripe/service.test.ts
Labels: package: wallet/backend, type: source, type: test

feat(stripe): introduce webhook signature validation
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/stripe-integration/controller.ts
  packages/wallet/backend/src/stripe-integration/service.ts
  packages/wallet/backend/src/stripe-integration/validation.ts
  packages/wallet/backend/src/stripe/controller.ts
  packages/wallet/backend/tests/stripe-integration/controller.test.ts
  packages/wallet/backend/tests/stripe-integration/service.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source, type: test

refactor(stripe): improve code formatting and readability in webhook handling
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/stripe-integration/controller.ts
Labels: package: wallet/backend, type: source

feat(wallet-backend): integrate stripe into (#1967)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/stripe-integration/controller.ts
  packages/wallet/backend/src/stripe-integration/service.ts
  packages/wallet/backend/src/stripe-integration/validation.ts
  packages/wallet/backend/tests/stripe-integration/controller.test.ts
  packages/wallet/backend/tests/stripe-integration/service.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source, type: test

Hide/show accounts functionality
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/components/settings/ToggleWalletVisibility.tsx
  packages/wallet/frontend/src/components/settings/WalletAccounts.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
Labels: package: wallet/frontend, type: source

feat(wallet-backend): conditionally integrate Stripe services based on environment variable
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
Labels: package: wallet/backend, type: source

feat(wallet-backend): update Stripe integration tests to always have use_stripe set on true
  packages/wallet/backend/tests/stripe-integration/controller.test.ts
  packages/wallet/backend/tests/stripe-integration/service.test.ts
Labels: package: wallet/backend, type: test

chore(wallet-backend): format
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/tests/stripe-integration/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

feat(stripe): stripe integration is now optional, based on env var (#1976)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/tests/stripe-integration/controller.test.ts
  packages/wallet/backend/tests/stripe-integration/service.test.ts
Labels: package: wallet/backend, type: source, type: test

feat: Hide/show accounts functionality (#1974)
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/components/settings/ToggleWalletVisibility.tsx
  packages/wallet/frontend/src/components/settings/WalletAccounts.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
Labels: package: wallet/frontend, type: source

feat(stripe): debug logging
  packages/wallet/backend/src/stripe-integration/controller.ts
Labels: package: wallet/backend, type: source

chore(testnet): format
  packages/wallet/backend/src/stripe-integration/controller.ts
Labels: package: wallet/backend, type: source

feat(workflow): add workflow_dispatch support for manual publishing
  .github/workflows/build-publish.yaml
Labels: type: ci

feat(workflows): add manual trigger
  .github/workflows/build-publish.yaml
Labels: type: ci

fix(workflows): fix so latest image would not get poluted
  .github/workflows/build-publish.yaml
Labels: type: ci

fix(stripe): parse request body before it reaches validation
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/stripe-integration/controller.ts
  packages/wallet/backend/src/stripe-integration/service.ts
Labels: package: wallet/backend, type: source

fix(stripe): parse request body before it reaches validation (#1982)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/stripe-integration/controller.ts
  packages/wallet/backend/src/stripe-integration/service.ts
Labels: package: wallet/backend, type: source

feat(stripe): stripe controller now properly retrieves and uses gatehubWalletId
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/stripe-integration/service.ts
Labels: package: wallet/backend, type: source

feat(wallet-backend): move getGateHubWalletAddress method to AccountService
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/stripe-integration/service.ts
Labels: package: wallet/backend, type: source

fix(wallet-backend): format
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix(stripe): fix tests
  packages/wallet/backend/tests/stripe-integration/service.test.ts
Labels: package: wallet/backend, type: test

fix(wallet-backend): format and eslint
  packages/wallet/backend/tests/stripe-integration/service.test.ts
Labels: package: wallet/backend, type: test

fix(stripe): fix controller tests
  packages/wallet/backend/tests/stripe-integration/controller.test.ts
Labels: package: wallet/backend, type: test

fix(wallet-backend): eslint fixes
  packages/wallet/backend/tests/stripe-integration/controller.test.ts
Labels: package: wallet/backend, type: test

feat(stripe): stripe controller uses gatehubWalletId (#1983)
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/stripe-integration/service.ts
  packages/wallet/backend/tests/stripe-integration/controller.test.ts
  packages/wallet/backend/tests/stripe-integration/service.test.ts
Labels: package: wallet/backend, type: source, type: test

chore(rafiki): upgrade rafiki to beta 1.1.0
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

chore(rafiki): add WALLET_ADDRESS_REDIRECT_HTML_PAGE env variable
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
Labels: none

chore(rafiki): upgrade rafiki to beta 1.1.0 (#1984)
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
Labels: none

Add select all functionality for revoke - first draft
  packages/wallet/frontend/src/components/providers/DeveloperKeysProvider.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/context/developerKeys.ts
Labels: package: wallet/frontend, type: source

chore: upgrade rafiki
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

chore: upgrade rafiki (#1985)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

feat(stripe): add transactions for stripe payments
  packages/wallet/backend/migrations/20250425115946_add_transaction_type.js
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/stripe-integration/service.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix(stripe): fix tests
  packages/wallet/backend/tests/stripe-integration/service.test.ts
Labels: package: wallet/backend, type: test

chore(stripe): format
  packages/wallet/backend/src/stripe-integration/service.ts
Labels: package: wallet/backend, type: source

feat(stripe): stripe payments now create a transaction in wallet (#1986)
  packages/wallet/backend/migrations/20250425115946_add_transaction_type.js
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/stripe-integration/service.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/tests/stripe-integration/service.test.ts
Labels: package: wallet/backend, type: source, type: test

fix(stripe): paymentIntent amount is now scale 2
  packages/wallet/backend/src/stripe-integration/service.ts
  packages/wallet/backend/src/utils/helpers.ts
  packages/wallet/backend/tests/stripe-integration/service.test.ts
  packages/wallet/backend/tests/utils/helpers.test.ts
Labels: package: wallet/backend, type: source, type: test

refactor(stripe): applyScale util function now uses default scale
  packages/wallet/backend/src/stripe-integration/service.ts
  packages/wallet/backend/src/utils/helpers.ts
  packages/wallet/backend/tests/utils/helpers.test.ts
Labels: package: wallet/backend, type: source, type: test
