Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

fix add sandbox gatehub vault id for SGD
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, type: source

fix: add sandbox gatehub vault id for SGD (#1920)
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, type: source

fix(deposit): solve issue with deposit transactions for 1K+
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix(deposit): solve issue with deposit transactions for 1K+ (#1921)
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

feat: add second party wallet address
  packages/wallet/backend/migrations/20250217140155_second_party_pp_to_transactions.js
  packages/wallet/backend/src/backfillTrxDetails.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/backend, type: source

fix: format
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

feat: add second party wallet address (#1922)
  packages/wallet/backend/migrations/20250217140155_second_party_pp_to_transactions.js
  packages/wallet/backend/src/backfillTrxDetails.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/backend, type: source

fix: improve error message for invalid interaction
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, type: source

fix(build&publish): correct API base URLs in build-publish workflow
  .github/workflows/build-publish.yaml
Labels: type: ci

fix(build&publish): update API base URL format in workflow
  .github/workflows/build-publish.yaml
Labels: type: ci

fix(build&publish): correct API base URLs in build-publish workflow (#1924)
  .github/workflows/build-publish.yaml
Labels: type: ci

fix: improve message
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, type: source

fix: improve error message for invalid interaction (#1923)
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, type: source

fix: remove exhange endpoint
  packages/wallet/backend/src/account/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/quote/service.ts
Labels: package: wallet/backend, type: source

fix: remove exhange endpoint (#1926)
  packages/wallet/backend/src/account/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/quote/service.ts
Labels: package: wallet/backend, type: source

Add second party WA, and refund option
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/components/providers/RefundProvider.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/lib/context/refund.ts
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

Update TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
Labels: package: wallet/frontend, type: source

Reload transaction page when money is received
  packages/wallet/frontend/src/lib/hooks/useToast.ts
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

feat: Add second party WA, and refund option (#1931)
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/components/providers/RefundProvider.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/lib/context/refund.ts
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

feat: Reload transaction page when money is received (#1936)
  packages/wallet/frontend/src/lib/hooks/useToast.ts
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

change theme of Boutique to default light
  packages/boutique/frontend/src/lib/constants.ts
  packages/boutique/frontend/vite.config.ts
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
Labels: package: wallet/frontend, package: boutique/frontend, type: source

feat: change theme of Boutique to default light (#1952)
  packages/boutique/frontend/src/lib/constants.ts
  packages/boutique/frontend/vite.config.ts
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
Labels: package: wallet/frontend, package: boutique/frontend, type: source

feat(boutique): change theme of Boutique from dark to light
  .github/workflows/build-publish.yaml
Labels: type: ci

feat(boutique): change theme of Boutique from dark to light (#1954)
  .github/workflows/build-publish.yaml
Labels: type: ci

fix: check balance on outgoing payment created webhook
  packages/wallet/backend/migrations/20250311101910_update_transactions_columns.js
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

fix: check balance on outgoing payment created webhook (#1956)
  packages/wallet/backend/migrations/20250311101910_update_transactions_columns.js
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

Update kyc.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

fix: Update kyc text (#1959)
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

Update walletAddress.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
Labels: package: wallet/frontend, type: source

fix: Update nickname error message (#1961)
  packages/wallet/frontend/src/lib/api/walletAddress.ts
Labels: package: wallet/frontend, type: source

Update consts.ts
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, type: source

feat: Add new assets (#1963)
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, type: source

Add extra slack detail for emails
  packages/wallet/backend/src/email/templates/actionRequiredEmail.ts
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/kycVerifiedEmail.ts
  packages/wallet/backend/src/email/templates/rejectEmail.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
Labels: package: wallet/backend, type: source

Add slack channel info for emails
  packages/wallet/backend/src/email/templates/actionRequiredEmail.ts
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/kycVerifiedEmail.ts
  packages/wallet/backend/src/email/templates/rejectEmail.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
Labels: package: wallet/backend, type: source

feat: Add slack channel info for emails (#1964)
  packages/wallet/backend/src/email/templates/actionRequiredEmail.ts
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/kycVerifiedEmail.ts
  packages/wallet/backend/src/email/templates/rejectEmail.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
Labels: package: wallet/backend, type: source

feat(stripe): implement webhook handling and validation for Stripe events
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/stripe/controller.ts
  packages/wallet/backend/src/stripe/service.ts
  packages/wallet/backend/src/stripe/validation.ts
  packages/wallet/backend/tests/stripe/controller.test.ts
  packages/wallet/backend/tests/stripe/service.test.ts
Labels: package: wallet/backend, type: source, type: test

refactor(stripe): remove commented-out validation code in controller and validation files
  packages/wallet/backend/src/stripe/controller.ts
  packages/wallet/backend/src/stripe/validation.ts
Labels: package: wallet/backend, type: source

feat(wallet): add property to hide account
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20250401100455_add_is_hidden_to_accounts.js
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/account/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/tests/account/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

refactor(tests): remove comments
  packages/wallet/backend/tests/stripe/service.test.ts
Labels: package: wallet/backend, type: test

feat(wallet): add property to hide account (#1968)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20250401100455_add_is_hidden_to_accounts.js
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/account/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/tests/account/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
