Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

Format
  packages/wallet/frontend/src/lib/api/account.ts
Labels: package: wallet/frontend, type: source

feat: implement initial gatehub client
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

feat: add managed user header
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

fix: resolve lint issues
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

PR review fixes
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/frontend/src/components/TemporaryWMNotice.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

Added initial layout for terminate card
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/userCards/CardButtonMenu.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/ui/forms/Select.tsx
Labels: package: wallet/frontend, type: source

Add user card front
  packages/wallet/frontend/src/components/icons/UserCardIcons.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

Update import
  packages/wallet/frontend/src/components/userCards/CardButtonMenu.tsx
Labels: package: wallet/frontend, type: source

Add card back
  packages/wallet/frontend/src/components/icons/DetailsCard.tsx
  packages/wallet/frontend/src/components/icons/NormalCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
Labels: package: wallet/frontend, type: source

Format
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
Labels: package: wallet/frontend, type: source

Add frozen
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
Labels: package: wallet/frontend, type: source

Rename to card actions; add todo; create interface for props
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

Remove TODO
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
Labels: package: wallet/frontend, type: source

Fix card back
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
Labels: package: wallet/frontend, type: source

fix(wallet/frontend): use css for user cards instead of svgs (#1544)
  packages/wallet/frontend/src/components/icons/DetailsCard.tsx
  packages/wallet/frontend/src/components/icons/NormalCard.tsx
  packages/wallet/frontend/src/components/icons/UserCardIcons.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

Delete 20240903125600_update_wallet_addresses.js
  packages/wallet/backend/migrations/20240903125600_update_wallet_addresses.js
Labels: package: wallet/backend

Update card colors
  packages/wallet/frontend/src/components/icons/Clipboard.tsx
  packages/wallet/frontend/src/components/icons/UserCardIcons.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
Labels: package: wallet/frontend, type: source

Fix spacing issue on back view
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
Labels: package: wallet/frontend, type: source

Update ActivateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/ActivateCardDialog.tsx
Labels: package: wallet/frontend, type: source

fix(wallet/frontend): update card colors (#1552)
  packages/wallet/frontend/src/components/icons/Clipboard.tsx
  packages/wallet/frontend/src/components/icons/UserCardIcons.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
Labels: package: wallet/frontend, type: source

Update TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
Labels: package: wallet/frontend, type: source

1551 - center IDP page
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

remove Max asset scale env variable
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

feat: implement initial gatehub client (#1546)
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

fix: center IDP page (#1553)
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

fix: remove unecessary migrations and fields
  packages/wallet/backend/migrations/20231013114620_add_wm_transactions_table.js
  packages/wallet/backend/migrations/20231016055803_add_debt_column.js
  packages/wallet/backend/migrations/20231018084125_update_payment_pointers_table.js
  packages/wallet/backend/migrations/20231026113102_rename_payment_pointer_tables.js
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/shared/src/types/walletAddress.ts
Labels: package: wallet/backend, type: source

fix: remove debt column
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/config/env.ts
Labels: package: wallet/backend, type: source

fix: remove base asset scale env var
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/utils/consts.ts
Labels: package: wallet/backend, type: source

test: remove WA asset scale/code
  packages/wallet/backend/tests/walletAddress/service.test.ts
Labels: package: wallet/backend, type: test

Add initial cards api
  packages/wallet/frontend/src/lib/api/card.ts
Labels: package: wallet/frontend, type: source

Add card service mock
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

Format
  packages/wallet/frontend/src/lib/api/card.ts
Labels: package: wallet/frontend, type: source

Separate card state from view; use context
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardContext.tsx
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

Format
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

Update card actions; layout shift fixed
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

Center card on mobile
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

Fix overflowing for text
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
Labels: package: wallet/frontend, type: source

Consistent naming across components
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
Labels: package: wallet/frontend, type: source

forgot password - set password expire after 12h
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

Bump major version for iron-session
  packages/wallet/backend/package.json
  packages/wallet/backend/src/global.d.ts
  packages/wallet/backend/src/middleware/withSession.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
