Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

on Sandbox deposit dialog, autofocus on input
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
Labels: package: wallet/frontend, type: source

Fix rates
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

fix(wallet/backend): provide correct rates to rafiki (#1744)
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

fix: Post deployment small fixes and improvements (#1742)
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/components/HeaderLogo.tsx
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

chore(ci): fix build (#1741)
  .github/workflows/build-publish.yaml
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: ci, type: source

Update build-publish.yaml
  .github/workflows/build-publish.yaml
Labels: type: ci

Fix input focus
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
Labels: package: wallet/frontend, type: source

chore(ci): fix open payments host (#1745)
  .github/workflows/build-publish.yaml
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
Labels: package: wallet/frontend, type: ci, type: source

Update vault ids
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, type: source

Remove fees on fund
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

fix(wallet/backend): update vault ids; remove fees (#1746)
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

feat(user): update session if kyc was verified (#1736)
  packages/wallet/backend/src/user/controller.ts
Labels: package: wallet/backend, type: source

feat(wallet/backend): add customer creation on login for sandbox environment (#1697)
  packages/wallet/backend/migrations/20241010085051_add_customer_id_to_users.js
  packages/wallet/backend/migrations/20241015141156_add_card_id_to_accounts.js
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/global.d.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/utils.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

fix(rafiki-auth): local development rafiki auth now exposes 3009 for interaction
  docker/dev/docker-compose.yml
Labels: none

fix(wallet-backend): auth domain now defaults to proper rafiki-auth port - 3009
  packages/wallet/backend/src/config/env.ts
Labels: package: wallet/backend, type: source

Only react to 'submitted' applicant status
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

fix(wallet/frontend): check applicant status after kyc is completed (#1749)
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

Update migration file name; use KYC names for public name
  packages/wallet/backend/migrations/20241008143459_add_customer_id_to_users.js
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

Check user email on signup
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

Update samesite cookie attribute for local env
  docker/dev/docker-compose.yml
Labels: none

Fix tests
  packages/wallet/backend/src/auth/service.ts
Labels: package: wallet/backend, type: source

feat(wallet/backend): verify that user is managed at sign up on prod environment (#1713)
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20241008143459_add_customer_id_to_users.js
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

feat(rafiki-auth): revert port expose
  docker/dev/docker-compose.yml
Labels: none

Create default account on staging
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix(rafiki-auth): dev environment fix interaction (#1747)
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
Labels: package: wallet/backend, type: source

Create default WA and refactor
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix(wallet/backend): create default account on staging (#1750)
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

feat(wallet/backend): fix change pin endpoint (#1739)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

Fix CI
  packages/wallet/backend/src/card/service.ts
Labels: package: wallet/backend, type: source

fix(wallet/backend): fix CI (#1751)
  packages/wallet/backend/src/card/service.ts
Labels: package: wallet/backend, type: source

feat(wallet-backend): gatehub userState is now stored on wallet User even if it was manually approved log user connected to gateway
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

chore(wallet/backend): move log
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

chore(wallet/backend): format
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

chore(wallet/backend): format
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

chore(wallet/backend): format
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix(wallet/backend): eslint no-case-declarations (add block to switch case)
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

enable multiple types of local environment run configurations
  README.md
  boutique-entrypoint.sh
  docker/dev/docker-compose.yml
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
  wallet-entrypoint.sh
Labels: package: wallet/backend, package: boutique/backend, type: documentation

pretty fix
  README.md
  package.json
Labels: type: documentation

fix(wallet/backend): change wh triggered addUserToGateway condition
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

feat(wallet/backend): keep drop firstName condition
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
