Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

Update packages/wallet/backend/src/terminal/controller.ts
  packages/wallet/backend/src/terminal/controller.ts
Labels: package: wallet/backend, type: source

fix: add import toSuccessResponse
  packages/wallet/backend/src/terminal/controller.ts
Labels: package: wallet/backend, type: source

fix: address logs text
  packages/wallet/backend/src/stripe-integration/service.ts
Labels: package: wallet/backend, type: source

test: fix logs text
  packages/wallet/backend/tests/stripe-integration/service.test.ts
Labels: package: wallet/backend, type: test

test: fix singup flaky test
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend

Notes added by 'git notes add'
  e99f44a8961ccdcd75d43b1c7331810422899da2
Labels: none

fix: run approve trx only in sandbox
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

fix: run approve trx only in sandbox (#2222)
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

Notes added by 'git notes add'
  fac0c8e5273d7d93c5595b8e8e40db58ed48624e
Labels: none

test: added test for real cross currency transfer
  e2e/features/cross-currency-transfer.feature
  e2e/features/steps/cross-currency-transfer.steps.ts
  e2e/features/steps/fixtures.ts
Labels: none

ci: resolved reported comment
  .github/workflows/e2e.yml
Labels: type: ci

test: PR requires e2e tests to pass
  .github/workflows/e2e.yml
Labels: type: ci

test: PR requires e2e tests to pass (#2221)
  .github/workflows/e2e.yml
  e2e/features/cross-currency-transfer.feature
  e2e/features/steps/cross-currency-transfer.steps.ts
  e2e/features/steps/fixtures.ts
Labels: type: ci

fix: balance display
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

wip
  e2e/README.md
  e2e/features/open-payments-purchase.feature
  e2e/features/steps/fixtures.ts
  e2e/features/steps/open-payments-purchase.steps.ts
  e2e/helpers/op-merchant.ts
  e2e/mopca/server.ts
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tsconfig.json
  local/scripts/local-tools.sh
  pnpm-lock.yaml
Labels: type: documentation

do not restart unless stopped
  local/mockgatehub.yaml
  local/rafiki.yaml
Labels: none

add pay by QR code functionality
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/ui/forms/Input.tsx
Labels: package: wallet/frontend, type: source

feat(stripe): handle refund webhook events (#2218)
  packages/wallet/backend/migrations/20260625220000_add_transactions_payment_id_source_unique.js
  packages/wallet/backend/src/stripe-integration/service.ts
  packages/wallet/backend/src/stripe-integration/validation.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/stripe-integration/controller.test.ts
  packages/wallet/backend/tests/stripe-integration/service.test.ts
Labels: package: wallet/backend, type: source, type: test

feat: add pay by QR code functionality (#2225)
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/ui/forms/Input.tsx
Labels: package: wallet/frontend, type: source

add QR code genaration for point of sale
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateQRForWADialog.tsx
Labels: package: wallet/frontend, type: source

feat: add QR code genaration for point of sale (#2226)
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateQRForWADialog.tsx
Labels: package: wallet/frontend, type: source

fix: display short version in main page (#2223)
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

Notes added by 'git notes add'
  2281e81748e0ab150a50c46883cb4be5d37e16a1
Labels: none

experiment
  packages/benchmark/src/errors.ts
  packages/benchmark/src/runner.ts
Labels: none

benchmark improvements
  local/rafiki.yaml
  packages/benchmark/README.md
  packages/benchmark/examples/config.example.yaml
  packages/benchmark/grants.json
  packages/benchmark/results/run.json
  packages/benchmark/src/cli.ts
  packages/benchmark/src/config.ts
  packages/benchmark/src/errors.ts
  packages/benchmark/src/grant.ts
  packages/benchmark/src/open-payments.ts
  packages/benchmark/src/types.ts
  packages/benchmark/tests/errors.test.ts
  packages/benchmark/tests/open-payments.test.ts
Labels: type: documentation, type: test

generate pdf to dowload into a designed Interledger QR code
  packages/wallet/frontend/package.json
  packages/wallet/frontend/public/interledger-big-half-logo.png
  packages/wallet/frontend/public/interledger-technology.png
  packages/wallet/frontend/public/scan-to-pay.png
  packages/wallet/frontend/src/components/dialogs/GenerateQRForWADialog.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

Revert "feat: add QR code genaration for point of sale (#2226)"
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateQRForWADialog.tsx
Labels: package: wallet/frontend, type: source

add designed pdf download for QR code
  packages/wallet/frontend/package.json
  packages/wallet/frontend/public/interledger-big-half-logo.png
  packages/wallet/frontend/public/interledger-technology.png
  packages/wallet/frontend/public/scan-to-pay.png
  packages/wallet/frontend/src/components/dialogs/GenerateQRForWADialog.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

added dropshadow to QR
  packages/wallet/frontend/src/components/dialogs/GenerateQRForWADialog.tsx
Labels: package: wallet/frontend, type: source

Update .npmrc
  .npmrc
Labels: none

replace the drop shadowed card with a background image for the QR
  packages/wallet/frontend/public/shadow.png
  packages/wallet/frontend/src/components/dialogs/GenerateQRForWADialog.tsx
Labels: package: wallet/frontend, type: source

wip
  packages/benchmark/README.md
  packages/benchmark/package.json
  packages/benchmark/results/run.json
  packages/benchmark/results/run1.json
  packages/benchmark/results/run10.json
  packages/benchmark/src/cli.ts
  packages/benchmark/src/config.ts
  packages/benchmark/src/csv.ts
  packages/benchmark/src/index.ts
  packages/benchmark/src/provision.ts
  packages/benchmark/src/runner.ts
  packages/benchmark/src/types.ts
  packages/benchmark/tests/csv.test.ts
  packages/benchmark/tests/runner.test.ts
Labels: type: documentation, type: test

wip
  local/rafiki.yaml
  pnpm-lock.yaml
Labels: none

feat: add designed pdf download for QR code (#2228)
  .npmrc
  packages/wallet/frontend/package.json
  packages/wallet/frontend/public/interledger-big-half-logo.png
  packages/wallet/frontend/public/interledger-technology.png
  packages/wallet/frontend/public/scan-to-pay.png
  packages/wallet/frontend/public/shadow.png
  packages/wallet/frontend/src/components/dialogs/GenerateQRForWADialog.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

chore: add unit tests
  packages/wallet/backend/tests/terminal/controller.test.ts
  packages/wallet/backend/tests/terminal/service.test.ts
Labels: package: wallet/backend, type: test

Notes added by 'git notes add'
  49791d9bfbe36859ef9efa473459d9f77201f644
Labels: none

Update .npmrc
  .npmrc
Labels: none

update tlv-kit
  packages/wallet/backend/package.json
  pnpm-lock.yaml
Labels: package: wallet/backend

fix: Update .npmrc to revert engine strict (#2229)
  .npmrc
  packages/wallet/backend/package.json
  pnpm-lock.yaml
Labels: package: wallet/backend

feat: add merchant onboarding field definitions API (#2214)
  packages/wallet/backend/migrations/20260618154710_create_field_definitions.js
  packages/wallet/backend/migrations/20260619142642_create_options.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/terminal/controller.ts
  packages/wallet/backend/src/terminal/model.ts
  packages/wallet/backend/src/terminal/service.ts
  packages/wallet/backend/tests/terminal/controller.test.ts
  packages/wallet/backend/tests/terminal/service.test.ts
Labels: package: wallet/backend, type: source, type: test

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
