Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

Revert "feat(docker): interledger pay (#1310)"
  docker/prod/.env.example
  docker/prod/docker-compose.yml
Labels: none

add tooltip to send receive
  packages/wallet/frontend/src/components/icons/Info.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/frontend, type: source

Text changes for onboarding
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
Labels: package: wallet/frontend, type: source

update prettier package
  package.json
  packages/boutique/frontend/src/app/cart/components/summary.tsx
  packages/boutique/frontend/src/app/checkout/components/order-summary.tsx
  packages/boutique/frontend/src/app/products/components/product-card.tsx
  packages/boutique/frontend/src/app/products/components/product-shimmer.tsx
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/pages/kyc/proof.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: boutique/frontend, type: source

implemented shared asset response types
  packages/wallet/backend/package.json
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rates/service.ts
  packages/wallet/frontend/src/components/ExchangeRate.tsx
  packages/wallet/frontend/src/lib/api/asset.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/shared/src/types/asset.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: Add payment pointer full url tooltip to transaction list (#1366)
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/styles/main.css
Labels: package: wallet/frontend, type: source

fix: add tooltip to send receive (#1371)
  packages/wallet/frontend/src/components/icons/Info.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/frontend, type: source

feat: make key nickname required (#1198)
  packages/wallet/backend/migrations/20240306113102_default_keys_nickname.js
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/backend/src/walletAddressKeys/validation.ts
Labels: package: wallet/backend, type: source

fix: remove rate limit on signup (#1212)
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

fix: check for existing transaction (#1229)
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix: add required field to rapyd contact (#1296)
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/src/rapyd/service.ts
Labels: package: wallet/backend, type: source

bring rate response in separated file change response names
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rates/service.ts
  packages/wallet/frontend/src/lib/api/asset.ts
  packages/wallet/shared/src/types/asset.ts
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/rate.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

bring rate response in separated file change response names
  packages/wallet/backend/src/asset/controller.ts
Labels: package: wallet/backend, type: source

Onboarding Text Changes + send page extra onboarding
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/icons/Euro.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, type: source

fix ci
  .github/workflows/ci.yml
Labels: type: ci

add onboarding to request as well
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/ui/CopyButton.tsx
Labels: package: wallet/frontend, type: source

Update Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
Labels: package: wallet/frontend, type: source

fix ci
  .github/workflows/ci.yml
Labels: type: ci

fix ci
  .github/workflows/ci.yml
Labels: type: ci

feat: bring asset response type into shared package (#1361)
  .github/workflows/ci.yml
  packages/wallet/backend/package.json
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rates/service.ts
  packages/wallet/frontend/src/components/ExchangeRate.tsx
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/asset.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/shared/src/index.ts
  packages/wallet/shared/src/responses/index.ts
  packages/wallet/shared/src/types/account.ts
  packages/wallet/shared/src/types/asset.ts
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/rate.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, type: ci, type: source

- Bring grant response type into shared package
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/lib/hooks/useGrants.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/shared/src/types/grant.ts
  packages/wallet/shared/src/types/index.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

- Bring transaction response type into shared package
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/frontend/src/lib/api/transaction.ts
  packages/wallet/frontend/src/lib/hooks/useTransactions.ts
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

add Skip buttons for Send and request
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/components/providers/OnboardingProvider.tsx
  packages/wallet/frontend/src/lib/context/onboarding.ts
Labels: package: wallet/frontend, type: source

Update TogglePayment.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/frontend, type: source

Update [accountId].tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

Menu updates
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/icons/Request.tsx
  packages/wallet/frontend/src/components/icons/Send.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

Revert "Menu updates"
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/icons/Request.tsx
  packages/wallet/frontend/src/components/icons/Send.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, type: source

Menu improvements
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/icons/Request.tsx
  packages/wallet/frontend/src/components/icons/Send.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

Update Grant Badges
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

- Bring transfer response type into shared package
  packages/wallet/backend/src/incomingPayment/controller.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/frontend/src/components/ExchangeRate.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/asset.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/shared/src/types/asset.ts
  packages/wallet/shared/src/types/incomingPayment.ts
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/qoute.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

feat: bring grant response type into shared package (#1377)
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/lib/hooks/useGrants.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/shared/src/types/grant.ts
  packages/wallet/shared/src/types/index.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Added onboarding for developer keys
  packages/wallet/frontend/src/components/SettingsTabs.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/icons/Key.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/components/providers/OnboardingProvider.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/context/onboarding.ts
  packages/wallet/frontend/src/ui/CopyButton.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

- Separate transactionResponse into 2 interfaces
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/backend, type: source

- Bring walletAddress response type into shared package
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/shared/src/types/WalletAddressKey.ts
  packages/wallet/shared/src/types/asset.ts
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/walletAddress.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Update colors
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/tailwind.config.js
Labels: package: wallet/frontend, type: source

- fix value conflict
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/frontend, type: source

Add glows
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/tailwind.config.js
Labels: package: wallet/frontend, type: source

Update config
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/tailwind.config.js
Labels: package: wallet/frontend, type: source

Update Tailwind config
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/tailwind.config.js
Labels: package: wallet/frontend, type: source

Update menu and main layout
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/_document.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/Logo.tsx
Labels: package: wallet/frontend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
