Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

Format & fixes
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

Fix dialog
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
Labels: package: wallet/frontend, type: source

feat: Display revoke button for recurring payments (#1438)
  packages/boutique/backend/src/order/controller.ts
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
Labels: package: wallet/frontend, package: boutique/backend, type: source

feat: update dialogs; parts of ui/form elements (#1432)
  packages/wallet/frontend/src/components/TemporaryWMNotice.tsx
  packages/wallet/frontend/src/components/ThemeToggle.tsx
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/ErrorDialog.tsx
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/CopyButton.tsx
  packages/wallet/frontend/src/ui/forms/Checkbox.tsx
  packages/wallet/frontend/src/ui/forms/Form.tsx
  packages/wallet/frontend/src/ui/forms/Input.tsx
Labels: package: wallet/frontend, type: source

Merge fixes
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/forms/Checkbox.tsx
  packages/wallet/frontend/src/ui/forms/Input.tsx
Labels: package: wallet/frontend, type: source

Update Checkbox.tsx
  packages/wallet/frontend/src/ui/forms/Checkbox.tsx
Labels: package: wallet/frontend, type: source

Merge fixes
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/forms/Checkbox.tsx
  packages/wallet/frontend/src/ui/forms/TextArea.tsx
Labels: package: wallet/frontend, type: source

fix: keep request grants filters
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, type: source

Fix display send and request amounts
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, type: source

Fixes: UI, Forms, Pages, Layouts - removed tooltip from transactions since it was causing an overflow
  packages/wallet/frontend/src/components/TransferHeader.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/Badge.tsx
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/Table.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
  packages/wallet/frontend/src/ui/forms/Checkbox.tsx
  packages/wallet/frontend/src/ui/forms/FieldError.tsx
  packages/wallet/frontend/src/ui/forms/Input.tsx
  packages/wallet/frontend/src/ui/forms/Select.tsx
  packages/wallet/frontend/src/ui/forms/TextArea.tsx
  packages/wallet/frontend/src/utils/constants.ts
  packages/wallet/frontend/tailwind.config.js
Labels: package: wallet/frontend, type: source

Format
  packages/wallet/frontend/tailwind.config.js
Labels: package: wallet/frontend

feat: update form elements; fix ui components; fix layouts; update send/request (#1437)
  packages/wallet/frontend/src/components/SettingsTabs.tsx
  packages/wallet/frontend/src/components/TransferHeader.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/Badge.tsx
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/Divider.tsx
  packages/wallet/frontend/src/ui/Table.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
  packages/wallet/frontend/src/ui/forms/FieldError.tsx
  packages/wallet/frontend/src/ui/forms/FileUpload.tsx
  packages/wallet/frontend/src/ui/forms/Label.tsx
  packages/wallet/frontend/src/ui/forms/Select.tsx
  packages/wallet/frontend/src/ui/forms/TextArea.tsx
  packages/wallet/frontend/src/utils/constants.ts
  packages/wallet/frontend/tailwind.config.js
Labels: package: wallet/frontend, type: source

fix colors
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
Labels: package: wallet/frontend, type: source

fix for badges
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
Labels: package: wallet/frontend, type: source

redo code, to be done on pr
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
Labels: package: wallet/frontend, type: source

added badge changes for transfer pages
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
Labels: package: wallet/frontend, type: source

Badge update for transfer pages
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
Labels: package: wallet/frontend, type: source

fix: badge update for transfer pages (#1443)
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
Labels: package: wallet/frontend, type: source

feat: boutique changes
  docker/dev/docker-compose.yml
  docker/dev/kratos.yml
  packages/boutique/backend/src/cache/token.ts
  packages/boutique/backend/src/config/env.ts
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/backend/src/shared/utils.ts
  packages/boutique/frontend/src/lib/constants.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, package: boutique/backend, package: boutique/frontend, type: source

feat: set receiver in limits
  packages/boutique/backend/src/open-payments/service.ts
Labels: package: boutique/backend, type: source

feat: set currency to JOD
  packages/boutique/frontend/src/lib/utils.ts
Labels: package: boutique/frontend

bump(prod): rafiki to alpha 15
  docker/prod/docker-compose.yml
Labels: none

bump(dev): rafiki to alpha 15
  docker/dev/docker-compose.yml
Labels: none

remove orders for revoked one-payment grants
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/order/service.ts
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, package: boutique/backend, type: source

fix: keep request grants filters (#1440)
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, type: source

feat(rafiki): upgrade to alpha15 (#1445)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

KYC pages fixes, also some auth page fixes, emails in new design
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/images/EnvelopeBird.png
  packages/wallet/backend/src/email/templates/images/InterledgerTestWallet.png
  packages/wallet/backend/src/email/templates/images/InterledgerTestnet.png
  packages/wallet/backend/src/email/templates/images/KeyBird.png
  packages/wallet/backend/src/email/templates/images/Verify.png
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/components/HeaderLogo.tsx
  packages/wallet/frontend/src/pages/404.tsx
  packages/wallet/frontend/src/pages/kyc/personal.tsx
  packages/wallet/frontend/src/pages/kyc/proof.tsx
  packages/wallet/frontend/src/pages/no-access.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

email images heights
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
Labels: package: wallet/backend, type: source

Quote fixes for payments
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/icons/PaperPlane.tsx
Labels: package: wallet/frontend, type: source

Grant list and Grant details changes
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

update grant interaction
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

Update index.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

chore: fix kratos config
  docker/dev/kratos.yml
Labels: none

chore: fix kratos config (#1456)
  docker/dev/kratos.yml
Labels: none

fix upload repetitive key into the Rafiki
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix upload repetitive key into the Rafiki
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

change variable name
  packages/wallet/backend/src/walletAddressKeys/service.ts
Labels: package: wallet/backend, type: source

Fix quote values
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
Labels: package: wallet/frontend, type: source

Remove comment
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
Labels: package: wallet/frontend, type: source

Prettier
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
Labels: package: wallet/frontend, type: source
