Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

Potential fix for pull request finding
  helm/testnet-wallet/values.yaml
Labels: none

Potential fix for pull request finding
  helm/testnet-wallet/values.yaml
Labels: none

Potential fix for pull request finding
  helm/testnet-wallet/values.yaml
Labels: none

fix: making sure we render the backend url correctly
  helm/testnet-wallet/tests/deployment.backend_test.yaml
Labels: none

style: resolved formatting issues
  .github/copilot-instructions.md
  .prettierignore
  helm/testnet-boutique/Chart.yaml
  helm/testnet-boutique/README.md
  helm/testnet-boutique/tests/deployment.backend_test.yaml
  helm/testnet-boutique/tests/deployment.frontend_test.yaml
  helm/testnet-boutique/values.yaml
  helm/testnet-wallet/Chart.yaml
  helm/testnet-wallet/README.md
  helm/testnet-wallet/tests/deployment.backend_test.yaml
  helm/testnet-wallet/tests/deployment.frontend_test.yaml
  helm/testnet-wallet/tests/secrets_test.yaml
  helm/testnet-wallet/values.yaml
Labels: type: ci, type: documentation

fix: minor issues resolved
  .github/copilot-instructions.md
  .github/workflows/helm-charts.yml
  helm/testnet-boutique/README.md
  helm/testnet-boutique/tests/secrets_test.yaml
  helm/testnet-boutique/values.yaml
Labels: type: ci, type: documentation

ci(helm): migrated charts to this repository instead (#2211)
  .github/copilot-instructions.md
  .github/workflows/helm-charts.yml
  .github/workflows/helm-publish.yml
  .prettierignore
  helm/testnet-boutique/Chart.lock
  helm/testnet-boutique/Chart.yaml
  helm/testnet-boutique/README.md
  helm/testnet-boutique/templates/configMap.backend.yaml
  helm/testnet-boutique/templates/configMap.frontend.yaml
  helm/testnet-boutique/templates/deployment.backend.yaml
  helm/testnet-boutique/templates/deployment.frontend.yaml
  helm/testnet-boutique/templates/secrets.backend.yaml
  helm/testnet-boutique/templates/service.backend.yaml
  helm/testnet-boutique/templates/service.frontend.yaml
  helm/testnet-boutique/tests/deployment.backend_test.yaml
  helm/testnet-boutique/tests/deployment.frontend_test.yaml
  helm/testnet-boutique/tests/secrets_test.yaml
  helm/testnet-boutique/tests/services_test.yaml
  helm/testnet-boutique/values.yaml
  helm/testnet-wallet/Chart.lock
  helm/testnet-wallet/Chart.yaml
  helm/testnet-wallet/README.md
  helm/testnet-wallet/templates/configMap.backend.yaml
  helm/testnet-wallet/templates/configMap.frontend.yaml
  helm/testnet-wallet/templates/deployment.backend.yaml
  helm/testnet-wallet/templates/deployment.frontend.yaml
  helm/testnet-wallet/templates/secrets.backend.yaml
  helm/testnet-wallet/templates/service.backend.yaml
  helm/testnet-wallet/templates/service.frontend.yaml
  helm/testnet-wallet/tests/deployment.backend_test.yaml
  helm/testnet-wallet/tests/deployment.frontend_test.yaml
  helm/testnet-wallet/tests/secrets_test.yaml
  helm/testnet-wallet/tests/services_test.yaml
  helm/testnet-wallet/values.yaml
Labels: type: ci, type: documentation

Notes added by 'git notes add'
  f87f2265dfda66a52fabdc199cb008c23ce061ce
Labels: none

ci: should now be able to publish helm from release workflow
  .github/workflows/helm-publish.yml
  .github/workflows/release.yml
Labels: type: ci

ci: will now use publish token for the actions
  .github/workflows/helm-publish.yml
  .github/workflows/release.yml
Labels: type: ci

ci: should now be able to publish helm from release workflow (#2212)
  .github/workflows/helm-publish.yml
  .github/workflows/release.yml
Labels: type: ci

Notes added by 'git notes add'
  1c6aca6e084cb906ea1b38209b3473715886da2b
Labels: none

ci: publishing helm will now correctly include archives
  .github/workflows/helm-publish.yml
Labels: type: ci

ci: publishing helm will now correctly include archives (#2213)
  .github/workflows/helm-publish.yml
Labels: type: ci

Notes added by 'git notes add'
  383f0f665fad4f780c1f90b760fe625f4881f894
Labels: none

feat: add merchant onboarding field definitions API
  packages/wallet/backend/migrations/20260618154710_create_field_definitions.js
  packages/wallet/backend/migrations/20260619142642_create_options.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/terminal/controller.ts
  packages/wallet/backend/src/terminal/model.ts
  packages/wallet/backend/src/terminal/service.ts
Labels: package: wallet/backend, type: source

style: prettier formatting
  packages/wallet/backend/migrations/20260618154710_create_field_definitions.js
  packages/wallet/backend/migrations/20260619142642_create_options.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/terminal/controller.ts
  packages/wallet/backend/src/terminal/model.ts
  packages/wallet/backend/src/terminal/service.ts
Labels: package: wallet/backend, type: source

fix: Deposit popup flickering
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

format fix
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

fix: Mobile menu in Transactions
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/frontend, type: source

fix: correct grant revoke dialog z-index
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
Labels: package: wallet/frontend, type: source

fix: Deposit popup flickering (#2215)
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

fix: mobile menu in Transactions (#2216)
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/frontend, type: source

fix: correct grant revoke dialog z-index (#2217)
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
Labels: package: wallet/frontend, type: source

Notes added by 'git notes add'
  dea083f2150b8c68ddf78c4793b4a9f9f1aba446
Labels: none

feat(stripe): handle refund webhook events
  packages/wallet/backend/migrations/20260625220000_add_transactions_payment_id_source_unique.js
  packages/wallet/backend/src/stripe-integration/service.ts
  packages/wallet/backend/src/stripe-integration/validation.ts
  packages/wallet/backend/tests/stripe-integration/controller.test.ts
  packages/wallet/backend/tests/stripe-integration/service.test.ts
Labels: package: wallet/backend, type: source, type: test

fix: refactor process refund method
  packages/wallet/backend/src/stripe-integration/service.ts
Labels: package: wallet/backend, type: source

test: refactor insert failure tests
  packages/wallet/backend/tests/stripe-integration/service.test.ts
Labels: package: wallet/backend, type: test

feat: Warn Users abeout big deposits
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
Labels: package: wallet/frontend, type: source

fix format
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
Labels: package: wallet/frontend, type: source

feat: Warn Users about big deposits (#2219)
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
Labels: package: wallet/frontend, type: source

ci: local environment checks health before creating assets
  local/postgres.yaml
  local/rafiki.yaml
  local/redis.yaml
  local/scripts/rafiki-setup.js
Labels: none

fix: clean build also removes docker images
  package.json
Labels: none

Potential fix for pull request finding
  local/scripts/rafiki-setup.js
Labels: none

fix: formatting correction
  local/scripts/rafiki-setup.js
Labels: none

ci: local environment checks health before creating assets (#2220)
  local/postgres.yaml
  local/rafiki.yaml
  local/redis.yaml
  local/scripts/rafiki-setup.js
  package.json
Labels: none

fix: update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

fix: update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

fix: update @interledger/tlv-kit node version
  pnpm-lock.yaml
Labels: none

chore: upgrade to node v24 (#2207)
  .github/copilot-instructions.md
  .github/workflows/build-publish.yaml
  .github/workflows/setup/action.yml
  .nvmrc
  README.md
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/backend/package.json
  packages/boutique/frontend/Dockerfile.prod
  packages/boutique/shared/package.json
  packages/shared/backend/package.json
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/backend/package.json
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.prod
  packages/wallet/frontend/package.json
  packages/wallet/shared/package.json
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation
