Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

fix: change schema urls
  packages/wallet/backend/codegen.yml
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/service.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/wallet-address.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

fix: resolve fixture issue
  packages/wallet/backend/tests/walletAddress/service.test.ts
Labels: package: wallet/backend, type: test

fix: update open payments url
  docker/dev/docker-compose.yml
Labels: none

SEPA nonce optional
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/quote/validation.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

rename
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

feat: 2143 feature request frontend part of sepa test wallet (#2153)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/incomingPayment/validation.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/quote/validation.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/quote/service.test.ts
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

Update grant consent message to clarify access vs payment
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

lint fixed
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

remove duplication
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

feat: Update grant consent message to clarify access vs payment (#2158)
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

fix: remove/add tenant id on requests as needed
  packages/boutique/backend/src/open-payments/service.ts
Labels: package: boutique/backend, type: source

feat: upgrade rafiki (#2157)
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  packages/boutique/backend/src/open-payments/service.ts
  packages/wallet/backend/codegen.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/config/rafiki.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/service.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/wallet-address.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
Labels: package: wallet/backend, package: boutique/backend, type: source, type: test

Update card.tsx
  packages/wallet/frontend/src/pages/card.tsx
Labels: package: wallet/frontend, type: source

Update card.tsx
  packages/wallet/frontend/src/pages/card.tsx
Labels: package: wallet/frontend, type: source

feat: generate card keys for live version
  packages/wallet/backend/src/interledgerCard/service.ts
Labels: package: wallet/backend, type: source

Update service.ts
  packages/wallet/backend/src/interledgerCard/service.ts
Labels: package: wallet/backend, type: source

feat: Card ordering on Test Wallet and Interledger Cards (#2159)
  packages/wallet/backend/src/interledgerCard/service.ts
  packages/wallet/frontend/src/pages/card.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

Update WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
Labels: package: wallet/frontend, type: source

fix: fix UI for PP list (#2160)
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
Labels: package: wallet/frontend, type: source

Update QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
Labels: package: wallet/frontend, type: source

Update QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
Labels: package: wallet/frontend, type: source

fix: Fix sepa quote message (#2161)
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
Labels: package: wallet/frontend, type: source

fix Cards menu toggle
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/components/providers/MenuProvider.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/components/settings/ToggleVisibility.tsx
  packages/wallet/frontend/src/components/settings/WalletAccounts.tsx
  packages/wallet/frontend/src/lib/context/menu.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/card.tsx
  packages/wallet/frontend/src/pages/deposit.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/pages/withdraw.tsx
Labels: package: wallet/frontend, type: source

fix: Fix cards menu toggle (#2162)
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/components/providers/MenuProvider.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/components/settings/ToggleVisibility.tsx
  packages/wallet/frontend/src/components/settings/WalletAccounts.tsx
  packages/wallet/frontend/src/lib/context/menu.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/card.tsx
  packages/wallet/frontend/src/pages/deposit.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/pages/withdraw.tsx
Labels: package: wallet/frontend, type: source

fix: disabled signup on prod
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

fix: disabled signup on prod (#2164)
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

update card verification
  packages/wallet/backend/migrations/20251023085846_add_cards_columns.js
  packages/wallet/backend/package.json
  packages/wallet/backend/seeds/01_users.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/interledgerCard/model.ts
  packages/wallet/backend/src/interledgerCard/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/walletAddress/model.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

remove registration from cards plus small UI fix
  packages/wallet/backend/src/app.ts
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

Update WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
Labels: package: wallet/frontend, type: source

fix: Remove signup from cards (#2165)
  packages/wallet/backend/src/app.ts
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

feat: add pos and card services
  docker/dev/docker-compose.yml
  packages/wallet/backend/codegen.yml
  packages/wallet/backend/src/interledgerCard/service.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

fix: add additional properties to validation
  packages/wallet/backend/src/interledgerCard/service.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

feat: add pos and card services (#2166)
  docker/dev/docker-compose.yml
  packages/wallet/backend/codegen.yml
  packages/wallet/backend/src/interledgerCard/service.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

update seed
  packages/wallet/backend/seeds/01_users.js
Labels: package: wallet/backend

feat: use custom api keys for sepa request
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

fix: set custom org id
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

card signature validation
  packages/wallet/backend/seeds/01_users.js
  packages/wallet/backend/src/interledgerCard/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

feat: use custom api keys for sepa request (#2167)
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

fix: update show legal name check
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

fix: another check
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
