Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

fix: enforce max pageSize of 100
  packages/wallet/backend/src/grant/validation.ts
Labels: package: wallet/backend, type: source

refactor: remove unused pagination cursors
  packages/wallet/shared/src/types/grant.ts
Labels: none

fix: move grants key prop to fragment
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

feat: change the Grants page to match the Transactions page (#2200)
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/backend/src/grant/service.ts
  packages/wallet/backend/src/grant/validation.ts
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/request/grant.request.ts
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/lib/hooks/useGrants.ts
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/shared/src/types/grant.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

refactor(wallet-frontend): move auth gate to SSR wrappers
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/lib/serverAuth.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
  packages/wallet/frontend/src/pages/card.tsx
  packages/wallet/frontend/src/pages/deposit.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
  packages/wallet/frontend/src/pages/no-access.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/pages/withdraw.tsx
Labels: package: wallet/frontend, type: source

fix: new auth checks will also use new mechanism
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
Labels: package: wallet/frontend, type: source

docs(frontend): centralize SSR auth rationale
  packages/wallet/frontend/src/lib/serverAuth.ts
Labels: package: wallet/frontend, type: source

docs(frontend): dedupe runtime env comments
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/lib/httpClient.ts
Labels: package: wallet/frontend, type: source

fix(wallet-frontend): read backend URL at runtime
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/lib/httpClient.ts
Labels: package: wallet/frontend, type: source

feat(wallet-frontend): add SSR auth wrapper helpers
  packages/wallet/frontend/src/lib/serverAuth.ts
Labels: package: wallet/frontend, type: source

refactor(wallet-frontend): migrate auth pages to withGuest
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
Labels: package: wallet/frontend, type: source

refactor(wallet-frontend): migrate protected pages to SSR auth wrappers
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/card.tsx
  packages/wallet/frontend/src/pages/deposit.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
  packages/wallet/frontend/src/pages/no-access.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/pages/withdraw.tsx
Labels: package: wallet/frontend, type: source

refactor(wallet-frontend): remove edge auth middleware
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/frontend, type: source

ci: allow for branch builds
  .github/workflows/build-publish.yaml
Labels: type: ci

ci: in branch building
  .github/workflows/build-publish.yaml
Labels: type: ci

ci: generalised filter
  .github/workflows/build-publish.yaml
Labels: type: ci

fix: added logging
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/lib/serverAuth.ts
Labels: package: wallet/frontend, type: source

fix: will now better log for login problems
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/frontend/src/lib/httpClient.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: sensitive field aware logging
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/frontend/src/lib/httpClient.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: will now better log for login problems (#2204)
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/frontend/src/lib/httpClient.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix:show a short version of the balance
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

fix: enforce subject and access ownership checks for grants (#2199)
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, type: source

feat: check if sendingwallet exists
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

ci: pipeline should not try to commit changelog
  .github/workflows/build-publish.yaml
Labels: type: ci

fix(frontend): BACKEND_INTERNAL_URL should be read from runtime
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/lib/httpClient.ts
Labels: package: wallet/frontend, type: source

fix: reworking priority of env selection
  packages/wallet/frontend/src/lib/httpClient.ts
Labels: package: wallet/frontend, type: source

ci: pipeline should not try to commit changelog (#2205)
  .github/workflows/build-publish.yaml
Labels: type: ci

fix(frontend): BACKEND_INTERNAL_URL should be read from runtime (#2206)
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/lib/httpClient.ts
Labels: package: wallet/frontend, type: source

chore: upgrade to node v24
  .github/copilot-instructions.md
  .github/workflows/setup/action.yml
  .nvmrc
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/backend/package.json
  packages/boutique/frontend/Dockerfile.prod
  packages/boutique/shared/package.json
  packages/shared/backend/package.json
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/backend/package.json
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.prod
  packages/wallet/frontend/package.json
  packages/wallet/shared/package.json
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation

fix: node version in build-publish.yaml
  .github/workflows/build-publish.yaml
Labels: type: ci

chore: update README env setup node version
  README.md
Labels: type: documentation

fix: update @interledger/tlv-kit node version
  pnpm-lock.yaml
Labels: none

chore: update pnpm version in Docker files
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/frontend/Dockerfile.prod
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/frontend/Dockerfile.prod
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend

chore: use node 24.13.1 for consistency
  .github/copilot-instructions.md
  package.json
Labels: type: ci, type: documentation

feat(e2e): reconcile with main — switch to mailslurper for verification links
  e2e/.env.example
  e2e/features/steps/auth-signup-dashboard.steps.ts
  e2e/features/steps/cross-currency-transfer.steps.ts
  e2e/features/steps/deposit-transactions-regression.steps.ts
  e2e/features/steps/fixtures.ts
  e2e/helpers/local-wallet.ts
  local/Makefile
  local/config/san.cnf
  local/mailslurper.yaml
  local/wallet.yaml
  package.json
  packages/wallet/backend/.env.example
  packages/wallet/backend/package.json
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/email/service.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

fix: display grant send and receive amounts
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

style: apply prettier formatting
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

feat: update payload
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix(e2e): repair all test scenarios for local environment
  e2e/.env.example
  e2e/features/steps/auth-signup-dashboard.steps.ts
  e2e/features/steps/deposit-transactions-regression.steps.ts
  e2e/features/steps/fixtures.ts
  e2e/helpers/local-wallet.ts
  packages/wallet/backend/.env.local
  packages/wallet/backend/src/email/service.ts
Labels: package: wallet/backend, type: source

docs: update README and copilot instructions for e2e and mailslurper
  .github/copilot-instructions.md
  README.md
Labels: type: ci, type: documentation

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
