Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

feat(wallet-backend): handle manual approve flow (#1752)
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix: temporary disable the signature
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

fix: temporary disable the signature (#1753)
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

fix: fix user id
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix: fix user id (#1754)
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

feat(wallet/backend): socket logs are now debug level
  packages/wallet/backend/src/socket/service.ts
Labels: package: wallet/backend, type: source

feat(wallet/backend): socket logs are now debug level (#1755)
  packages/wallet/backend/src/socket/service.ts
Labels: package: wallet/backend, type: source

fix: add optional on metadata
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

fix: add optional on metadata (#1756)
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

fix: enable gatehub signature check
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/middleware/isGateHubSignedWebhook.ts
Labels: package: wallet/backend, type: source

fix: importing neccessary components
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
Labels: package: wallet/frontend, type: source

fix: prettier formatting
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
Labels: package: wallet/frontend, type: source

fix: updated the headlessui/react package and refactored its usage (#1725)
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/ErrorDialog.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardSpendingLimitDialog.tsx
Labels: package: wallet/frontend, type: source

fix: enable gatehub signature check (#1757)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/middleware/isGateHubSignedWebhook.ts
Labels: package: wallet/backend, type: source

feat: add field to keep pin status
  packages/wallet/backend/migrations/20241022143459_add_is_pin_set_to_users.js
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/user/model.ts
Labels: package: wallet/backend, type: source

fix: check for user
  packages/wallet/backend/src/card/service.ts
Labels: package: wallet/backend, type: source

fix: field
  packages/wallet/backend/src/user/model.ts
Labels: package: wallet/backend, type: source

Progress
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardContext.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/pages/card/index.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/frontend/tsconfig.json
  packages/wallet/shared/src/types/card.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

feat: handle webhooks
  packages/wallet/backend/migrations/20241022161159_add_status_flags_to_users.js
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/actionRequiredEmail.ts
  packages/wallet/backend/src/email/templates/rejectEmail.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/user/model.ts
Labels: package: wallet/backend, type: source

fix: skip processing deposit webhook
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

feat: add MXN support on test wallet
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, type: source

feat: add MXN support on test wallet (#1760)
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, type: source

fix: extend response interface
  packages/wallet/backend/src/card/types.ts
Labels: package: wallet/backend, type: source

Progress
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardSpendingLimitDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
  packages/wallet/frontend/src/lib/api/card.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

feat: add field to keep pin status (#1758)
  packages/wallet/backend/migrations/20241022143459_add_is_pin_set_to_users.js
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/user/model.ts
Labels: package: wallet/backend, type: source

feat: handle webhooks (#1759)
  packages/wallet/backend/migrations/20241022161159_add_status_flags_to_users.js
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/actionRequiredEmail.ts
  packages/wallet/backend/src/email/templates/rejectEmail.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/user/model.ts
Labels: package: wallet/backend, type: source

Frintend parts for card
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/actionRequiredEmail.ts
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/images/InterledgerWallet.png
  packages/wallet/backend/src/email/templates/kycVerifiedEmail.ts
  packages/wallet/backend/src/email/templates/rejectEmail.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/components/HeaderLogo.tsx
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
  packages/wallet/frontend/src/ui/Logo.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: reset rejected status on accepted webhook
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

Update [accountId].tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

feat: send KYC verified email
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

feat: add card WA to user
  packages/wallet/backend/migrations/20241023143459_card_wallet_address_to_users.js
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/user/model.ts
Labels: package: wallet/backend, type: source

fix: reset rejected status on accepted webhook (#1762)
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix: set wallet address for sandbox
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix: set the url
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

feat: add card WA to user (#1764)
  packages/wallet/backend/migrations/20241023143459_card_wallet_address_to_users.js
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/user/model.ts
Labels: package: wallet/backend, type: source

add T&C
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/ui/forms/Checkbox.tsx
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/frontend, type: source

Progress
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/pages/card.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/frontend/tailwind.config.js
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

feat: add card terms
  packages/wallet/backend/migrations/20241023160155_add_accepted_terms_to_users.js
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Update signup.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/frontend, type: source

Update signup.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/frontend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
