Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

Remove old KYC pages
  packages/wallet/frontend/src/pages/kyc/personal.tsx
  packages/wallet/frontend/src/pages/kyc/proof.tsx
Labels: package: wallet/frontend, type: source

Remove Rapyd env/constants
  docker/prod/docker-compose.yml
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

Better naming
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

Remove Rapyd mocks
  packages/wallet/frontend/src/utils/mocks.ts
Labels: package: wallet/frontend, type: source

Remove debug log
  packages/wallet/backend/src/app.ts
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

Undo middleware changes
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/frontend, type: source

Add window message types
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

Fix import
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

ratesSchema revert and use only one definition in wallet backend
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rates/valitation.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/shared/src/types/rate.ts
Labels: package: wallet/backend, type: source

typo
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend

file name typo
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rates/validation.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: source

fix: moved chared zod schemas, updated password generation for tests (#1600)
  packages/wallet/backend/src/asset/validation.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/validation.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/validation.ts
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

test: fix verify email test
  packages/wallet/backend/tests/incomingPayment/service.test.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/quote/service.test.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/transaction/service.test.ts
  packages/wallet/backend/tests/user/service.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: test

update text per right status reason
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

fix: update grants status badge text per right status reason (#1605)
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

Use Radix tooltips
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/frontend, type: source

fix(wallet/frontend): move all tooltips to Radix (#1606)
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/frontend, type: source

Update UserCardSettings.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
Labels: package: wallet/frontend, type: source

feat: hover state for Card Settings (#1609)
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
Labels: package: wallet/frontend, type: source

fix: fix typo
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

test: fix var name
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/tests/incomingPayment/service.test.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/quote/service.test.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/transaction/service.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: source, type: test

fix: format
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

feat: remove fund and withdraw
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/account/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/quote/service.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/backend/tests/user/service.test.ts
Labels: package: wallet/backend, type: source, type: test

feat: remove rapyd
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/index.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/src/rapyd/service.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/grant/service.test.ts
  packages/wallet/backend/tests/incomingPayment/service.test.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/quote/service.test.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/rapyd/service.test.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/transaction/service.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/utils.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: source, type: test

update from main
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
Labels: package: wallet/frontend, type: source

merge main
  packages/wallet/frontend/src/components/dialogs/ActivateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
Labels: package: wallet/frontend, type: source

Update UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
Labels: package: wallet/frontend, type: source

fix: set correct transaction type
  packages/wallet/backend/migrations/20230317135105_create_users.js
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

feat: add user to gateway
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rates/service.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

fix: remove explicit type response in client
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

test: mock client methods
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend

Add new fonts
  packages/boutique/frontend/src/app/cart/components/cart-item.tsx
  packages/boutique/frontend/src/app/cart/components/summary.tsx
  packages/boutique/frontend/src/app/checkout/components/order-summary.tsx
  packages/boutique/frontend/src/app/checkout/components/payment-methods.tsx
  packages/boutique/frontend/src/app/products/$slug.tsx
  packages/boutique/frontend/src/app/products/components/products-list.tsx
  packages/boutique/frontend/src/components/animated-text.tsx
  packages/boutique/frontend/src/components/layouts/base.tsx
  packages/boutique/frontend/src/components/navigation.tsx
  packages/boutique/frontend/src/components/page-header.tsx
  packages/boutique/frontend/src/components/ui/card.tsx
  packages/boutique/frontend/src/components/ui/dialog.tsx
  packages/boutique/frontend/src/fonts/DejaVuSansMono-Bold.ttf
  packages/boutique/frontend/src/fonts/DejaVuSansMono-Oblique.ttf
  packages/boutique/frontend/src/fonts/DejaVuSansMono.ttf
  packages/boutique/frontend/src/main.css
  packages/boutique/frontend/src/main.tsx
Labels: package: boutique/frontend

Update next-env.d.ts
  packages/wallet/frontend/next-env.d.ts
Labels: package: wallet/frontend

Update icons.tsx
  packages/boutique/frontend/src/components/icons.tsx
Labels: package: boutique/frontend

feat: add user to gateway (#1623)
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rates/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: source

add rate limiters for sending emails and login
  packages/shared/backend/src/errors/index.ts
  packages/shared/backend/src/errors/too-many-requests.ts
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/middleware/rateLimit.ts
  packages/wallet/backend/src/rateLimit/service.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

update some rate limit key duration to reset it hourly
  packages/wallet/backend/src/middleware/rateLimit.ts
Labels: package: wallet/backend, type: source

update some rate limit key duration to reset it hourly
  packages/wallet/backend/src/middleware/rateLimit.ts
Labels: package: wallet/backend, type: source

remove 'fail' from limiter key name
  packages/wallet/backend/src/middleware/rateLimit.ts
Labels: package: wallet/backend, type: source

fix: kyc
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/middleware/isAuth.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/frontend/next-env.d.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
