Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

Update backend and migration
  packages/wallet/backend/migrations/20240801155211_update_asset_scale.js
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

Update Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
Labels: package: wallet/frontend, type: source

Update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

Update transactions.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/frontend, type: source

Update next for fixes
  packages/wallet/frontend/package.json
  pnpm-lock.yaml
Labels: package: wallet/frontend

Update Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
Labels: package: wallet/frontend, type: source

Developer ley fixes
  packages/wallet/frontend/src/components/SettingsTabs.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

fix sidebar menu
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/providers/MenuProvider.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/lib/context/menu.ts
Labels: package: wallet/frontend, type: source

Fix onboarding for dev keys
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

Fix for mobile onboarding - send part
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/SettingsTabs.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

Add default user to rafiki admin
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rafiki/kratos.service.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

change password
  packages/wallet/backend/src/rafiki/kratos.service.ts
Labels: package: wallet/backend, type: source

Button placement fixes
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/pages/auth/forgot.tsx
Labels: package: wallet/frontend, type: source

Update Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
Labels: package: wallet/frontend, type: source

Update Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
Labels: package: wallet/frontend, type: source

add request mobile step
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

Update OnboardingTooltip.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
Labels: package: wallet/frontend, type: source

Update SettingsTabs.tsx
  packages/wallet/frontend/src/components/SettingsTabs.tsx
Labels: package: wallet/frontend, type: source

small fixes
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/components/toast/Toast.tsx
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

other fixes
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/pages/request.tsx
Labels: package: wallet/frontend, type: source

Update Rafiki service interaction with Rapyd
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

Prettier
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

Increase Rapyd threshold
  docker/dev/docker-compose.yml
Labels: none

remove asset scale imbalance transaction from list
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

next version update for error fixes
  packages/wallet/frontend/package.json
  pnpm-lock.yaml
Labels: package: wallet/frontend

Update Rapyd threshold
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
Labels: package: wallet/backend, type: source

Use truncate for amounts to prevent ceiling
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

Skip imbalance transactions when syncing balances
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

Prevent ceiling when formatting amounts in frontend
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

Use scale 2 in quote dialog and notifications
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

Prettier
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Remove unused file
  packages/wallet/backend/src/config/walletAddress.ts
Labels: package: wallet/backend, type: source

Cache all WAs
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
Labels: package: wallet/backend, type: source, type: test

Fix balance inconsistency on AccountCard
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

Fix inconsistency in send and request screens, show scale 9
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, type: source

Remove console log
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

Fix amounts sent to Rapyd
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

Prettier
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

Fix type mismatch
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

Replace asset scale hardcoded values with constants
  packages/wallet/backend/src/account/service.ts
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/utils/constants.ts
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source
