Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: backend, package: wallet, type: ci, type: documentation, type: source, type: test, type: docker

Update send.tsx
  packages/wallet/src/pages/transfer/send.tsx
Labels: package: wallet, type: source

Update send.tsx
  packages/wallet/src/pages/transfer/send.tsx
Labels: package: wallet, type: source

homepage design update
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/components/Icons/New.tsx
  packages/wallet/src/components/Icons/Pay.tsx
  packages/wallet/src/components/Icons/Receive.tsx
  packages/wallet/src/components/Icons/Send.tsx
  packages/wallet/src/components/PageHeader.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/ui/Link.tsx
  packages/wallet/src/utils/mocks.ts
Labels: package: wallet, type: source

fix lint
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/components/Icons/New.tsx
Labels: package: wallet, type: source

small fixes on pay and send
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/send.tsx
Labels: package: wallet, type: source

Create 404.tsx
  packages/wallet/src/pages/404.tsx
Labels: package: wallet, type: source

Update Menu.tsx
  packages/wallet/src/components/Menu.tsx
Labels: package: wallet, type: source

PR Suggested changes applies
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/TransferHeader.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Badge.tsx
Labels: package: wallet, type: source

feat(wallet): Implement KYC - personal details-ID proof (#67)
  packages/wallet/public/bank-kyc.webp
  packages/wallet/public/group.webp
  packages/wallet/public/id-kyc.webp
  packages/wallet/public/park.webp
  packages/wallet/public/personal-info-kyc.webp
  packages/wallet/src/components/HeaderLogo.tsx
  packages/wallet/src/components/Icons/UploadSmile.tsx
  packages/wallet/src/components/kyc/IdentificationForm.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/kyc/context.tsx
  packages/wallet/src/components/kyc/index.tsx
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/auth/index.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/register.tsx
  packages/wallet/src/pages/kyc.tsx
  packages/wallet/src/ui/FileUpload.tsx
  packages/wallet/src/ui/forms/Select.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

feat(wallet): Add pay and send functionalities (#77)
  packages/wallet/public/pay.webp
  packages/wallet/public/request.webp
  packages/wallet/public/send.webp
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/TransferHeader.tsx
  packages/wallet/src/pages/404.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Badge.tsx
Labels: package: wallet, type: source

Add Request Page
  packages/wallet/src/pages/404.tsx
  packages/wallet/src/pages/transfer/request.tsx
Labels: package: wallet, type: source

feat(wallet): Add Request Page (#83)
  packages/wallet/src/pages/404.tsx
  packages/wallet/src/pages/transfer/request.tsx
Labels: package: wallet, type: source

add global dialog provider
  packages/wallet/src/components/providers/DialogProvider.tsx
  packages/wallet/src/components/providers/index.tsx
  packages/wallet/src/lib/.gitkeep
  packages/wallet/src/lib/context/dialog.ts
  packages/wallet/src/lib/hooks/useDialog.ts
  packages/wallet/src/lib/types/dialog.ts
  packages/wallet/src/pages/_app.tsx
Labels: package: wallet, type: source

small refactoring
  packages/wallet/src/components/providers/DialogProvider.tsx
  packages/wallet/src/lib/context/dialog.ts
  packages/wallet/src/lib/hooks/useDialog.ts
  packages/wallet/src/lib/types/dialog.ts
Labels: package: wallet, type: source

fix node version
  package.json
Labels: none

chore: fix node version (#98)
  package.json
Labels: none

update pnpm version of dockerFiles to match the enforced minimum version of the package.json engine configuration property.
  packages/backend/Dockerfile.dev
  packages/backend/package.json
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/errorHandler.ts
  packages/backend/src/index.ts
  packages/backend/src/logger.ts
  packages/backend/src/routes.ts
  packages/backend/src/user/models/user.ts
  packages/wallet/Dockerfile.dev
  pnpm-lock.yaml
Labels: package: backend, package: wallet, type: source

cleanup
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/logger.ts
Labels: package: backend, type: source

dumb eslint
  packages/backend/src/auth/auth.service.ts
Labels: package: backend, type: source

eslint still dumb
  packages/backend/src/auth/auth.service.ts
Labels: package: backend, type: source

feat(backend): added rapyd apis, and types
  packages/backend/package.json
  packages/backend/src/shared/rapyd/rapyd.d.ts
  packages/backend/src/shared/rapyd/request.ts
  pnpm-lock.yaml
Labels: package: backend, type: source

feat(rafiki): add rafiki as a submodule and setup local instance
  .gitignore
  .gitmodules
  docker/dev/docker-compose.yml
  package.json
  packages/backend/Dockerfile.dev
  packages/backend/package.json
  packages/wallet/Dockerfile.dev
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package: backend, package: wallet

Add New fields to KYC forms
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/kyc/IdentificationForm.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/index.tsx
  packages/wallet/src/ui/FileUpload.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
Labels: package: wallet, type: source

build: add dbinit file
  docker/dev/dbinit.sql
  docker/dev/docker-compose.yml
  docker/dev/private-key.pem
Labels: none

feat(wallet): add success/error dialogs
  packages/wallet/src/components/dialog/ErrorDialog.tsx
  packages/wallet/src/components/dialog/SuccessDialog.tsx
  packages/wallet/src/components/icons/Banknotes.tsx
  packages/wallet/src/components/icons/Bars.tsx
  packages/wallet/src/components/icons/Bird.tsx
  packages/wallet/src/components/icons/Chevron.tsx
  packages/wallet/src/components/icons/Cog.tsx
  packages/wallet/src/components/icons/Grant.tsx
  packages/wallet/src/components/icons/Home.tsx
  packages/wallet/src/components/icons/Play.tsx
  packages/wallet/src/components/icons/UploadSmile.tsx
  packages/wallet/src/components/icons/X.tsx
  packages/wallet/src/lib/types/dialog.ts
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/ui/Button.tsx
Labels: package: wallet, type: source

update icons path
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/dialog/ErrorDialog.tsx
  packages/wallet/src/components/dialog/SuccessDialog.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: wallet, type: source

fix icons path
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/register.tsx
  packages/wallet/src/ui/FileUpload.tsx
Labels: package: wallet, type: source

feat(wallet): add global dialog (#89)
  packages/wallet/next.config.js
  packages/wallet/package.json
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/dialog/ErrorDialog.tsx
  packages/wallet/src/components/dialog/SuccessDialog.tsx
  packages/wallet/src/components/icons/Banknotes.tsx
  packages/wallet/src/components/icons/Bars.tsx
  packages/wallet/src/components/icons/Bird.tsx
  packages/wallet/src/components/icons/Chevron.tsx
  packages/wallet/src/components/icons/Cog.tsx
  packages/wallet/src/components/icons/Grant.tsx
  packages/wallet/src/components/icons/Home.tsx
  packages/wallet/src/components/icons/Play.tsx
  packages/wallet/src/components/icons/UploadSmile.tsx
  packages/wallet/src/components/icons/X.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/providers/DialogProvider.tsx
  packages/wallet/src/components/providers/index.tsx
  packages/wallet/src/lib/.gitkeep
  packages/wallet/src/lib/context/dialog.ts
  packages/wallet/src/lib/hooks/useDialog.ts
  packages/wallet/src/lib/types/dialog.ts
  packages/wallet/src/pages/_app.tsx
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/register.tsx
  packages/wallet/src/ui/Button.tsx
  packages/wallet/src/ui/FileUpload.tsx
  packages/wallet/src/ui/forms/Select.tsx
  pnpm-lock.yaml
Labels: package: wallet, type: source

Changes for File upload validation
  packages/wallet/src/components/kyc/IdentificationForm.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
Labels: package: wallet, type: source

Update FileUpload.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
Labels: package: wallet, type: source

Fix validation errors for file types
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
Labels: package: wallet, type: source

code review suggestions and cleanup
  packages/backend/knexfile.js
  packages/backend/migrations/20230214221007_refresh_token.js
  packages/backend/package.json
  packages/backend/seeds/seed_users.js
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/models/refreshToken.ts
  packages/backend/src/config/env.ts
  packages/backend/src/config/logger.ts
  packages/backend/src/index.ts
  packages/backend/src/middlewares/errorHandler.ts
  packages/backend/tsconfig.json
  pnpm-lock.yaml
Labels: package: backend, type: source

build: setup preinstall script to build rafiki packages
  package.json
  packages/backend/Dockerfile.dev
  packages/wallet/Dockerfile.dev
  pnpm-lock.yaml
Labels: package: backend, package: wallet

environemnt vars parsing moved out into it's file in config. KnexFile now uses a databaseURL instead of separate fields for the port, host, username etc
  packages/backend/knexfile.js
  packages/backend/src/config/envParser.ts
  packages/backend/src/index.ts
Labels: package: backend, type: source

fixed version for pnpm
  package.json
  packages/backend/Dockerfile.dev
  packages/wallet/Dockerfile.dev
Labels: package: backend, package: wallet

Added PR suggested changes & fileName fix for upload
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
Labels: package: wallet, type: source

update eslint config
  .eslintrc.js
  packages/wallet/.eslintrc.js
  packages/wallet/package.json
  pnpm-lock.yaml
Labels: package: wallet

feat(backend): moved rapyd folder to src
  packages/backend/.env.development
  packages/backend/.env.production
  packages/backend/src/rapyd/wallet/index.ts
  packages/backend/src/rapyd/wallet/request.ts
  packages/backend/src/rapyd/wallet/wallet.d.ts
Labels: package: backend, type: source

feat(backend): added verification folder, and types
  packages/backend/src/rapyd/verification/request.ts
  packages/backend/src/rapyd/verification/verification.d.ts
  packages/backend/src/rapyd/wallet/request.ts
Labels: package: backend, type: source

feat(backend): added gitignore to backend package
  packages/backend/.gitignore
Labels: package: backend

.github/labeler.yml:

'package: backend': packages/backend/**/*
'package: wallet': packages/wallet/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - "**/*.md"

'type: source':
  - packages/backend/src/**/*
  - packages/wallet/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
