Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

fix: test
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend

fix: Frontend parts for card (#1763)
  packages/wallet/backend/migrations/20241023160155_add_accepted_terms_to_users.js
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/actionRequiredEmail.ts
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/images/InterledgerWallet.png
  packages/wallet/backend/src/email/templates/kycVerifiedEmail.ts
  packages/wallet/backend/src/email/templates/rejectEmail.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/frontend/src/components/HeaderLogo.tsx
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
  packages/wallet/frontend/src/ui/Logo.tsx
  packages/wallet/frontend/src/ui/forms/Checkbox.tsx
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Progres
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/reorder.ts
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/pages/card.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

Fixes
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

Fix
  packages/wallet/shared/src/types/card.ts
Labels: none

fix: tests
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: test

Fix signup
  packages/wallet/backend/src/auth/controller.ts
Labels: package: wallet/backend, type: source

fix: tests
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: test

Update cors
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

Add env for card URLs
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

feat: insert card transactions
  packages/wallet/backend/migrations/20241023200155_add_is_card_to_transactions.js
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source

fix: get user card id
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix: get user card id (#1766)
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

Remove needsWallet from isAuth check
  packages/wallet/backend/src/middleware/isAuth.ts
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: save user info before approving
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix: save user info before approving (#1767)
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

[TEMP] Test logs
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

fix: set card id
  packages/wallet/backend/src/account/service.ts
Labels: package: wallet/backend, type: source

fix: double check user kyc status
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/middleware/isAuth.ts
Labels: package: wallet/backend, type: source

Update cookie
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/middleware/withSession.ts
Labels: package: wallet/backend, type: source

fix: add customer id in session
  packages/wallet/backend/src/middleware/isAuth.ts
  packages/wallet/backend/src/user/controller.ts
Labels: package: wallet/backend, type: source

Fix balances
  packages/wallet/backend/src/account/service.ts
Labels: package: wallet/backend, type: source

Fix merge conflicts
  packages/wallet/backend/src/reorder.ts
Labels: package: wallet/backend, type: source

feat(wallet): freeze card; pin; card details (#1679)
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/middleware/isAuth.ts
  packages/wallet/backend/src/middleware/withSession.ts
  packages/wallet/backend/src/reorder.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardSpendingLimitDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardContext.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/card.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
  packages/wallet/frontend/src/utils/constants.ts
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/frontend/tailwind.config.js
  packages/wallet/frontend/tsconfig.json
  packages/wallet/shared/src/types/card.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

feat: insert card transactions
  packages/wallet/backend/migrations/20241023200155_add_is_card_to_transactions.js
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source

feat: add is card flag
  packages/wallet/backend/migrations/20241024200455_add_is_card_to_wallet_addresses.js
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

Ask for password on certain card actions
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/frontend/src/components/dialogs/PasswordDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

feat: insert card transactions (#1768)
  packages/wallet/backend/migrations/20241023200155_add_is_card_to_transactions.js
  packages/wallet/backend/migrations/20241024200455_add_is_card_to_wallet_addresses.js
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source

feat(wallet): ask for user password on certain card actions (#1770)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/frontend/src/components/dialogs/PasswordDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Update email templates
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/kycVerifiedEmail.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
Labels: package: wallet/backend, type: source

fix(wallet/backend): update email templates (#1771)
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/kycVerifiedEmail.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
Labels: package: wallet/backend, type: source

feat: upgrade rafiki to alpha 20
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

feat: upgrade rafiki to alpha 20 (#1772)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

use ilp.dev
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/shared/src/types/walletAddress.ts
Labels: package: wallet/frontend, type: source

feat(wallet/frontend): use custom domain for card pp (#1773)
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/shared/src/types/walletAddress.ts
Labels: package: wallet/frontend, type: source

feat: fund card wallet
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

Fix PP
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/frontend, type: source

fix(wallet/frontend): fix pp for card (#1774)
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/frontend, type: source

feat: fund card account after is verified
  packages/wallet/backend/migrations/20241025020455_add_is_funded_to_accounts.js
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix: check for card id
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source
