Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

Add theme switcher
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/ThemeToggle.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/pages/_app.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

Format
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/tailwind.config.js
Labels: package: wallet/frontend, type: source

chore: update tailwind config (#1397)
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/tailwind.config.js
Labels: package: wallet/frontend, type: source

Disable prettier tailwind plugin for now and format
  .prettierrc.js
  packages/wallet/frontend/src/components/ThemeToggle.tsx
  packages/wallet/frontend/src/styles/main.css
Labels: package: wallet/frontend, type: source

Remove unwanted changes
  .prettierrc.js
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/frontend, type: source

Add `useIsMounted` hook
  .prettierrc.js
  packages/wallet/frontend/src/components/ThemeToggle.tsx
  packages/wallet/frontend/src/lib/hooks/useIsMounted.ts
Labels: package: wallet/frontend, type: source

Dynamic import for theme switcher
  packages/wallet/frontend/src/components/ThemeToggle.tsx
  packages/wallet/frontend/src/lib/hooks/useIsMounted.ts
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

Format
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

Update logo
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/ui/Logo.tsx
Labels: package: wallet/frontend, type: source

Show theme switcher on mobile
  packages/wallet/frontend/src/components/ThemeToggle.tsx
Labels: package: wallet/frontend, type: source

fix: Menu improvements (#1393)
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/icons/Request.tsx
  packages/wallet/frontend/src/components/icons/Send.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

Format
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/Logo.tsx
Labels: package: wallet/frontend, type: source

feat: add theme switcher (#1398)
  .prettierrc.js
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/ThemeToggle.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/pages/_app.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

- add createdAt TransactionResponse
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/frontend, type: source

- add createdAt TransactionResponse
  packages/wallet/shared/src/types/transaction.ts
Labels: none

Update menus, icons and fix purple color
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/icons/Bars.tsx
  packages/wallet/frontend/src/components/icons/Request.tsx
  packages/wallet/frontend/src/components/icons/X.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/styles/main.css
Labels: package: wallet/frontend, type: source

Refactor
  packages/wallet/frontend/src/components/Menu.tsx
Labels: package: wallet/frontend, type: source

fix: Update Account details page (#1391)
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

Move logout button to separate component and fix navlink not closing sidebar on click
  packages/wallet/frontend/src/components/Menu.tsx
Labels: package: wallet/frontend, type: source

fix: Update Grant Badges (#1394)
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

convert TRANSACTION_TYPE to enum
  packages/wallet/shared/src/types/transaction.ts
Labels: none

feat: update sidebar and mobile menu (#1399)
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/icons/Bars.tsx
  packages/wallet/frontend/src/components/icons/Request.tsx
  packages/wallet/frontend/src/components/icons/X.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/_document.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/Logo.tsx
Labels: package: wallet/frontend, type: source

fix: Update Account details page (#1391)
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

fix: Update Grant Badges (#1394)
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

Update font
  packages/wallet/frontend/public/fonts/DejaVuSansMono-Bold.ttf
  packages/wallet/frontend/public/fonts/DejaVuSansMono-Oblique.ttf
  packages/wallet/frontend/public/fonts/DejaVuSansMono.ttf
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

chore: update wallet font (#1401)
  packages/wallet/frontend/public/fonts/DejaVuSansMono-Bold.ttf
  packages/wallet/frontend/public/fonts/DejaVuSansMono-Oblique.ttf
  packages/wallet/frontend/public/fonts/DejaVuSansMono.ttf
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

Remove bubbles and accounts page buttons
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/ui/Bubbles.tsx
Labels: package: wallet/frontend, type: source

Update accounts page
  .prettierrc.js
  packages/wallet/frontend/src/components/BackButton.tsx
  packages/wallet/frontend/src/components/PageHeader.tsx
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/components/icons/Back.tsx
  packages/wallet/frontend/src/components/icons/New.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/frontend, type: source

Format homepage
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/frontend, type: source

Remove dead code
  .prettierrc.js
  packages/wallet/frontend/src/components/BackButton.tsx
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/frontend, type: source

feat: bring transaction response type into shared package (#1378)
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/frontend/src/lib/api/transaction.ts
  packages/wallet/frontend/src/lib/hooks/useTransactions.ts
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: Onboarding - make it great again (#1379)
  package.json
  packages/boutique/frontend/src/app/cart/components/summary.tsx
  packages/boutique/frontend/src/app/checkout/components/order-summary.tsx
  packages/boutique/frontend/src/app/products/components/product-card.tsx
  packages/boutique/frontend/src/app/products/components/product-shimmer.tsx
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/icons/Euro.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/components/providers/OnboardingProvider.tsx
  packages/wallet/frontend/src/lib/context/onboarding.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/kyc/proof.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/ui/CopyButton.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: boutique/frontend, type: source

Change for new iindexes
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

Update OnboardingProvider.tsx
  packages/wallet/frontend/src/components/providers/OnboardingProvider.tsx
Labels: package: wallet/frontend, type: source

Update Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
Labels: package: wallet/frontend, type: source

fixes for onboarding functionality
  packages/wallet/frontend/src/components/SettingsTabs.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
Labels: package: wallet/frontend, type: source

Remove bubbles from settings page
  packages/wallet/frontend/src/pages/settings/index.tsx
Labels: package: wallet/frontend, type: source

Fix back button on dark mode
  packages/wallet/frontend/src/components/BackButton.tsx
Labels: package: wallet/frontend, type: source

Onboarding fixes
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
Labels: package: wallet/frontend, type: source

feat: update accounts page and related components (#1402)
  packages/wallet/frontend/src/components/BackButton.tsx
  packages/wallet/frontend/src/components/PageHeader.tsx
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/components/icons/Back.tsx
  packages/wallet/frontend/src/components/icons/New.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
  packages/wallet/frontend/src/ui/Bubbles.tsx
Labels: package: wallet/frontend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
