Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: backend, package: wallet, type: ci, type: documentation, type: source, type: test, type: docker

feat(backend): update function name
  packages/backend/src/rapyd/utills/request.ts
  packages/backend/src/rapyd/verification/request.ts
  packages/backend/src/rapyd/wallet/request.ts
Labels: package: backend, type: source

remove extra div
  packages/wallet/src/components/AccountCard.tsx
Labels: package: wallet, type: source

move `Link` inside `AccountCard`
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

remove the asset wrapper
  packages/wallet/src/components/AccountCard.tsx
Labels: package: wallet, type: source

smaller font-size on mobile devices
  packages/wallet/src/components/icons/Pay.tsx
  packages/wallet/src/components/icons/Send.tsx
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

feat(wallet): update homepage design (#82)
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/components/PageHeader.tsx
  packages/wallet/src/components/icons/New.tsx
  packages/wallet/src/components/icons/Pay.tsx
  packages/wallet/src/components/icons/Receive.tsx
  packages/wallet/src/components/icons/Send.tsx
  packages/wallet/src/components/layouts/AppLayout.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/ui/Link.tsx
  packages/wallet/src/utils/mocks.ts
Labels: package: wallet, type: source

update desktop menu
  packages/wallet/src/components/Menu.tsx
Labels: package: wallet, type: source

add transition to `Chevron`
  packages/wallet/src/components/Menu.tsx
Labels: package: wallet, type: source

update form and input components
  packages/wallet/src/ui/forms/Form.tsx
  packages/wallet/src/ui/forms/Input.tsx
Labels: package: wallet, type: source

make settings forms read-only
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/settings/index.tsx
Labels: package: wallet, type: source

created signuature from required params
  packages/backend/package.json
  packages/backend/src/rapyd/utills/request.ts
  packages/backend/src/rapyd/verification/index.ts
  pnpm-lock.yaml
Labels: package: backend, type: source

remove unused import
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
Labels: package: wallet, type: source

add copy button
  packages/wallet/src/ui/Button.tsx
  packages/wallet/src/ui/CopyButton.tsx
Labels: package: wallet, type: source

add placeholder api keys
  packages/wallet/src/components/icons/Clipboard.tsx
  packages/wallet/src/components/settings/ApiKeys.tsx
  packages/wallet/src/pages/settings/api.tsx
Labels: package: wallet, type: source

linting
  packages/wallet/src/pages/settings/api.tsx
Labels: package: wallet, type: source

remove click handler from desktop menu
  packages/wallet/src/components/Menu.tsx
Labels: package: wallet, type: source

fix import
  packages/wallet/src/ui/CopyButton.tsx
Labels: package: wallet, type: source

import hooks directly from react
  packages/wallet/src/ui/CopyButton.tsx
Labels: package: wallet, type: source

feat(wallet): update desktop menu (#116)
  packages/wallet/src/components/Menu.tsx
Labels: package: wallet, type: source

feat(wallet): update settings pages (#119)
  packages/wallet/src/components/icons/Clipboard.tsx
  packages/wallet/src/components/settings/ApiKeys.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/settings/api.tsx
  packages/wallet/src/pages/settings/index.tsx
  packages/wallet/src/ui/Button.tsx
  packages/wallet/src/ui/CopyButton.tsx
  packages/wallet/src/ui/forms/Form.tsx
  packages/wallet/src/ui/forms/Input.tsx
Labels: package: wallet, type: source

eslint
  packages/backend/src/auth/auth.service.ts
Labels: package: backend, type: source

Update Signup schema to include password confirmation
  packages/backend/src/auth/schemas/loginSchema.ts
  packages/backend/src/auth/schemas/signupSchema.ts
  packages/backend/src/middlewares/validator.ts
Labels: package: backend, type: source

remove unused import
  packages/backend/src/auth/schemas/signupSchema.ts
Labels: package: backend, type: source

added password confirmation on signup
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/schemas/index.ts
  packages/backend/src/auth/schemas/loginSchema.ts
  packages/backend/src/auth/schemas/signupSchema.ts
Labels: package: backend, type: source

update ports for postgres and testnet backend in order to aviod conflicts with rafiki
  docker/dev/docker-compose.yml
  packages/backend/knexfile.js
Labels: package: backend

update knex config
  packages/backend/knexfile.js
Labels: package: backend

update docker env for backend
  docker/dev/docker-compose.yml
Labels: none

moved the Exceptions and renamed them with capital extracted the appendTokensToCookie method in auth.service.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/errors/UnauthorisedException.ts
  packages/backend/src/errors/BadRequestException.ts
  packages/backend/src/errors/BaseError.ts
  packages/backend/src/middlewares/errorHandler.ts
  packages/backend/src/middlewares/validator.ts
Labels: package: backend, type: source

update pnpm lock
  pnpm-lock.yaml
Labels: none

Add ToggleSwitch to transfer pages & new images from design added & bug fixes
  .github/contributing.md
  packages/wallet/public/leafs.svg
  packages/wallet/public/pay-mobile.webp
  packages/wallet/public/pay.webp
  packages/wallet/public/request-mobile.webp
  packages/wallet/public/request.webp
  packages/wallet/public/send-mobile.webp
  packages/wallet/public/send.webp
  packages/wallet/public/settings.webp
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/pages/settings/api.tsx
  packages/wallet/src/pages/settings/index.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Bubbles.tsx
  packages/wallet/src/ui/TogglePayment.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/ui/forms/Input.tsx
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: wallet, type: ci, type: documentation, type: source

Update leafs.svg
  packages/wallet/public/leafs.svg
Labels: package: wallet

Update Select.tsx
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: wallet, type: source

feat(backend): Auth (#48)
  .gitignore
  .vscode/launch.json
  docker/dev/docker-compose.yml
  packages/backend/Dockerfile.dev
  packages/backend/knexfile.js
  packages/backend/migrations/20230209095515_user.js
  packages/backend/migrations/20230214221007_refresh_token.js
  packages/backend/package.json
  packages/backend/seeds/seed_users.js
  packages/backend/src/account/controller.ts
  packages/backend/src/account/model.ts
  packages/backend/src/account/routes.ts
  packages/backend/src/account/service.ts
  packages/backend/src/account/validation.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/errors/UnauthorisedException.ts
  packages/backend/src/auth/jwtStrategy.ts
  packages/backend/src/auth/models/refreshToken.ts
  packages/backend/src/auth/schemas/index.ts
  packages/backend/src/auth/schemas/loginSchema.ts
  packages/backend/src/auth/schemas/signupSchema.ts
  packages/backend/src/config/env.ts
  packages/backend/src/errors/BadRequestException.ts
  packages/backend/src/errors/BaseError.ts
  packages/backend/src/index.ts
  packages/backend/src/middlewares/errorHandler.ts
  packages/backend/src/middlewares/validator.ts
  packages/backend/src/routes.ts
  packages/backend/src/user/models/user.ts
  packages/backend/src/utils/logger.ts
  packages/backend/tsconfig.json
  packages/wallet/Dockerfile.dev
  pnpm-lock.yaml
Labels: package: backend, package: wallet, type: source

Update Button.tsx
  packages/wallet/src/ui/Button.tsx
Labels: package: wallet, type: source

feat(rafiki): add rafiki as a submodule and setup local instance (#104)
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  .gitmodules
  .prettierignore
  docker/dev/dbinit.sql
  docker/dev/docker-compose.yml
  package.json
  packages/backend/Dockerfile.dev
  packages/backend/package.json
  packages/wallet/Dockerfile.dev
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package: backend, package: wallet, type: ci

PR suggested changes
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/ui/Button.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

PR suggested changes
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/pages/settings/api.tsx
  packages/wallet/src/pages/settings/index.tsx
  packages/wallet/src/ui/Bubbles.tsx
Labels: package: wallet, type: source

feat(wallet): Add ToggleSwitch to transfer pages & new images from design added & b… (#120)
  .github/contributing.md
  packages/wallet/public/pay-mobile.webp
  packages/wallet/public/pay.webp
  packages/wallet/public/request-mobile.webp
  packages/wallet/public/request.webp
  packages/wallet/public/send-mobile.webp
  packages/wallet/public/send.webp
  packages/wallet/public/settings.webp
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/pages/settings/api.tsx
  packages/wallet/src/pages/settings/index.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Bubbles.tsx
  packages/wallet/src/ui/Button.tsx
  packages/wallet/src/ui/TogglePayment.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/ui/forms/Input.tsx
  packages/wallet/src/ui/forms/Select.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: ci, type: documentation, type: source

fix broken lockfile
  pnpm-lock.yaml
Labels: none

update pnpm version in docker files
  packages/backend/Dockerfile.dev
  packages/wallet/Dockerfile.dev
Labels: package: backend, package: wallet

.github/labeler.yml:

'package: backend': packages/backend/**/*
'package: wallet': packages/wallet/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - "**/*.md"

'type: source':
  - packages/backend/src/**/*
  - packages/wallet/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
