Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: backend, package: wallet, type: ci, type: documentation, type: source, type: test, type: docker

Update packages/backend/migrations/20230209092730_account.js
  packages/backend/migrations/20230209092730_account.js
Labels: package: backend

Update packages/backend/migrations/20230209095515_user.js
  packages/backend/migrations/20230209095515_user.js
Labels: package: backend

Update packages/backend/migrations/20230209095526_payment_pointer.js
  packages/backend/migrations/20230209095526_payment_pointer.js
Labels: package: backend

Update packages/backend/migrations/20230209130752_transaction.js
  packages/backend/migrations/20230209130752_transaction.js
Labels: package: backend

Update packages/backend/migrations/20230209095548_grant.js
  packages/backend/migrations/20230209095548_grant.js
Labels: package: backend

Update packages/backend/src/index.ts
  packages/backend/src/index.ts
Labels: package: backend, type: source

navbar shadow on mobile
  packages/wallet/src/components/Menu.tsx
Labels: package: wallet, type: source

feat(backend): some fixes on migration files
  packages/backend/migrations/20230209095515_user.js
  packages/backend/migrations/20230209130752_transaction.js
  packages/backend/src/index.ts
Labels: package: backend, type: source

create divider component
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/welcome.tsx
  packages/wallet/src/ui/Divider.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

feat(backend): update table and field name into camel case
  packages/backend/migrations/20230209092730_account.js
  packages/backend/migrations/20230209095515_user.js
  packages/backend/migrations/20230209095526_payment_pointer.js
  packages/backend/migrations/20230209130752_transaction.js
Labels: package: backend

feat(backend): creating migration files (#55)
  docker/dev/docker-compose.yml
  packages/backend/knexfile.js
  packages/backend/migrations/20230209092730_account.js
  packages/backend/migrations/20230209095515_user.js
  packages/backend/migrations/20230209095526_payment_pointer.js
  packages/backend/migrations/20230209095548_grant.js
  packages/backend/migrations/20230209130752_transaction.js
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/routes.ts
  pnpm-lock.yaml
Labels: package: backend, type: source

add position fixed to bubbles
  packages/wallet/src/components/layouts/AppLayout.tsx
Labels: package: wallet, type: source

update divider component
  packages/wallet/src/ui/Divider.tsx
Labels: package: wallet, type: source

finish account settings pages
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/SettingsTabs.tsx
  packages/wallet/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/settings/api.tsx
  packages/wallet/src/pages/settings/index.tsx
  packages/wallet/src/pages/settings/notifications.tsx
Labels: package: wallet, type: source

feat(wallet): add settings page (#60)
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/SettingsTabs.tsx
  packages/wallet/src/components/layouts/AppLayout.tsx
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/settings/api.tsx
  packages/wallet/src/pages/settings/index.tsx
  packages/wallet/src/pages/welcome.tsx
  packages/wallet/src/ui/Divider.tsx
  packages/wallet/src/ui/Input.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

update renovate config file
  renovate.json
  tsconfig.base.json
Labels: none

update node version
  package.json
Labels: none

ignore main branch
  .github/workflows/ci.yml
Labels: type: ci

rename action
  .github/workflows/ci.yml
Labels: type: ci

Implement KYC - personal details-ID proof
  package.json
  packages/wallet/next.config.js
  packages/wallet/package.json
  packages/wallet/public/group.webp
  packages/wallet/src/components/HeaderLogo.tsx
  packages/wallet/src/components/kyc/IdentificationForm.tsx
  packages/wallet/src/components/kyc/KYCTabs.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/kyc.tsx
  packages/wallet/src/ui/Upload.tsx
  packages/wallet/tailwind.config.js
  pnpm-lock.yaml
Labels: package: wallet, type: source

mobile images change by KYC tab
  packages/wallet/public/bank-kyc.webp
  packages/wallet/public/id-kyc.webp
  packages/wallet/public/personal-info-kyc.webp
  packages/wallet/src/components/kyc/KYCTabs.tsx
  packages/wallet/src/pages/kyc.tsx
Labels: package: wallet, type: source

add custom select component
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/accounts/create.tsx
  packages/wallet/src/ui/Select.tsx
Labels: package: wallet, type: source

File structure for auth simplified
  packages/wallet/src/components/kyc/IdentificationForm.tsx
  packages/wallet/src/pages/auth/index.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/register.tsx
  packages/wallet/src/ui/FileUpload.tsx
Labels: package: wallet, type: source

fix image
  packages/wallet/public/group.webp
  packages/wallet/src/components/layouts/AuthLayout.tsx
Labels: package: wallet, type: source

update kyc
  package.json
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/kyc/context.tsx
  packages/wallet/src/components/kyc/index.tsx
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/kyc.tsx
  packages/wallet/tailwind.config.js
  pnpm-lock.yaml
Labels: package: wallet, type: source

add select component
  packages/wallet/src/ui/forms/FieldError.tsx
  packages/wallet/src/ui/forms/Form.tsx
  packages/wallet/src/ui/forms/Input.tsx
  packages/wallet/src/ui/forms/Label.tsx
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: wallet, type: source

update imports
  packages/wallet/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/pages/register.tsx
Labels: package: wallet, type: source

feat(wallet): add new account page (#72)
  packages/wallet/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/pages/register.tsx
  packages/wallet/src/ui/forms/FieldError.tsx
  packages/wallet/src/ui/forms/Form.tsx
  packages/wallet/src/ui/forms/Input.tsx
  packages/wallet/src/ui/forms/Label.tsx
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: wallet, type: source

add countries as a select option
  packages/wallet/src/components/kyc/IdentificationForm.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: wallet, type: source

Implement Pay and Send pages
  packages/wallet/public/pay.webp
  packages/wallet/public/request.webp
  packages/wallet/public/send.webp
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Button.tsx
Labels: package: wallet, type: source

Update pay.tsx
  packages/wallet/src/pages/transfer/pay.tsx
Labels: package: wallet, type: source

Squashed commit of the following:
  package.json
  packages/backend/package.json
  packages/wallet/package.json
  packages/wallet/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/pages/register.tsx
  packages/wallet/src/ui/forms/FieldError.tsx
  packages/wallet/src/ui/forms/Form.tsx
  packages/wallet/src/ui/forms/Input.tsx
  packages/wallet/src/ui/forms/Label.tsx
  packages/wallet/src/ui/forms/Select.tsx
  pnpm-lock.yaml
Labels: package: backend, package: wallet, type: source

Import fixes
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/send.tsx
Labels: package: wallet, type: source

Add select input for accounts
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/send.tsx
Labels: package: wallet, type: source

Add pay and send functionalities
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/send.tsx
Labels: package: wallet, type: source

remove this branche's database config and migrations, since main had them merged already from another PR (in a different folder structure)
  packages/backend/seeds/seed_users.js
  packages/backend/src/database/knexfile.js
  packages/backend/src/database/migrations/20230205164848_users.js
  packages/backend/tsconfig.json
Labels: package: backend, type: source

add bundle analyzer
  packages/wallet/next.config.js
  packages/wallet/package.json
  pnpm-lock.yaml
Labels: package: wallet

PR suggested changes
  packages/wallet/next.config.js
  packages/wallet/public/park.webp
  packages/wallet/src/components/HeaderLogo.tsx
  packages/wallet/src/components/Icons/UploadSmile.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/kyc/context.tsx
  packages/wallet/src/components/kyc/index.tsx
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/kyc.tsx
  packages/wallet/src/ui/FileUpload.tsx
Labels: package: wallet, type: source

PR suggestions changes
  packages/wallet/public/pay.webp
  packages/wallet/public/request.webp
  packages/wallet/public/send.webp
  packages/wallet/src/components/Badge.tsx
  packages/wallet/src/components/TransferHeader.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/send.tsx
Labels: package: wallet, type: source

small folder rearrangement
  packages/wallet/src/components/transfer/Badge.tsx
  packages/wallet/src/components/transfer/TransferHeader.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/send.tsx
Labels: package: wallet, type: source

.github/labeler.yml:

'package: backend': packages/backend/**/*
'package: wallet': packages/wallet/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - "**/*.md"

'type: source':
  - packages/backend/src/**/*
  - packages/wallet/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
