Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: backend, package: wallet, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: backend': packages/backend/**/*
'package: wallet': packages/wallet/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - "**/*.md"

'type: source':
  - packages/backend/src/**/*
  - packages/wallet/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

Update favicon.ico
  packages/wallet/public/favicon.ico
Labels: package: wallet

update on PR suggestions
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/pages/account/[id].tsx
Labels: package: wallet, type: source

fix(wallet): fix issue with Safari and svg element (#147)
  packages/wallet/src/components/icons/Pencil.tsx
  packages/wallet/src/components/icons/X.tsx
  packages/wallet/src/pages/account/[id].tsx
Labels: package: wallet, type: source

Implement fund account dialog
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/components/icons/Request.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/pages/account/[id].tsx
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

updating pnpm install commands to fix on my environment
  packages/backend/Dockerfile.dev
  packages/wallet/Dockerfile.dev
Labels: package: backend, package: wallet

add nodemon and script for dev-backend
  package.json
  pnpm-lock.yaml
Labels: none

fix host name issue in knexfile
  packages/backend/knexfile.js
Labels: package: backend

Update SuccessDialog.tsx
  packages/wallet/src/components/dialogs/SuccessDialog.tsx
Labels: package: wallet, type: source

updates after PR comments
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

fix zod object for env to look for number instead of strings on access token expiry time
  packages/backend/src/config/env.ts
Labels: package: backend, type: source

PR comments changes
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/pages/account/[id].tsx
Labels: package: wallet, type: source

fix(auth): access token expiry is now number. (#155)
  packages/backend/src/config/env.ts
Labels: package: backend, type: source

update form usage comment
  packages/wallet/src/ui/forms/Form.tsx
Labels: package: wallet, type: source

fix submit handler types
  packages/wallet/src/ui/forms/Form.tsx
Labels: package: wallet, type: source

move `useZodForm` into hooks folder
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/lib/hooks/useZodForm.ts
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/forms/Form.tsx
Labels: package: wallet, type: source

update submit handlers for forms
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
Labels: package: wallet, type: source

feat(backend): enhace dev experience for docker use in backend (#150)
  package.json
  pnpm-lock.yaml
Labels: none

updated rapyd apis, and added service files
  packages/backend/package.json
  packages/backend/src/config/env.ts
  packages/backend/src/rapyd/utills/request.ts
  packages/backend/src/rapyd/wallet/request.ts
  packages/backend/src/wallet/schemas/walletSchema.ts
  packages/backend/src/wallet/wallet.service.ts
  pnpm-lock.yaml
Labels: package: backend, type: source

fix lock file issue
  pnpm-lock.yaml
Labels: none

remove phone number field
  packages/backend/migrations/20230209095515_user.js
Labels: package: backend

Update SuccessDialog.tsx
  packages/wallet/src/components/dialogs/SuccessDialog.tsx
Labels: package: wallet, type: source

feat(wallet): bump `react-hook-form` version (#156)
  packages/wallet/package.json
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/lib/hooks/useZodForm.ts
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/forms/Form.tsx
  pnpm-lock.yaml
Labels: package: wallet, type: source

Update FundAccountDialog.tsx
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
Labels: package: wallet, type: source

Update Forms
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
Labels: package: wallet, type: source

Update data for Rapyd Wallet Creation
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/lib/api/user.ts
Labels: package: wallet, type: source

Add countries list request
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
Labels: package: wallet, type: source

add no-kyc
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/jwtStrategy.ts
Labels: package: backend, type: source

feat(wallet): Implement fund account dialog (#148)
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/components/icons/Request.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/pages/account/[id].tsx
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

add table component
  packages/wallet/src/ui/Table.tsx
Labels: package: wallet, type: source

update badge
  packages/wallet/src/ui/Badge.tsx
Labels: package: wallet, type: source

add badge props
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
Labels: package: wallet, type: source

rename router param `id` to `accountId`
  packages/wallet/src/pages/account/[accountId].tsx
Labels: package: wallet, type: source

add transactions page
  packages/wallet/src/components/PageHeader.tsx
  packages/wallet/src/components/icons/Arrow.tsx
  packages/wallet/src/pages/account/[accountId]/[paymentPointerId].tsx
Labels: package: wallet, type: source

feat(noKYC): Backend blocks access to protected routes for users without kyc (#158)
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/jwtStrategy.ts
Labels: package: backend, type: source

move app outside docker
  docker/dev/docker-compose.yml
  package.json
  packages/wallet/next.config.js
  packages/wallet/package.json
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

add me endpoint and NotFoundException
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/routes.ts
  packages/backend/src/shared/models/errors/NotFoundException.ts
Labels: package: backend, type: source

fix spacing on homepage and account page
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

feat(noKyc): Add me endpoint to be used as authenticated middleware by next (#164)
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/routes.ts
  packages/backend/src/shared/models/errors/NotFoundException.ts
Labels: package: backend, type: source

trx page updates
  packages/wallet/src/pages/account/[accountId]/[paymentPointerId].tsx
Labels: package: wallet, type: source

added country list apis, and api improvement
  packages/backend/knexfile.js
  packages/backend/src/config/env.ts
  packages/backend/src/rapyd/countries/countries.d.ts
  packages/backend/src/rapyd/countries/countries.service.ts
  packages/backend/src/rapyd/utills/request.ts
  packages/backend/src/rapyd/wallet/request.ts
  packages/backend/src/routes.ts
  packages/backend/src/user/models/user.ts
  packages/backend/src/wallet/models/wallet.ts
  packages/backend/src/wallet/schemas/walletSchema.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source
