Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

- add active column to transactions - add migration for active column
  packages/wallet/backend/migrations/20240215061440_add_active_column.js
  packages/wallet/backend/migrations/20240215061440_add_delete_flag_to_transactions_status_check_constraint.js
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

feat: Seed wallet backend with default account (#1101)
  docker/dev/.env.example
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/index.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

chore: update README.md
  README.md
Labels: type: documentation

feat: Add architecture diagramm to testnet (#1151)
  .github/TESTNET_architecture.md
  README.md
Labels: type: ci, type: documentation

chore: update README.md (#1153)
  README.md
Labels: type: documentation

Update README.md
  README.md
Labels: type: documentation

- add deletedAT column to transactions instead of active
  packages/wallet/backend/migrations/20240215061440_add_deletedAt_column.js
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

fix: use join related instead of outer join
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix: use left outer join
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

feat: Add soft delete for transactions (#1126)
  packages/wallet/backend/migrations/20240215061440_add_deletedAt_column.js
  packages/wallet/backend/src/config/walletAddress.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

fix: Update README (#1155)
  README.md
Labels: type: documentation

chore: change prod log driver to gcp
  docker/prod/docker-compose.yml
Labels: none

feat: setup gcp logging with winston
  packages/boutique/backend/package.json
  packages/boutique/backend/src/config/logger.ts
  packages/wallet/backend/package.json
  packages/wallet/backend/src/config/logger.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source

chore: change prod log driver to gcp (#1163)
  docker/prod/docker-compose.yml
  packages/boutique/backend/package.json
  packages/boutique/backend/src/config/logger.ts
  packages/wallet/backend/package.json
  packages/wallet/backend/src/config/logger.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source

- Add new message type for socket - Add new metadata filed to outgoing openPayment
  packages/boutique/backend/src/open-payments/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/socket/messageType.ts
  packages/wallet/backend/src/socket/service.ts
Labels: package: wallet/backend, package: boutique/backend, type: source

- optimize code
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

- fix test
  packages/wallet/backend/tests/socket/service.test.ts
Labels: package: wallet/backend, type: test

- fix formatting code
  packages/wallet/backend/tests/socket/service.test.ts
Labels: package: wallet/backend, type: test

- displaying notification
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

Add pagination last changes
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Button.tsx
Labels: package: wallet/frontend, type: source

- edit notification message
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

feat: Websocket notification for Grant Withdraw (#1164)
  packages/boutique/backend/src/open-payments/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/socket/messageType.ts
  packages/wallet/backend/src/socket/service.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, type: source, type: test

test: add developer keys tests
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: test

test: update names
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: test

test: add developer keys tests (#1171)
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: test

Fix onboarding by downgrading
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
Labels: package: wallet/frontend, type: source

Update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

fix: Fix onboarding by downgrading (#1175)
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

chore: upgrade rafiki to alpha 6
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
Labels: package: wallet/backend, type: source

Update transactions.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/frontend, type: source

Update transactions.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/frontend, type: source

chore: upgrade open-payments
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/boutique/backend/package.json
  packages/boutique/backend/src/open-payments/service.ts
  pnpm-lock.yaml
Labels: package: boutique/backend, type: source

feat: get receiver from rafiki instead of local transaction
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/outgoingPayment/service.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/receiver.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, type: source

fix: remove optional check from receivedAmount
  packages/wallet/backend/src/incomingPayment/service.ts
Labels: package: wallet/backend, type: source

test: add mock method for get receiver
  packages/wallet/backend/tests/incomingPayment/service.test.ts
Labels: package: wallet/backend, type: test

chore: set wait seconds env var
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
Labels: none

Update _app.tsx
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

chore: upgrade rafiki to alpha 6 (#1176)
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/boutique/backend/package.json
  packages/boutique/backend/src/open-payments/service.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/outgoingPayment/service.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/receiver.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/tests/incomingPayment/service.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source, type: test

feat: make key nickname required
  packages/wallet/backend/migrations/20240306113102_default_keys_nickname.js
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/backend/src/walletAddressKeys/validation.ts
Labels: package: wallet/backend, type: source

feat: make key nickname required (#1198)
  packages/wallet/backend/migrations/20240306113102_default_keys_nickname.js
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/backend/src/walletAddressKeys/validation.ts
Labels: package: wallet/backend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
