Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

fix: fetch wallet address
  packages/wallet/backend/src/interledgerCard/service.ts
Labels: package: wallet/backend, type: source

feat(card): add model and card endpoints (#2144)
  packages/wallet/backend/migrations/20251009143023_create_cards.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/interledgerCard/controller.ts
  packages/wallet/backend/src/interledgerCard/model.ts
  packages/wallet/backend/src/interledgerCard/service.ts
  packages/wallet/backend/src/interledgerCard/validation.ts
Labels: package: wallet/backend, type: source

feat: display grant details in popup and remove View button
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

fix(TerminateCardDialog): replace deprecated code with updated implementation
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
Labels: package: wallet/frontend, type: source

feat: Feature/grants list popup (#2141)
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/components/dialogs/GrantDetailsDialog.tsx
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

fix(TerminateCardDialog): replace deprecated code with updated implem… (#2139)
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
Labels: package: wallet/frontend, type: source

new cards continued
  packages/wallet/backend/src/interledgerCard/controller.ts
  packages/wallet/backend/src/reorder.ts
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardContext.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/pages/card.tsx
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Update TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
Labels: package: wallet/frontend, type: source

cards for Interledger
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/interledgerCard/controller.ts
  packages/wallet/backend/src/interledgerCard/service.ts
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardContext.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/pages/card.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: amount display large numbers (#2140)
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

feat: add password check for terminate
  packages/wallet/backend/src/interledgerCard/controller.ts
  packages/wallet/backend/src/interledgerCard/validation.ts
Labels: package: wallet/backend, type: source

Add password check
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/lib/api/card.ts
Labels: package: wallet/frontend, type: source

Update card.tsx
  packages/wallet/frontend/src/pages/card.tsx
Labels: package: wallet/frontend, type: source

Update controller.test.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: test

add qr generation for registering POS
  package.json
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/dialogs/RegisterPOSDialog.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

Update TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
Labels: package: wallet/frontend, type: source

Update RegisterPOSDialog.tsx
  packages/wallet/frontend/src/components/dialogs/RegisterPOSDialog.tsx
Labels: package: wallet/frontend, type: source

change qrcode dependency
  package.json
  packages/wallet/frontend/package.json
  pnpm-lock.yaml
Labels: package: wallet/frontend

feat: add qr generation for registering POS (#2149)
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/dialogs/RegisterPOSDialog.tsx
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

feat: Interledger Cards (#2147)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/interledgerCard/controller.ts
  packages/wallet/backend/src/interledgerCard/service.ts
  packages/wallet/backend/src/interledgerCard/validation.ts
  packages/wallet/backend/src/reorder.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/icons/UserCardIcons.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardContext.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/pages/card.tsx
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

feat(wallet): card verification draft
  packages/wallet/backend/package.json
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

add more details for sepa
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Sepa continued with match verification
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/quote/validation.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

Add call to gatehub client
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/incomingPayment/validation.ts
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix get sepa details
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/incomingPayment/validation.ts
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

feat: set card to active status on creation
  packages/wallet/backend/src/interledgerCard/service.ts
Labels: package: wallet/backend, type: source

feat: allow signup for new users
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

feat: display all grant accesses in interaction page
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

feat: allow signup for new users (#2151)
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

remove activation for card in UI
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardContext.tsx
Labels: package: wallet/frontend, type: source

feat: set card to active status on creation (#2150)
  packages/wallet/backend/src/interledgerCard/service.ts
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardContext.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

Update send.tsx
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

fix: updated the ui and prettier formatted index
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

remove old card UI
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/components/settings/WalletAccounts.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/frontend, type: source

Update [accountId].tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

fix tests
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/quote/service.test.ts
Labels: package: wallet/backend, type: test

fix: display wallet client to all
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

feat: remove old card UI (#2156)
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/components/settings/WalletAccounts.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/frontend, type: source

feat: display all grant accesses in interaction page (#2152)
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

feat: upgrade rafiki
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/config/rafiki.ts
Labels: package: wallet/backend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
