Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

Update service.test.ts
  packages/wallet/backend/tests/incomingPayment/service.test.ts
Labels: package: wallet/backend, type: test

fix: Fix tests after rafiki update (#2060)
  packages/wallet/backend/tests/incomingPayment/service.test.ts
Labels: package: wallet/backend, type: test

feat(backend): add webhook forward to interledger wallet
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix: add webhook env variable to docker compose
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

fix: remove default and replace header access
  packages/wallet/backend/src/gatehub/controller.ts
Labels: package: wallet/backend, type: source

fix: run prettier:write
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix: return before unneeded next
  packages/wallet/backend/src/gatehub/controller.ts
Labels: package: wallet/backend, type: source

feat(wallet): forward erroring webhooks to wallet (#2065)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

Revert "feat(wallet): forward erroring webhooks to wallet (#2065)"
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix: Revert "feat(wallet): forward erroring webhooks to wallet (#2065)" (#2067)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

update OP to new version
  packages/boutique/backend/package.json
  packages/boutique/backend/src/open-payments/service.ts
  pnpm-lock.yaml
Labels: package: boutique/backend, type: source

fix: remove updatedAt from webhook valdiation
  packages/wallet/backend/src/rafiki/validation.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: source

fix: remove updatedAt from webhook valdiation (#2070)
  packages/wallet/backend/src/rafiki/validation.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: source

feat: update OP to new version (#2069)
  packages/boutique/backend/package.json
  packages/boutique/backend/src/open-payments/service.ts
  pnpm-lock.yaml
Labels: package: boutique/backend, type: source

ADD PKR to asset list
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/order/model.ts
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, package: boutique/backend, type: source

feat: ADD PKR to asset list (#2094)
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/order/model.ts
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, package: boutique/backend, type: source

fix(documentation): update Rafiki section and Interledger links to ma… (#2020)
  README.md
Labels: type: documentation

Update request.tsx
  packages/wallet/frontend/src/pages/request.tsx
Labels: package: wallet/frontend, type: source

fix: Text fix for Request Money feature (#2092) (#2110)
  packages/wallet/frontend/src/pages/request.tsx
Labels: package: wallet/frontend, type: source

Revert changes for registration hiding
  packages/wallet/backend/src/app.ts
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

Update signup.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/frontend, type: source

feat: FE part of registrations should be put back (#2115)
  packages/wallet/backend/src/app.ts
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

add cards visibility functionality for users
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/components/settings/ToggleVisibility.tsx
  packages/wallet/frontend/src/components/settings/WalletAccounts.tsx
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

update more visibility for cards
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/providers/MenuProvider.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/lib/context/menu.ts
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

feat: add isCardsVisible to user
  packages/wallet/backend/migrations/20251002080155_add_is_cards_visible_to_users.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/user/validation.ts
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/backend, type: source

finish up cards visibility updates
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/providers/MenuProvider.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/components/settings/ToggleVisibility.tsx
  packages/wallet/frontend/src/components/settings/WalletAccounts.tsx
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/lib/context/menu.ts
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/frontend, type: source

Update WalletAccounts.tsx
  packages/wallet/frontend/src/components/settings/WalletAccounts.tsx
Labels: package: wallet/frontend, type: source

feat: add option for user to enable card functionality (#2120)
  packages/wallet/backend/migrations/20251002080155_add_is_cards_visible_to_users.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/user/validation.ts
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/providers/MenuProvider.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/components/settings/ToggleVisibility.tsx
  packages/wallet/frontend/src/components/settings/WalletAccounts.tsx
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/lib/context/menu.ts
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

order cards form
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/card.tsx
Labels: package: wallet/frontend, type: source

add ordering cards form continued
  packages/wallet/frontend/src/components/icons/UserCardIcons.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/card.tsx
Labels: package: wallet/frontend, type: source

Revert "chore(deps): update actions/labeler action to v6 (#2135)"
  .github/workflows/pr_labeler.yml
Labels: type: ci

fix: Revert "chore(deps): update actions/labeler action to v6 (#2135)" (#2138)
  .github/workflows/pr_labeler.yml
Labels: type: ci

fix(TerminateCardDialog): replace deprecated code with updated implementation
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
Labels: package: wallet/frontend, type: source

fix: abbreviate large numbers in account balance display
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

feat: display grant details in popup and remove View button
  packages/wallet/frontend/src/components/dialogs/GrantDetailsDialog.tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

fix: adjust abbreviation threshold to ≥ 1B based on reviewer feedback
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

feat: display grant details in popup and remove View button
  packages/wallet/frontend/src/components/dialogs/GrantDetailsDialog.tsx
Labels: package: wallet/frontend, type: source

first iteration of sepa FE
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

feat(card): add model and card endpoints
  packages/wallet/backend/migrations/20251009143023_create_cards.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/interledgerCard/controller.ts
  packages/wallet/backend/src/interledgerCard/model.ts
  packages/wallet/backend/src/interledgerCard/service.ts
  packages/wallet/backend/src/interledgerCard/validation.ts
Labels: package: wallet/backend, type: source

fix: remove check
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source
