Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

fix: repaired broken test related to emailService
  packages/wallet/backend/tests/auth/controller.test.ts
Labels: package: wallet/backend, type: test

test: e2e tests for basic functionality
  e2e/.env.example
  e2e/.gitignore
  e2e/features/auth-signup-dashboard.feature
  e2e/features/cross-currency-transfer.feature
  e2e/features/steps/auth-signup-dashboard.steps.ts
  e2e/features/steps/cross-currency-transfer.steps.ts
  e2e/features/steps/fixtures.ts
  e2e/helpers/local-wallet.ts
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tsconfig.json
Labels: none

fix: removed the +4 precision guard we don't need
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

fix: address PR review feedback and fix Docker build
  local/scripts/rafiki-setup.js
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, type: source

fix(ci): renovate now consideres node 20 (#2175)
  renovate.json
Labels: none

fix: removed changes to formatAmount
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

fix: solve kyc url issue
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

refactor(local): breaking up into multiple service files
  local/.env.example
  local/Makefile
  local/config/certs/local.crt
  local/config/certs/local.key
  local/config/san.cnf
  local/config/traefik/dynamic.yml
  local/docker-compose.yml
  local/mailslurper.yaml
  local/mockgatehub.yaml
  local/postgres.yaml
  local/rafiki.yaml
  local/redis.yaml
  local/traefik.yaml
  local/wallet.yaml
Labels: none

ci: changed configuration scheme to fail fast if misconfigured
  local/.env.example
  local/Makefile
  local/config/certs/local.crt
  local/config/certs/local.key
  local/wallet.yaml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

ci: makefile target for rafiki assets
  local/.env.example
  local/Makefile
  local/wallet.yaml
Labels: none

test: e2e tests for basic functionality
  e2e/.env.example
  e2e/.gitignore
  e2e/features/auth-signup-dashboard.feature
  e2e/features/cross-currency-transfer.feature
  e2e/features/steps/auth-signup-dashboard.steps.ts
  e2e/features/steps/cross-currency-transfer.steps.ts
  e2e/features/steps/fixtures.ts
  e2e/helpers/local-wallet.ts
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tsconfig.json
Labels: none

test: e2e tests now pointing to correct URLs
  e2e/.env.example
  e2e/features/steps/cross-currency-transfer.steps.ts
  e2e/helpers/local-wallet.ts
  e2e/playwright.config.ts
Labels: none

fix: epanded test for double deposit checking
  e2e/features/deposit-transactions-regression.feature
  e2e/features/steps/deposit-transactions-regression.steps.ts
  e2e/features/steps/fixtures.ts
  local/mockgatehub.yaml
Labels: none

ci: default rafiki seeder will only seed two currencies for now
  local/Makefile
  local/mockgatehub.yaml
  local/scripts/rafiki-setup.js
Labels: none

fix: resolved dependency issues and aligned with workspace
  package.json
  pnpm-lock.yaml
Labels: none

refactor: ci now part of local
  .github/copilot-instructions.md
  README.md
  local/.env.example
  local/Makefile
  local/boutique.yaml
  local/config/san.cnf
  local/config/traefik/dynamic.yml
  local/docker-compose.yml
  local/rafiki.yaml
  local/scripts/rafiki-setup.js
  local/traefik.yaml
  local/wallet.yaml
  package.json
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/config/env.ts
  packages/boutique/backend/src/container.ts
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/frontend/src/lib/constants.ts
  packages/boutique/frontend/vite.config.ts
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source

ci: removal of makefiles
  README.md
  local/Makefile
  local/scripts/local-tools.sh
  package.json
Labels: type: documentation

docs: updated readme
  README.md
Labels: type: documentation

lint: fixed all linting problems
  package.json
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/backend/src/order/service.ts
  packages/boutique/frontend/src/app/checkout/components/pay-button.tsx
  packages/boutique/frontend/src/components/navigation.tsx
  packages/boutique/frontend/src/components/ui/input.tsx
  packages/boutique/frontend/src/components/ui/label.tsx
  packages/boutique/frontend/src/hooks/use-toast.tsx
  packages/boutique/frontend/tailwind.config.cjs
  packages/shared/backend/src/utils.ts
  packages/wallet/backend/src/backfillTrxDetails.ts
  packages/wallet/backend/src/config/rafiki.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/lib/hooks/useToast.ts
  packages/wallet/frontend/src/lib/hooks/useTransactions.ts
  packages/wallet/frontend/src/lib/types/app.ts
  packages/wallet/frontend/src/lib/types/dialog.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
  packages/wallet/shared/src/types/grant.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source

fix: cleanup of debug
  README.md
  local/scripts/rafiki-setup.js
  packages/boutique/backend/src/config/env.ts
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/frontend/src/app/checkout/components/pay-button.tsx
  packages/boutique/frontend/tailwind.config.cjs
Labels: package: boutique/backend, package: boutique/frontend, type: documentation, type: source

test: wallet unittest configuration fixes
  packages/boutique/backend/jest.setup.js
  packages/boutique/backend/jest.teardown.js
  packages/wallet/backend/jest.setup.js
Labels: package: wallet/backend, package: boutique/backend

style: prettier automatic fixes to resolve linting
  packages/wallet/backend/jest.setup.js
Labels: package: wallet/backend

fix: better secure domain handling
  README.md
  local/boutique.yaml
  local/config/certs/local.crt
  local/config/certs/local.key
  local/config/san.cnf
  local/rafiki.yaml
  local/scripts/local-tools.sh
  local/wallet.yaml
  packages/boutique/frontend/src/lib/constants.ts
  packages/wallet/backend/src/middleware/withSession.ts
  packages/wallet/frontend/next.config.js
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/frontend, type: documentation, type: source

wip: experimenting
  README.md
  local/.env.example
  local/boutique.yaml
  local/config/certs/boutique.crt
  local/config/certs/boutique.key
  local/config/certs/local.crt
  local/config/certs/local.key
  local/config/san-boutique.cnf
  local/config/san-testnet.cnf
  local/config/traefik/dynamic.yml
  local/rafiki.yaml
  local/scripts/local-tools.sh
  local/scripts/rafiki-setup.js
  local/scripts/run-package-with-local-stop.sh
  local/wallet.yaml
  package.json
  packages/boutique/frontend/src/lib/constants.ts
  packages/boutique/frontend/vite.config.ts
Labels: package: boutique/frontend, type: documentation

refactor: wallet and boutique now run on host
  README.md
  local/.env.example
  local/boutique.yaml
  local/config/traefik/dynamic.yml
  local/docker-compose.yml
  local/mockgatehub.yaml
  local/rafiki.yaml
  local/scripts/run-package-with-local-stop.sh
  local/wallet.yaml
  package.json
  packages/boutique/backend/.env.example
  packages/boutique/backend/package.json
  packages/boutique/backend/src/config/env.ts
  packages/boutique/backend/src/container.ts
  packages/boutique/frontend/.env.example
  packages/boutique/frontend/src/lib/constants.ts
  packages/wallet/backend/.env.example
  packages/wallet/backend/package.json
  packages/wallet/backend/src/config/env.ts
  packages/wallet/frontend/.env.example
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/lib/httpClient.ts
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: documentation, type: source

fix: examples are now useful
  .gitignore
  local/.env.example
  local/.env.local
  packages/boutique/backend/.env.example
  packages/boutique/backend/.env.local
  packages/boutique/backend/package.json
  packages/boutique/frontend/.env.example
  packages/boutique/frontend/.env.local
  packages/wallet/backend/.env.example
  packages/wallet/backend/.env.local
  packages/wallet/backend/package.json
  packages/wallet/frontend/.env.example
  packages/wallet/frontend/.env.local
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend

ci: added npm run to make testing easy
  README.md
  package.json
Labels: type: documentation

style: linting issues in rafiki setup file
  local/scripts/rafiki-setup.js
Labels: none

docs: cleanup instructions
  README.md
  local/scripts/rafiki-setup.js
Labels: type: documentation

style: fixed linting issues introduced when I added th elogging
  README.md
  local/scripts/rafiki-setup.js
Labels: type: documentation

fix: added validation rules to boutique config
  packages/boutique/backend/src/config/env.ts
Labels: package: boutique/backend, type: source

style: fixed linting
  packages/boutique/backend/src/config/env.ts
Labels: package: boutique/backend, type: source

style: prettier
  packages/wallet/frontend/next.config.js
Labels: package: wallet/frontend

fix: removed hardcoded interledger.cards
  packages/wallet/backend/src/middleware/withSession.ts
Labels: package: wallet/backend, type: source

fix: update dev start
  packages/wallet/backend/package.json
Labels: package: wallet/backend

fix: use resource url on instant buy
  packages/boutique/backend/src/open-payments/service.ts
Labels: package: boutique/backend, type: source

docs: tweaks to readme
  README.md
Labels: type: documentation

fix: repaired broken test related to emailService
  packages/wallet/backend/tests/auth/controller.test.ts
Labels: package: wallet/backend, type: test

fix: we will not ask for sudo if we don't need it anymore
  local/scripts/local-tools.sh
Labels: none

lint: fixed all linting problems
  package.json
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/backend/src/order/service.ts
  packages/boutique/frontend/src/app/checkout/components/pay-button.tsx
  packages/boutique/frontend/src/components/navigation.tsx
  packages/boutique/frontend/src/components/ui/input.tsx
  packages/boutique/frontend/src/components/ui/label.tsx
  packages/boutique/frontend/src/hooks/use-toast.tsx
  packages/boutique/frontend/tailwind.config.cjs
  packages/shared/backend/src/utils.ts
  packages/wallet/backend/src/backfillTrxDetails.ts
  packages/wallet/backend/src/config/rafiki.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/lib/hooks/useToast.ts
  packages/wallet/frontend/src/lib/hooks/useTransactions.ts
  packages/wallet/frontend/src/lib/types/app.ts
  packages/wallet/frontend/src/lib/types/dialog.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
  packages/wallet/shared/src/types/grant.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source
