Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

fix: resolve lock file issue
  pnpm-lock.yaml
Labels: none

Add view card details endpoint
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

Prettier
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

Update mocks.ts
  packages/boutique/backend/tests/mocks.ts
Labels: package: boutique/backend

fix: fix kyc
  packages/wallet/backend/migrations/20230317135105_create_users.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/utils.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

pin lenght change
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/lib/api/card.ts
Labels: package: wallet/frontend, type: source

boutique - add theme light/dark switch similar with wallet switch
  packages/boutique/frontend/src/components/header.tsx
  packages/boutique/frontend/src/components/theme-toggle.tsx
Labels: package: boutique/frontend

Fix backend tests
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
Labels: package: wallet/backend, type: source

Add endpoint for masked details
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

add .env to boutique
  packages/boutique/frontend/package.json
  packages/boutique/frontend/src/lib/utils.ts
  packages/boutique/frontend/tsconfig.json
  packages/boutique/frontend/vite.config.ts
  pnpm-lock.yaml
Labels: package: boutique/frontend

Update next-env.d.ts
  packages/wallet/frontend/next-env.d.ts
Labels: package: wallet/frontend

discard unused code
  packages/boutique/frontend/.env.example
  packages/boutique/frontend/package.json
  packages/boutique/frontend/tsconfig.json
  packages/boutique/frontend/vite.config.ts
  packages/wallet/frontend/next-env.d.ts
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: boutique/frontend

style the auth layout a bit with iframe
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

feat: set receiver in limits
  packages/boutique/backend/src/open-payments/service.ts
Labels: package: boutique/backend, type: source

fix: increase max attempts
  packages/boutique/backend/src/payment/service.ts
Labels: package: boutique/backend, type: source

chore(boutique-backend): format
  packages/boutique/backend/src/open-payments/service.ts
Labels: package: boutique/backend, type: source

chore(boutique-frontend): rename env to CURRENCY
  packages/boutique/frontend/.env.example
  packages/boutique/frontend/src/lib/utils.ts
Labels: package: boutique/frontend

Revert "chore(boutique-frontend): rename env to CURRENCY"
  packages/boutique/frontend/.env.example
  packages/boutique/frontend/src/lib/utils.ts
Labels: package: boutique/frontend

feat: boutique add currency into an env variable (#1638)
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/backend/src/payment/service.ts
  packages/boutique/frontend/.env.example
  packages/boutique/frontend/package.json
  packages/boutique/frontend/src/lib/utils.ts
  packages/wallet/frontend/next-env.d.ts
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source

Add theme context for images
  packages/boutique/frontend/src/app/cart/components/cart-item.tsx
  packages/boutique/frontend/src/app/checkout/components/order-summary.tsx
  packages/boutique/frontend/src/app/index.tsx
  packages/boutique/frontend/src/app/products/$slug.tsx
  packages/boutique/frontend/src/app/products/components/product-card.tsx
  packages/boutique/frontend/src/components/shopping-cart-popover.tsx
  packages/boutique/frontend/src/components/theme-provider.tsx
  packages/boutique/frontend/src/components/theme-toggle.tsx
  packages/boutique/frontend/src/lib/theme.ts
Labels: package: boutique/frontend

Small refactor
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

Prettier
  packages/wallet/backend/src/card/controller.ts
Labels: package: wallet/backend, type: source

1639 - add password view/hide functionality on the login/register pages
  packages/wallet/frontend/src/components/icons/Eye.tsx
  packages/wallet/frontend/src/components/icons/SlashEye.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/frontend, type: source

fix lint issues
  packages/wallet/frontend/src/components/icons/Eye.tsx
  packages/wallet/frontend/src/components/icons/SlashEye.tsx
Labels: package: wallet/frontend, type: source

fix filename import
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/frontend, type: source

remove unused prop
  packages/wallet/frontend/src/components/icons/Eye.tsx
  packages/wallet/frontend/src/components/icons/SlashEye.tsx
Labels: package: wallet/frontend, type: source

add password view/hide functionality on the reset password form
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
Labels: package: wallet/frontend, type: source

add password view/hide functionality on the change password form
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
Labels: package: wallet/frontend, type: source

feat: 1639 - add password view/hide functionality on the login/register pages (#1642)
  packages/wallet/frontend/src/components/icons/Eye.tsx
  packages/wallet/frontend/src/components/icons/SlashEye.tsx
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/frontend, type: source

feat: autoapprove user on sandbox
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/middleware/isAuth.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: remove console logs
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/middleware/isAuth.ts
Labels: package: wallet/backend, type: source

fix: remoe unused method
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

fix: remove unused user id on get balance
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

Add migrations and check for WA mapping to card
  packages/wallet/backend/migrations/20240923105930_update_wallet_addresses.js
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

Add tests
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: test

Update info on Readme
  README.md
  docker/dev/.env.example
Labels: type: documentation

Update README.md
  README.md
Labels: type: documentation

Update .env.example
  docker/dev/.env.example
Labels: none

Update README.md
  README.md
Labels: type: documentation

feat(wallet): replace rapyd with gatehub KYC (#1643)
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20230317135105_create_users.js
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/middleware/isAuth.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/utils.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/kyc.tsx
  packages/wallet/frontend/src/pages/kyc/personal.tsx
  packages/wallet/frontend/src/pages/kyc/proof.tsx
  packages/wallet/frontend/src/utils/constants.ts
  packages/wallet/frontend/src/utils/mocks.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test
