Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: backend, package: wallet, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: backend': packages/backend/**/*
'package: wallet': packages/wallet/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - "**/*.md"

'type: source':
  - packages/backend/src/**/*
  - packages/wallet/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

fix: fix typo
  packages/backend/src/outgoing-payment/outgoing-payment.service.ts
Labels: package: backend, type: source

update request, and PR suggested changes
  packages/backend/src/wallet/wallet.service.ts
  packages/wallet/src/lib/api/transfers.ts
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: backend, package: wallet, type: source

feat: create incoming/outgoing payments (#218)
  docker/dev/docker-compose.yml
  packages/backend/migrations/20230209130752_transaction.js
  packages/backend/src/incoming-payment/incoming-payment.route.ts
  packages/backend/src/incoming-payment/incoming-payment.schema.ts
  packages/backend/src/incoming-payment/incoming-payment.service.ts
  packages/backend/src/outgoing-payment/outgoing-payment.route.ts
  packages/backend/src/outgoing-payment/outgoing-payment.schema.ts
  packages/backend/src/outgoing-payment/outgoing-payment.service.ts
  packages/backend/src/rafiki/generated/graphql.ts
  packages/backend/src/rafiki/request/incoming-payment.request.ts
  packages/backend/src/rafiki/request/outgoing-payment.request.ts
  packages/backend/src/rafiki/request/payment-pointer.request.ts
  packages/backend/src/rafiki/request/quote.request.ts
  packages/backend/src/routes.ts
  packages/backend/src/transaction/transaction.model.ts
  packages/backend/src/transaction/transaction.route.ts
  packages/backend/src/transaction/transaction.service.ts
Labels: package: backend, type: source

Fix Request request
  packages/backend/src/wallet/wallet.service.ts
  packages/wallet/src/lib/api/transfers.ts
  packages/wallet/src/pages/transfer/request.tsx
Labels: package: backend, package: wallet, type: source

integrate with webhooks
  docker/dev/docker-compose.yml
  packages/backend/src/rafiki/integration/prices/prices.controller.ts
  packages/backend/src/rafiki/integration/quote/quote.controller.ts
  packages/backend/src/rafiki/integration/quote/quote.service.ts
  packages/backend/src/rapyd/wallet/request.ts
Labels: package: backend, type: source

update Balance on pay send request pages
  packages/wallet/src/components/TransferHeader.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: wallet, type: source

fetch transactions
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/lib/api/paymentPointer.ts
  packages/wallet/src/middleware.ts
  packages/wallet/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet/src/utils/helpers.ts
Labels: package: wallet, type: source

Implement copy to clipboard request
  packages/wallet/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/src/lib/api/transfers.ts
  packages/wallet/src/pages/transfer/request.tsx
Labels: package: wallet, type: source

add OP host as constant and fix PP name
  packages/wallet/next.config.js
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/utils/constants.ts
Labels: package: wallet, type: source

remove extra line
  packages/wallet/src/lib/api/paymentPointer.ts
Labels: package: wallet, type: source

feat(wallet): Add transfers service, populate accounts list (#214)
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/rapyd/utills/request.ts
  packages/backend/src/rapyd/wallet/request.ts
  packages/backend/src/rapyd/wallet/wallet.d.ts
  packages/backend/src/routes.ts
  packages/backend/src/wallet/schemas/walletSchema.ts
  packages/backend/src/wallet/wallet.service.ts
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/TransferHeader.tsx
  packages/wallet/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/src/components/icons/Play.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/lib/api/paymentPointer.ts
  packages/wallet/src/lib/api/transfers.ts
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/settings/index.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: backend, package: wallet, type: source

fix: update tigerbeetle in docker compose
  docker/dev/docker-compose.yml
Labels: none

wip on webhooks
  packages/backend/src/asset/asset.route.ts
  packages/backend/src/rafiki/integration/webhook/webhook.controller.ts
  packages/backend/src/rafiki/integration/webhook/webhook.service.ts
Labels: package: backend, type: source

outgoingPaymentCreated now withdraws from rapyd and deposits on rafiki
  packages/backend/src/rafiki/integration/webhook/webhook.service.ts
Labels: package: backend, type: source

feat: validate balance amount
  packages/backend/src/account/account.service.ts
  packages/backend/src/outgoing-payment/outgoing-payment.service.ts
Labels: package: backend, type: source

remove page header from account page
  packages/wallet/src/pages/account/[accountId].tsx
Labels: package: wallet, type: source

remove unused import
  packages/wallet/src/pages/account/[accountId].tsx
Labels: package: wallet, type: source

feat: validate balance amount (#222)
  packages/backend/src/account/account.service.ts
  packages/backend/src/outgoing-payment/outgoing-payment.service.ts
Labels: package: backend, type: source

fix webhook payments
  packages/backend/src/rafiki/integration/webhook/webhook.service.ts
  packages/backend/src/rafiki/request/liquidity.request.ts
Labels: package: backend, type: source

fix webhooks on openpayments
  packages/backend/src/rafiki/integration/webhook/webhook.service.ts
  packages/backend/src/rapyd/wallet/request.ts
Labels: package: backend, type: source

attempt to fix auth expiry
  packages/backend/src/auth/jwtStrategy.ts
Labels: package: backend, type: source

fix db refresh token expires at
  packages/backend/src/auth/models/refreshToken.ts
Labels: package: backend, type: source

feat(wallet): display transactions from database (#219)
  packages/wallet/next.config.js
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/lib/api/paymentPointer.ts
  packages/wallet/src/middleware.ts
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet/src/utils/constants.ts
  packages/wallet/src/utils/helpers.ts
Labels: package: wallet, type: source

fix(payment): create incoming payment on sent
  packages/backend/src/incoming-payment/incoming-payment.service.ts
  packages/backend/src/outgoing-payment/outgoing-payment.service.ts
Labels: package: backend, type: source

fixes on calculations for amounts and scales
  packages/backend/src/outgoing-payment/outgoing-payment.service.ts
  packages/backend/src/rafiki/integration/webhook/webhook.service.ts
Labels: package: backend, type: source

Update incoming-payment.service.ts
  packages/backend/src/incoming-payment/incoming-payment.service.ts
Labels: package: backend, type: source

fix(payment): create incoming payment on sent (#223)
  packages/backend/src/incoming-payment/incoming-payment.service.ts
  packages/backend/src/outgoing-payment/outgoing-payment.service.ts
Labels: package: backend, type: source

feat(backend): added some tests for create wallet api
  packages/backend/src/tests/auth/auth.service.test.ts
  packages/backend/src/tests/wallet/wallet.mock.ts
  packages/backend/src/tests/wallet/wallet.service.test.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source, type: test

formatting
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/auth/index.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/styles/main.css
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/ui/forms/Input.tsx
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: wallet, type: source

update docker files
  packages/backend/Dockerfile.dev
  packages/wallet/Dockerfile.dev
Labels: package: backend, package: wallet

update type assertion
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: wallet, type: source

update docker files
  packages/backend/Dockerfile.dev
  packages/wallet/Dockerfile.dev
Labels: package: backend, package: wallet

feat(backend): added next function to create wallet api, updated some tests
  packages/backend/src/tests/wallet/wallet.mock.ts
  packages/backend/src/tests/wallet/wallet.service.test.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source, type: test

feat(backend): added some tests for list countries api
  packages/backend/src/rapyd/countries/countries.service.ts
  packages/backend/src/shared/models/errors/ThirdPartyApiFailedException.ts
  packages/backend/src/tests/rapyd/countries.service.test.ts
Labels: package: backend, type: source, type: test

move create user method inside user service
  .eslintrc.js
  .prettierignore
  packages/backend-update/src/auth/controller.ts
  packages/backend-update/src/auth/service.ts
  packages/backend-update/src/index.ts
  packages/backend-update/src/tests/app.test.ts
  packages/backend-update/src/tests/auth/controller.test.ts
  packages/backend-update/src/tests/auth/service.test.ts
  packages/backend-update/src/user/service.ts
Labels: type: test

run tests in ci
  .github/workflows/ci.yml
Labels: type: ci

fix lock file
  pnpm-lock.yaml
Labels: none

fix workflow file
  .github/workflows/ci.yml
Labels: type: ci

update job name in ci
  .github/workflows/ci.yml
Labels: type: ci

add user service tests
  packages/backend-update/src/tests/user/service.test.ts
Labels: type: test
