Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

ci: branch rename of 'v1.x' to 'v1'
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  release.config.js
Labels: type: ci

ci: branch rename of 'v1.x' to 'v1' (#2241)
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  release.config.js
Labels: type: ci

Notes added by 'git notes add'
  84733823ad12ccfb250730bcfa66f932ca64b685
Labels: none

fix: prevent clickjacking with X-Frame-Options (#2239)
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/frontend, type: source

fix: helm chart should render hsm-adapter configs
  helm/testnet-wallet/templates/configMap.backend.yaml
  helm/testnet-wallet/tests/configMap.backend_test.yaml
  helm/testnet-wallet/tests/deployment.backend_test.yaml
  helm/testnet-wallet/values.yaml
Labels: none

fix: chart should render configs required by hsm-adapter (#2242)
  helm/testnet-wallet/templates/configMap.backend.yaml
  helm/testnet-wallet/tests/configMap.backend_test.yaml
  helm/testnet-wallet/tests/deployment.backend_test.yaml
  helm/testnet-wallet/values.yaml
Labels: none

Notes added by 'git notes add'
  d87fc39c2cc7b49504f4a39ae30542fc5a1b0384
Labels: none

fix: frontend configuration externalisation
  .github/workflows/release.yml
  helm/testnet-wallet/README.md
  helm/testnet-wallet/tests/configMap.frontend_test.yaml
  helm/testnet-wallet/values.yaml
  packages/wallet/frontend/.env.example
  packages/wallet/frontend/.env.local
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.prod
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/scripts/start.js
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/lib/runtimeConfig.ts
  packages/wallet/frontend/src/lib/socket.ts
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/_document.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
  packages/wallet/frontend/src/pages/no-access.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: ci, type: documentation, type: source

docs: refined comments and made them more brief
  .github/workflows/release.yml
  helm/testnet-wallet/README.md
  helm/testnet-wallet/tests/configMap.frontend_test.yaml
  helm/testnet-wallet/values.yaml
  packages/wallet/frontend/.env.example
  packages/wallet/frontend/.env.local
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.prod
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/scripts/start.js
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/lib/runtimeConfig.ts
  packages/wallet/frontend/src/lib/socket.ts
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/_document.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: ci, type: documentation, type: source

fix: improved error handling
  .github/workflows/release.yml
  helm/testnet-wallet/README.md
  helm/testnet-wallet/tests/configMap.frontend_test.yaml
  helm/testnet-wallet/values.yaml
  packages/wallet/frontend/scripts/start.js
Labels: package: wallet/frontend, type: ci, type: documentation

fix: frontend configuration externalisation (#2243)
  .github/workflows/release.yml
  helm/testnet-wallet/README.md
  helm/testnet-wallet/tests/configMap.frontend_test.yaml
  helm/testnet-wallet/values.yaml
  packages/wallet/frontend/.env.example
  packages/wallet/frontend/.env.local
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.prod
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/scripts/start.js
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/lib/runtimeConfig.ts
  packages/wallet/frontend/src/lib/socket.ts
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/_document.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
  packages/wallet/frontend/src/pages/no-access.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: ci, type: documentation, type: source

Notes added by 'git notes add'
  88476809996e6c9bbc92ea932427526b0d144b5d
Labels: none

fix: include the 'Strict-Transport-Security' header to ensure all communications will be sent over HTTPS'
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/frontend, type: source

fix:Format
  packages/wallet/frontend/next.config.js
Labels: package: wallet/frontend

fix: include the 'Strict-Transport-Security' header to enforce HTTPS-only communication (#2244)
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/frontend, type: source

feat: Add hsm helm config
  helm/testnet-wallet/README.md
  helm/testnet-wallet/values.yaml
Labels: type: documentation

chore: set docker compose for rhyza
  README.md
  local/.env.example
  local/docker-compose.rhyza.yml
  local/rhyza.yaml
  local/scripts/local-tools.sh
  local/scripts/rhyza-setup.js
  package.json
Labels: type: documentation

chore: set docker compose for rhyza (#2246)
  README.md
  local/.env.example
  local/docker-compose.rhyza.yml
  local/rhyza.yaml
  local/scripts/local-tools.sh
  local/scripts/rhyza-setup.js
  package.json
Labels: type: documentation

chore: remove wallet address not found webhook
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

chore: remove wallet address not found webhook (#2247)
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

feat: add optional BCC to admin announcement emails
  packages/wallet/backend/src/admin-notification/service.ts
  packages/wallet/backend/src/admin-notification/validation.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/tests/admin-notification/controller.test.ts
  packages/wallet/backend/tests/admin-notification/service.test.ts
Labels: package: wallet/backend, type: source, type: test

feat: add optional BCC to admin announcement emails (#2248)
  packages/wallet/backend/src/admin-notification/service.ts
  packages/wallet/backend/src/admin-notification/validation.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/tests/admin-notification/controller.test.ts
  packages/wallet/backend/tests/admin-notification/service.test.ts
Labels: package: wallet/backend, type: source, type: test

Notes added by 'git notes add'
  85a4b188bda1ff1723f86fb7f56f4e698802bda2
Labels: none

ci: fix Docker/Helm publish skipped when v1 tags outrank main
  .github/workflows/release.yml
Labels: type: ci

ci: fix Docker/Helm publish skipped when v1 tags outrank main (#2249)
  .github/workflows/release.yml
Labels: type: ci

fix: resolved linting and merge issues
  helm/testnet-wallet/README.md
  helm/testnet-wallet/values.yaml
Labels: type: documentation

feat: Add hsm helm config (#2245)
  helm/testnet-wallet/README.md
Labels: type: documentation

Notes added by 'git notes add'
  64eecfc8d6ab40f54acc55c6921b3f5fe660eafc
Labels: none

chore: create wallet address with v2 endpoint
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

style: fix formatting issues
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, type: source

chore: add missing createRhyzaWalletAddress mock
  packages/wallet/backend/tests/walletAddress/service.test.ts
Labels: package: wallet/backend, type: test

feat: add asset list method that returns a static array of current local assets
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, type: source

fix:add isAuth middleware
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

fix: round incoming payment amount before converting to bigint
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/tests/incomingPayment/service.test.ts
Labels: package: wallet/backend, type: source, type: test

chore: create wallet address with v2 endpoint (#2250)
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
Labels: package: wallet/backend, type: source, type: test

feat(rhyza): add admin and idp clients
  packages/wallet/backend/.env.example
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/config/rhyza.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rhyza/admin-client.ts
  packages/wallet/backend/src/rhyza/http-client.ts
  packages/wallet/backend/src/rhyza/idp-client.ts
  packages/wallet/backend/src/rhyza/types.ts
  packages/wallet/backend/tests/rhyza/admin-client.test.ts
  packages/wallet/backend/tests/rhyza/helpers.ts
  packages/wallet/backend/tests/rhyza/http-client.test.ts
  packages/wallet/backend/tests/rhyza/idp-client.test.ts
Labels: package: wallet/backend, type: source, type: test

feat: move wallet address creation to rhyza client
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rhyza/admin-client.ts
  packages/wallet/backend/src/rhyza/http-client.ts
  packages/wallet/backend/src/rhyza/idp-client.ts
  packages/wallet/backend/src/rhyza/types.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/rhyza/admin-client.test.ts
  packages/wallet/backend/tests/rhyza/helpers.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
Labels: package: wallet/backend, type: source, type: test

fix: update existing endpoint to call the new function
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, type: source

fix: round incoming payment amount before converting to bigint (#2253)
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/tests/incomingPayment/service.test.ts
Labels: package: wallet/backend, type: source, type: test

feat(rhyza): add admin and idp clients (#2254)
  packages/wallet/backend/.env.example
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/config/rhyza.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rhyza/admin-client.ts
  packages/wallet/backend/src/rhyza/http-client.ts
  packages/wallet/backend/src/rhyza/idp-client.ts
  packages/wallet/backend/src/rhyza/types.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/rhyza/admin-client.test.ts
  packages/wallet/backend/tests/rhyza/helpers.ts
  packages/wallet/backend/tests/rhyza/http-client.test.ts
  packages/wallet/backend/tests/rhyza/idp-client.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
Labels: package: wallet/backend, type: source, type: test
