Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

feat: add method that returns local assets (#2251)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, type: source

chore: hsm-adapter bumped to v0.2.0
  packages/wallet/backend/package.json
  pnpm-lock.yaml
Labels: package: wallet/backend

ci: skipping test which rhyza does not support yet
  e2e/features/cross-currency-transfer.feature
Labels: none

chore: hsm-adapter bumped to v0.2.0 (#2255)
  e2e/features/cross-currency-transfer.feature
  packages/wallet/backend/package.json
  pnpm-lock.yaml
Labels: package: wallet/backend

Notes added by 'git notes add'
  192e2d4528327f7d1d12ac931eb2e310264994c1
Labels: none
