Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

login fixes
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/frontend, type: source

fix: login fixes (#1777)
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/frontend, type: source

feat: move fund account on set pin
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix: send kyc email
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

fix: tests
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: test

feat: save card transactions
  packages/shared/backend/src/model.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix: query for is card
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

feat: increase page number
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

feat(wallet-frontend): allow receiver in query params
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

feat: replace ip dev
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/utils/helpers.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

fix: remove console log
  packages/wallet/backend/src/utils/helpers.ts
Labels: package: wallet/backend, type: source

fix: format
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix: search active card
  packages/wallet/backend/src/card/service.ts
Labels: package: wallet/backend, type: source

fix: select first
  packages/wallet/backend/src/card/service.ts
Labels: package: wallet/backend, type: source

feat: replace ip dev (#1781)
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/utils/helpers.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

feat: fund card account after is verified (#1775)
  packages/wallet/backend/migrations/20241025020455_add_is_funded_to_accounts.js
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

feat: save card transactions (#1779)
  packages/shared/backend/src/model.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix: set currency to euro
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix: set currency to euro (#1782)
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix: check new transactions length
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix: check new transactions length (#1783)
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix pnpm lock
  pnpm-lock.yaml
Labels: none

feat(wallet/backend,boutique/backend): DEV env - add hot reload for wallet and boutique backends (#1740)
  README.md
  boutique-entrypoint.sh
  docker/dev/docker-compose.yml
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/package.json
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/package.json
  pnpm-lock.yaml
  wallet-entrypoint.sh
Labels: package: wallet/backend, package: boutique/backend, type: documentation

readme
  README.md
Labels: type: documentation

Fix images
  packages/wallet/backend/src/email/templates/images/InterledgerWallet.png
  packages/wallet/backend/src/email/templates/images/Verify.png
Labels: package: wallet/backend, type: source

Update send.tsx
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

fix: Fix images in emails (#1786)
  packages/wallet/backend/src/email/templates/images/InterledgerWallet.png
  packages/wallet/backend/src/email/templates/images/Verify.png
Labels: package: wallet/backend, type: source

fix: types
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

add script DEV_MODE
  docker/dev/setDevMode.mjs
  package.json
Labels: none

add cross-env
  docker/dev/setDevMode.mjs
  package.json
  pnpm-lock.yaml
Labels: none

remove '&&'
  package.json
Labels: none

fix: windows compat issues with pnpm dev cmd & env var syntax (#1743)
  README.md
  package.json
  packages/wallet/frontend/package.json
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: documentation

fix: windows compat issues with pnpm dev cmd & env var syntax (#1743)
  README.md
  package.json
  packages/wallet/frontend/package.json
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: documentation

feat(wallet/backend,boutique/backend): DEV env - add hot reload for wallet and boutique backends (#1740)
  README.md
  boutique-entrypoint.sh
  docker/dev/docker-compose.yml
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/package.json
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/package.json
  pnpm-lock.yaml
  wallet-entrypoint.sh
Labels: package: wallet/backend, package: boutique/backend, type: documentation

fix: Fix images in emails (#1786)
  packages/wallet/backend/src/email/templates/images/InterledgerWallet.png
  packages/wallet/backend/src/email/templates/images/Verify.png
Labels: package: wallet/backend, type: source

fix the gatehub failing tests
  .vscode/launch.json
  packages/wallet/backend/tests/gatehub/controller.test.ts
  packages/wallet/backend/tests/gatehub/service.test.ts
Labels: package: wallet/backend, type: test

format
  .vscode/launch.json
  packages/wallet/backend/tests/gatehub/controller.test.ts
  packages/wallet/backend/tests/gatehub/service.test.ts
Labels: package: wallet/backend, type: test

feat: add rate limiters for sending emails and login (#1632)
  README.md
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  packages/shared/backend/src/errors/index.ts
  packages/shared/backend/src/errors/too-many-requests.ts
  packages/wallet/backend/jest.setup.js
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/rateLimit.ts
  packages/wallet/backend/src/config/redis.ts
  packages/wallet/backend/src/middleware/rateLimit.ts
  packages/wallet/backend/src/rateLimit/service.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: documentation, type: source, type: test

fix prettier format win env
  package.json
Labels: none

added test cases for gatehub service
  .vscode/launch.json
  packages/wallet/backend/tests/gatehub/service.test.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: test
