Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

added copilot instructions to the workspace
  .github/copilot-instructions.md
Labels: type: ci, type: documentation

Changes to frontend needed for the time period
  packages/boutique/backend/images/egg.png
  packages/boutique/frontend/src/app/checkout/components/order-summary.tsx
  packages/boutique/frontend/src/app/products/$slug.tsx
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/components/icons/Bird.tsx
  packages/wallet/frontend/src/components/icons/CardButtons.tsx
  packages/wallet/frontend/src/components/icons/Cog.tsx
  packages/wallet/frontend/src/components/icons/Eye.tsx
  packages/wallet/frontend/src/components/icons/MoneyBird.tsx
  packages/wallet/frontend/src/components/icons/SlashEye.tsx
  packages/wallet/frontend/src/components/icons/Warning.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source

Add subject handling for IDP page
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/shared/src/types/grant.ts
Labels: package: wallet/frontend, type: source

feat: Add subject handling for IDP page (#2181)
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/shared/src/types/grant.ts
Labels: package: wallet/frontend, type: source

chore: upgrade rafiki and open payments
  docker/dev/docker-compose.yml
  packages/boutique/backend/package.json
  packages/boutique/backend/src/cache/token.ts
  packages/boutique/backend/src/open-payments/service.ts
  pnpm-lock.yaml
Labels: package: boutique/backend, type: source

chore: upgrade rafiki and open payments (#2182)
  docker/dev/docker-compose.yml
  packages/boutique/backend/package.json
  packages/boutique/backend/src/cache/token.ts
  packages/boutique/backend/src/open-payments/service.ts
  pnpm-lock.yaml
Labels: package: boutique/backend, type: source

Update index.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

linting errors fix
  packages/wallet/frontend/src/components/icons/Bird.tsx
  packages/wallet/frontend/src/components/icons/SlashEye.tsx
Labels: package: wallet/frontend, type: source

feat: Fe changes (#2185)
  packages/boutique/backend/images/egg.png
  packages/boutique/frontend/src/app/checkout/components/order-summary.tsx
  packages/boutique/frontend/src/app/products/$slug.tsx
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/components/icons/Bird.tsx
  packages/wallet/frontend/src/components/icons/CardButtons.tsx
  packages/wallet/frontend/src/components/icons/Cog.tsx
  packages/wallet/frontend/src/components/icons/Eye.tsx
  packages/wallet/frontend/src/components/icons/MoneyBird.tsx
  packages/wallet/frontend/src/components/icons/SlashEye.tsx
  packages/wallet/frontend/src/components/icons/Warning.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source

feat: Update IDP page text (#2184)
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

docs: updated copilot-instructions file
  .github/copilot-instructions.md
Labels: type: ci, type: documentation

deposits working
  packages/mockgatehub/CURRENCY_PRESELECTION.md
  packages/mockgatehub/Dockerfile
  packages/mockgatehub/VAULT_UUID_SUPPORT.md
  packages/mockgatehub/internal/consts/consts.go
  packages/mockgatehub/internal/handler/core.go
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/web/index.html
Labels: type: documentation

mockgatehub can no wlogin
  packages/mockgatehub/internal/handler/auth.go
  packages/mockgatehub/internal/handler/identity.go
  packages/mockgatehub/internal/models/api.go
  packages/mockgatehub/internal/storage/redis.go
  packages/mockgatehub/test/integration/integration_test.go
  packages/mockgatehub/testenv/testscript.go
Labels: none

phase 5
  packages/mockgatehub/PHASE4_COMPLETE.md
  packages/mockgatehub/PHASE5_COMPLETE.md
  packages/mockgatehub/go.mod
  packages/mockgatehub/go.sum
  packages/mockgatehub/internal/config/config.go
  packages/mockgatehub/internal/storage/redis.go
  packages/mockgatehub/internal/storage/redis_test.go
  packages/mockgatehub/internal/webhook/manager.go
  packages/mockgatehub/internal/webhook/manager_test.go
Labels: type: documentation

phase 3
  packages/mockgatehub/internal/auth/signature.go
  packages/mockgatehub/internal/handler/auth.go
  packages/mockgatehub/internal/handler/cards.go
  packages/mockgatehub/internal/handler/core.go
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/handler/helpers.go
  packages/mockgatehub/internal/handler/identity.go
  packages/mockgatehub/internal/handler/rates.go
  packages/mockgatehub/internal/models/models.go
  packages/mockgatehub/internal/storage/memory.go
  packages/mockgatehub/internal/storage/memory_test.go
Labels: none

webhook structure fixes
  packages/mockgatehub/internal/handler/auth.go
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/webhook/manager.go
  packages/mockgatehub/internal/webhook/manager_test.go
  packages/mockgatehub/testenv/MIGRATION.md
  packages/mockgatehub/testenv/README.md
  packages/mockgatehub/testenv/testscript.go
  packages/mockgatehub/web/index.html
Labels: type: documentation

checkpoint
  docker/local/RECOVERY_NOTES.md
  docker/local/REVERSE_ENGINEERING_REPORT.md
  docker/local/docker-compose.yml
  packages/mockgatehub/internal/handler/cards.go
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/middleware/withSession.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: documentation, type: source

checkpoint
  packages/mockgatehub/internal/auth/signature.go
  packages/mockgatehub/internal/handler/auth.go
  packages/mockgatehub/internal/handler/core.go
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/models/api.go
  packages/mockgatehub/internal/webhook/manager.go
  packages/mockgatehub/test/integration/integration_test.go
  packages/mockgatehub/testenv/.gitignore
  packages/mockgatehub/testenv/MIGRATION.md
  packages/mockgatehub/testenv/README.md
  packages/mockgatehub/testenv/run-tests.sh
  packages/mockgatehub/testenv/testscript.go
  packages/mockgatehub/web/index.html
Labels: type: documentation

phase 8
  packages/mockgatehub/PHASE8_QUICKSTART.md
  packages/mockgatehub/WALLET_BACKEND_INTEGRATION_ANALYSIS.md
Labels: type: documentation

stack is running
  docker/local/docker-compose.yml
  docker/local/rafiki-setup.js
  packages/mockgatehub/PROJECT_PLAN.md
  packages/mockgatehub/STATUS.md
Labels: type: documentation

phase 2 completed
  packages/mockgatehub/.gitignore
  packages/mockgatehub/AGENTS.md
  packages/mockgatehub/Dockerfile
  packages/mockgatehub/PROJECT_PLAN.md
  packages/mockgatehub/README.md
  packages/mockgatehub/go.mod
  packages/mockgatehub/go.sum
  packages/mockgatehub/internal/auth/signature.go
  packages/mockgatehub/internal/auth/signature_test.go
  packages/mockgatehub/internal/consts/consts.go
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/logger/logger.go
  packages/mockgatehub/internal/models/api.go
  packages/mockgatehub/internal/models/models.go
  packages/mockgatehub/internal/storage/interface.go
  packages/mockgatehub/internal/storage/memory.go
  packages/mockgatehub/internal/storage/memory_test.go
  packages/mockgatehub/internal/storage/seeder.go
  packages/mockgatehub/internal/utils/utils.go
  packages/mockgatehub/internal/webhook/manager.go
Labels: type: documentation

expanded integration tests
  packages/mockgatehub/AGENTS.md
  packages/mockgatehub/internal/handler/core.go
  packages/mockgatehub/testenv/.gitignore
  packages/mockgatehub/testenv/README.md
  packages/mockgatehub/testenv/docker-compose.yml
  packages/mockgatehub/testenv/testscript.go
Labels: type: documentation

next build args support
  docker/local/docker-compose.yml
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/next.config.js
Labels: package: wallet/frontend

Phase 8: Full stack integration testing - 8/9 critical endpoints working
  docker/local/RECOVERY_NOTES.md
  docker/local/REVERSE_ENGINEERING_REPORT.md
  docker/local/docker-compose.yml
  packages/mockgatehub/PHASE8_INTEGRATION_RESULTS.md
  packages/mockgatehub/internal/handler/auth.go
  packages/mockgatehub/internal/handler/core.go
Labels: type: documentation

phase 8
  packages/mockgatehub/PHASE6_COMPLETE.md
  packages/mockgatehub/PHASE6_SUMMARY.md
  packages/mockgatehub/PHASE7_COMPLETE.md
  packages/mockgatehub/PHASE7_SUMMARY.md
  packages/mockgatehub/PROJECT_PLAN.md
  packages/mockgatehub/STATUS.md
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/handler/handler_test.go
  packages/mockgatehub/internal/handler/helpers.go
  packages/mockgatehub/internal/webhook/manager.go
  packages/mockgatehub/internal/webhook/manager_test.go
  packages/mockgatehub/test/integration/integration_test.go
Labels: type: documentation

can now send between wallets
  docker/local/rafiki-setup.js
  packages/mockgatehub/internal/handler/rates.go
Labels: none

added copilot instructions to the workspace
  .github/copilot-instructions.md
Labels: type: ci, type: documentation

ci: updated copilot instructions
  .github/copilot-instructions.md
Labels: type: ci, type: documentation

example env for local
  docker/local/.env.example
Labels: none

reverted lots of wallet code
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

further cleanup
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/service.ts
Labels: package: wallet/backend, type: source

kyc
  packages/mockgatehub/internal/handler/auth.go
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/handler/identity.go
  packages/mockgatehub/web/kyc-iframe.html
Labels: none

kyc now working
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/handler/identity.go
  packages/mockgatehub/web/kyc-iframe.html
Labels: none

updated docs
  packages/mockgatehub/AGENTS.md
  packages/mockgatehub/CURRENCY_PRESELECTION.md
  packages/mockgatehub/README.md
  packages/mockgatehub/STATUS.md
  packages/mockgatehub/VAULT_UUID_SUPPORT.md
  packages/mockgatehub/WALLET_BACKEND_INTEGRATION_ANALYSIS.md
Labels: type: documentation

checkpoint
  packages/mockgatehub/Makefile
  packages/mockgatehub/PHASE4_COMPLETE.md
  packages/mockgatehub/PHASE5_COMPLETE.md
  packages/mockgatehub/PHASE6_COMPLETE.md
  packages/mockgatehub/PHASE6_SUMMARY.md
  packages/mockgatehub/PHASE7_COMPLETE.md
  packages/mockgatehub/PHASE7_SUMMARY.md
  packages/mockgatehub/PHASE8_INTEGRATION_RESULTS.md
  packages/mockgatehub/PHASE8_QUICKSTART.md
  packages/mockgatehub/PROJECT_PLAN.md
  packages/mockgatehub/internal/handler/handler.go
  packages/mockgatehub/internal/handler/identity.go
  packages/mockgatehub/internal/storage/seeder.go
  packages/mockgatehub/test/integration/integration_test.go
  packages/mockgatehub/testenv/docker-compose.yml
  packages/mockgatehub/testenv/run-tests.sh
  packages/mockgatehub/testenv/testscript.go
  packages/mockgatehub/web/kyc-iframe.html
Labels: type: documentation

refactor: cleaned up local environment
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/dev/kratos.yml
  docker/entrypoint.sh
  docker/identity.schema.json
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  docker/prod/kratos.yml
  docker/temp/private-key.pem
  local/.env.example
  local/.gitignore
  local/docker-compose.yml
  local/init/dbinit.sql
  local/scripts/rafiki-setup.js
Labels: type: docker

test: introduced e2e testing
  e2e/.env.example
  e2e/.gitignore
  e2e/features/auth-signup-dashboard.feature
  e2e/features/cross-currency-transfer.feature
  e2e/features/steps/auth-signup-dashboard.steps.ts
  e2e/features/steps/cross-currency-transfer.steps.ts
  e2e/features/steps/fixtures.ts
  e2e/helpers/local-wallet.ts
  e2e/package.json
  e2e/plan.md
  e2e/playwright.config.ts
  e2e/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: type: documentation

refactor: support for mockgatehub in local environment
  .github/copilot-instructions.md
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/dev/kratos.yml
  docker/entrypoint.sh
  docker/identity.schema.json
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  docker/prod/kratos.yml
  docker/temp/private-key.pem
  local/.env.example
  local/.gitignore
  local/docker-compose.yml
  local/init/dbinit.sql
  local/scripts/rafiki-setup.js
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/middleware/withSession.ts
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/utils/helpers.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package: wallet/backend, package: wallet/frontend, type: ci, type: documentation, type: source, type: docker

fix: fixed linting issues
  .prettierignore
  local/docker-compose.yml
  local/scripts/rafiki-setup.js
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/frontend, type: source

fix: clean up
  .github/copilot-instructions.md
  local/.env.example
  local/scripts/rafiki-setup.js
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: ci, type: documentation, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
