Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

Update helpers.ts
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

fix: add user to gateway on test wallet
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

fix: add user to gateway on test wallet (#1892)
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

fix: revert allowing everyone to sign up for cards (#1879)
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

feat: add card tx type
  packages/wallet/backend/migrations/20241217130555_add_card_tx_details_to_transactions.js
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/shared/src/types/card.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/backend, type: source

fix: solve import types
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source

fix: fix test
  packages/wallet/backend/tests/gatehub/service.test.ts
Labels: package: wallet/backend, type: test

feat: add additional details for card transactions (#1876)
  packages/wallet/backend/migrations/20241217130555_add_card_tx_details_to_transactions.js
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/tests/gatehub/service.test.ts
  packages/wallet/shared/src/types/card.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/backend, type: source, type: test

Add billing amount and transaction type
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/pages/card.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

Update TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
Labels: package: wallet/frontend, type: source

Update WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
Labels: package: wallet/frontend, type: source

fix: PP for cards did not display correctly everywhere (#1882)
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

Update transactions.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/frontend, type: source

feat: Add user name to transactions list and redesign list (#1870)
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/pages/card.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Table.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/frontend, type: source

feat(wallet-backend): initial stripe integration
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/stripe/controller.ts
  packages/wallet/backend/src/stripe/service.ts
Labels: package: wallet/backend, type: source

feat(transaction): add backfill trx details script
  packages/wallet/backend/src/backfillTrxDetails.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/incoming-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/frontend/next.config.js
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: fix
  packages/wallet/frontend/next.config.js
Labels: package: wallet/frontend

fix: callbackUrl is not preserved
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/ui/ButtonOrLink.tsx
Labels: package: wallet/frontend, type: source

feat(transaction): add backfill trx details script (#1908)
  packages/wallet/backend/src/backfillTrxDetails.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/incoming-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

extract submitForm rename enum
  packages/wallet/frontend/src/pages/auth/login.tsx
Labels: package: wallet/frontend, type: source

fix: catch errors on backfill
  packages/wallet/backend/src/backfillTrxDetails.ts
Labels: package: wallet/backend, type: source

fix: replace id with transactionId
  packages/wallet/backend/src/backfillTrxDetails.ts
Labels: package: wallet/backend, type: source

fix: redirect to callback when the user is logged in
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
Labels: package: wallet/frontend, type: source

run prettier
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/ui/ButtonOrLink.tsx
Labels: package: wallet/frontend, type: source

fix build error
  packages/wallet/frontend/src/ui/ButtonOrLink.tsx
Labels: package: wallet/frontend, type: source

Update TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
Labels: package: wallet/frontend, type: source

fix: card PP correct name, and card type fix (#1911)
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
Labels: package: wallet/frontend, type: source

fix: catch errors on backfill (#1909)
  packages/wallet/backend/src/backfillTrxDetails.ts
Labels: package: wallet/backend, type: source

fix: catch when ref is null
  packages/wallet/frontend/src/ui/ButtonOrLink.tsx
Labels: package: wallet/frontend, type: source

fix: link is false and ref is null
  packages/wallet/frontend/src/ui/ButtonOrLink.tsx
Labels: package: wallet/frontend, type: source

fix: linting
  packages/wallet/frontend/src/ui/ButtonOrLink.tsx
Labels: package: wallet/frontend, type: source

fix: 1902 callback url is not preserved (#1910)
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/ui/ButtonOrLink.tsx
Labels: package: wallet/frontend, type: source

Fix for card WA
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/frontend, type: source

fix: transactions details cards pp is not ilpdev (#1913)
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/frontend, type: source

fix: add additional fields
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

fix: add additional fields (#1915)
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

fix: change webhook validation according to specs
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

fix: format
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

test: move validation tests to controller
  packages/wallet/backend/tests/rafiki/controller.test.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
Labels: package: wallet/backend, type: test

fix: change webhook validation according to specs (#1916)
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
  packages/wallet/backend/tests/rafiki/controller.test.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
Labels: package: wallet/backend, type: source, type: test
