Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

Prettier
  packages/wallet/backend/src/account/service.ts
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Fix balance calculation
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

Prettier
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

Update index.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

Revert onboarding to EUR
  README.md
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/tests/incomingPayment/service.test.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: documentation, type: source, type: test

feat: add default user to rafiki admin (#1493)
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rafiki/kratos.service.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

feat: upgrade rafiki to alpha 16
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/quote.request.ts
Labels: package: wallet/backend, type: source

feat: upgrade rafiki to alpha 16 (#1498)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/quote.request.ts
Labels: package: wallet/backend, type: source

chore: update to rafiki alpha 17
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

chore: update to rafiki alpha 17 (#1499)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
Labels: none

add Withdraw back
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/components/icons/Withdraw.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

feat: new design readd withdraw button (#1501)
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/components/icons/Withdraw.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

fix: increase max attempts
  packages/boutique/backend/src/payment/service.ts
Labels: package: boutique/backend, type: source

remove exchange
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/quote/service.ts
Labels: package: wallet/backend, type: source

Remove WM accounting
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20240903125600_update_wallet_addresses.js
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddress/validation.ts
  packages/wallet/backend/src/webMonetization/transaction/model.ts
  packages/wallet/backend/src/webMonetization/transaction/service.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/utils/constants.ts
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/shared/src/types/walletAddress.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

Added card type and menu
  packages/wallet/frontend/public/frozen.webp
  packages/wallet/frontend/src/components/icons/CardButtons.tsx
  packages/wallet/frontend/src/components/icons/Clipboard.tsx
  packages/wallet/frontend/src/components/icons/DetailsCard.tsx
  packages/wallet/frontend/src/components/icons/NormalCard.tsx
  packages/wallet/frontend/src/components/providers/CardProvider.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/components/userCards/CardButtonMenu.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/lib/context/card.ts
  packages/wallet/frontend/src/pages/card/index.tsx
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/CopyButton.tsx
Labels: package: wallet/frontend, type: source

fix PR build
  packages/wallet/frontend/src/components/providers/CardProvider.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/lib/context/card.ts
Labels: package: wallet/frontend, type: source

Lint fix
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

Fix frontend errors
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/request.tsx
Labels: package: wallet/frontend, type: source

add menu item to reach cards
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/icons/CardButtons.tsx
Labels: package: wallet/frontend, type: source

add state change
  packages/wallet/frontend/src/components/providers/CardProvider.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/components/userCards/CardButtonMenu.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/lib/context/card.ts
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

Add activate dialog layout
  packages/wallet/frontend/src/components/dialogs/ActivateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/ErrorDialog.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/components/userCards/CardButtonMenu.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

Add TODO comment for settings page
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
Labels: package: wallet/frontend, type: source

Format; Update KYC Page; fix `getBearerToken` method
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

Update user service
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

Add standalone KYC page
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

Remove old KYC pages
  packages/wallet/frontend/src/pages/kyc/personal.tsx
  packages/wallet/frontend/src/pages/kyc/proof.tsx
Labels: package: wallet/frontend, type: source

Format with latest prettier
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

Remove Rapyd env/constants
  docker/prod/docker-compose.yml
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

Remove Rapyd mocks
  packages/wallet/frontend/src/utils/mocks.ts
Labels: package: wallet/frontend, type: source

PR review fixes
  packages/wallet/frontend/src/components/userCards/CardButtonMenu.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

Better naming
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

Format
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

Update CardButtonMenu.tsx
  packages/wallet/frontend/src/components/userCards/CardButtonMenu.tsx
Labels: package: wallet/frontend, type: source

feat: Added card type and menu (#1524)
  packages/wallet/frontend/public/frozen.webp
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/icons/CardButtons.tsx
  packages/wallet/frontend/src/components/icons/Clipboard.tsx
  packages/wallet/frontend/src/components/icons/DetailsCard.tsx
  packages/wallet/frontend/src/components/icons/NormalCard.tsx
  packages/wallet/frontend/src/components/userCards/CardButtonMenu.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/pages/card/index.tsx
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/CopyButton.tsx
Labels: package: wallet/frontend, type: source

Update ActivateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/ActivateCardDialog.tsx
Labels: package: wallet/frontend, type: source

Add standalone deposit page; remove old fund dialog
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/deposit.tsx
  packages/wallet/shared/src/types/account.ts
Labels: package: wallet/frontend, type: source

Remove dialogs padding change
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/ErrorDialog.tsx
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
Labels: package: wallet/frontend, type: source

Add standalone withdraw page
  packages/wallet/frontend/src/pages/withdraw.tsx
Labels: package: wallet/frontend, type: source

Remove Rapyd withdraw features
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/shared/src/types/account.ts
Labels: package: wallet/frontend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
