Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

fix: update readme (#1645)
  README.md
  docker/dev/.env.example
Labels: type: documentation

fix: incorrect param
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/deposit.tsx
Labels: package: wallet/frontend, type: source

Update deposit.tsx
  packages/wallet/frontend/src/pages/deposit.tsx
Labels: package: wallet/frontend, type: source

Update AppLayout.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
Labels: package: wallet/frontend, type: source

Update withdraw.tsx
  packages/wallet/frontend/src/pages/withdraw.tsx
Labels: package: wallet/frontend, type: source

Update deposit.tsx
  packages/wallet/frontend/src/pages/deposit.tsx
Labels: package: wallet/frontend, type: source

Revert "Update deposit.tsx"
  packages/wallet/frontend/src/pages/deposit.tsx
Labels: package: wallet/frontend, type: source

Revert "Update withdraw.tsx"
  packages/wallet/frontend/src/pages/withdraw.tsx
Labels: package: wallet/frontend, type: source

feat(wallet-backend): cards script wip
  packages/wallet/backend/src/cardUsers.ts
Labels: package: wallet/backend, type: source

feat(wallet): replace rapyd fund account with gatehub deposit (#1650)
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/deposit.tsx
  packages/wallet/shared/src/types/account.ts
Labels: package: wallet/frontend, type: source

fix: request the correct iframe type
  packages/wallet/frontend/src/pages/withdraw.tsx
Labels: package: wallet/frontend, type: source

Update withdraw.tsx
  packages/wallet/frontend/src/pages/withdraw.tsx
Labels: package: wallet/frontend, type: source

Update endpoints
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

Update getCardDetails request with URL
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

fix jest REDIS_URL to be able to use redis
  packages/wallet/backend/jest.setup.js
Labels: package: wallet/backend

move rate limit config into env vars and add rate limit tests
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/middleware/rateLimit.ts
  packages/wallet/backend/tests/auth/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

prettier fix
  packages/wallet/backend/tests/auth/controller.test.ts
Labels: package: wallet/backend, type: test

move redis object in config, and disconnect after test
  packages/wallet/backend/src/config/redis.ts
  packages/wallet/backend/src/middleware/rateLimit.ts
  packages/wallet/backend/tests/auth/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

remove limiterService as we only use limiter from a limiter middleware
  packages/wallet/backend/src/rateLimit/service.ts
Labels: package: wallet/backend, type: source

feat(wallet): replace rapyd withdrawal with gatehub (#1651)
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/withdraw.tsx
  packages/wallet/shared/src/types/account.ts
Labels: package: wallet/frontend, type: source

disable auth for rafiki admin on dev env
  docker/dev/docker-compose.yml
Labels: none

Address comments
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

Remove duplicate card app id header
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

feat(wallet/backend): add view card details endpoint (#1633)
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20240923105930_update_wallet_addresses.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

let kratos container in the local env setup
  docker/dev/docker-compose.yml
Labels: none

feat: disable auth for rafiki admin on dev env (#1655)
  docker/dev/docker-compose.yml
Labels: none

Add lock and unlock endpoints
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

fix(wallet): await on get balance
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

Add getPin endpoint
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

Address comments
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/shared/src/types/card.ts
  packages/wallet/shared/src/types/index.ts
Labels: package: wallet/backend, type: source, type: test

Update routes
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

Update request methods
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

Add changePin endpoint, tests
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

Add view card transactions endpoint
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

Prettier
  packages/wallet/backend/src/card/validation.ts
Labels: package: wallet/backend, type: source

fix: snake case vault fields
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

feat(wallet/backend): add lock and unlock endpoints for cards (#1656)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/shared/src/types/card.ts
  packages/wallet/shared/src/types/index.ts
Labels: package: wallet/backend, type: source, type: test

Add permanently block card endpoint
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/shared/src/types/card.ts
  packages/wallet/shared/src/types/index.ts
Labels: package: wallet/backend, type: source

Prettier
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source

Fix tests
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: test

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
