Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

feat(shared): migrate test/table into shared package (#1243)
  packages/boutique/backend/tests/order/service.test.ts
  packages/boutique/backend/tests/product/controller.test.ts
  packages/boutique/backend/tests/product/service.test.ts
  packages/boutique/backend/tests/user/service.test.ts
  packages/shared/backend/index.ts
  packages/shared/backend/package.json
  packages/shared/backend/tests/index.ts
  packages/shared/backend/tests/tables.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/auth/service.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/grant/service.test.ts
  packages/wallet/backend/tests/incomingPayment/service.test.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/quote/service.test.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/rapyd/service.test.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/backend/tests/tables.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/transaction/service.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/user/service.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: test

migrate configs into shared package
  packages/boutique/backend/src/config/logger.ts
  packages/boutique/backend/src/container.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/configs/env.ts
  packages/shared/backend/src/configs/knex.ts
  packages/shared/backend/src/configs/logger.ts
  packages/shared/backend/src/index.ts
  packages/wallet/backend/src/config/knex.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/middleware/errorHandler.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source

fix conflicts
  pnpm-lock.yaml
Labels: none

fix conflicts
  pnpm-lock.yaml
Labels: none

fix: start background processing only if the app started
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/index.ts
  packages/wallet/backend/src/index.ts
Labels: package: wallet/backend, package: boutique/backend, type: source

fix: resolve formatting issues
  packages/boutique/backend/src/index.ts
  packages/wallet/backend/src/index.ts
Labels: package: wallet/backend, package: boutique/backend, type: source

feat(shared): share lib utils (#1246)
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/errors/base.ts
  packages/boutique/backend/src/global.d.ts
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/product/controller.ts
  packages/boutique/backend/src/shared/utils.ts
  packages/boutique/backend/tests/order/service.test.ts
  packages/boutique/backend/tests/product/controller.test.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/index.ts
  packages/shared/backend/src/types.ts
  packages/shared/backend/src/utils.ts
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/errors/Base.ts
  packages/wallet/backend/src/global.d.ts
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/backend/src/incomingPayment/controller.ts
  packages/wallet/backend/src/outgoingPayment/controller.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source, type: test

fix conflicts
  packages/shared/backend/src/configs/knex.ts
  pnpm-lock.yaml
Labels: none

remove env from shared file
  packages/boutique/backend/src/config/knex.ts
  packages/boutique/backend/src/config/logger.ts
  packages/boutique/backend/src/container.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/configs/env.ts
  packages/shared/backend/src/configs/knex.ts
  packages/shared/backend/src/configs/logger.ts
  packages/wallet/backend/src/config/knex.ts
  packages/wallet/backend/src/config/logger.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/middleware/errorHandler.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source

fix: start background processing only if the app started (#1253)
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/index.ts
  packages/wallet/backend/src/index.ts
Labels: package: wallet/backend, package: boutique/backend, type: source

fix: solve broken lock file issue
  pnpm-lock.yaml
Labels: none

feat(shared): migrate configs into shared package (#1251)
  packages/boutique/backend/src/config/knex.ts
  packages/boutique/backend/src/config/logger.ts
  packages/boutique/backend/src/container.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/configs/knex.ts
  packages/shared/backend/src/configs/logger.ts
  packages/shared/backend/src/index.ts
  packages/wallet/backend/src/config/knex.ts
  packages/wallet/backend/src/config/logger.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/middleware/errorHandler.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source

migrate errorHandler into shared package
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/tests/app.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/configs/logger.ts
  packages/shared/backend/src/errors/base.ts
  packages/shared/backend/src/index.ts
  packages/shared/backend/src/middleware/errorHandler.ts
  packages/shared/backend/src/middleware/index.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/logger.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/incomingPayment/controller.test.ts
  packages/wallet/backend/tests/outgoingPayment/controller.test.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/rafiki/controller.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source, type: test

fix format
  packages/shared/backend/src/middleware/errorHandler.ts
Labels: none

fix(wallet-frontend): Transaction view improvements (#1138)
  packages/wallet/frontend/src/components/icons/Chevron.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/lib/api/transaction.ts
  packages/wallet/frontend/src/lib/hooks/useTransactions.ts
  packages/wallet/frontend/src/lib/hooks/useTypedRouter.ts
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/Table.tsx
  packages/wallet/frontend/src/ui/forms/Select.tsx
Labels: package: wallet/frontend, type: source

migrate cache into shared package
  packages/boutique/backend/package.json
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/cache/one-click.ts
  packages/boutique/backend/src/config/env.ts
  packages/boutique/backend/src/config/redis.ts
  packages/boutique/backend/src/container.ts
  packages/boutique/backend/src/open-payments/service.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/cache/index.ts
  packages/shared/backend/src/cache/redis-client.ts
  packages/shared/backend/src/cache/service.ts
  packages/shared/backend/src/index.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/walletAddress.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/walletAddress/service.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source

onboarding style change for step 8
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
Labels: package: wallet/frontend, type: source

fixed onboarding step 13
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

migrate in-memory into shared package
  packages/boutique/backend/src/cache/token.ts
  packages/shared/backend/src/cache/in-memory.ts
  packages/shared/backend/src/cache/index.ts
Labels: package: boutique/backend, type: source

fix format
  packages/boutique/backend/src/cache/token.ts
Labels: package: boutique/backend, type: source

feat(webhook): add context to errors
  packages/shared/backend/src/configs/logger.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
Labels: package: wallet/backend, type: source

remove redis from boutique
  packages/boutique/backend/package.json
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/cache/one-click.ts
  packages/boutique/backend/src/config/redis.ts
  packages/boutique/backend/src/container.ts
  packages/boutique/backend/src/open-payments/service.ts
  pnpm-lock.yaml
Labels: package: boutique/backend, type: source

feat(shared): migrate cache into shared package (#1269)
  packages/boutique/backend/src/cache/one-click.ts
  packages/boutique/backend/src/cache/token.ts
  packages/boutique/backend/src/config/env.ts
  packages/boutique/backend/src/container.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/cache/in-memory.ts
  packages/shared/backend/src/cache/index.ts
  packages/shared/backend/src/cache/redis-client.ts
  packages/shared/backend/src/cache/service.ts
  packages/shared/backend/src/index.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/redis.ts
  packages/wallet/backend/src/config/walletAddress.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/walletAddress/service.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source

feat(webhook): add context to errors (#1278)
  packages/shared/backend/src/configs/logger.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
Labels: package: wallet/backend, type: source

fix: pass correct env to logger
  packages/shared/backend/src/configs/logger.ts
  packages/wallet/backend/src/config/logger.ts
Labels: package: wallet/backend, type: source

feat(logger): add service in metadata
  packages/wallet/backend/src/rafiki/controller.ts
Labels: package: wallet/backend, type: source

feat(upgrade): upgrade to alpha 8 node version upgraded to 20.12.1 (current iron lts)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  package.json
  packages/boutique/backend/package.json
  pnpm-lock.yaml
Labels: package: boutique/backend

feat(upgrade): github workflow node to use lts/iron
  .github/workflows/setup/action.yml
Labels: type: ci

chore(format): format actions
  .github/workflows/setup/action.yml
Labels: type: ci

fix: pass correct env to logger (#1282)
  packages/shared/backend/src/configs/logger.ts
  packages/wallet/backend/src/config/logger.ts
Labels: package: wallet/backend, type: source

feat(logger): add service name as context
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/cache/token.ts
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/order/service.ts
  packages/boutique/backend/src/payment/service.ts
  packages/boutique/backend/src/product/controller.ts
  packages/boutique/backend/src/product/service.ts
  packages/shared/backend/src/middleware/errorHandler.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/socket/service.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/webMonetization/transaction/service.ts
Labels: package: wallet/backend, package: boutique/backend, type: source

chore(upgrade): upgrade node and pnm in docker files
  docker/prod/docker-compose.yml
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/backend/package.json
  packages/boutique/frontend/Dockerfile.prod
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.prod
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend

chore(upgade): open-payments lib to 6.8.0
  packages/boutique/backend/package.json
Labels: package: boutique/backend

chore(upgade): upgrade open-payments lib to 6.8.2 again
  packages/boutique/backend/package.json
  pnpm-lock.yaml
Labels: package: boutique/backend

change name to "test wallet"
  packages/wallet/frontend/src/components/Menu.tsx
Labels: package: wallet/frontend, type: source

feat(upgrade): upgrade to alpha 8 (#1284)
  .github/workflows/setup/action.yml
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/backend/package.json
  packages/boutique/frontend/Dockerfile.prod
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.prod
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci

Change name to "Test Wallet"
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

Format
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/frontend, type: source

Update `.nvmrc`
  .nvmrc
Labels: none

feat(logger): inject logger instance on container init
  packages/boutique/backend/src/cache/token.ts
  packages/boutique/backend/src/container.ts
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/order/service.ts
  packages/boutique/backend/src/payment/service.ts
  packages/boutique/backend/src/product/controller.ts
  packages/boutique/backend/src/product/service.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/config/rafiki.ts
  packages/wallet/backend/src/config/walletAddress.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/rafiki/auth/service.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/socket/service.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/webMonetization/transaction/service.ts
Labels: package: wallet/backend, package: boutique/backend, type: source
