Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

fix: remove WM accounting (#1526)
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20231013114620_add_wm_transactions_table.js
  packages/wallet/backend/migrations/20231016055803_add_debt_column.js
  packages/wallet/backend/migrations/20231018084125_update_payment_pointers_table.js
  packages/wallet/backend/migrations/20231026113102_rename_payment_pointer_tables.js
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/utils/consts.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddress/validation.ts
  packages/wallet/backend/src/webMonetization/transaction/model.ts
  packages/wallet/backend/src/webMonetization/transaction/service.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/frontend/src/components/TemporaryWMNotice.tsx
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/utils/constants.ts
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/shared/src/types/walletAddress.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

feat(wallet/frontend): add temporary card service (#1554)
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

set expire to 8h and add notification message in the email
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

feat(wallet/frontend): separate card state from side view (#1555)
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardContext.tsx
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

fix: forgotten password - extend reset token expire time (#1556)
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

update Activate card details
  packages/wallet/frontend/src/components/dialogs/ActivateCardDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/lib/api/card.ts
Labels: package: wallet/frontend, type: source

update Terminate with main
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/lib/api/card.ts
Labels: package: wallet/frontend, type: source

Update user.ts
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

fix developer keys upload
  packages/wallet/backend/src/walletAddressKeys/service.ts
Labels: package: wallet/backend, type: source

fix err message
  packages/wallet/backend/src/walletAddressKeys/service.ts
Labels: package: wallet/backend, type: source

fix: developer keys upload (#1563)
  packages/wallet/backend/src/walletAddressKeys/service.ts
Labels: package: wallet/backend, type: source

add toast to error and success message
  packages/wallet/frontend/src/components/dialogs/ActivateCardDialog.tsx
  packages/wallet/frontend/src/lib/api/card.ts
Labels: package: wallet/frontend, type: source

Update TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
Labels: package: wallet/frontend, type: source

fix: Improve password complecxity for security reasons (#1562)
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

Update user.ts
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

Update TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
Labels: package: wallet/frontend, type: source

Update ActivateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/ActivateCardDialog.tsx
Labels: package: wallet/frontend, type: source

Factor out password validation - use custom zod validation
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

Make RHF happy again
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

Continuity reasons
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

fix: add password complexity constraint everywhere where needed (#1566)
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

feat: revoke recurring grants (#1446)
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/order/service.ts
Labels: package: boutique/backend, type: source

Update [accountId].tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

Update [accountId].tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

fix: fix wrongly rebased PR for WM PPs removal (#1568)
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

button hover actions
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/tailwind.config.js
Labels: package: wallet/frontend, type: source

Update UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
Labels: package: wallet/frontend, type: source

feat: button hover actions (#1570)
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/tailwind.config.js
Labels: package: wallet/frontend, type: source

Update DeveloperKeys.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

fix: remove className form transition (#1576)
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

fix(deps): update dependency iron-session to v8 (#1557)
  packages/wallet/backend/package.json
  packages/wallet/backend/src/global.d.ts
  packages/wallet/backend/src/middleware/withSession.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

Update DeveloperKeys.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

fix: developer keys headless UI bug fix (#1577)
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

Fix wallet address keys test
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: test

test(wallet/backend): fix wallet address keys test (#1581)
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: test

Add change card PIN form functionality
  packages/wallet/frontend/src/components/userCards/UserCardPINDialog.tsx
  packages/wallet/frontend/src/lib/api/card.ts
Labels: package: wallet/frontend, type: source

Initial card settings - spending limit, card pin
  packages/wallet/frontend/src/components/icons/Key.tsx
  packages/wallet/frontend/src/components/icons/Limit.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

Add dialogs
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSpendingLimitDialog.tsx
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

Add change PIN dialog + card front scaling
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

Remove console logs
  packages/wallet/frontend/src/components/userCards/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
Labels: package: wallet/frontend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
