Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

Fix grant message fix when it is NOT withdraw
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/frontend/src/hooks/use-setup-one-click-mutation.ts
  packages/boutique/shared/src/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source

Update DeveloperKeys.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

Fix wallet frontend
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
Labels: package: wallet/frontend, type: source

Fix wallet grant test
  packages/wallet/backend/tests/grant/controller.test.ts
Labels: package: wallet/backend, type: test

fix format
  packages/wallet/backend/tests/grant/controller.test.ts
Labels: package: wallet/backend, type: test

Update Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
Labels: package: wallet/frontend, type: source

Account details progress and remove exchange/withdraw
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/components/icons/Exchange.tsx
  packages/wallet/frontend/src/components/icons/Withdraw.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

Remove exchange page
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/pages/exchange.tsx
Labels: package: wallet/frontend, type: source

Progress
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
Labels: package: wallet/frontend, type: source

fix: Add developer keys onboarding (#1403)
  packages/wallet/frontend/src/components/SettingsTabs.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/icons/Key.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/components/providers/OnboardingProvider.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/context/onboarding.ts
  packages/wallet/frontend/src/ui/CopyButton.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

feat(docker): install and configure kratos
  docker/prod/docker-compose.yml
  docker/prod/entrypoint.sh
  docker/prod/identity.schema.json
  docker/prod/kratos.yml
Labels: none

prettier fixes
  docker/prod/docker-compose.yml
  docker/prod/identity.schema.json
  docker/prod/kratos.yml
Labels: none

Update TogglePayment.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/frontend, type: source

feat: upgrade rafiki to alpha 13
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/boutique/backend/package.json
  pnpm-lock.yaml
Labels: package: boutique/backend

fix: change RevokeGrantMutationResponse
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/request/grant.request.ts
  packages/wallet/backend/src/rafiki/auth/service.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
Labels: package: wallet/backend, type: source

fix fetch grant types
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
Labels: package: wallet/frontend, type: source

feat: Bring walletAddress response type into shared package (#1396)
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/shared/src/types/WalletAddressKey.ts
  packages/wallet/shared/src/types/asset.ts
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/walletAddress.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

feat(docker): install and configure kratos
  docker/prod/docker-compose.yml
  docker/prod/entrypoint.sh
  docker/prod/identity.schema.json
  docker/prod/kratos.yml
Labels: none

fix: Update tooltip on send page (#1416)
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/frontend, type: source

build: fix prod dockerfile for wallet backend
  packages/wallet/backend/Dockerfile.prod
Labels: package: wallet/backend

build: fix wallet frontend docker file
  packages/wallet/frontend/Dockerfile.prod
Labels: package: wallet/frontend

fix(kratos): admin url
  docker/prod/kratos.yml
Labels: none

feat: upgrade rafiki to alpha 13 (#1419)
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  docker/prod/entrypoint.sh
  docker/prod/identity.schema.json
  docker/prod/kratos.yml
  packages/boutique/backend/package.json
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/request/grant.request.ts
  packages/wallet/backend/src/rafiki/auth/service.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/frontend/Dockerfile.prod
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, type: source

fix fetch wallet types
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/shared/src/types/qoute.ts
Labels: package: wallet/frontend, type: source

Onboarding dark-light fixes icons
  packages/wallet/frontend/src/components/icons/Euro.tsx
  packages/wallet/frontend/src/components/icons/HomeRooftop.tsx
  packages/wallet/frontend/src/components/icons/Key.tsx
  packages/wallet/frontend/src/components/icons/MoneyHand.tsx
  packages/wallet/frontend/src/components/icons/New.tsx
  packages/wallet/frontend/src/components/icons/Person.tsx
  packages/wallet/frontend/src/components/icons/PersonDoc.tsx
  packages/wallet/frontend/src/components/icons/Pointer.tsx
  packages/wallet/frontend/src/components/icons/Request.tsx
  packages/wallet/frontend/src/components/icons/Send.tsx
  packages/wallet/frontend/src/components/icons/Switch.tsx
  packages/wallet/frontend/src/components/icons/ThumbsUp.tsx
  packages/wallet/frontend/src/components/icons/TransactionCircle.tsx
  packages/wallet/frontend/src/components/icons/Wave.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
Labels: package: wallet/frontend, type: source

Play button dark-light
  packages/wallet/frontend/src/components/icons/Play.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/forms/Select.tsx
Labels: package: wallet/frontend, type: source

Change back separation of one click payment, and add universal message for ACCESS to account
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/frontend/src/hooks/use-setup-one-click-mutation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source, type: test

Update use-setup-one-click-mutation.ts
  packages/boutique/frontend/src/hooks/use-setup-one-click-mutation.ts
Labels: package: boutique/frontend

First iteration - still WIP
  README.md
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/config/walletAddress.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddress/validation.ts
  packages/wallet/backend/src/webMonetization/transaction/model.ts
  packages/wallet/backend/src/webMonetization/transaction/service.ts
  packages/wallet/backend/tests/incomingPayment/service.test.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: documentation, type: source, type: test

Format
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddress/validation.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

Add Rapyd threshold as env var
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

Frontend fixes for WM PPs
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/shared/src/types/walletAddress.ts
Labels: package: wallet/frontend, type: source

Update [accountId].tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

Update [accountId].tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

fix conflicts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/walletAddress.ts
  packages/wallet/shared/src/types/walletAddressKey.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: conflicts of build has been resolved (#1428)
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/walletAddress.ts
  packages/wallet/shared/src/types/walletAddressKey.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix(docker): dev docker compose + kratos configuration
  docker/dbinit.sql
  docker/dev/docker-compose.yml
  docker/dev/kratos.yml
  docker/entrypoint.sh
  docker/identity.schema.json
  docker/prod/docker-compose.yml
Labels: type: docker

feat: fix grant message fix when it is NOT withdraw (#1406)
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/frontend/src/hooks/use-setup-one-click-mutation.ts
  packages/boutique/shared/src/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source

feat: upgrade to alpha 14
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/asset.request.ts
  packages/wallet/backend/src/rafiki/backend/request/incoming-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/liquidity.request.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/quote.request.ts
  packages/wallet/backend/src/rafiki/backend/request/receiver.request.ts
  packages/wallet/backend/src/rafiki/backend/request/wallet-address-key.request.ts
  packages/wallet/backend/src/rafiki/backend/request/wallet-address.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, type: source

fix(docker): dev docker compose + kratos configuration (#1429)
  docker/dbinit.sql
  docker/dev/docker-compose.yml
  docker/dev/kratos.yml
  docker/entrypoint.sh
  docker/identity.schema.json
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/asset.request.ts
  packages/wallet/backend/src/rafiki/backend/request/incoming-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/liquidity.request.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/quote.request.ts
  packages/wallet/backend/src/rafiki/backend/request/receiver.request.ts
  packages/wallet/backend/src/rafiki/backend/request/wallet-address-key.request.ts
  packages/wallet/backend/src/rafiki/backend/request/wallet-address.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, type: source, type: docker
