Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

feat: allow all users to signup for prod
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/frontend/src/pages/card.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

fix: create user if not found
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

fix: edit text
  packages/wallet/frontend/src/pages/card.tsx
Labels: package: wallet/frontend, type: source

feat: save deposit transactions
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

feat: save deposit transactions (#1812)
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

Enhance Boutique
  packages/boutique/frontend/src/app/checkout/components/pay-button.tsx
  packages/boutique/frontend/src/app/checkout/components/payment-methods.tsx
  packages/boutique/frontend/src/components/icons.tsx
  packages/boutique/frontend/src/components/ui/button.tsx
  packages/boutique/frontend/src/components/ui/tabs.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, package: boutique/frontend, type: source

Update Menu.tsx
  packages/wallet/frontend/src/components/Menu.tsx
Labels: package: wallet/frontend, type: source

feat: Enhance Boutique (#1817)
  packages/boutique/frontend/src/app/checkout/components/pay-button.tsx
  packages/boutique/frontend/src/app/checkout/components/payment-methods.tsx
  packages/boutique/frontend/src/components/icons.tsx
  packages/boutique/frontend/src/components/ui/button.tsx
  packages/boutique/frontend/src/components/ui/tabs.tsx
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, package: boutique/frontend, type: source

Update tabs.tsx
  packages/boutique/frontend/src/components/ui/tabs.tsx
Labels: package: boutique/frontend

fix: Update payment methods boutique (#1819)
  packages/boutique/frontend/src/components/ui/tabs.tsx
Labels: package: boutique/frontend

Update order-summary.tsx
  packages/boutique/frontend/src/app/checkout/components/order-summary.tsx
Labels: package: boutique/frontend

fix: Update order-summary fees text (#1821)
  packages/boutique/frontend/src/app/checkout/components/order-summary.tsx
Labels: package: boutique/frontend

Update mobile menu navigation
  packages/boutique/frontend/src/components/bubbles.tsx
  packages/boutique/frontend/src/components/navigation.tsx
  packages/boutique/frontend/src/components/ui/sheet.tsx
Labels: package: boutique/frontend

fix: Update mobile menu navigation (#1829)
  packages/boutique/frontend/src/components/bubbles.tsx
  packages/boutique/frontend/src/components/navigation.tsx
  packages/boutique/frontend/src/components/ui/sheet.tsx
Labels: package: boutique/frontend

feat: allow all users to signup for prod (#1809)
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/frontend/src/pages/card.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

update test: return undefined when gatehub user is not found in addUserToGateway
  packages/wallet/backend/tests/gatehub/service.test.ts
Labels: package: wallet/backend, type: test

feat: 1658 gatehub add tests for gatehub module (#1671)
  .vscode/launch.json
  package.json
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
  packages/wallet/backend/tests/gatehub/controller.test.ts
  packages/wallet/backend/tests/gatehub/service.test.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
Labels: package: wallet/backend, type: source, type: test

feat: check user verification status on onboarding request
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

test: change response on iframeurl
  packages/wallet/backend/tests/gatehub/controller.test.ts
  packages/wallet/backend/tests/gatehub/service.test.ts
Labels: package: wallet/backend, type: test

fix: format
  packages/wallet/backend/tests/gatehub/controller.test.ts
Labels: package: wallet/backend, type: test

Update Menu.tsx
  packages/wallet/frontend/src/components/Menu.tsx
Labels: package: wallet/frontend, type: source

fix: Update mobile z-index for header (#1853)
  packages/wallet/frontend/src/components/Menu.tsx
Labels: package: wallet/frontend, type: source

feat: check user verification status on onboarding request (#1846)
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/tests/gatehub/controller.test.ts
  packages/wallet/backend/tests/gatehub/service.test.ts
Labels: package: wallet/backend, type: source, type: test

Update service.ts
  packages/boutique/backend/src/open-payments/service.ts
Labels: package: boutique/backend, type: source

fix: Use WA resource server (#1857)
  packages/boutique/backend/src/open-payments/service.ts
Labels: package: boutique/backend, type: source

Change dev keys to make it more user friendly
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/ui/Button.tsx
Labels: package: wallet/frontend, type: source

fix: Change dev keys to make it more user friendly (#1858)
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/ui/Button.tsx
Labels: package: wallet/frontend, type: source

feat(transaction): add second party
  packages/wallet/backend/migrations/20241203140155_second_party_to_transactions.js
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

fix: restore validation
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

fix: add field to interface
  packages/wallet/shared/src/types/transaction.ts
Labels: none

Fix images and some FE fixes
  packages/wallet/frontend/public/bird-envelope-dark.webp
  packages/wallet/frontend/public/bird-envelope-light.webp
  packages/wallet/frontend/public/bird-error-dark.webp
  packages/wallet/frontend/public/bird-error-light.webp
  packages/wallet/frontend/public/grants-dark.webp
  packages/wallet/frontend/public/grants-light.webp
  packages/wallet/frontend/public/login-dark.webp
  packages/wallet/frontend/public/login-light.webp
  packages/wallet/frontend/public/login-mobile-dark.webp
  packages/wallet/frontend/public/login-mobile-light.webp
  packages/wallet/frontend/public/park-dark.webp
  packages/wallet/frontend/public/park-light.webp
  packages/wallet/frontend/public/people-dark.webp
  packages/wallet/frontend/public/people-light.webp
  packages/wallet/frontend/public/register-dark.webp
  packages/wallet/frontend/public/register-light.webp
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
Labels: package: wallet/frontend, type: source

fix: Fix images and some FE fixes (#1863)
  packages/wallet/frontend/public/bird-envelope-dark.webp
  packages/wallet/frontend/public/bird-envelope-light.webp
  packages/wallet/frontend/public/bird-error-dark.webp
  packages/wallet/frontend/public/bird-error-light.webp
  packages/wallet/frontend/public/grants-dark.webp
  packages/wallet/frontend/public/grants-light.webp
  packages/wallet/frontend/public/login-dark.webp
  packages/wallet/frontend/public/login-light.webp
  packages/wallet/frontend/public/login-mobile-dark.webp
  packages/wallet/frontend/public/login-mobile-light.webp
  packages/wallet/frontend/public/park-dark.webp
  packages/wallet/frontend/public/park-light.webp
  packages/wallet/frontend/public/people-dark.webp
  packages/wallet/frontend/public/people-light.webp
  packages/wallet/frontend/public/register-dark.webp
  packages/wallet/frontend/public/register-light.webp
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
Labels: package: wallet/frontend, type: source

fix: solve validation issues
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

fix: change public name to first and last name
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

feat(transaction): add second party (#1861)
  packages/wallet/backend/migrations/20241203140155_second_party_to_transactions.js
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/backend, type: source

Add user name to transactions list and redesign list
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Table.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/frontend, type: source

redesign transactions
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Table.tsx
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/frontend, type: source

feat: add additional details for card transactions
  packages/wallet/backend/migrations/20241217130555_add_card_tx_details_to_transactions.js
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/shared/src/types/card.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/backend, type: source

revert allowing everyone to sign up for cards
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

fix PP for cards display
  packages/boutique/backend/src/open-payments/service.ts
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
Labels: package: wallet/frontend, package: boutique/backend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
