Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

fix(docker): specify values to mandatory env variables
  docker/prod/docker-compose.yml
Labels: none

feat: upgrade rafiki to alpha 13 (#1419)
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  docker/prod/entrypoint.sh
  docker/prod/identity.schema.json
  docker/prod/kratos.yml
  packages/boutique/backend/package.json
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/request/grant.request.ts
  packages/wallet/backend/src/rafiki/auth/service.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/frontend/Dockerfile.prod
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, type: source

fix(docker): dev docker compose + kratos configuration (#1429)
  docker/dbinit.sql
  docker/dev/docker-compose.yml
  docker/dev/kratos.yml
  docker/entrypoint.sh
  docker/identity.schema.json
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/asset.request.ts
  packages/wallet/backend/src/rafiki/backend/request/incoming-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/liquidity.request.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/quote.request.ts
  packages/wallet/backend/src/rafiki/backend/request/receiver.request.ts
  packages/wallet/backend/src/rafiki/backend/request/wallet-address-key.request.ts
  packages/wallet/backend/src/rafiki/backend/request/wallet-address.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, type: source, type: docker

feat: fix grant message fix when it is NOT withdraw (#1406)
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/frontend/src/hooks/use-setup-one-click-mutation.ts
  packages/boutique/shared/src/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source

removed styling
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/styles/main.css
Labels: package: wallet/frontend, type: source

put appropriate err message for duplicate uploaded key
  packages/wallet/backend/src/walletAddressKeys/service.ts
Labels: package: wallet/backend, type: source

put appropriate err message for duplicate uploaded key
  packages/wallet/backend/src/walletAddressKeys/service.ts
Labels: package: wallet/backend, type: source

Finish account details (normal + WM)
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/ui/CopyButton.tsx
  packages/wallet/frontend/src/ui/Link.tsx
  packages/wallet/frontend/src/ui/Tooltip.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

Fix broken layout from previously merged PR
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
Labels: package: wallet/frontend, type: source

Format
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/ui/Link.tsx
  packages/wallet/frontend/src/ui/Tooltip.tsx
Labels: package: wallet/frontend, type: source

Fix table border on light mode
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
Labels: package: wallet/frontend, type: source

feat: update account details page; related components (#1410)
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/components/icons/Exchange.tsx
  packages/wallet/frontend/src/components/icons/Withdraw.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/ui/CopyButton.tsx
  packages/wallet/frontend/src/ui/Link.tsx
  packages/wallet/frontend/src/ui/Tooltip.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

feat: fix duplicate uploaded key (#1431)
  packages/wallet/backend/src/walletAddressKeys/service.ts
Labels: package: wallet/backend, type: source

Dialogs progress
  packages/wallet/frontend/src/components/TemporaryWMNotice.tsx
  packages/wallet/frontend/src/components/ThemeToggle.tsx
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/forms/Checkbox.tsx
  packages/wallet/frontend/src/ui/forms/Input.tsx
Labels: package: wallet/frontend, type: source

- Bring user response type into shared package
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/settings/index.tsx
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

feat: bring incoming payment and quote response type into shared package (#1395)
  packages/wallet/backend/src/incomingPayment/controller.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/frontend/src/components/ExchangeRate.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/asset.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/shared/src/types/incomingPayment.ts
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/qoute.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Remove unused function
  packages/wallet/backend/src/account/service.ts
Labels: package: wallet/backend, type: source

prettier fix
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/forms/Checkbox.tsx
  packages/wallet/frontend/src/ui/forms/Input.tsx
Labels: package: wallet/frontend, type: source

Table changes for new design
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
  packages/wallet/frontend/src/ui/Table.tsx
Labels: package: wallet/frontend, type: source

Remove unused import
  packages/wallet/frontend/src/lib/api/walletAddress.ts
Labels: package: wallet/frontend, type: source

Form fields new design
  packages/wallet/frontend/src/components/SettingsTabs.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/Divider.tsx
  packages/wallet/frontend/src/ui/forms/Checkbox.tsx
  packages/wallet/frontend/src/ui/forms/FieldError.tsx
  packages/wallet/frontend/src/ui/forms/FileUpload.tsx
  packages/wallet/frontend/src/ui/forms/Input.tsx
  packages/wallet/frontend/src/ui/forms/Label.tsx
  packages/wallet/frontend/src/ui/forms/Select.tsx
  packages/wallet/frontend/src/ui/forms/TextArea.tsx
Labels: package: wallet/frontend, type: source

tooltip fixes
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/frontend, type: source

fix(docker): specify values to mandatory env variables (#1430)
  docker/prod/docker-compose.yml
Labels: none

chore: fixed pnpm version (#1362)
  .github/workflows/build-publish.yaml
Labels: type: ci

Fix wallet backend tests
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
Labels: package: wallet/backend, type: source, type: test

Run prettier
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

feat: bring user response type into shared package (#1434)
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/settings/index.tsx
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

PR comments fix
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
Labels: package: wallet/frontend, type: source

Fix frontend formatting of asset scale
  packages/wallet/backend/src/account/service.ts
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Run prettier
  packages/wallet/backend/src/account/service.ts
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Run prettier
  packages/wallet/shared/src/types/index.ts
Labels: none

Final fix for displaying in diffrerent asset scales
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

Remove unused import
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

Run prettier
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

display revoke button for recurring payments
  packages/boutique/backend/src/order/controller.ts
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
Labels: package: wallet/frontend, package: boutique/backend, type: source

Add balance to useMemo deps
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

feat: Table changes for new design (#1436)
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
  packages/wallet/frontend/src/ui/Table.tsx
Labels: package: wallet/frontend, type: source

Updated dialogs
  packages/wallet/frontend/src/components/TemporaryWMNotice.tsx
  packages/wallet/frontend/src/components/dialogs/ErrorDialog.tsx
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/CopyButton.tsx
  packages/wallet/frontend/src/ui/forms/Form.tsx
Labels: package: wallet/frontend, type: source

Update [grantId].tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
Labels: package: wallet/frontend, type: source

Update [grantId].tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
Labels: package: wallet/frontend, type: source
