Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

fix: local env files should not be baked in
  .dockerignore
Labels: none

Potential fix for pull request finding
  .dockerignore
Labels: none

fix: local env files should not be baked in (#2230)
  .dockerignore
Labels: none

Notes added by 'git notes add'
  9a59f560ecf0767aaffd1f1da4fc285a21fe8f1c
Labels: none

fix: better cookie management
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/middleware/withSession.ts
  packages/wallet/backend/src/socket/service.ts
  packages/wallet/backend/src/utils/hosts.ts
  packages/wallet/backend/tests/utils/hosts.test.ts
Labels: package: wallet/backend, type: source, type: test

fix: better origin handling
  packages/wallet/backend/src/middleware/withSession.ts
  packages/wallet/backend/src/utils/hosts.ts
  packages/wallet/backend/tests/utils/hosts.test.ts
Labels: package: wallet/backend, type: source, type: test

feat: add full merchant onboarding field definitions API
  packages/wallet/backend/migrations/20260707092438_update_field_definitions.js
  packages/wallet/backend/src/terminal/controller.ts
  packages/wallet/backend/src/terminal/model.ts
  packages/wallet/backend/src/terminal/service.ts
  packages/wallet/backend/tests/terminal/controller.test.ts
  packages/wallet/backend/tests/terminal/service.test.ts
Labels: package: wallet/backend, type: source, type: test

fix: switch to new form api-wallet instead of api.wallet
  .github/workflows/release.yml
Labels: type: ci

fix: switch to new form api-wallet instead of api.wallet (#2233)
  .github/workflows/release.yml
Labels: type: ci

Notes added by 'git notes add'
  304921dc4f7df1974f851b7370b41ad70e9e991d
Labels: none

fix: cleaner cookie config management (#2231)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/middleware/withSession.ts
  packages/wallet/backend/src/socket/service.ts
  packages/wallet/backend/src/utils/hosts.ts
  packages/wallet/backend/tests/utils/hosts.test.ts
Labels: package: wallet/backend, type: source, type: test

Notes added by 'git notes add'
  c71b3268c7813a1707036619d9a16046e2c18f4b
Labels: none

feat: Verify merchant data and link to POS device
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/terminal/controller.ts
  packages/wallet/backend/src/terminal/model.ts
  packages/wallet/backend/src/terminal/validation.ts
  packages/wallet/backend/tests/terminal/controller.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source, type: test

feat: introduces prom client to backends for metrics scraping
  packages/boutique/backend/package.json
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/config/env.ts
  packages/boutique/backend/src/container.ts
  packages/shared/backend/jest.config.json
  packages/shared/backend/package.json
  packages/shared/backend/src/middleware/index.ts
  packages/shared/backend/src/middleware/metrics.ts
  packages/shared/backend/tests/middleware/metrics.test.ts
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source, type: test

feat: introduce prom client to expose metrics
  helm/testnet-boutique/tests/deployment.backend_test.yaml
  helm/testnet-boutique/tests/services_test.yaml
  helm/testnet-boutique/values.yaml
  helm/testnet-wallet/tests/deployment.backend_test.yaml
  helm/testnet-wallet/tests/services_test.yaml
  helm/testnet-wallet/values.yaml
Labels: none

fix: resolved linting issue
  packages/shared/backend/tests/middleware/metrics.test.ts
Labels: type: test

fix: tests now pass
  packages/boutique/backend/src/config/env.ts
  packages/boutique/backend/tests/app.ts
  packages/shared/backend/src/middleware/metrics.ts
  packages/shared/backend/tests/middleware/metrics.test.ts
  packages/wallet/backend/tests/app.ts
Labels: package: wallet/backend, package: boutique/backend, type: source, type: test

feat: Integrate hsm service in wallet backend
  packages/wallet/backend/.env.example
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/hsm/atalla/config.ts
  packages/wallet/backend/src/hsm/atalla/service.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package: wallet/backend, type: source

feat: add admin endpoint to send email announcements
  helm/testnet-wallet/values.yaml
  packages/wallet/backend/.env.example
  packages/wallet/backend/src/admin-notification/controller.ts
  packages/wallet/backend/src/admin-notification/service.ts
  packages/wallet/backend/src/admin-notification/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/announcementEmail.ts
  packages/wallet/backend/src/middleware/isAdminSecret.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/admin-notification/controller.test.ts
  packages/wallet/backend/tests/admin-notification/service.test.ts
Labels: package: wallet/backend, type: source, type: test

fix: validate user exist
  packages/wallet/backend/src/admin-notification/service.ts
  packages/wallet/backend/tests/admin-notification/controller.test.ts
  packages/wallet/backend/tests/admin-notification/service.test.ts
Labels: package: wallet/backend, type: source, type: test

fix: impreove announcmenets email endpoint
  packages/wallet/backend/src/admin-notification/service.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/announcementEmail.ts
  packages/wallet/backend/src/middleware/isAdminSecret.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/admin-notification/controller.test.ts
  packages/wallet/backend/tests/admin-notification/service.test.ts
Labels: package: wallet/backend, type: source, type: test

git add .
  .github/copilot-instructions.md
  .github/workflows/hsm-server-images.yml
Labels: type: ci, type: documentation

ci: set baked in image params to cards-playground
  .github/workflows/hsm-server-images.yml
Labels: type: ci

fix(wallet): make the wallet backend installable and testable with the HSM adapter
  .npmrc
  packages/wallet/backend/src/hsm/atalla/service.ts
Labels: package: wallet/backend, type: source

build(wallet): consume the published hsm-atalla packages instead of the sibling workspace
  .npmrc
  packages/wallet/backend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package: wallet/backend

feat: atalla packages upgraded and will now use paths instead
  .github/workflows/hsm-server-images.yml
  .npmrc
  packages/wallet/backend/.env.example
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/hsm/atalla/config.ts
  packages/wallet/backend/src/hsm/atalla/service.ts
  packages/wallet/backend/src/hsm/atalla/tls-files.ts
  packages/wallet/backend/tests/config/env.test.ts
  packages/wallet/backend/tests/hsm/atalla/tls-files.test.ts
Labels: package: wallet/backend, type: ci, type: source, type: test

ci: using single host for wallet instead
  .github/workflows/hsm-server-images.yml
Labels: type: ci

chore: bump helm common dependency to resolve volume monunts
  helm/testnet-wallet/Chart.lock
  helm/testnet-wallet/Chart.yaml
Labels: none

feat: disable deposits for production
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/tests/gatehub/service.test.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/deposit.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

chore: bump helm common dependency to resolve volume mounts (#2237)
  helm/testnet-wallet/Chart.lock
  helm/testnet-wallet/Chart.yaml
Labels: none

feat: disable deposits for production (#2238)
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/tests/gatehub/service.test.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/deposit.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

feat: add idempotency key and dry run mode
  packages/wallet/backend/src/admin-notification/service.ts
  packages/wallet/backend/src/admin-notification/validation.ts
  packages/wallet/backend/src/email/templates/announcementEmail.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/admin-notification/controller.test.ts
  packages/wallet/backend/tests/admin-notification/service.test.ts
  packages/wallet/backend/tests/helpers.ts
Labels: package: wallet/backend, type: source, type: test

fix: make admin notification idempotency atomic
  packages/shared/backend/src/cache/redis-client.ts
  packages/shared/backend/src/cache/service.ts
  packages/wallet/backend/src/admin-notification/service.ts
  packages/wallet/backend/tests/admin-notification/controller.test.ts
  packages/wallet/backend/tests/admin-notification/service.test.ts
  packages/wallet/backend/tests/helpers.ts
Labels: package: wallet/backend, type: source, type: test

feat: add admin endpoint to send email announcements (#2236)
  helm/testnet-wallet/values.yaml
  packages/shared/backend/src/cache/redis-client.ts
  packages/shared/backend/src/cache/service.ts
  packages/wallet/backend/.env.example
  packages/wallet/backend/src/admin-notification/controller.ts
  packages/wallet/backend/src/admin-notification/service.ts
  packages/wallet/backend/src/admin-notification/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/announcementEmail.ts
  packages/wallet/backend/src/middleware/isAdminSecret.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/admin-notification/controller.test.ts
  packages/wallet/backend/tests/admin-notification/service.test.ts
  packages/wallet/backend/tests/helpers.ts
Labels: package: wallet/backend, type: source, type: test

Notes added by 'git notes add'
  4a5ebdf08dc309f7f0b8e332c7cd60d528127cb8
Labels: none

fix: prevent clickjacking with X-Frame-Options
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/frontend, type: source

ci: registration of v1.x release channel
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  release.config.js
Labels: type: ci

docs: cleanup
  release.config.js
Labels: none

fix: formatting correction
  release.config.js
Labels: none

ci: registration of v1.x working release branch (#2240)
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  release.config.js
Labels: type: ci

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
