Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

- Add soft delete for transactions
  packages/wallet/backend/migrations/20230728101910_update_transactions_columns.js
  packages/wallet/backend/src/config/walletAddress.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

fix: update revoke key endpoint
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

- Fix payment pointer address
  packages/boutique/backend/src/config/env.ts
Labels: package: boutique/backend, type: source

FE part of Developer keys changes - first draft
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadKeysDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/ui/forms/TextArea.tsx
Labels: package: wallet/frontend, type: source

update grants types after rafiki change
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/ui/Badge.tsx
Labels: package: wallet/frontend, type: source

- Create wallet and boutique default user at first stage together - optimize codes
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

grant further fixes
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: add finalization reason
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/request/grant.request.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: update grants types after rafiki change (#1131)
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/request/grant.request.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

fix: update rapyd transfer response schema
  packages/wallet/backend/src/rapyd/schemas.ts
Labels: package: wallet/backend, type: source

fix: update rapyd transfer response schema (#1137)
  packages/wallet/backend/src/rapyd/schemas.ts
Labels: package: wallet/backend, type: source

- Create separate migration for add delete flag in transaction constraint - clear logs
  packages/wallet/backend/migrations/20240215061440_add_delete_flag_to_transactions_status_check_constraint.js
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

- Fix envs
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  packages/boutique/backend/src/config/env.ts
Labels: package: boutique/backend, type: source

chore: added focus to the first focusable elements on component load
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/exchange.tsx
Labels: package: wallet/frontend, type: source

fixed the prettier issues
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
Labels: package: wallet/frontend, type: source

- Update all staled transactions related to soft deleted walletAddress
  packages/wallet/backend/migrations/20240215061440_add_delete_flag_to_transactions_status_check_constraint.js
Labels: package: wallet/backend

Update Table.tsx
  packages/wallet/frontend/src/ui/Table.tsx
Labels: package: wallet/frontend, type: source

fix: skip setting SG api key when send email is disabled
  packages/wallet/backend/src/email/service.ts
Labels: package: wallet/backend, type: source

Revert "Merge branch 'dev-keys-improvements' into 1112-developer-keys-improvement"
  packages/wallet/backend/migrations/20240208113102_create_wallet_address_keys_table.js
  packages/wallet/backend/migrations/20240208123102_migrate_existing_keys.js
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/utils/jwk.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/backend/src/walletAddressKeys/validation.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
Labels: package: wallet/backend, type: source, type: test

fix: skip setting SG api key when send email is disabled (#1144)
  packages/wallet/backend/src/email/service.ts
Labels: package: wallet/backend, type: source

Add dialogs
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadKeysDialog.tsx
Labels: package: wallet/frontend, type: source

Developer keys changes
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/ui/forms/TextArea.tsx
Labels: package: wallet/frontend, type: source

- Create default user at initiation of system
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/index.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

Small fixes after feedback
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadKeysDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/ui/forms/TextArea.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

PR changes
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/walletAddress.ts
Labels: package: wallet/frontend, type: source

PR changes
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

Revert "Merge branch 'main' into 1112-developer-keys-improvement"
  package.json
  packages/boutique/backend/package.json
  packages/boutique/frontend/package.json
  packages/wallet/backend/package.json
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/request/grant.request.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/components/cards/GrantCard.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/lib/hooks/useGrants.ts
  packages/wallet/frontend/src/lib/hooks/useRedirect.ts
  packages/wallet/frontend/src/lib/hooks/useTypedRouter.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
  packages/wallet/frontend/src/utils/constants.ts
  packages/wallet/frontend/src/utils/helpers.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source

Revert "Revert "Merge branch 'main' into 1112-developer-keys-improvement""
  package.json
  packages/boutique/backend/package.json
  packages/boutique/frontend/package.json
  packages/wallet/backend/package.json
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/request/grant.request.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/components/cards/GrantCard.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/lib/hooks/useGrants.ts
  packages/wallet/frontend/src/lib/hooks/useRedirect.ts
  packages/wallet/frontend/src/lib/hooks/useTypedRouter.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
  packages/wallet/frontend/src/utils/constants.ts
  packages/wallet/frontend/src/utils/helpers.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source

- Add log at end of creation of default users - Run creating default user in Dev environment
  packages/wallet/backend/src/index.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

PR changes
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

Update transaction.ts
  packages/wallet/frontend/src/lib/api/transaction.ts
Labels: package: wallet/frontend, type: source

feat: allow multiple keys per wallet address (#1122)
  packages/wallet/backend/migrations/20240208113102_create_wallet_address_keys_table.js
  packages/wallet/backend/migrations/20240208123102_migrate_existing_keys.js
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/utils/jwk.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/backend/src/walletAddressKeys/validation.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
Labels: package: wallet/backend, type: source, type: test

feat: developer keys improvement FE part (#1145)
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/forms/TextArea.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

- extract create user and default account in separate method
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

- Change listAssets to getRafikiAsset
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

- Resolve conflicts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
Labels: package: wallet/backend, type: source

further transaction improvements
  packages/wallet/frontend/src/lib/hooks/useTransactions.ts
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/forms/Select.tsx
Labels: package: wallet/frontend, type: source

- Change isBoutique to name
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

- Change defaultAccount to keyPair
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
Labels: package: wallet/backend, type: source

ADd architecture diagramm to testnet
  .github/TESTNET_architecture.md
  README.md
Labels: type: ci, type: documentation
