Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

chore(workflows): format
  .github/workflows/build-publish.yaml
Labels: type: ci

fix(workflow): remove name
  .github/workflows/build-publish.yaml
Labels: type: ci

remove not needed interfaces
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

feat(boutique-frontend): support for currency env-var at build-time
  .github/workflows/build-publish.yaml
  packages/boutique/frontend/Dockerfile.prod
Labels: package: boutique/frontend, type: ci

fix(workflow): fix + concat
  .github/workflows/build-publish.yaml
Labels: type: ci

fix(workflows): build args now set as proper new lines
  .github/workflows/build-publish.yaml
Labels: type: ci

First draft of deposit when in sandbox
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/shared/src/types/account.ts
Labels: package: wallet/frontend, type: source

Add customer creation on sign up for sandbox env
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

Remove unnecessary awaits
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

Deposit continued with Dialog
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/shared/src/types/account.ts
Labels: package: wallet/frontend, type: source

remove edit profile form
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
Labels: package: wallet/frontend, type: source

update page title
  packages/wallet/frontend/src/pages/settings/index.tsx
Labels: package: wallet/frontend, type: source

fix eye positioning on password fields when field has error
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/frontend, type: source

remove unused imports
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
Labels: package: wallet/frontend, type: source

Update docker-compose.yml
  docker/dev/docker-compose.yml
Labels: none

chore: update to rafiki alpha 19 (#1672)
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
Labels: none

change schema place
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
Labels: package: wallet/frontend, type: source

fix: return 200 on initial request
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/middleware/isGateHubSignedWebhook.ts
Labels: package: wallet/backend, type: source

Fix build errors [temporary]
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardContext.tsx
Labels: package: wallet/frontend, type: source

import fixes
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
Labels: package: wallet/backend, type: source

lock/unlock
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/lib/api/card.ts
Labels: package: wallet/frontend, type: source

Move keypair context
  packages/wallet/frontend/src/components/providers/KeyPairProvider.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardContext.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/lib/context/keys.ts
Labels: package: wallet/frontend, type: source

terminate card actions added
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/lib/api/card.ts
Labels: package: wallet/frontend, type: source

Update controller.test.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: test

WIP
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20241008143459_add_customer_id_to_users.js
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/cardUsers.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/user/model.ts
Labels: package: wallet/backend, type: source

feat(gatehub): validate webhook signature (#1702)
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/middleware/isGateHubSignedWebhook.ts
Labels: package: wallet/backend, type: source

Finish script & additional changes
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/cardUsers.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

Add comment related to faulty meta object
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

Add lost code during merge
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

Add theme as build time env
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/dialogs/ErrorDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/pages/404.tsx
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/_document.tsx
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/no-access.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

Update envs
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/frontend/Dockerfile.prod
  packages/wallet/frontend/next.config.js
Labels: package: wallet/frontend

Revert default theme to dark
  packages/wallet/frontend/next.config.js
Labels: package: wallet/frontend

upgrade eslint version to 9.12.0
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Labels: none

fix new linter version errors
  packages/boutique/frontend/src/hooks/use-custom-mutation.ts
  packages/boutique/frontend/src/lib/fetcher.ts
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  packages/wallet/frontend/src/lib/context/dialog.ts
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/frontend, package: boutique/frontend, type: source

linter fix
  eslint.config.mjs
Labels: none

move change password at bottom and spacing fix
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
Labels: package: wallet/frontend, type: source

fix!: upgrade eslint version to 9.12.0 (#1706)
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  package.json
  packages/boutique/frontend/src/hooks/use-custom-mutation.ts
  packages/boutique/frontend/src/lib/fetcher.ts
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  packages/wallet/frontend/src/lib/context/dialog.ts
  packages/wallet/frontend/src/pages/transactions.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: boutique/frontend, type: source

remove updateProfile function
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

remove line
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

remove more unused vars
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
