Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: backend, package: wallet, type: ci, type: documentation, type: source, type: test, type: docker

update action buttons
  packages/wallet/src/components/icons/Exchange.tsx
  packages/wallet/src/pages/account/[id].tsx
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

remove unused import
  packages/wallet/src/pages/account/[id].tsx
Labels: package: wallet, type: source

update error handling and validator
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/middlewares/validator.ts
  packages/backend/src/shared/models/BaseResponse.ts
  packages/backend/src/shared/models/errors/BaseError.ts
  packages/backend/src/user/models/user.ts
Labels: package: backend, type: source

fix env config file
  docker/dev/docker-compose.yml
  packages/backend/package.json
  packages/backend/src/config/env.ts
  packages/backend/src/index.ts
  packages/wallet/package.json
  pnpm-lock.yaml
Labels: package: backend, package: wallet, type: source

update lockflie
  pnpm-lock.yaml
Labels: none

unused import removed
  packages/backend/src/user/models/user.ts
Labels: package: backend, type: source

remove .js
  packages/backend/src/index.ts
Labels: package: backend, type: source

remove .js extension
  packages/backend/src/index.ts
Labels: package: backend, type: source

fix funtion name
  packages/backend/src/index.ts
  packages/backend/src/rapyd/verification/request.ts
Labels: package: backend, type: source

feat(backend): added rapyd create wallet api, and types (#102)
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  packages/backend/package.json
  packages/backend/src/config/env.ts
  packages/backend/src/index.ts
  packages/backend/src/rapyd/utills/request.ts
  packages/backend/src/rapyd/verification/index.ts
  packages/backend/src/rapyd/verification/request.ts
  packages/backend/src/rapyd/verification/verification.d.ts
  packages/backend/src/rapyd/wallet/index.ts
  packages/backend/src/rapyd/wallet/request.ts
  packages/backend/src/rapyd/wallet/wallet.d.ts
  packages/backend/src/rapyd/wallet/wallet.test.ts
  packages/wallet/package.json
  pnpm-lock.yaml
Labels: package: backend, package: wallet, type: source, type: test

Update refresh token constructor and use it in auth service in order to avoid duplicate logic that transforms expiresIn into expiresAt
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/models/refreshToken.ts
Labels: package: backend, type: source

eslint
  packages/backend/src/auth/models/refreshToken.ts
Labels: package: backend, type: source

fix: #5 auth (#132)
  docker/dev/docker-compose.yml
  packages/backend/knexfile.js
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/errors/UnauthorisedException.ts
  packages/backend/src/auth/models/refreshToken.ts
  packages/backend/src/errors/BaseError.ts
  packages/backend/src/middlewares/errorHandler.ts
  packages/backend/src/middlewares/validator.ts
  packages/backend/src/shared/models/BaseResponse.ts
  packages/backend/src/shared/models/errors/BadRequestException.ts
  packages/backend/src/shared/models/errors/BaseError.ts
  packages/backend/src/shared/models/errors/InternalServerError.ts
  packages/backend/src/user/models/user.ts
Labels: package: backend, type: source

small style changes
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/pages/account/[id].tsx
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

add cors & migrations
  packages/backend/src/index.ts
Labels: package: backend, type: source

return the parsed data when validating
  packages/backend/src/middlewares/validator.ts
Labels: package: backend, type: source

fix imports
  packages/wallet/src/pages/auth/signup.tsx
Labels: package: wallet, type: source

update error messages
  packages/backend/src/auth/auth.service.ts
Labels: package: backend, type: source

add form error
  packages/wallet/src/components/icons/X.tsx
  packages/wallet/src/ui/forms/Form.tsx
Labels: package: wallet, type: source

standardize error messages
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/models/refreshToken.ts
  packages/wallet/src/lib/api/user.ts
Labels: package: backend, package: wallet, type: source

update error messages
  packages/backend/src/auth/auth.service.ts
Labels: package: backend, type: source

update error messages x2
  packages/backend/src/auth/auth.service.ts
Labels: package: backend, type: source

feat(wallet): add registration functionality (#135)
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/models/refreshToken.ts
  packages/backend/src/index.ts
  packages/backend/src/middlewares/validator.ts
  packages/wallet/src/components/icons/X.tsx
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/lib/axios.ts
  packages/wallet/src/pages/auth/index.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/register.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/ui/forms/Form.tsx
  packages/wallet/src/utils/helpers.ts
Labels: package: backend, package: wallet, type: source

useDialog now returns a tuple
  packages/wallet/src/pages/auth/signup.tsx
Labels: package: wallet, type: source

remove `onClick` handler from disclosure button
  packages/wallet/src/components/Menu.tsx
Labels: package: wallet, type: source

Implement Login functionality
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/ui/Button.tsx
Labels: package: wallet, type: source

fix cookie issues for login and refresh
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/models/refreshToken.ts
Labels: package: backend, type: source

finish account page ui
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/pages/account/[id].tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

formatting
  packages/wallet/src/components/PaymentPointerCard.tsx
Labels: package: wallet, type: source

use existing gradient
  packages/wallet/src/pages/account/[id].tsx
Labels: package: wallet, type: source

update form comment
  packages/wallet/src/ui/forms/Form.tsx
Labels: package: wallet, type: source

feat(wallet): add account page (#107)
  .eslintrc.js
  packages/wallet/.eslintrc.js
  packages/wallet/package.json
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/src/components/icons/Exchange.tsx
  packages/wallet/src/components/icons/Pencil.tsx
  packages/wallet/src/components/icons/Warning.tsx
  packages/wallet/src/components/layouts/AppLayout.tsx
  packages/wallet/src/lib/hooks/useDialog.ts
  packages/wallet/src/lib/hooks/useOnClickOutside.ts
  packages/wallet/src/pages/account/[id].tsx
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/ui/IconButton.tsx
  packages/wallet/src/ui/forms/Form.tsx
  packages/wallet/tailwind.config.js
  pnpm-lock.yaml
Labels: package: wallet, type: source

updated axios and login
  packages/wallet/src/lib/axios.ts
  packages/wallet/src/pages/auth/login.tsx
Labels: package: wallet, type: source

feat(wallet): Implement Login functionality (#139)
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/lib/axios.ts
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/ui/Button.tsx
Labels: package: wallet, type: source

feat(backend): added createWallet api
  packages/backend/migrations/20230209095515_user.js
  packages/backend/src/routes.ts
  packages/backend/src/wallet/models/wallet.ts
  packages/backend/src/wallet/schemas/walletSchema.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

Implement requests for wallet creation and verify identity
  packages/wallet/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/components/kyc/context.tsx
  packages/wallet/src/lib/api/user.ts
Labels: package: wallet, type: source

Update user.ts
  packages/wallet/src/lib/api/user.ts
Labels: package: wallet, type: source

fix: cookie issues for login and refresh (#141)
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/models/refreshToken.ts
Labels: package: backend, type: source

Update favicon.ico
  packages/wallet/public/favicon.ico
Labels: package: wallet

fix issue with Safari and svg element
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/icons/Pencil.tsx
  packages/wallet/src/components/icons/X.tsx
Labels: package: wallet, type: source

.github/labeler.yml:

'package: backend': packages/backend/**/*
'package: wallet': packages/wallet/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - "**/*.md"

'type: source':
  - packages/backend/src/**/*
  - packages/wallet/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
