Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: backend, package: wallet, type: ci, type: documentation, type: source, type: test, type: docker

escape characters in env variable
  docker/dev/docker-compose.yml
Labels: none

fix: escape characters for env variables (#128)
  docker/dev/docker-compose.yml
Labels: none

merge from main branch
  .gitmodules
  docker/dev/dbinit.sql
  packages/backend/migrations/20230214221007_refresh_token.js
  packages/backend/seeds/seed_users.js
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/errors/UnauthorisedException.ts
  packages/backend/src/auth/jwtStrategy.ts
  packages/backend/src/auth/models/refreshToken.ts
  packages/backend/src/auth/schemas/index.ts
  packages/backend/src/auth/schemas/loginSchema.ts
  packages/backend/src/auth/schemas/signupSchema.ts
  packages/backend/src/config/env.ts
  packages/backend/src/errors/BadRequestException.ts
  packages/backend/src/errors/BaseError.ts
  packages/backend/src/middlewares/errorHandler.ts
  packages/backend/src/middlewares/validator.ts
  packages/backend/src/user/models/user.ts
  packages/backend/src/utils/logger.ts
  packages/wallet/public/pay-mobile.webp
  packages/wallet/public/request-mobile.webp
  packages/wallet/public/send-mobile.webp
  packages/wallet/public/settings.webp
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/components/icons/Clipboard.tsx
  packages/wallet/src/components/icons/New.tsx
  packages/wallet/src/components/icons/Pay.tsx
  packages/wallet/src/components/icons/Receive.tsx
  packages/wallet/src/components/icons/Send.tsx
  packages/wallet/src/components/settings/ApiKeys.tsx
  packages/wallet/src/ui/CopyButton.tsx
  packages/wallet/src/ui/TogglePayment.tsx
Labels: package: backend, package: wallet, type: source

setup axios
  packages/wallet/src/lib/axios.ts
  packages/wallet/src/utils/helpers.ts
Labels: package: wallet, type: source

fix lock-file
  pnpm-lock.yaml
Labels: none

set env variable
  docker/dev/docker-compose.yml
  packages/wallet/package.json
  pnpm-lock.yaml
Labels: package: wallet

add public name
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

chore: update rafiki
  pnpm-lock.yaml
Labels: none

docker port mapping fixed. Auth service properly throws errors Response type defined fix user foreign key reference typo
  docker/dev/docker-compose.yml
  packages/backend/knexfile.js
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/errors/UnauthorisedException.ts
  packages/backend/src/errors/BaseError.ts
  packages/backend/src/middlewares/errorHandler.ts
  packages/backend/src/middlewares/validator.ts
  packages/backend/src/shared/models/Response.ts
  packages/backend/src/shared/models/errors/BadRequestException.ts
  packages/backend/src/shared/models/errors/BaseError.ts
  packages/backend/src/user/models/user.ts
Labels: package: backend, type: source

fix eslint
  packages/backend/src/shared/models/errors/BadRequestException.ts
  packages/backend/src/shared/models/errors/BaseError.ts
Labels: package: backend, type: source

eslint
  packages/backend/src/shared/models/errors/BaseError.ts
Labels: package: backend, type: source

merge from main branch
  packages/backend/package.json
  packages/backend/src/config/env.ts
Labels: package: backend, type: source

fix pnpm issue
  packages/backend/src/config/env.ts
Labels: package: backend, type: source

feat(wallet): setup axios (#131)
  docker/dev/docker-compose.yml
  packages/wallet/package.json
  packages/wallet/src/lib/axios.ts
  packages/wallet/src/utils/helpers.ts
  pnpm-lock.yaml
Labels: package: wallet, type: source

address comments
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

add base response type
  packages/wallet/src/lib/axios.ts
Labels: package: wallet, type: source

add user service
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/lib/axios.ts
  packages/wallet/src/pages/auth/index.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/register.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/utils/helpers.ts
Labels: package: wallet, type: source

adding .env and parse from that file
  packages/backend/src/config/env.ts
  packages/backend/src/index.ts
  packages/backend/src/rapyd/utills/request.ts
  packages/backend/src/rapyd/wallet/wallet.d.ts
  packages/backend/src/rapyd/wallet/wallet.test.ts
Labels: package: backend, type: source, type: test

update signup endpoint
  packages/wallet/src/lib/api/user.ts
Labels: package: wallet, type: source

Fix axios dependency issue
  pnpm-lock.yaml
Labels: none

address comment
  packages/wallet/src/pages/auth/signup.tsx
Labels: package: wallet, type: source

remove dead code
  packages/wallet/src/lib/api/user.ts
Labels: package: wallet, type: source

chore: update rafiki (#133)
  pnpm-lock.yaml
Labels: none

update renovate config
  renovate.json
Labels: none

chore: update renovate config (#137)
  renovate.json
Labels: none

update account page and buttons
  packages/wallet/src/pages/account/[id].tsx
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

update app layout
  packages/wallet/src/components/layouts/AppLayout.tsx
Labels: package: wallet, type: source

2nd account page draft
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/icons/Pencil.tsx
  packages/wallet/src/lib/hooks/useOnClickOutside.ts
  packages/wallet/src/pages/account/[id].tsx
  packages/wallet/src/ui/IconButton.tsx
Labels: package: wallet, type: source

feat(wallet): add create payment pointer dialog (#109)
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/dialogs/ErrorDialog.tsx
  packages/wallet/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

update payment pointer card
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/ui/forms/Form.tsx
Labels: package: wallet, type: source

update `useDialog` hook
  packages/wallet/src/lib/hooks/useDialog.ts
  packages/wallet/src/pages/account/create.tsx
Labels: package: wallet, type: source

add confirmation dialog
  packages/wallet/src/components/dialogs/ConfirmationModal.tsx
  packages/wallet/src/components/icons/Warning.tsx
Labels: package: wallet, type: source

delete payment pointer functionality
  packages/wallet/src/components/PaymentPointerCard.tsx
Labels: package: wallet, type: source

typo
  packages/wallet/src/components/dialogs/ConfirmationModal.tsx
Labels: package: wallet, type: source

fix filename
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/dialogs/ConfirmationDialog.tsx
Labels: package: wallet, type: source

replece `createRef` with `useRef`
  packages/wallet/src/components/PaymentPointerCard.tsx
Labels: package: wallet, type: source

changes to validation errors
  packages/backend/src/middlewares/errorHandler.ts
  packages/backend/src/middlewares/validator.ts
  packages/backend/src/shared/models/TestnetResponse.ts
  packages/backend/src/shared/models/errors/BaseError.ts
  packages/backend/src/shared/models/errors/InternalServerError.ts
  pnpm-lock.yaml
Labels: package: backend, type: source

eslint
  packages/backend/src/middlewares/validator.ts
Labels: package: backend, type: source

add env.example
  docker/dev/.env.example
  packages/backend/.env.development
  packages/backend/.env.production
  packages/backend/package.json
  pnpm-lock.yaml
Labels: package: backend

add env file to compose
  docker/dev/docker-compose.yml
  packages/backend/.gitignore
Labels: package: backend

.github/labeler.yml:

'package: backend': packages/backend/**/*
'package: wallet': packages/wallet/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - "**/*.md"

'type: source':
  - packages/backend/src/**/*
  - packages/wallet/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
