Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

Fix imports, rearrange functions
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

Small fixes
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
Labels: package: wallet/backend, type: source

Add get/override card limits endpoints
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source

Update status code for change pin
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

Add controller tests
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

Add controller tests
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: test

Add controller tests
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

fix(wallet): await on get balance (#1657)
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

feat(wallet/backend): add endpoints for view/change pin (#1659)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

Address comments, rearrange endpoints
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source, type: test

feat(wallet/backend): add view card transactions endpoint (#1661)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source, type: test

wallet backend add tests for gatehub module
  packages/wallet/backend/tests/gatehub/controller.test.ts
  packages/wallet/backend/tests/gatehub/service.test.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: test

remove commented code
  packages/wallet/backend/tests/gatehub/controller.test.ts
  packages/wallet/backend/tests/gatehub/service.test.ts
Labels: package: wallet/backend, type: test

more test for gatehub module service
  packages/wallet/backend/tests/gatehub/service.test.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: test

Rearrange functions
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

update rafiki version & added new env variable
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
Labels: none

Ensure WA exists for lock and unlock calls
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
Labels: package: wallet/backend, type: source

Fix backend tests
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: test

feat(wallet/backend): add permanently block card endpoint (#1662)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source, type: test

Rearrange functions and tests
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source, type: test

reduce rate limit env variable and set them by level in a config file
  README.md
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/config/rateLimit.ts
  packages/wallet/backend/src/middleware/rateLimit.ts
  packages/wallet/backend/tests/auth/controller.test.ts
Labels: package: wallet/backend, type: documentation, type: source, type: test

Add script template and update card types
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/cardUsers.ts
Labels: package: wallet/backend, type: source

Remove unused imports
  packages/wallet/backend/src/cardUsers.ts
Labels: package: wallet/backend, type: source

Pass managed user id header when fetching wallet balance
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

Change endpoint for create customer
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

feat(wallet/backend): add view/update card limits endpoints (#1663)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source, type: test

fix(wallet/backend): send managed user id when retrieving wallet balance (#1676)
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

feat(account): fund account on sandox
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/account/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

feat(gatehub): validate webhook signature
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/middleware/isGateHubSignedWebhook.ts
Labels: package: wallet/backend, type: source

Fetch card details (masked)
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/pages/card/index.tsx
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

WIP: Generate key pair for card data
  packages/wallet/frontend/src/components/providers/KeyPairProvider.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/lib/context/keys.ts
Labels: package: wallet/frontend, type: source

feat(webhook): implement webhook signature validation
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/middleware/isRafikiSignedWebhook.ts
  packages/wallet/backend/src/rafiki/controller.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

fix: remove console logs
  packages/wallet/backend/src/rafiki/controller.ts
Labels: package: wallet/backend, type: source

feat(webhook): implement webhook signature validation (#1680)
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/middleware/isRafikiSignedWebhook.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

feat(workflows): build & publish now also accounts for separate image for boutique-frontend for jopacc
  .github/workflows/build-publish.yaml
Labels: type: ci

feat(account): fund account in sandbox (#1677)
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/account/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

more tests for rafiki service, better webhook input validation and bug fix
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
Labels: package: wallet/backend, type: source, type: test

chore(workflows): single quotes
  .github/workflows/build-publish.yaml
Labels: type: ci

fix(workflows): specify name of package
  .github/workflows/build-publish.yaml
Labels: type: ci

feat(workflows): remove unecessary build, and add url for api.rafiki.boutique
  .github/workflows/build-publish.yaml
Labels: type: ci

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
