Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: backend, package: wallet, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: backend': packages/backend/**/*
'package: wallet': packages/wallet/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - "**/*.md"

'type: source':
  - packages/backend/src/**/*
  - packages/wallet/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

setup jest
  packages/backend-update/jest.config.json
  packages/backend-update/jest.setup.js
  packages/backend-update/jest.teardown.js
  packages/backend-update/package.json
  packages/backend-update/src/app.ts
  packages/backend-update/src/index.ts
  packages/backend-update/src/test/app.test.ts
  packages/backend-update/src/test/app.ts
  packages/backend-update/tsconfig.json
  packages/backend/src/payment-pointer/payment-pointer.model.ts
  pnpm-lock.yaml
Labels: package: backend, type: source, type: test

remove test query
  packages/backend/src/payment-pointer/payment-pointer.model.ts
Labels: package: backend, type: source

feat: get accounts balance from rapyd (#199)
  packages/backend/src/account/account.model.ts
  packages/backend/src/account/account.service.ts
  packages/backend/src/rapyd/wallet/request.ts
  packages/backend/src/utils/helpers.ts
  packages/wallet/package.json
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/lib/api/paymentPointer.ts
  packages/wallet/src/pages/_app.tsx
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/styles/main.css
  packages/wallet/src/ui/Progress.tsx
  pnpm-lock.yaml
Labels: package: backend, package: wallet, type: source

add knex, objection and migrations
  packages/backend-update/knexfile.js
  packages/backend-update/migrations/20230317135105_create_users.js
  packages/backend-update/migrations/20230317135443_create_refresh_tokens.js
  packages/backend-update/migrations/20230317142949_create_accounts.js
  packages/backend-update/migrations/20230317143010_create_payment_pointers.js
  packages/backend-update/migrations/20230317143023_create_transactions.js
  packages/backend-update/package.json
  pnpm-lock.yaml
Labels: none

add container test
  packages/backend-update/src/tests/app.test.ts
  packages/backend-update/src/tests/app.ts
Labels: type: test

replace refresh tokens with sessions
  packages/backend-update/migrations/20230317135443_create_sessions.js
  packages/backend-update/src/test/app.test.ts
  packages/backend-update/src/test/app.ts
Labels: type: test

init models
  packages/backend-update/src/account/model.ts
  packages/backend-update/src/payment-pointer/model.ts
  packages/backend-update/src/session/model.ts
  packages/backend-update/src/shared/model.ts
  packages/backend-update/src/user/model.ts
Labels: none

WIP on webhooks rapyd integration
  packages/backend/src/account/account.model.ts
  packages/backend/src/payment-pointer/payment-pointer.model.ts
  packages/backend/src/rafiki/integration/webhook/webhook.controller.ts
  packages/backend/src/rafiki/integration/webhook/webhook.service.ts
  packages/backend/src/rafiki/request/liquidity.request.ts
  packages/backend/src/user/models/user.ts
Labels: package: backend, type: source

Add loading state for buttons
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/components/icons/Play.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Button.tsx
Labels: package: wallet, type: source

Add Spinner to icons
  packages/wallet/src/components/icons/Spinner.tsx
  packages/wallet/src/ui/Button.tsx
Labels: package: wallet, type: source

use form state for loading
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
Labels: package: wallet, type: source

Update VerifyIdentityForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
Labels: package: wallet, type: source

feat(wallet): Add loading state for buttons (#212)
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/components/icons/Play.tsx
  packages/wallet/src/components/icons/Spinner.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Button.tsx
Labels: package: wallet, type: source

add auth module
  docker/dev/dbinit.sql
  package.json
  packages/backend-update/Dockerfile.dev
  packages/backend-update/jest.config.json
  packages/backend-update/migrations/20230317135105_create_users.js
  packages/backend-update/migrations/20230317135443_create_sessions.js
  packages/backend-update/migrations/20230317142949_create_accounts.js
  packages/backend-update/package.json
  packages/backend-update/src/app.ts
  packages/backend-update/src/auth/controller.ts
  packages/backend-update/src/auth/router.ts
  packages/backend-update/src/auth/service.ts
  packages/backend-update/src/auth/validation.ts
  packages/backend-update/src/config/env.ts
  packages/backend-update/src/global.d.ts
  packages/backend-update/src/index.ts
  packages/backend-update/src/middleware/isAuth.ts
  packages/backend-update/src/middleware/withSession.ts
  packages/backend-update/src/session/model.ts
  packages/backend-update/src/shared/validate.ts
  packages/backend-update/src/user/model.ts
  packages/backend-update/src/user/service.ts
  pnpm-lock.yaml
Labels: none

Add transfers service, populate accounts list
  packages/wallet/src/lib/api/paymentPointer.ts
  packages/wallet/src/lib/api/transfers.ts
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
Labels: package: wallet, type: source

add auth tests
  packages/backend-update/jest.config.json
  packages/backend-update/jest.teardown.js
  packages/backend-update/package.json
  packages/backend-update/src/app.ts
  packages/backend-update/src/auth/controller.ts
  packages/backend-update/src/auth/router.ts
  packages/backend-update/src/auth/service.ts
  packages/backend-update/src/config/logger.ts
  packages/backend-update/src/index.ts
  packages/backend-update/src/middleware/errorHandler.ts
  packages/backend-update/src/tests/app.test.ts
  packages/backend-update/src/tests/app.ts
  packages/backend-update/src/tests/auth/controller.test.ts
  packages/backend-update/src/tests/auth/service.test.ts
  packages/backend-update/src/tests/tables.ts
  packages/backend-update/src/tests/utils.ts
  packages/backend-update/src/user/service.ts
  pnpm-lock.yaml
Labels: type: test

update auth controller test
  packages/backend-update/src/auth/controller.ts
  packages/backend-update/src/tests/auth/controller.test.ts
Labels: type: test

finish auth module tests
  packages/backend-update/src/tests/app.test.ts
  packages/backend-update/src/tests/auth/controller.test.ts
  packages/backend-update/src/tests/tables.ts
  pnpm-lock.yaml
Labels: type: test

remove test route
  packages/backend-update/src/app.ts
Labels: none

update isAuth middleware
  packages/backend-update/src/app.ts
  packages/backend-update/src/auth/service.ts
  packages/backend-update/src/middleware/isAuth.ts
Labels: none

update models
  packages/backend-update/src/account/model.ts
  packages/backend-update/src/payment-pointer/model.ts
  packages/backend-update/src/session/model.ts
  packages/backend-update/src/user/model.ts
Labels: none

add axios
  packages/backend-update/package.json
Labels: none

remove root script for backend update
  package.json
Labels: none

isolate tests
  package.json
  packages/backend-update/jest.config.json
  packages/backend-update/jest.setup.js
  packages/backend-update/package.json
  packages/backend-update/src/tests/tables.ts
  pnpm-lock.yaml
Labels: none

Add payment pointer select to pay/send, fix some bugs
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/icons/Play.tsx
  packages/wallet/src/lib/api/transfers.ts
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: wallet, type: source

update lock file
  pnpm-lock.yaml
Labels: none

feat: create incoming/outgoing payments
  docker/dev/docker-compose.yml
  docker/dev/private-key.pem
  packages/backend/migrations/20230209130752_transaction.js
  packages/backend/package.json
  packages/backend/src/asset/asset.route.ts
  packages/backend/src/auth/jwtStrategy.ts
  packages/backend/src/config/env.ts
  packages/backend/src/incoming-payment/incoming-payment.route.ts
  packages/backend/src/incoming-payment/incoming-payment.schema.ts
  packages/backend/src/incoming-payment/incoming-payment.service.ts
  packages/backend/src/incoming-payment/request/auth.request.ts
  packages/backend/src/incoming-payment/request/incoming-payment.request.ts
  packages/backend/src/outgoing-payment/outgoing-payment.route.ts
  packages/backend/src/outgoing-payment/outgoing-payment.schema.ts
  packages/backend/src/outgoing-payment/outgoing-payment.service.ts
  packages/backend/src/outgoing-payment/request/auth.request.ts
  packages/backend/src/outgoing-payment/request/outgoing-payment.request.ts
  packages/backend/src/outgoing-payment/request/quote.request.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/backend/src/rafiki/generated/graphql.ts
  packages/backend/src/rafiki/request/payment-pointer.request.ts
  packages/backend/src/rafiki/signature.request.ts
  packages/backend/src/routes.ts
  packages/backend/src/transaction/transaction.model.ts
  packages/backend/src/transaction/transaction.route.ts
  packages/backend/src/transaction/transaction.service.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package: backend, type: source

Update Select.tsx
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: wallet, type: source

typos
  packages/backend-update/jest.config.json
  packages/backend-update/package.json
Labels: none

update with real data settings page
  packages/backend/src/auth/auth.service.ts
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/pages/settings/index.tsx
Labels: package: backend, package: wallet, type: source

add user controller
  packages/backend-update/src/user/controller.ts
Labels: none

add me endpoint
  packages/backend-update/src/app.ts
  packages/backend-update/src/index.ts
Labels: none

Add update profile
  packages/backend/src/rapyd/wallet/request.ts
  packages/backend/src/rapyd/wallet/wallet.d.ts
  packages/backend/src/routes.ts
  packages/backend/src/wallet/schemas/walletSchema.ts
  packages/backend/src/wallet/wallet.service.ts
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/lib/api/user.ts
Labels: package: backend, package: wallet, type: source

ADd error dialog when there is no PP list
  packages/wallet/src/pages/settings/index.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/send.tsx
Labels: package: wallet, type: source

fix rapyd call to update profile
  packages/backend/src/rapyd/utills/request.ts
  packages/backend/src/rapyd/wallet/request.ts
Labels: package: backend, type: source

feat: use grphql for creating payments
  docker/dev/docker-compose.yml
  docker/dev/private-key.pem
  packages/backend/migrations/20230209130752_transaction.js
  packages/backend/package.json
  packages/backend/src/asset/asset.route.ts
  packages/backend/src/incoming-payment/incoming-payment.route.ts
  packages/backend/src/incoming-payment/incoming-payment.schema.ts
  packages/backend/src/incoming-payment/incoming-payment.service.ts
  packages/backend/src/incoming-payment/request/auth.request.ts
  packages/backend/src/incoming-payment/request/incoming-payment.request.ts
  packages/backend/src/outgoing-payment/outgoing-payment.route.ts
  packages/backend/src/outgoing-payment/outgoing-payment.schema.ts
  packages/backend/src/outgoing-payment/outgoing-payment.service.ts
  packages/backend/src/outgoing-payment/request/auth.request.ts
  packages/backend/src/outgoing-payment/request/outgoing-payment.request.ts
  packages/backend/src/outgoing-payment/request/quote.request.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/backend/src/rafiki/generated/graphql.ts
  packages/backend/src/rafiki/request/incoming-payment.request.ts
  packages/backend/src/rafiki/request/outgoing-payment.request.ts
  packages/backend/src/rafiki/request/payment-pointer.request.ts
  packages/backend/src/rafiki/request/quote.request.ts
  packages/backend/src/rafiki/signature.request.ts
  packages/backend/src/routes.ts
  packages/backend/src/transaction/transaction.model.ts
  packages/backend/src/transaction/transaction.route.ts
  packages/backend/src/transaction/transaction.service.ts
Labels: package: backend, type: source

fix: clean
  docker/dev/docker-compose.yml
  packages/backend/src/asset/asset.route.ts
  packages/backend/src/auth/jwtStrategy.ts
  packages/backend/src/config/env.ts
  packages/backend/src/outgoing-payment/outgoing-payment.route.ts
  packages/backend/src/outgoing-payment/outgoing-payment.service.ts
Labels: package: backend, type: source

fix: remove http-signature-package
  pnpm-workspace.yaml
Labels: none

feat: add isReceive param
  packages/backend/src/outgoing-payment/outgoing-payment.schema.ts
  packages/backend/src/outgoing-payment/outgoing-payment.service.ts
  packages/backend/src/rafiki/request/quote.request.ts
  pnpm-lock.yaml
Labels: package: backend, type: source

fix: change toPaymentPointerId to toPaymentPointerUrl
  packages/backend/src/outgoing-payment/outgoing-payment.schema.ts
  packages/backend/src/outgoing-payment/outgoing-payment.service.ts
Labels: package: backend, type: source
