Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: commerce/backend, package: commerce/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: commerce/backend': packages/commerce/backend/**/*
'package: commerce/frontend': packages/commerce/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

Exchange button continued
  packages/wallet/frontend/src/components/dialogs/ExchangeDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/exchange.tsx
Labels: package: wallet/frontend, type: source

removed custom encryption
  packages/wallet/backend/src/utils/crypto.ts
  packages/wallet/frontend/src/utils/crypto.ts
Labels: package: wallet/backend, package: wallet/frontend, type: source

Toasts slide-in from bottom on all viewports
  packages/commerce/frontend/src/components/ui/toast.tsx
Labels: package: commerce/frontend

Show item total price and add aria-label to qty button
  packages/commerce/frontend/src/app/cart/components/cart-item.tsx
Labels: package: commerce/frontend

Remove `font-medium` because Titillium font does not have a font-weight of 500
  packages/commerce/frontend/src/app/cart/components/cart-item.tsx
  packages/commerce/frontend/src/app/cart/components/order-summary.tsx
  packages/commerce/frontend/src/components/shopping-cart-popover.tsx
  packages/commerce/frontend/src/components/ui/button.tsx
  packages/commerce/frontend/src/components/ui/toast.tsx
Labels: package: commerce/frontend

More accessibility improvements
  packages/commerce/frontend/src/app/cart/components/cart-item.tsx
  packages/commerce/frontend/src/components/navigation.tsx
  packages/commerce/frontend/src/components/shopping-cart-popover.tsx
  packages/commerce/frontend/src/components/ui/button.tsx
Labels: package: commerce/frontend

Format
  packages/commerce/frontend/src/components/navigation.tsx
Labels: package: commerce/frontend

feat(commerce/frontend): add shopping cart page (#673)
  packages/commerce/frontend/src/app/cart/components/cart-item.tsx
  packages/commerce/frontend/src/app/cart/components/cart-items.tsx
  packages/commerce/frontend/src/app/cart/components/order-summary.tsx
  packages/commerce/frontend/src/app/cart/index.tsx
  packages/commerce/frontend/src/app/cart/routes.tsx
  packages/commerce/frontend/src/app/index.tsx
  packages/commerce/frontend/src/app/products/components/product-card.tsx
  packages/commerce/frontend/src/app/products/components/product-cta.tsx
  packages/commerce/frontend/src/app/products/components/product-shimmer.tsx
  packages/commerce/frontend/src/components/icons.tsx
  packages/commerce/frontend/src/components/navigation.tsx
  packages/commerce/frontend/src/components/shopping-cart-popover.tsx
  packages/commerce/frontend/src/components/ui/button.tsx
  packages/commerce/frontend/src/components/ui/toast.tsx
  packages/commerce/frontend/src/lib/stores/cart-store.ts
  packages/commerce/frontend/tailwind.config.cjs
Labels: package: commerce/frontend

Update rapyd-client.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
Labels: package: wallet/backend, type: source

Apply BE apis to Exchange FE
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, type: source

delete unused BE parts
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

Add useZodForm hook
  packages/commerce/frontend/package.json
  packages/commerce/frontend/src/hooks/use-zod-form.ts
  pnpm-lock.yaml
Labels: package: commerce/frontend

wip auto creation account/pp
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/createContainer.ts
Labels: package: wallet/backend, type: source

fix: auto-create SOURCE pp && add exchange Transaction description && remove unused GET endpoint
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

Add Form component
  packages/commerce/frontend/src/components/ui/form/form.tsx
Labels: package: commerce/frontend

Add form fields
  packages/commerce/frontend/package.json
  packages/commerce/frontend/src/components/ui/form/form-field.tsx
  packages/commerce/frontend/src/components/ui/form/form.tsx
  packages/commerce/frontend/src/components/ui/form/input-field.tsx
  packages/commerce/frontend/src/components/ui/input.tsx
  packages/commerce/frontend/src/components/ui/label.tsx
  packages/commerce/frontend/src/hooks/use-form-field.ts
  pnpm-lock.yaml
Labels: package: commerce/frontend

Format
  packages/commerce/frontend/src/components/ui/form/form.tsx
Labels: package: commerce/frontend

Update controller.test.ts
  packages/wallet/backend/tests/account/controller.test.ts
Labels: package: wallet/backend, type: test

Add Open Payments Pay button
  packages/commerce/frontend/src/app/checkout/components/pay-button.tsx
  packages/commerce/frontend/src/components/icons.tsx
  packages/commerce/frontend/src/main.css
  packages/commerce/frontend/tailwind.config.cjs
Labels: package: commerce/frontend

feat(commerce/frontend): add form components (#694)
  packages/commerce/frontend/package.json
  packages/commerce/frontend/src/components/ui/form/form-field.tsx
  packages/commerce/frontend/src/components/ui/form/form.tsx
  packages/commerce/frontend/src/components/ui/form/input-field.tsx
  packages/commerce/frontend/src/components/ui/input.tsx
  packages/commerce/frontend/src/components/ui/label.tsx
  packages/commerce/frontend/src/hooks/use-form-field.ts
  packages/commerce/frontend/src/hooks/use-zod-form.ts
  pnpm-lock.yaml
Labels: package: commerce/frontend

feat(commerce/frontend): add OP pay button (#705)
  packages/commerce/frontend/src/app/checkout/components/pay-button.tsx
  packages/commerce/frontend/src/components/icons.tsx
  packages/commerce/frontend/src/main.css
  packages/commerce/frontend/tailwind.config.cjs
Labels: package: commerce/frontend

reduce expiry time to 15 sec on payment pointer transaction
  packages/wallet/backend/src/quote/service.ts
Labels: package: wallet/backend, type: source

Handle transfer already exists properly
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, type: source

handle new webhook event - payment_pointer.not_found
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

Update docker files
  docker/dev/local-http-signatures/Dockerfile
  packages/commerce/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.prod
Labels: package: wallet/backend, package: wallet/frontend, package: commerce/backend

Update service.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

Update service.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

feat(backend): Add temporary fees for multiple assets (#708)
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

Update ci.yml
  .github/workflows/ci.yml
Labels: type: ci

Update ci_deploy.yml
  .github/workflows/ci_deploy.yml
Labels: type: ci

Update docker files
  docker/dev/local-http-signatures/Dockerfile
  packages/commerce/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.prod
Labels: package: wallet/backend, package: wallet/frontend, package: commerce/backend

feat(backend): Slow incoming payments (#706)
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

feat(middleware): add handling of axios errors
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/middleware/errorHandler.ts
  packages/wallet/backend/src/paymentPointer/controller.ts
  packages/wallet/backend/src/user/controller.ts
Labels: package: wallet/backend, type: source

fix: avoid double response send
  packages/wallet/backend/src/middleware/errorHandler.ts
Labels: package: wallet/backend, type: source

Draft
  .gitignore
  packages/commerce/backend/migrations/20230810053817_add_orders_table.js
  packages/commerce/backend/package.json
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/config/env.ts
  packages/commerce/backend/src/container.ts
  packages/commerce/backend/src/errors/InternalServerError.ts
  packages/commerce/backend/src/errors/index.ts
  packages/commerce/backend/src/index.ts
  packages/commerce/backend/src/open-payments/client.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/service.ts
  packages/commerce/backend/src/orderItem/model.ts
  packages/commerce/backend/src/shared/utils.ts
  pnpm-lock.yaml
Labels: package: commerce/backend

Add fixes for withdraw required fields
  packages/wallet/backend/package.json
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/rapyd.d.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

Update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

Progress
  packages/commerce/backend/src/config/env.ts
  packages/commerce/backend/src/open-payments/client.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/shared/utils.ts
Labels: package: commerce/backend

Make tests work again
  packages/commerce/backend/src/index.ts
  packages/commerce/backend/src/open-payments/client.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/shared/utils.ts
  packages/commerce/backend/tests/app.test.ts
  packages/commerce/backend/tests/order/service.test.ts
  packages/commerce/backend/tests/product/controller.test.ts
  packages/commerce/backend/tests/product/service.test.ts
  packages/commerce/backend/tests/user/service.test.ts
Labels: package: commerce/backend, type: test

Progress
  packages/commerce/backend/src/config/env.ts
  packages/commerce/backend/src/open-payments/client.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/orderItem/model.ts
  packages/commerce/backend/tests/order/service.test.ts
Labels: package: commerce/backend, type: test
