Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: backend, package: wallet, type: ci, type: documentation, type: source, type: test, type: docker

replace axios with ky
  docker/dev/docker-compose.yml
  packages/wallet/package.json
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/lib/axios.ts
  packages/wallet/src/lib/hooks/useHttp.ts
  packages/wallet/src/lib/httpClient.ts
  packages/wallet/src/lib/test.ts
  packages/wallet/src/middleware.ts
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/index.tsx
  pnpm-lock.yaml
Labels: package: wallet, type: source

PR changes addressed
  packages/wallet/next.config.js
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
Labels: package: wallet, type: source

feat(wallet): Implement requests for wallet creation and verify identity (#144)
  packages/backend/src/rapyd/documents/documents.service.ts
  packages/backend/src/wallet/schemas/kycSchema.ts
  packages/backend/src/wallet/wallet.service.ts
  packages/wallet/next.config.js
  packages/wallet/public/favicon.ico
  packages/wallet/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/components/kyc/context.tsx
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/ui/forms/Select.tsx
  packages/wallet/src/utils/helpers.ts
  packages/wallet/src/utils/mocks.ts
Labels: package: backend, package: wallet, type: source

remove undefined from response type
  packages/wallet/src/lib/api/account.ts
Labels: package: wallet, type: source

replace `body` with `json` when fetching
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/lib/httpClient.ts
Labels: package: wallet, type: source

implement first integration tests
  packages/backend/jest.config.json
  packages/backend/src/auth/models/refreshToken.ts
  packages/backend/tests/auth/auth.service.test.ts
  packages/backend/tests/test-setup.ts
Labels: package: backend, type: source, type: test

add typeguard and get error fn
  packages/wallet/src/lib/httpClient.ts
Labels: package: wallet, type: source

user service refactoring
  packages/wallet/src/lib/api/user.ts
Labels: package: wallet, type: source

remove undefined check from login and signup pages
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
Labels: package: wallet, type: source

update me call result
  packages/wallet/src/lib/api/user.ts
Labels: package: wallet, type: source

use `ky` for fetching countries and documents
  packages/wallet/src/utils/helpers.ts
Labels: package: wallet, type: source

better types for responses
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/lib/httpClient.ts
Labels: package: wallet, type: source

message is now present in every service response
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
Labels: package: wallet, type: source

add constant for test data and update KYC forms
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/utils/constants.ts
Labels: package: wallet, type: source

feat(wallet): replace `axios` with `ky` (#176)
  docker/dev/docker-compose.yml
  packages/wallet/package.json
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/lib/axios.ts
  packages/wallet/src/lib/hooks/useHttp.ts
  packages/wallet/src/lib/httpClient.ts
  packages/wallet/src/middleware.ts
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/utils/constants.ts
  packages/wallet/src/utils/helpers.ts
  pnpm-lock.yaml
Labels: package: wallet, type: source

fix: change according pr comments (separate routes, throw not found error)
  docker/dev/docker-compose.yml
  packages/backend/src/account/account.route.ts
  packages/backend/src/account/account.service.ts
  packages/backend/src/account/errors/AccountExistsException.ts
  packages/backend/src/asset/asset.route.ts
  packages/backend/src/payment-pointer/payment-pointer.route.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/backend/src/routes.ts
  packages/backend/src/shared/models/errors/ConflictException.ts
  packages/backend/src/types/express/index.d.ts
Labels: package: backend, type: source

KYC Verify Identity image uploads to base64
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/utils/helpers.ts
Labels: package: wallet, type: source

removed state, added backside ID if needed
  packages/backend/src/index.ts
  packages/backend/src/wallet/schemas/kycSchema.ts
  packages/backend/src/wallet/wallet.service.ts
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
Labels: package: backend, package: wallet, type: source

feat(wallet): KYC Verify Identity image uploads to base64 (#180)
  packages/backend/src/index.ts
  packages/backend/src/wallet/schemas/kycSchema.ts
  packages/backend/src/wallet/wallet.service.ts
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/utils/helpers.ts
Labels: package: backend, package: wallet, type: source

feat(backend): replaced to findbyid instead of find by email
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

feat: create account and payment pointer (#170)
  .eslintignore
  .prettierignore
  docker/dev/docker-compose.yml
  packages/backend/migrations/20230209092730_account.js
  packages/backend/migrations/20230209095526_payment_pointer.js
  packages/backend/package.json
  packages/backend/src/account/account.model.ts
  packages/backend/src/account/account.route.ts
  packages/backend/src/account/account.service.ts
  packages/backend/src/account/schemas/account.schema.ts
  packages/backend/src/asset/asset.route.ts
  packages/backend/src/asset/asset.service.ts
  packages/backend/src/asset/schemas/asset.schema.ts
  packages/backend/src/config/env.ts
  packages/backend/src/payment-pointer/index.ts
  packages/backend/src/payment-pointer/payment-pointer.model.ts
  packages/backend/src/payment-pointer/payment-pointer.route.ts
  packages/backend/src/payment-pointer/payment-pointer.schema.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/backend/src/rafiki/generated/graphql.ts
  packages/backend/src/rafiki/graphql.client.ts
  packages/backend/src/rafiki/index.ts
  packages/backend/src/rafiki/request/asset.request.ts
  packages/backend/src/rafiki/request/payment-pointer.request.ts
  packages/backend/src/routes.ts
  packages/backend/src/shared/models/errors/ConflictException.ts
  packages/backend/src/types/express/index.d.ts
  packages/backend/src/utils/getUserId.ts
  packages/backend/tsconfig.json
  pnpm-lock.yaml
Labels: package: backend, type: source

feat(backend): some improvement on create wallet (#184)
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

add list/create account
  packages/backend/src/account/account.service.ts
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/lib/api/asset.ts
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/index.tsx
Labels: package: backend, package: wallet, type: source

update service function
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
Labels: package: wallet, type: source

Verify image type for KYC upload
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/lib/api/user.ts
Labels: package: wallet, type: source

address comments
  packages/wallet/src/lib/api/account.ts
Labels: package: wallet, type: source

PR suggested changes
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/utils/constants.ts
Labels: package: wallet, type: source

feat(backend): returning new access token after wallet is created
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/jwtStrategy.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

feat(backend): returning new access token after wallet is created (#191)
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/jwtStrategy.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

integration tests
  packages/backend/jest.config.json
  packages/backend/jest.setup.js
  packages/backend/jest.teardown.js
  packages/backend/src/global.d.ts
  packages/backend/src/tests/.gitkeep
  packages/backend/src/tests/auth/auth.service.test.ts
  packages/backend/src/tests/test-setup.ts
  packages/backend/src/types/express/index.d.ts
Labels: package: backend, type: source, type: test

add some default values to envSchema
  packages/backend/src/config/env.ts
Labels: package: backend, type: source

add lock
  pnpm-lock.yaml
Labels: none

fetch user name on home page
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

scaffold payment pointer service
  packages/backend/src/payment-pointer/payment-pointer.schema.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/lib/api/paymentPointer.ts
Labels: package: backend, package: wallet, type: source

fix(wallet): Verify image type for KYC upload (#190)
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/utils/constants.ts
Labels: package: wallet, type: source

feat(backend): added issuebank account rapid api
  packages/backend/src/rapyd/virtual-accounts/index.ts
  packages/backend/src/rapyd/virtual-accounts/request.ts
  packages/backend/src/rapyd/virtual-accounts/virtual-accounts.d.ts
Labels: package: backend, type: source

generate types from remote schema
  packages/backend/codegen.yml
  packages/backend/package.json
  packages/backend/src/account/account.service.ts
  packages/backend/src/asset/asset.service.ts
  packages/backend/src/rafiki/generated/graphql.ts
  packages/backend/src/rafiki/graphql.client.ts
  packages/backend/src/rafiki/graphqlClient.ts
  packages/backend/src/rafiki/request/asset.request.ts
  packages/backend/src/rafiki/request/payment-pointer.request.ts
  pnpm-lock.yaml
Labels: package: backend, type: source

fix types
  packages/backend/src/asset/asset.service.ts
Labels: package: backend, type: source

fix header spacing
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

wrong space location
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

.github/labeler.yml:

'package: backend': packages/backend/**/*
'package: wallet': packages/wallet/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - "**/*.md"

'type: source':
  - packages/backend/src/**/*
  - packages/wallet/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
