Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: commerce/backend, package: commerce/frontend, type: ci, type: documentation, type: source, type: test, type: docker

Update service.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

Update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

refactor: address 3 CRs
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, type: source

Finish checkout
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/frontend/src/app/checkout/confirmation.tsx
  packages/commerce/frontend/src/app/products/components/products-list.tsx
  packages/commerce/frontend/src/main.tsx
Labels: package: commerce/backend, package: commerce/frontend

Prevent multiple submissions
  packages/commerce/frontend/src/app/checkout/components/payment-methods.tsx
Labels: package: commerce/frontend

Address feedback
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/frontend/src/app/checkout/components/loader.tsx
Labels: package: commerce/backend, package: commerce/frontend

refactor: rename pp to PaymentPointer
  packages/wallet/backend/src/quote/service.ts
Labels: package: wallet/backend, type: source

Address feedback
  packages/commerce/backend/src/cache/token.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
Labels: package: commerce/backend

separated account_balance into receive and send
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/socket/messageType.ts
  packages/wallet/backend/src/socket/service.ts
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

handle error in socket
  packages/wallet/backend/src/socket/service.ts
Labels: package: wallet/backend, type: source

Address feedback
  packages/commerce/backend/src/app.ts
Labels: package: commerce/backend

Make grant interaction more user friendly
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

Refactor prepare method
  packages/commerce/backend/src/open-payments/service.ts
Labels: package: commerce/backend

Address feedback
  packages/commerce/backend/src/open-payments/service.ts
Labels: package: commerce/backend

Address feedback
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/frontend/src/app/checkout/confirmation.tsx
Labels: package: commerce/backend, package: commerce/frontend

feat(commerce): post-interaction checkout flow (#733)
  packages/commerce/backend/knexfile.js
  packages/commerce/backend/migrations/20230810053817_add_orders_table.js
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/cache/in-memory.ts
  packages/commerce/backend/src/cache/token.ts
  packages/commerce/backend/src/index.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/service.ts
  packages/commerce/backend/src/order/validation.ts
  packages/commerce/frontend/package.json
  packages/commerce/frontend/src/app/checkout/components/loader.tsx
  packages/commerce/frontend/src/app/checkout/components/payment-methods.tsx
  packages/commerce/frontend/src/app/checkout/confirmation.tsx
  packages/commerce/frontend/src/app/checkout/routes.tsx
  packages/commerce/frontend/src/app/products/components/products-list.tsx
  packages/commerce/frontend/src/app/route-schemas.ts
  packages/commerce/frontend/src/components/animated-check-mark.tsx
  packages/commerce/frontend/src/components/animated-text.tsx
  packages/commerce/frontend/src/components/ui/button.tsx
  packages/commerce/frontend/src/hooks/use-create-order-mutation.ts
  packages/commerce/frontend/src/hooks/use-custom-mutation.ts
  packages/commerce/frontend/src/hooks/use-finish-checkout-mutation.ts
  packages/commerce/frontend/src/hooks/use-zod-search-params.ts
  packages/commerce/frontend/src/lib/fetcher.ts
  packages/commerce/frontend/src/main.tsx
  pnpm-lock.yaml
Labels: package: commerce/backend, package: commerce/frontend

Hash verification
  packages/commerce/backend/migrations/20230810053817_add_orders_table.js
  packages/commerce/backend/migrations/20230918114934_add_payments_table.js
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/service.ts
  packages/commerce/backend/src/payment/model.ts
Labels: package: commerce/backend

feat: update ports
  docker/dev/docker-compose.yml
  packages/commerce/backend/src/config/env.ts
  packages/commerce/frontend/src/lib/constants.ts
  packages/wallet/backend/codegen.yml
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/package.json
Labels: package: wallet/backend, package: wallet/frontend, package: commerce/backend, package: commerce/frontend, type: source

send only account, not full accounts list
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/socket/service.ts
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source

Grant interaction enhancements
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

No need for param
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
Labels: package: wallet/frontend, type: source

Finish polling mechanism
  packages/commerce/backend/migrations/20230810053817_add_orders_table.js
  packages/commerce/backend/migrations/20230918114934_add_payments_table.js
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/container.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/service.ts
  packages/commerce/backend/src/payment/model.ts
  packages/commerce/backend/src/payment/service.ts
Labels: package: commerce/backend

Format
  packages/commerce/backend/migrations/20230918114934_add_payments_table.js
Labels: package: commerce/backend

Fix tests
  packages/commerce/backend/tests/order/service.test.ts
Labels: package: commerce/backend, type: test

fix: receiver
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/middleware/errorHandler.ts
  packages/wallet/backend/src/outgoingPayment/service.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/incoming-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/quote.request.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

feat(payments): create external receiver
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/receiver.request.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

feat(commerce): verify interaction hash and add polling mechanism (#763)
  packages/commerce/backend/migrations/20230810053817_add_orders_table.js
  packages/commerce/backend/migrations/20230918114934_add_payments_table.js
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/container.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/service.ts
  packages/commerce/backend/src/payment/model.ts
  packages/commerce/backend/src/payment/service.ts
  packages/commerce/backend/tests/order/service.test.ts
Labels: package: commerce/backend, type: test

Fix for searchparams
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
Labels: package: wallet/frontend, type: source

Fix env variable name
  docker/prod/docker-compose.yml
Labels: none

chore: fix env variable name (#768)
  docker/prod/docker-compose.yml
Labels: none

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: commerce/backend': packages/commerce/backend/**/*
'package: commerce/frontend': packages/commerce/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
