Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: backend, package: wallet, type: ci, type: documentation, type: source, type: test, type: docker

feat(backend): added createWallet api (#143)
  packages/backend/Dockerfile.dev
  packages/backend/migrations/20230209095515_user.js
  packages/backend/package.json
  packages/backend/src/config/env.ts
  packages/backend/src/rapyd/countries/countries.d.ts
  packages/backend/src/rapyd/countries/countries.service.ts
  packages/backend/src/rapyd/utills/request.ts
  packages/backend/src/rapyd/wallet/request.ts
  packages/backend/src/routes.ts
  packages/backend/src/user/models/user.ts
  packages/backend/src/wallet/schemas/walletSchema.ts
  packages/backend/src/wallet/wallet.service.ts
  packages/wallet/Dockerfile.dev
  pnpm-lock.yaml
Labels: package: backend, package: wallet, type: source

first draft
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/middleware.ts
Labels: package: wallet, type: source

remove `@next/font`
  packages/wallet/package.json
  packages/wallet/src/pages/_app.tsx
  pnpm-lock.yaml
Labels: package: wallet, type: source

remove email from wallet schema
  packages/backend/src/routes.ts
  packages/backend/src/wallet/schemas/walletSchema.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

remove email from wallet schema
  packages/backend/src/rapyd/countries/countries.service.ts
  packages/backend/src/rapyd/utills/request.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

fix(backend): hot fix on create wallet (#169)
  packages/backend/src/rapyd/countries/countries.service.ts
  packages/backend/src/rapyd/utills/request.ts
  packages/backend/src/routes.ts
  packages/backend/src/wallet/schemas/walletSchema.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

Fix countries request
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: wallet, type: source

testing
  packages/backend/jest.config.json
  packages/backend/package.json
  packages/backend/src/auth/models/refreshToken.ts
  packages/backend/src/config/env.ts
  packages/backend/src/index.ts
  packages/backend/tests/auth/auth.service.test.ts
  packages/backend/tests/test-setup.ts
  pnpm-lock.yaml
Labels: package: backend, type: source, type: test

fix zip code + add fetching country list to helpers
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/utils/helpers.ts
Labels: package: wallet, type: source

feat: create account
  .eslintignore
  docker/dev/docker-compose.yml
  packages/backend/migrations/20230209092730_account.js
  packages/backend/migrations/20230209095526_payment_pointer.js
  packages/backend/package.json
  packages/backend/src/account/account.model.ts
  packages/backend/src/account/account.service.ts
  packages/backend/src/account/schemas/account.schema.ts
  packages/backend/src/asset/asset.service.ts
  packages/backend/src/asset/schemas/asset.schema.ts
  packages/backend/src/config/env.ts
  packages/backend/src/index.ts
  packages/backend/src/payment-pointer/payment-pointer.model.ts
  packages/backend/src/payment-pointer/payment-pointer.schema.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/backend/src/rafiki/generated/graphql.ts
  packages/backend/src/rafiki/graphql.client.ts
  packages/backend/src/rafiki/request/asset.request.ts
  packages/backend/src/rafiki/request/payment-pointer.request.ts
  packages/backend/src/routes.ts
  packages/backend/src/types/express/index.d.ts
  packages/backend/src/utils/getUserId.ts
  packages/backend/tsconfig.json
  pnpm-lock.yaml
Labels: package: backend, type: source

feat: add payment pointer
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/payment-pointer/index.ts
  packages/backend/src/rafiki/graphql-client.ts
  packages/backend/src/rafiki/index.ts
  pnpm-lock.yaml
Labels: package: backend, type: source

chore: move next app outside docker (#165)
  docker/dev/docker-compose.yml
  package.json
  packages/wallet/next.config.js
  packages/wallet/package.json
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

feat(wallet): add transactions page (#160)
  packages/wallet/src/components/PageHeader.tsx
  packages/wallet/src/components/icons/Arrow.tsx
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Badge.tsx
  packages/wallet/src/ui/Table.tsx
Labels: package: wallet, type: source

chore(wallet): remove `@next/font` dependency (#168)
  packages/wallet/package.json
  packages/wallet/src/pages/_app.tsx
  pnpm-lock.yaml
Labels: package: wallet, type: source

fix: format rafiki directory
  .prettierignore
  packages/backend/src/rafiki/graphql.client.ts
  packages/backend/src/rafiki/request/asset.request.ts
  packages/backend/src/rafiki/request/payment-pointer.request.ts
Labels: package: backend, type: source

fix: validate account name
  packages/backend/src/account/account.service.ts
  packages/backend/src/account/errors/AccountExistsException.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/backend/src/rafiki/request/payment-pointer.request.ts
  packages/backend/src/routes.ts
Labels: package: backend, type: source

update Dockerfiles
  packages/backend/Dockerfile.dev
  packages/wallet/Dockerfile.dev
Labels: package: backend, package: wallet

added documents api
  packages/backend/src/rapyd/documents/documents.service.ts
  packages/backend/src/routes.ts
Labels: package: backend, type: source

Changes for KYC using Test Data in DEV mode
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/components/kyc/context.tsx
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/ui/forms/Select.tsx
  packages/wallet/src/utils/helpers.ts
Labels: package: wallet, type: source

add document type interface
  packages/backend/src/rapyd/documents/documents.d.ts
  packages/backend/src/rapyd/documents/documents.service.ts
Labels: package: backend, type: source

fix redirects and matcher for static assets
  packages/wallet/src/middleware.ts
Labels: package: wallet, type: source

Update helpers.ts
  packages/wallet/src/utils/helpers.ts
Labels: package: wallet, type: source

fix refresh token not returned for users that have no refresh tokens yet in db
  packages/backend/src/auth/auth.service.ts
Labels: package: backend, type: source

feat(backend): Added document type api (#174)
  packages/backend/src/rapyd/documents/documents.d.ts
  packages/backend/src/rapyd/documents/documents.service.ts
  packages/backend/src/routes.ts
Labels: package: backend, type: source

fix(refreshTokens): Fix refresh token not being set on 1st login of user (#175)
  packages/backend/src/auth/auth.service.ts
Labels: package: backend, type: source

skip checks in dev environment
  packages/wallet/src/middleware.ts
Labels: package: wallet, type: source

first POC draft
  packages/wallet/package.json
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/lib/axios.ts
  packages/wallet/src/lib/hooks/useHttp.ts
  packages/wallet/src/lib/test.ts
  packages/wallet/src/middleware.ts
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/index.tsx
  pnpm-lock.yaml
Labels: package: wallet, type: source

improved /documents api, and /verify api
  packages/backend/migrations/20230209095515_user.js
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/jwtStrategy.ts
  packages/backend/src/rapyd/documents/documents.service.ts
  packages/backend/src/rapyd/wallet/request.ts
  packages/backend/src/rapyd/wallet/wallet.d.ts
  packages/backend/src/routes.ts
  packages/backend/src/user/models/user.ts
  packages/backend/src/wallet/schemas/kycSchema.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

feat(backend): /verify and /documents api improvement (#177)
  packages/backend/migrations/20230209095515_user.js
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/jwtStrategy.ts
  packages/backend/src/rapyd/documents/documents.service.ts
  packages/backend/src/rapyd/wallet/request.ts
  packages/backend/src/rapyd/wallet/wallet.d.ts
  packages/backend/src/routes.ts
  packages/backend/src/user/models/user.ts
  packages/backend/src/wallet/schemas/kycSchema.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

Added Dev mode changhes and Production mode elements
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/lib/api/user.ts
Labels: package: wallet, type: source

update documents
  packages/backend/src/rapyd/documents/documents.service.ts
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/components/kyc/context.tsx
Labels: package: backend, package: wallet, type: source

Update VerifyIdentityForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
Labels: package: wallet, type: source

feat(wallet): add middleware (#167)
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/middleware.ts
Labels: package: wallet, type: source

cleanup
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/pages/auth/login.tsx
Labels: package: wallet, type: source

add loading state to useHttpRequest
  packages/wallet/src/lib/hooks/useHttp.ts
Labels: package: wallet, type: source

make fn args required
  packages/wallet/src/lib/hooks/useHttp.ts
Labels: package: wallet, type: source

Update user.ts
  packages/wallet/src/lib/api/user.ts
Labels: package: wallet, type: source

cleanup 2
  packages/wallet/src/lib/test.ts
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

Added new params for verify identity
  packages/backend/src/wallet/schemas/kycSchema.ts
  packages/backend/src/wallet/wallet.service.ts
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/utils/mocks.ts
Labels: package: backend, package: wallet, type: source

Update wallet.service.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

.github/labeler.yml:

'package: backend': packages/backend/**/*
'package: wallet': packages/wallet/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - "**/*.md"

'type: source':
  - packages/backend/src/**/*
  - packages/wallet/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
