Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

fix: minor edit to prevent 'cannot update RefundProvider' bug
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

fix: use resource url on instant buy (#2192)
  packages/boutique/backend/src/open-payments/service.ts
Labels: package: boutique/backend, type: source

fix: solve rafiki connection issues
  local/rafiki.yaml
  local/scripts/rafiki-setup.js
  packages/boutique/backend/src/open-payments/service.ts
Labels: package: boutique/backend, type: source

fix: rafiki assets creation script should fail fast on error
  local/scripts/rafiki-setup.js
Labels: none

docs: cleaned up documentation and examples
  README.md
  packages/boutique/backend/.env.example
  packages/wallet/backend/.env.example
Labels: package: wallet/backend, package: boutique/backend, type: documentation

fix: upgraded local environment to use Traefik v3.6
  local/traefik.yaml
Labels: none

style: prettier linting
  local/scripts/rafiki-setup.js
Labels: none

style: did pnpm format
  README.md
Labels: type: documentation

Revert "feat: Fe changes (#2185)"
  packages/boutique/backend/images/egg.png
  packages/boutique/frontend/src/app/checkout/components/order-summary.tsx
  packages/boutique/frontend/src/app/products/$slug.tsx
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/components/icons/Bird.tsx
  packages/wallet/frontend/src/components/icons/CardButtons.tsx
  packages/wallet/frontend/src/components/icons/Cog.tsx
  packages/wallet/frontend/src/components/icons/Eye.tsx
  packages/wallet/frontend/src/components/icons/MoneyBird.tsx
  packages/wallet/frontend/src/components/icons/SlashEye.tsx
  packages/wallet/frontend/src/components/icons/Warning.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source

feat: Revert add Easter Eggs (#2195)
  packages/boutique/backend/images/egg.png
  packages/boutique/frontend/src/app/checkout/components/order-summary.tsx
  packages/boutique/frontend/src/app/products/$slug.tsx
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/components/icons/Bird.tsx
  packages/wallet/frontend/src/components/icons/CardButtons.tsx
  packages/wallet/frontend/src/components/icons/Cog.tsx
  packages/wallet/frontend/src/components/icons/Eye.tsx
  packages/wallet/frontend/src/components/icons/MoneyBird.tsx
  packages/wallet/frontend/src/components/icons/SlashEye.tsx
  packages/wallet/frontend/src/components/icons/Warning.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source

Update consts.ts
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, type: source

feat: Add support for COP (#2196)
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, type: source

chore: upgrade rafiki on local
  docker/dev/docker-compose.yml
Labels: none

chore: upgrade rafiki on local (#2197)
  docker/dev/docker-compose.yml
Labels: none

chore: move Date column first in Grants
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

chore: rename State label to Status in grant details popup
  packages/wallet/frontend/src/components/GrantDetails.tsx
Labels: package: wallet/frontend, type: source

chore: use formatDate for Created at in grant details popup
  packages/wallet/frontend/src/components/GrantDetails.tsx
Labels: package: wallet/frontend, type: source

feat: Automatically approve blocked deposits
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix(wallet): enforce subject and access ownership checks for grants
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, type: source

fix(wallet): PR review improvement
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, type: source

chore: hide Status column on mobile
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

fix: enforce subject and access ownership checks for grants (#2199)
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, type: source

feat: group dates with day headers and row times
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

fix: address PR review feedback and fix Docker build
  local/scripts/rafiki-setup.js
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, type: source

fix: cleanup of debug
  README.md
  local/scripts/rafiki-setup.js
  packages/boutique/backend/src/config/env.ts
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/frontend/src/app/checkout/components/pay-button.tsx
  packages/boutique/frontend/tailwind.config.cjs
Labels: package: boutique/backend, package: boutique/frontend, type: documentation, type: source

fix: examples are now useful
  .gitignore
  local/.env.example
  local/.env.local
  packages/boutique/backend/.env.example
  packages/boutique/backend/.env.local
  packages/boutique/backend/package.json
  packages/boutique/frontend/.env.example
  packages/boutique/frontend/.env.local
  packages/wallet/backend/.env.example
  packages/wallet/backend/.env.local
  packages/wallet/backend/package.json
  packages/wallet/frontend/.env.example
  packages/wallet/frontend/.env.local
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend

style: prettier automatic fixes to resolve linting
  packages/wallet/backend/jest.setup.js
Labels: package: wallet/backend

docs: updated readme
  README.md
Labels: type: documentation

refactor: ci now part of local
  .github/copilot-instructions.md
  README.md
  local/.env.example
  local/Makefile
  local/boutique.yaml
  local/config/san.cnf
  local/config/traefik/dynamic.yml
  local/docker-compose.yml
  local/rafiki.yaml
  local/scripts/rafiki-setup.js
  local/traefik.yaml
  local/wallet.yaml
  package.json
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/config/env.ts
  packages/boutique/backend/src/container.ts
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/frontend/src/lib/constants.ts
  packages/boutique/frontend/vite.config.ts
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source

fix: repaired broken test related to emailService
  packages/wallet/backend/tests/auth/controller.test.ts
Labels: package: wallet/backend, type: test

fix: added validation rules to boutique config
  packages/boutique/backend/src/config/env.ts
Labels: package: boutique/backend, type: source

style: fixed linting issues introduced when I added th elogging
  README.md
  local/scripts/rafiki-setup.js
Labels: type: documentation

lint: fixed all linting problems
  package.json
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/backend/src/order/service.ts
  packages/boutique/frontend/src/app/checkout/components/pay-button.tsx
  packages/boutique/frontend/src/components/navigation.tsx
  packages/boutique/frontend/src/components/ui/input.tsx
  packages/boutique/frontend/src/components/ui/label.tsx
  packages/boutique/frontend/src/hooks/use-toast.tsx
  packages/boutique/frontend/tailwind.config.cjs
  packages/shared/backend/src/utils.ts
  packages/wallet/backend/src/backfillTrxDetails.ts
  packages/wallet/backend/src/config/rafiki.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/lib/hooks/useToast.ts
  packages/wallet/frontend/src/lib/hooks/useTransactions.ts
  packages/wallet/frontend/src/lib/types/app.ts
  packages/wallet/frontend/src/lib/types/dialog.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
  packages/wallet/shared/src/types/grant.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: source

style: linting issues in rafiki setup file
  local/scripts/rafiki-setup.js
Labels: none

test: wallet unittest configuration fixes
  packages/boutique/backend/jest.setup.js
  packages/boutique/backend/jest.teardown.js
  packages/wallet/backend/jest.setup.js
Labels: package: wallet/backend, package: boutique/backend

style: fixed linting
  packages/boutique/backend/src/config/env.ts
Labels: package: boutique/backend, type: source

fix: removed changes to formatAmount
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

fix: resolved dependency issues and aligned with workspace
  package.json
  pnpm-lock.yaml
Labels: none

ci: makefile target for rafiki assets
  local/.env.example
  local/Makefile
  local/wallet.yaml
Labels: none

fix: better secure domain handling
  README.md
  local/boutique.yaml
  local/config/certs/local.crt
  local/config/certs/local.key
  local/config/san.cnf
  local/rafiki.yaml
  local/scripts/local-tools.sh
  local/wallet.yaml
  packages/boutique/frontend/src/lib/constants.ts
  packages/wallet/backend/src/middleware/withSession.ts
  packages/wallet/frontend/next.config.js
Labels: package: wallet/backend, package: wallet/frontend, package: boutique/frontend, type: documentation, type: source

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
