Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*

- Creat new package called shared - remove objection dependency from each backend package
  packages/boutique/backend/package.json
  packages/boutique/backend/src/order-item/model.ts
  packages/boutique/backend/src/order/model.ts
  packages/boutique/backend/src/payment/model.ts
  packages/boutique/backend/src/product/model.ts
  packages/boutique/backend/src/user/model.ts
  packages/shared/model.ts
  packages/wallet/backend/package.json
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/session/model.ts
  packages/wallet/backend/src/shared/model.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
Labels: package: wallet/backend, package: boutique/backend, type: source

chore: upgrade rafiki to alpha 7
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/boutique/backend/package.json
  pnpm-lock.yaml
Labels: package: boutique/backend

fix: remove rate limit on signup
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

chore: upgrade rafiki to alpha 7 (#1210)
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/boutique/backend/package.json
  pnpm-lock.yaml
Labels: package: boutique/backend

fix: remove rate limit on signup (#1212)
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

- Creat new package called shared - remove objection dependency from each backend package
  packages/boutique/backend/src/order-item/model.ts
  packages/boutique/backend/src/order/model.ts
  packages/boutique/backend/src/payment/model.ts
  packages/boutique/backend/src/product/model.ts
  packages/boutique/backend/src/user/model.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/model.ts
  packages/shared/backend/tsconfig.build.json
  packages/shared/backend/tsconfig.json
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/session/model.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source

fix: resolve name conflict
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

fix: added valid url check in callback url redirection
  packages/wallet/frontend/src/pages/auth/login.tsx
Labels: package: wallet/frontend, type: source

fixed lint issues
  packages/wallet/frontend/src/pages/auth/login.tsx
Labels: package: wallet/frontend, type: source

fixed code review comments
  packages/wallet/frontend/src/pages/auth/login.tsx
Labels: package: wallet/frontend, type: source

fixed prettier issues
  packages/wallet/frontend/src/pages/auth/login.tsx
Labels: package: wallet/frontend, type: source

added focusable element to signup and forgot password pages
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/frontend, type: source

Addressing PR comments
  packages/wallet/frontend/src/lib/api/transaction.ts
  packages/wallet/frontend/src/lib/hooks/useTransactions.ts
  packages/wallet/frontend/src/lib/hooks/useTypedRouter.ts
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Button.tsx
Labels: package: wallet/frontend, type: source

ESlint fix
  packages/wallet/frontend/src/lib/hooks/useTransactions.ts
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/frontend, type: source

- Creat new package called shared - remove objection dependency from each backend package
  package.json
  packages/boutique/backend/package.json
  packages/wallet/backend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package: wallet/backend, package: boutique/backend

- fix format
  packages/boutique/backend/src/order-item/model.ts
  packages/boutique/backend/src/order/model.ts
  packages/boutique/backend/src/payment/model.ts
  packages/boutique/backend/src/product/model.ts
  packages/boutique/backend/src/user/model.ts
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/session/model.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
Labels: package: wallet/backend, package: boutique/backend, type: source

feat: setup shared backend module
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/backend/package.json
  packages/boutique/backend/src/order-item/model.ts
  packages/boutique/backend/src/order/model.ts
  packages/boutique/backend/src/payment/model.ts
  packages/boutique/backend/src/product/model.ts
  packages/boutique/backend/src/user/model.ts
  packages/shared/backend/index.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/index.ts
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/backend/package.json
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/session/model.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source

fix: added valid url check in callback url redirection (#1213)
  packages/wallet/frontend/src/pages/auth/login.tsx
Labels: package: wallet/frontend, type: source

chore: added focus to the first focusable elements on component load (#1140)
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/exchange.tsx
Labels: package: wallet/frontend, type: source

- Create new socket emit for occurred errors in rafiki webhook
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/socket/messageType.ts
  packages/wallet/backend/src/socket/service.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/backend, package: wallet/frontend, type: source, type: test

Migrate test/table into shared package
  packages/boutique/backend/tests/order/service.test.ts
  packages/boutique/backend/tests/product/controller.test.ts
  packages/boutique/backend/tests/product/service.test.ts
  packages/boutique/backend/tests/user/service.test.ts
  packages/shared/backend/index.ts
  packages/shared/backend/package.json
  packages/shared/backend/tests/index.ts
  packages/shared/backend/tests/tables.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/auth/service.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/grant/service.test.ts
  packages/wallet/backend/tests/incomingPayment/service.test.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/quote/service.test.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/rapyd/service.test.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/backend/tests/tables.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/transaction/service.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/user/service.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: test

fix: check for existing transaction
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

fix: format code
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

Migrate overlapping utils functions and types into shared package
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/errors/base.ts
  packages/boutique/backend/src/global.d.ts
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/product/controller.ts
  packages/boutique/backend/src/shared/utils.ts
  packages/boutique/backend/tests/order/service.test.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/index.ts
  packages/shared/backend/src/types.ts
  packages/shared/backend/src/utils.ts
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/errors/Base.ts
  packages/wallet/backend/src/global.d.ts
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/backend/src/incomingPayment/controller.ts
  packages/wallet/backend/src/outgoingPayment/controller.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source, type: test

fix: check for existing transaction (#1229)
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

Fix notfound TypedResponseBody
  packages/shared/backend/src/types.ts
Labels: none

Fix notfound TypedResponseBody
  packages/shared/backend/src/utils.ts
Labels: none

Fix boutique controller tests
  packages/boutique/backend/tests/product/controller.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
Labels: package: wallet/backend, package: boutique/backend, type: test

feat(boutique): refactor controller functions to arrow functions
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/product/controller.ts
Labels: package: boutique/backend, type: source

migrate errorHandler & logger into shared package
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/tests/app.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/configs/env.ts
  packages/shared/backend/src/configs/logger.ts
  packages/shared/backend/src/errors/base.ts
  packages/shared/backend/src/index.ts
  packages/shared/backend/src/middleware/errorHandler.ts
  packages/shared/backend/src/middleware/index.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/incomingPayment/controller.test.ts
  packages/wallet/backend/tests/outgoingPayment/controller.test.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/rafiki/controller.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source, type: test

migrated by main
  pnpm-lock.yaml
Labels: none

fix: resolve pnpm-lock.yaml issue
  pnpm-lock.yaml
Labels: none

feat(shared): initial setup and move models (#1242)
  package.json
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/backend/package.json
  packages/boutique/backend/src/order-item/model.ts
  packages/boutique/backend/src/order/model.ts
  packages/boutique/backend/src/payment/model.ts
  packages/boutique/backend/src/product/model.ts
  packages/boutique/backend/src/user/model.ts
  packages/shared/backend/index.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/index.ts
  packages/shared/backend/src/model.ts
  packages/shared/backend/tsconfig.build.json
  packages/shared/backend/tsconfig.json
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/backend/package.json
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/session/model.ts
  packages/wallet/backend/src/shared/model.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source

Migrate test/table into shared package
  packages/boutique/backend/tests/order/service.test.ts
  packages/boutique/backend/tests/product/controller.test.ts
  packages/boutique/backend/tests/product/service.test.ts
  packages/boutique/backend/tests/user/service.test.ts
  packages/shared/backend/index.ts
  packages/shared/backend/package.json
  packages/shared/backend/tests/index.ts
  packages/shared/backend/tests/tables.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/auth/service.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/grant/service.test.ts
  packages/wallet/backend/tests/incomingPayment/service.test.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/quote/service.test.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/rapyd/service.test.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/backend/tests/tables.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/transaction/service.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/user/service.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: test

feat(boutique): refactor controller functions to arrow functions (#1239)
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/product/controller.ts
Labels: package: boutique/backend, type: source

migrate utils and global types into shared package
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/errors/base.ts
  packages/boutique/backend/src/global.d.ts
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/product/controller.ts
  packages/boutique/backend/src/shared/utils.ts
  packages/boutique/backend/tests/order/service.test.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/index.ts
  packages/shared/backend/src/types.ts
  packages/shared/backend/src/utils.ts
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/errors/Base.ts
  packages/wallet/backend/src/global.d.ts
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/backend/src/incomingPayment/controller.ts
  packages/wallet/backend/src/outgoingPayment/controller.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, package: boutique/backend, type: source, type: test

Fix notfound TypedResponseBody
  packages/shared/backend/src/types.ts
Labels: none

Fix notfound TypedResponseBody
  packages/shared/backend/src/utils.ts
Labels: none

Fix boutique controller tests
  packages/boutique/backend/tests/product/controller.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
Labels: package: wallet/backend, package: boutique/backend, type: test

fix expect problem in tests
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: test
