Repository interledger/testnet, changes with the labels that .github/labeler.yml gives for each.
All labels: package: wallet/backend, package: wallet/frontend, package: boutique/backend, package: boutique/frontend, type: ci, type: documentation, type: source, type: test, type: docker

Remove unnecessary semicolon
  packages/wallet/backend/src/cardUsers.ts
Labels: package: wallet/backend, type: source

remove unused profileSchema
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

fix(wallet/frontend): update account settings page (#1698)
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
Labels: package: wallet/frontend, type: source

Update DepositDialog.tsx
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
Labels: package: wallet/frontend, type: source

Update AppLayout.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
Labels: package: wallet/frontend, type: source

add env variable constant
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

set dark theme because of staging environment deploy
  packages/boutique/frontend/src/components/header.tsx
  packages/boutique/frontend/src/components/theme-provider.tsx
Labels: package: boutique/frontend

Add reorder script
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/cardUsers.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/reorder.ts
Labels: package: wallet/backend, type: source

fix(workflows): build&push build-args default to empty string
  .github/workflows/build-publish.yaml
Labels: type: ci

Update workflow
  .github/workflows/build-publish.yaml
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: ci, type: source

feat(workflows): separate image for boutique-frontend for jopacc (#1692)
  .github/workflows/build-publish.yaml
  packages/boutique/frontend/Dockerfile.prod
Labels: package: boutique/frontend, type: ci

Repurpose env vars and update card holder name usage in script
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/cardUsers.ts
  packages/wallet/backend/src/config/env.ts
Labels: package: wallet/backend, type: source

Remove comments
  packages/wallet/frontend/src/components/providers/index.tsx
Labels: package: wallet/frontend, type: source

Remove unused type
  packages/wallet/backend/src/card/types.ts
Labels: package: wallet/backend, type: source

Update default card holder name
  packages/wallet/backend/src/config/env.ts
Labels: package: wallet/backend, type: source

feat(wallet/backend): add script for managed user and customer creation (#1675)
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20241008143459_add_customer_id_to_users.js
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/cardUsers.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/reorder.ts
  packages/wallet/backend/src/user/model.ts
Labels: package: wallet/backend, type: source

WIP
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20241010085051_add_customer_id_to_users.js
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

Delete duplicate migration file
  packages/wallet/backend/migrations/20241008143459_add_customer_id_to_users.js
Labels: package: wallet/backend

Add customerId to session
  packages/wallet/backend/migrations/20241010085051_add_customer_id_to_users.js
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/global.d.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/utils.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
Labels: package: wallet/backend, type: source, type: test

Remove unnecessary commented code
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

Replace `staging` with `sandbox`
  .github/workflows/build-publish.yaml
  packages/wallet/frontend/next.config.js
Labels: package: wallet/frontend, type: ci

WIP
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

feat(wallet/frontend): build separate images for prod and staging (#1705)
  .github/workflows/build-publish.yaml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/frontend/Dockerfile.prod
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/dialogs/ErrorDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/pages/404.tsx
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/_document.tsx
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/no-access.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: ci, type: source

Update [accountId].tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

feat: Add sandbox deposit (#1701)
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

Redirect user to home page after KYC complete
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

Update links to main
  packages/wallet/backend/src/email/templates/forgotPassword.ts
Labels: package: wallet/backend, type: source

Update links to main
  packages/wallet/backend/src/email/templates/forgotPassword.ts
Labels: package: wallet/backend, type: source

Update links to main
  packages/wallet/backend/src/email/templates/verifyEmail.ts
Labels: package: wallet/backend, type: source

fix(wallet/frontend): redirect user to home page after KYC complete (#1716)
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

fix: correction in email template for link to main (#1717)
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
Labels: package: wallet/backend, type: source

Lock cards API for staging and remvoe unneeded awaits
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

feat(workflows): frontend envs
  .github/workflows/build-publish.yaml
Labels: type: ci

feat(workflows): frontend envs (#1720)
  .github/workflows/build-publish.yaml
Labels: type: ci

fix(rafiki-boutique-frontend): eslint to eslint config mjs
  packages/boutique/frontend/Dockerfile.prod
Labels: package: boutique/frontend

fix(rafiki-boutique-frontend): eslint to eslint config mjs (#1721)
  packages/boutique/frontend/Dockerfile.prod
Labels: package: boutique/frontend

fix(rafiki-wallet-frontend): eslint to eslint config mjs
  packages/wallet/frontend/Dockerfile.prod
Labels: package: wallet/frontend

fix(rafiki-wallet-frontend): eslint to eslint config mjs (#1722)
  packages/wallet/frontend/Dockerfile.prod
Labels: package: wallet/frontend

fix(workflows): boutique frontend theme
  .github/workflows/build-publish.yaml
Labels: type: ci

feat(boutique-frontend): change default of dark theme to light theme for test dev deployment
  packages/boutique/frontend/src/components/theme-provider.tsx
Labels: package: boutique/frontend

.github/labeler.yml:

'package: wallet/backend': packages/wallet/backend/**/*
'package: wallet/frontend': packages/wallet/frontend/**/*
'package: boutique/backend': packages/boutique/backend/**/*
'package: boutique/frontend': packages/boutique/frontend/**/*

'type: ci':
  - .github/*
  - .github/**/*

'type: documentation':
  - '**/*.md'

'type: source':
  - packages/wallet/backend/src/**/*
  - packages/wallet/frontend/src/**/*
  - packages/boutique/backend/src/**/*
  - packages/boutique/backend/src/**/*

'type: test': packages/**/*.test.ts

'type: docker': docker/*
