Repository interledger/testnet, pull requests merged in 2023-07, with the labels that each got.

#463 build: add env variables on build
  packages/wallet/frontend/Dockerfile.prod
Labels: package: wallet/frontend

#416 feat: add list and revoke grant endpoints
  docker/dev/docker-compose-prod.yml
  docker/dev/docker-compose.yml
  packages/wallet/backend/codegen.yml
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/request/grant.request.ts
  packages/wallet/backend/src/rafiki/auth/service.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/asset.request.ts
  packages/wallet/backend/src/rafiki/backend/request/incoming-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/liquidity.request.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/payment-pointer-key.request.ts
  packages/wallet/backend/src/rafiki/backend/request/payment-pointer.request.ts
  packages/wallet/backend/src/rafiki/backend/request/quote.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/request/liquidity.request.ts
  packages/wallet/backend/src/utils/jwk.ts
  packages/wallet/frontend/public/grants.webp
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/components/cards/GrantCard.tsx
  packages/wallet/frontend/src/components/cards/PaymentPointerCard.tsx
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source

#465 fix(wallet/backend): fetch all assets
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, type: source

#466 feat(wallet/backend): add revoke payment pointer key
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/paymentPointer/controller.ts
  packages/wallet/backend/src/paymentPointer/model.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/frontend/src/lib/api/paymentPointer.ts
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source

#477 feat: CI/CD for rafiki.money
  .github/workflows/ci_deploy.yml
  docker/prod/docker-compose.yml
Labels: type: ci

#492 feat(wallet): pp edit public name and allow hyphens
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/paymentPointer/controller.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/backend/src/paymentPointer/validation.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/payment-pointer.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/shared/validate.ts
  packages/wallet/frontend/src/components/cards/GrantCard.tsx
  packages/wallet/frontend/src/components/cards/PaymentPointerCard.tsx
  packages/wallet/frontend/src/components/dialogs/EditPaymentPointerDialog.tsx
  packages/wallet/frontend/src/components/icons/Ellipsis.tsx
  packages/wallet/frontend/src/components/icons/Trash.tsx
  packages/wallet/frontend/src/lib/api/paymentPointer.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#456 feat: Forgot password functionality
  docker/dev/.env.example
  docker/dev/docker-compose-prod.yml
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20230626171065_add_password_reset_fields.js
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/images/InterledgerFoundation.png
  packages/wallet/backend/src/email/templates/images/InterledgerTestnet.png
  packages/wallet/backend/src/email/templates/images/KeyBird.png
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/user/validation.ts
  packages/wallet/backend/src/utils/helpers.ts
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: wallet/backend, type: source

#500 feat(wallet): developer keys improvements
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/paymentPointer/model.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/payment-pointer-key.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/paymentPointer.ts
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#509 fix: bug that less than 1 amount is not funding or withdrawing
  packages/wallet/frontend/src/lib/api/account.ts
Labels: package: wallet/frontend, type: source

#530 feat(wallet/frontend): display private key after generation
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

#526 feat: implement logout
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/icons/Logout.tsx
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#505 feat(wallet): Euro transactions & Cross currency
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/paymentPointer/controller.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/backend/src/paymentPointer/validation.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#503 feat: verify email fror new user
  packages/wallet/backend/migrations/20230711171065_add_email_verified_fields.js
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/images/Verify.png
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/utils/helpers.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/auth/service.test.ts
  packages/wallet/backend/tests/helpers.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/user/service.test.ts
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: wallet/backend, type: test, type: source

#504 feat(wallet): add general trasactions view (filters/pagination)
  packages/wallet/backend/migrations/20230725043823_update_transactions_accountId_column.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/outgoingPayment/service.ts
  packages/wallet/backend/src/paymentPointer/controller.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/shared/types.ts
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/transaction/validation.ts
  packages/wallet/backend/src/utils/helpers.ts
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/cards/PaymentPointerCard.tsx
  packages/wallet/frontend/src/components/icons/Transactions.tsx
  packages/wallet/frontend/src/lib/api/paymentPointer.ts
  packages/wallet/frontend/src/lib/api/transaction.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/lib/hooks/useHttp.ts
  packages/wallet/frontend/src/lib/hooks/useRedirect.ts
  packages/wallet/frontend/src/lib/hooks/useTransactions.ts
  packages/wallet/frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Table.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source
