Repository interledger/testnet, pull requests merged in 2023-05, with the labels that each got.

#317 feat(wallet-fronend): UI/UX improvements
  packages/wallet-backend/src/rapyd/countries/countries.service.ts
  packages/wallet-frontend/package.json
  packages/wallet-frontend/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet-frontend/src/lib/api/account.ts
  packages/wallet-frontend/src/lib/api/transfers.ts
  packages/wallet-frontend/src/lib/api/user.ts
  packages/wallet-frontend/src/pages/account/create.tsx
  packages/wallet-frontend/src/pages/transfer/pay.tsx
  packages/wallet-frontend/src/pages/transfer/request.tsx
  packages/wallet-frontend/src/pages/transfer/send.tsx
  packages/wallet-frontend/src/ui/forms/Select.tsx
  packages/wallet-frontend/tailwind.config.js
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: wallet/backend, type: source

#322 feat(transactions): add default sort order by created at
  packages/wallet-backend/migrations/20230209130752_transaction.js
  packages/wallet-backend/src/middlewares/validator.ts
  packages/wallet-backend/src/transaction/transaction.model.ts
  packages/wallet-backend/src/transaction/transaction.schema.ts
  packages/wallet-backend/src/transaction/transaction.service.ts
  packages/wallet-frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source

#333 feat: Update README.md
  README.md
Labels: type: documentation

#339 feat(wallet/frontend): add per-page layouts
  .eslintrc.js
  packages/wallet-frontend/src/lib/types/app.ts
  packages/wallet-frontend/src/middleware.ts
  packages/wallet-frontend/src/pages/_app.tsx
  packages/wallet-frontend/src/pages/account/[accountId].tsx
  packages/wallet-frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet-frontend/src/pages/account/create.tsx
  packages/wallet-frontend/src/pages/auth/index.tsx
  packages/wallet-frontend/src/pages/auth/login.tsx
  packages/wallet-frontend/src/pages/auth/signup.tsx
  packages/wallet-frontend/src/pages/index.tsx
  packages/wallet-frontend/src/pages/kyc.tsx
  packages/wallet-frontend/src/pages/settings/api.tsx
  packages/wallet-frontend/src/pages/settings/index.tsx
  packages/wallet-frontend/src/pages/transfer/pay.tsx
  packages/wallet-frontend/src/pages/transfer/request.tsx
  packages/wallet-frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, type: source

#337 feat(wallet/frontend): update input component
  packages/wallet-frontend/next.config.js
  packages/wallet-frontend/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet-frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet-frontend/src/components/icons/Spinner.tsx
  packages/wallet-frontend/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet-frontend/src/lib/hooks/useZodForm.ts
  packages/wallet-frontend/src/pages/account/create.tsx
  packages/wallet-frontend/src/pages/transfer/pay.tsx
  packages/wallet-frontend/src/pages/transfer/request.tsx
  packages/wallet-frontend/src/pages/transfer/send.tsx
  packages/wallet-frontend/src/ui/Button.tsx
  packages/wallet-frontend/src/ui/forms/Input.tsx
  packages/wallet-frontend/src/ui/forms/Label.tsx
  packages/wallet-frontend/src/ui/forms/Select.tsx
Labels: package: wallet/frontend, type: source

#282 feat: Use debounced input for IPUrl, and populate amount, description
  packages/wallet-backend/src/incoming-payment/incoming-payment.route.ts
  packages/wallet-backend/src/incoming-payment/incoming-payment.schema.ts
  packages/wallet-backend/src/incoming-payment/incoming-payment.service.ts
  packages/wallet-backend/src/transaction/transaction.model.ts
  packages/wallet-backend/src/utils/helpers.ts
  packages/wallet-frontend/src/components/PaymentPointerCard.tsx
  packages/wallet-frontend/src/lib/api/account.ts
  packages/wallet-frontend/src/lib/api/asset.ts
  packages/wallet-frontend/src/lib/api/transfers.ts
  packages/wallet-frontend/src/lib/hooks/useDebounce.ts
  packages/wallet-frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet-frontend/src/pages/transfer/pay.tsx
  packages/wallet-frontend/src/pages/transfer/send.tsx
  packages/wallet-frontend/src/ui/forms/Input.tsx
  packages/wallet-frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#346 fix(wallet): Bug fixes for KYC and PP Input
  packages/wallet-frontend/src/middleware.ts
  packages/wallet-frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, type: source

#347 fix(wallet/frontend): redirect to homepage after kyc
  packages/wallet-frontend/src/components/kyc/VerifyIdentityForm.tsx
Labels: package: wallet/frontend, type: source

#349 fix(wallet-frontend): mobile bug fixes
  packages/wallet-frontend/src/components/Menu.tsx
  packages/wallet-frontend/src/components/settings/ApiKeys.tsx
  packages/wallet-frontend/src/pages/auth/signup.tsx
  packages/wallet-frontend/src/pages/index.tsx
  packages/wallet-frontend/src/ui/CopyButton.tsx
Labels: package: wallet/frontend, type: source

#365 feat(wallet-frontend): Text change for Switch
  packages/wallet-frontend/src/lib/api/transfers.ts
  packages/wallet-frontend/src/pages/transfer/pay.tsx
  packages/wallet-frontend/src/pages/transfer/send.tsx
  packages/wallet-frontend/src/ui/TogglePayment.tsx
  packages/wallet-frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

#380 fix(wallet-backend): set correct cookie options
  packages/wallet-backend/src/auth/auth.service.ts
  packages/wallet-backend/src/config/env.ts
Labels: package: wallet/backend, type: source

#355 feat: Integrate features in new backend
  .vscode/launch.json
  package.json
  packages/wallet-backend-update/package.json
  packages/wallet-backend-update/src/account/controller.ts
  packages/wallet-backend-update/src/account/service.ts
  packages/wallet-backend-update/src/account/validation.ts
  packages/wallet-backend-update/src/app.ts
  packages/wallet-backend-update/src/asset/controller.ts
  packages/wallet-backend-update/src/asset/validation.ts
  packages/wallet-backend-update/src/auth/controller.ts
  packages/wallet-backend-update/src/auth/validation.ts
  packages/wallet-backend-update/src/config/env.ts
  packages/wallet-backend-update/src/createContainer.ts
  packages/wallet-backend-update/src/errors/InternalServerError.ts
  packages/wallet-backend-update/src/errors/index.ts
  packages/wallet-backend-update/src/global.d.ts
  packages/wallet-backend-update/src/incomingPayment/controller.ts
  packages/wallet-backend-update/src/incomingPayment/service.ts
  packages/wallet-backend-update/src/incomingPayment/validation.ts
  packages/wallet-backend-update/src/index.ts
  packages/wallet-backend-update/src/outgoingPayment/controller.ts
  packages/wallet-backend-update/src/outgoingPayment/service.ts
  packages/wallet-backend-update/src/outgoingPayment/validation.ts
  packages/wallet-backend-update/src/paymentPointer/controller.ts
  packages/wallet-backend-update/src/paymentPointer/model.ts
  packages/wallet-backend-update/src/paymentPointer/service.ts
  packages/wallet-backend-update/src/paymentPointer/validation.ts
  packages/wallet-backend-update/src/rafiki/controller.ts
  packages/wallet-backend-update/src/rafiki/generated/graphql.ts
  packages/wallet-backend-update/src/rafiki/rafiki-client.ts
  packages/wallet-backend-update/src/rafiki/request/asset.request.ts
  packages/wallet-backend-update/src/rafiki/request/incoming-payment.request.ts
  packages/wallet-backend-update/src/rafiki/request/liquidity.request.ts
  packages/wallet-backend-update/src/rafiki/request/outgoing-payment.request.ts
  packages/wallet-backend-update/src/rafiki/request/payment-pointer.request.ts
  packages/wallet-backend-update/src/rafiki/request/quote.request.ts
  packages/wallet-backend-update/src/rafiki/service.ts
  packages/wallet-backend-update/src/rafiki/validation.ts
  packages/wallet-backend-update/src/rapyd/controller.ts
  packages/wallet-backend-update/src/rapyd/rapyd-client.ts
  packages/wallet-backend-update/src/rapyd/rapyd.d.ts
  packages/wallet-backend-update/src/rapyd/service.ts
  packages/wallet-backend-update/src/rapyd/validation.ts
  packages/wallet-backend-update/src/shared/validate.ts
  packages/wallet-backend-update/src/transaction/controller.ts
  packages/wallet-backend-update/src/transaction/model.ts
  packages/wallet-backend-update/src/transaction/service.ts
  packages/wallet-backend-update/src/transaction/validation.ts
  packages/wallet-backend-update/src/user/controller.ts
  packages/wallet-backend-update/src/utils/helpers.ts
  packages/wallet-backend-update/tests/auth/controller.test.ts
  packages/wallet-backend-update/tests/auth/service.test.ts
  packages/wallet-backend-update/tests/mocks.ts
  packages/wallet-backend-update/tests/user/controller.test.ts
  packages/wallet-backend/package.json
  pnpm-lock.yaml
Labels: package: wallet/backend, type: test

#388 feat: decouple kyc pages
  packages/wallet-backend-update/src/account/model.ts
  packages/wallet-backend-update/src/app.ts
  packages/wallet-backend-update/src/config/env.ts
  packages/wallet-backend-update/src/middleware/isAuth.ts
  packages/wallet-backend-update/src/rapyd/controller.ts
  packages/wallet-backend-update/src/rapyd/rapyd-client.ts
  packages/wallet-backend-update/src/rapyd/service.ts
  packages/wallet-backend-update/src/user/controller.ts
  packages/wallet-frontend/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet-frontend/src/components/kyc/Tabs.tsx
  packages/wallet-frontend/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet-frontend/src/components/kyc/context.tsx
  packages/wallet-frontend/src/components/kyc/index.tsx
  packages/wallet-frontend/src/lib/api/user.ts
  packages/wallet-frontend/src/middleware.ts
  packages/wallet-frontend/src/pages/kyc.tsx
  packages/wallet-frontend/src/pages/kyc/personal.tsx
  packages/wallet-frontend/src/pages/kyc/proof.tsx
  packages/wallet-frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

#392 refactor(wallet-frontend): update user service
  packages/wallet-backend-update/src/rapyd/controller.ts
  packages/wallet-frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet-frontend/src/lib/api/user.ts
  packages/wallet-frontend/src/pages/settings/index.tsx
Labels: package: wallet/frontend, type: source

#394 refactor: update account service
  packages/wallet-backend-update/migrations/20230317142949_create_accounts.js
  packages/wallet-backend-update/migrations/20230317143010_create_payment_pointers.js
  packages/wallet-backend-update/src/account/controller.ts
  packages/wallet-backend-update/src/account/service.ts
  packages/wallet-backend-update/src/account/validation.ts
  packages/wallet-backend-update/src/config/env.ts
  packages/wallet-backend-update/src/global.d.ts
  packages/wallet-backend-update/src/index.ts
  packages/wallet-backend-update/src/utils/helpers.ts
  packages/wallet-frontend/next-env.d.ts
  packages/wallet-frontend/src/components/AccountCard.tsx
  packages/wallet-frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet-frontend/src/lib/api/account.ts
  packages/wallet-frontend/src/lib/api/paymentPointer.ts
  packages/wallet-frontend/src/pages/account/[accountId].tsx
  packages/wallet-frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet-frontend/src/pages/transfer/pay.tsx
  packages/wallet-frontend/src/ui/forms/Input.tsx
  packages/wallet-frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source
