Repository interledger/testnet, pull requests merged in 2023-02, with the labels that each got.

#39 feat(wallet): add responsive menu
  packages/wallet/package.json
  packages/wallet/src/components/Icons/Bars.tsx
  packages/wallet/src/components/Icons/Home.tsx
  packages/wallet/src/components/Icons/X.tsx
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/Sidebar/index.tsx
  packages/wallet/src/components/layouts/AppLayout.tsx
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/index.tsx
  pnpm-lock.yaml
  tsconfig.base.json
Labels: package: wallet, type: source

#45 chore: add pr template
  .github/pull_request_template.md
Labels: type: ci

#46 feat(wallet): add homepage
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/PageHeader.tsx
  packages/wallet/src/components/layouts/AppLayout.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/ui/Bubbles.tsx
  packages/wallet/src/ui/Button.tsx
  packages/wallet/src/utils/mocks.ts
Labels: package: wallet, type: source

#49 feat(wallet): Create Login Page
  packages/wallet/public/login-mobile.webp
  packages/wallet/public/login-welcome.webp
  packages/wallet/public/welcome-mobile.webp
  packages/wallet/src/components/HeaderLogo.tsx
  packages/wallet/src/components/Icons/Play.tsx
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/pages/welcome.tsx
  packages/wallet/src/ui/Input.tsx
Labels: package: wallet, type: source

#54 feat(wallet): implement floating label for form inputs
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/ui/Input.tsx
  packages/wallet/src/ui/Label.tsx
Labels: package: wallet, type: source

#56 feat(wallet): Create New Wallet User Account
  packages/wallet/public/leafs.svg
  packages/wallet/public/register.webp
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/pages/register.tsx
  packages/wallet/src/ui/Input.tsx
Labels: package: wallet, type: source

#58 feat(wallet): update mobile menu
  packages/wallet/src/components/Icons/Banknotes.tsx
  packages/wallet/src/components/Icons/Bars.tsx
  packages/wallet/src/components/Icons/Chevron.tsx
  packages/wallet/src/components/Icons/Cog.tsx
  packages/wallet/src/components/Icons/Grant.tsx
  packages/wallet/src/components/Icons/X.tsx
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/ui/Bubbles.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

#55 feat(backend): creating migration files
  docker/dev/docker-compose.yml
  packages/backend/knexfile.js
  packages/backend/migrations/20230209092730_account.js
  packages/backend/migrations/20230209095515_user.js
  packages/backend/migrations/20230209095526_payment_pointer.js
  packages/backend/migrations/20230209095548_grant.js
  packages/backend/migrations/20230209130752_transaction.js
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/routes.ts
  pnpm-lock.yaml
Labels: package: backend, type: source

#60 feat(wallet): add settings page
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/SettingsTabs.tsx
  packages/wallet/src/components/layouts/AppLayout.tsx
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/settings/api.tsx
  packages/wallet/src/pages/settings/index.tsx
  packages/wallet/src/pages/welcome.tsx
  packages/wallet/src/ui/Divider.tsx
  packages/wallet/src/ui/Input.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

#72 feat(wallet): add new account page
  packages/wallet/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/login.tsx
  packages/wallet/src/pages/register.tsx
  packages/wallet/src/ui/forms/FieldError.tsx
  packages/wallet/src/ui/forms/Form.tsx
  packages/wallet/src/ui/forms/Input.tsx
  packages/wallet/src/ui/forms/Label.tsx
  packages/wallet/src/ui/forms/Select.tsx
Labels: package: wallet, type: source

#67 feat(wallet): Implement KYC - personal details-ID proof
  packages/wallet/public/bank-kyc.webp
  packages/wallet/public/group.webp
  packages/wallet/public/id-kyc.webp
  packages/wallet/public/park.webp
  packages/wallet/public/personal-info-kyc.webp
  packages/wallet/src/components/HeaderLogo.tsx
  packages/wallet/src/components/Icons/UploadSmile.tsx
  packages/wallet/src/components/kyc/IdentificationForm.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/kyc/context.tsx
  packages/wallet/src/components/kyc/index.tsx
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/pages/auth/index.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/register.tsx
  packages/wallet/src/pages/kyc.tsx
  packages/wallet/src/ui/FileUpload.tsx
  packages/wallet/src/ui/forms/Select.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

#77 feat(wallet): Add pay and send functionalities
  packages/wallet/public/pay.webp
  packages/wallet/public/request.webp
  packages/wallet/public/send.webp
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/TransferHeader.tsx
  packages/wallet/src/pages/404.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Badge.tsx
Labels: package: wallet, type: source

#83 feat(wallet): Add Request Page
  packages/wallet/src/pages/404.tsx
  packages/wallet/src/pages/transfer/request.tsx
Labels: package: wallet, type: source

#89 feat(wallet): add global dialog
  packages/wallet/next.config.js
  packages/wallet/package.json
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/dialog/ErrorDialog.tsx
  packages/wallet/src/components/dialog/SuccessDialog.tsx
  packages/wallet/src/components/icons/Banknotes.tsx
  packages/wallet/src/components/icons/Bars.tsx
  packages/wallet/src/components/icons/Bird.tsx
  packages/wallet/src/components/icons/Chevron.tsx
  packages/wallet/src/components/icons/Cog.tsx
  packages/wallet/src/components/icons/Grant.tsx
  packages/wallet/src/components/icons/Home.tsx
  packages/wallet/src/components/icons/Play.tsx
  packages/wallet/src/components/icons/UploadSmile.tsx
  packages/wallet/src/components/icons/X.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/providers/DialogProvider.tsx
  packages/wallet/src/components/providers/index.tsx
  packages/wallet/src/lib/.gitkeep
  packages/wallet/src/lib/context/dialog.ts
  packages/wallet/src/lib/hooks/useDialog.ts
  packages/wallet/src/lib/types/dialog.ts
  packages/wallet/src/pages/_app.tsx
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/register.tsx
  packages/wallet/src/ui/Button.tsx
  packages/wallet/src/ui/FileUpload.tsx
  packages/wallet/src/ui/forms/Select.tsx
  pnpm-lock.yaml
Labels: package: wallet, type: source

#106 feat(wallet): Add New fields to KYC forms
  .github/CODE_OF_CONDUCT.md
  .github/contributing.md
  README.md
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/kyc/IdentificationForm.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/components/kyc/index.tsx
  packages/wallet/src/ui/FileUpload.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
Labels: type: documentation, package: wallet, type: ci, type: source

#108 chore: Update README.md
  README.md
Labels: type: documentation

#112 chore(wallet): update tailwind color scheme
  packages/wallet/public/login-welcome.webp
  packages/wallet/public/park.webp
  packages/wallet/public/register.webp
  packages/wallet/src/components/HeaderLogo.tsx
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/PageHeader.tsx
  packages/wallet/src/components/SettingsTabs.tsx
  packages/wallet/src/components/TransferHeader.tsx
  packages/wallet/src/components/dialog/ErrorDialog.tsx
  packages/wallet/src/components/dialog/SuccessDialog.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/components/layouts/AuthLayout.tsx
  packages/wallet/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/404.tsx
  packages/wallet/src/pages/auth/index.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/register.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Badge.tsx
  packages/wallet/src/ui/Button.tsx
  packages/wallet/src/ui/Divider.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/ui/forms/Input.tsx
  packages/wallet/src/ui/forms/Label.tsx
  packages/wallet/src/ui/forms/Select.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

#82 feat(wallet): update homepage design
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/components/PageHeader.tsx
  packages/wallet/src/components/icons/New.tsx
  packages/wallet/src/components/icons/Pay.tsx
  packages/wallet/src/components/icons/Receive.tsx
  packages/wallet/src/components/icons/Send.tsx
  packages/wallet/src/components/layouts/AppLayout.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/ui/Link.tsx
  packages/wallet/src/utils/mocks.ts
Labels: package: wallet, type: source

#116 feat(wallet): update desktop menu
  packages/wallet/src/components/Menu.tsx
Labels: package: wallet, type: source

#119 feat(wallet): update settings pages
  packages/wallet/src/components/icons/Clipboard.tsx
  packages/wallet/src/components/settings/ApiKeys.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/pages/settings/api.tsx
  packages/wallet/src/pages/settings/index.tsx
  packages/wallet/src/ui/Button.tsx
  packages/wallet/src/ui/CopyButton.tsx
  packages/wallet/src/ui/forms/Form.tsx
  packages/wallet/src/ui/forms/Input.tsx
Labels: package: wallet, type: source

#48 feat(backend): Auth
  .gitignore
  .vscode/launch.json
  docker/dev/docker-compose.yml
  packages/backend/Dockerfile.dev
  packages/backend/knexfile.js
  packages/backend/migrations/20230209095515_user.js
  packages/backend/migrations/20230214221007_refresh_token.js
  packages/backend/package.json
  packages/backend/seeds/seed_users.js
  packages/backend/src/account/controller.ts
  packages/backend/src/account/model.ts
  packages/backend/src/account/routes.ts
  packages/backend/src/account/service.ts
  packages/backend/src/account/validation.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/errors/UnauthorisedException.ts
  packages/backend/src/auth/jwtStrategy.ts
  packages/backend/src/auth/models/refreshToken.ts
  packages/backend/src/auth/schemas/index.ts
  packages/backend/src/auth/schemas/loginSchema.ts
  packages/backend/src/auth/schemas/signupSchema.ts
  packages/backend/src/config/env.ts
  packages/backend/src/errors/BadRequestException.ts
  packages/backend/src/errors/BaseError.ts
  packages/backend/src/index.ts
  packages/backend/src/middlewares/errorHandler.ts
  packages/backend/src/middlewares/validator.ts
  packages/backend/src/routes.ts
  packages/backend/src/user/models/user.ts
  packages/backend/src/utils/logger.ts
  packages/backend/tsconfig.json
  packages/wallet/Dockerfile.dev
  pnpm-lock.yaml
Labels: package: wallet, package: backend, type: source

#120 feat(wallet): Add ToggleSwitch to transfer pages & new images from design added & b…
  .github/contributing.md
  packages/wallet/public/pay-mobile.webp
  packages/wallet/public/pay.webp
  packages/wallet/public/request-mobile.webp
  packages/wallet/public/request.webp
  packages/wallet/public/send-mobile.webp
  packages/wallet/public/send.webp
  packages/wallet/public/settings.webp
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/pages/settings/api.tsx
  packages/wallet/src/pages/settings/index.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Bubbles.tsx
  packages/wallet/src/ui/Button.tsx
  packages/wallet/src/ui/TogglePayment.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/ui/forms/Input.tsx
  packages/wallet/src/ui/forms/Select.tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: ci, type: source

#131 feat(wallet): setup axios
  docker/dev/docker-compose.yml
  packages/wallet/package.json
  packages/wallet/src/lib/axios.ts
  packages/wallet/src/utils/helpers.ts
  pnpm-lock.yaml
Labels: package: wallet, type: source
