Repository interledger/testnet, pull requests merged in 2023-06, with the labels that each got.

#397 refactor: assets refactoring
  packages/wallet-backend-update/src/app.ts
  packages/wallet-backend-update/src/asset/controller.ts
  packages/wallet-frontend/src/lib/api/asset.ts
  packages/wallet-frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
Labels: package: wallet/frontend, type: source

#398 refactor: payment pointers service
  packages/wallet-backend-update/migrations/20230317143023_create_transactions.js
  packages/wallet-backend-update/src/account/model.ts
  packages/wallet-backend-update/src/paymentPointer/model.ts
  packages/wallet-frontend/src/lib/api/paymentPointer.ts
  packages/wallet-frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet-frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

#408 fix: add missing endpoints and refactor transfer module
  docker/dev/docker-compose.yml
  packages/wallet-backend-update/codegen.yml
  packages/wallet-backend-update/migrations/20230317143023_create_transactions.js
  packages/wallet-backend-update/src/app.ts
  packages/wallet-backend-update/src/createContainer.ts
  packages/wallet-backend-update/src/rafiki/generated/graphql.ts
  packages/wallet-backend-update/src/rafiki/rafiki-client.ts
  packages/wallet-backend-update/src/rafiki/request/quote.request.ts
  packages/wallet-backend-update/src/rafiki/service.ts
  packages/wallet-backend-update/src/rafiki/validation.ts
  packages/wallet-backend-update/src/rapyd/rapyd-client.ts
  packages/wallet-backend-update/tests/app.test.ts
  packages/wallet-backend/src/rapyd/wallet/request.ts
  packages/wallet-frontend/src/lib/api/transfers.ts
  packages/wallet-frontend/src/middleware.ts
  packages/wallet-frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet-frontend/src/pages/transfer/pay.tsx
  packages/wallet-frontend/src/pages/transfer/request.tsx
  packages/wallet-frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: test, type: source

#387 feat: migrate frontend to new backend
  docker/dev/docker-compose.yml
  package.json
  packages/wallet-backend-update/codegen.yml
  packages/wallet-backend-update/migrations/20230317142949_create_accounts.js
  packages/wallet-backend-update/migrations/20230317143010_create_payment_pointers.js
  packages/wallet-backend-update/migrations/20230317143023_create_transactions.js
  packages/wallet-backend-update/src/account/controller.ts
  packages/wallet-backend-update/src/account/model.ts
  packages/wallet-backend-update/src/account/service.ts
  packages/wallet-backend-update/src/account/validation.ts
  packages/wallet-backend-update/src/app.ts
  packages/wallet-backend-update/src/asset/controller.ts
  packages/wallet-backend-update/src/config/env.ts
  packages/wallet-backend-update/src/createContainer.ts
  packages/wallet-backend-update/src/global.d.ts
  packages/wallet-backend-update/src/incomingPayment/service.ts
  packages/wallet-backend-update/src/index.ts
  packages/wallet-backend-update/src/middleware/isAuth.ts
  packages/wallet-backend-update/src/middleware/withSession.ts
  packages/wallet-backend-update/src/paymentPointer/model.ts
  packages/wallet-backend-update/src/rafiki/generated/graphql.ts
  packages/wallet-backend-update/src/rafiki/rafiki-client.ts
  packages/wallet-backend-update/src/rafiki/request/quote.request.ts
  packages/wallet-backend-update/src/rafiki/service.ts
  packages/wallet-backend-update/src/rafiki/validation.ts
  packages/wallet-backend-update/src/rapyd/controller.ts
  packages/wallet-backend-update/src/rapyd/rapyd-client.ts
  packages/wallet-backend-update/src/rapyd/service.ts
  packages/wallet-backend-update/src/user/controller.ts
  packages/wallet-backend-update/src/utils/helpers.ts
  packages/wallet-backend-update/tests/app.test.ts
  packages/wallet-backend/src/rapyd/wallet/request.ts
  packages/wallet-frontend/src/components/AccountCard.tsx
  packages/wallet-frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet-frontend/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet-frontend/src/components/kyc/Tabs.tsx
  packages/wallet-frontend/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet-frontend/src/components/kyc/context.tsx
  packages/wallet-frontend/src/components/kyc/index.tsx
  packages/wallet-frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet-frontend/src/lib/api/account.ts
  packages/wallet-frontend/src/lib/api/asset.ts
  packages/wallet-frontend/src/lib/api/paymentPointer.ts
  packages/wallet-frontend/src/lib/api/transfers.ts
  packages/wallet-frontend/src/lib/api/user.ts
  packages/wallet-frontend/src/lib/httpClient.ts
  packages/wallet-frontend/src/middleware.ts
  packages/wallet-frontend/src/pages/account/[accountId].tsx
  packages/wallet-frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet-frontend/src/pages/kyc.tsx
  packages/wallet-frontend/src/pages/kyc/personal.tsx
  packages/wallet-frontend/src/pages/kyc/proof.tsx
  packages/wallet-frontend/src/pages/settings/index.tsx
  packages/wallet-frontend/src/pages/transfer/pay.tsx
  packages/wallet-frontend/src/pages/transfer/request.tsx
  packages/wallet-frontend/src/pages/transfer/send.tsx
  packages/wallet-frontend/src/ui/forms/Input.tsx
  packages/wallet-frontend/src/utils/helpers.ts
  packages/wallet-frontend/tsconfig.json
Labels: package: wallet/frontend, package: wallet/backend, type: test, type: source

#421 chore: update github workflows
  .github/contributing.md
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/pr_title_check.yml
  .github/workflows/setup/action.yml
  .prettierignore
  .prettierrc.js
  package.json
Labels: type: ci

#377 feat(frontend): squash pay and send pages
  packages/wallet-backend-update/src/outgoingPayment/controller.ts
  packages/wallet-backend-update/src/outgoingPayment/service.ts
  packages/wallet-backend-update/src/outgoingPayment/validation.ts
  packages/wallet-backend-update/src/utils/helpers.ts
  packages/wallet-frontend/src/components/Menu.tsx
  packages/wallet-frontend/src/components/icons/Pay.tsx
  packages/wallet-frontend/src/lib/api/transfers.ts
  packages/wallet-frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet-frontend/src/pages/index.tsx
  packages/wallet-frontend/src/pages/transfer/pay.tsx
  packages/wallet-frontend/src/pages/transfer/send.tsx
  packages/wallet-frontend/src/ui/forms/Input.tsx
Labels: package: wallet/frontend, type: source

#409 feat: two-step payments introduced
  .vscode/launch.json
  docker/dev/docker-compose-prod.yml
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/incomingPayment/controller.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/outgoingPayment/controller.ts
  packages/wallet/backend/src/outgoingPayment/service.ts
  packages/wallet/backend/src/outgoingPayment/validation.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/quote/validation.ts
  packages/wallet/backend/src/rafiki/generated/graphql.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/request/quote.request.ts
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#430 chore: docker improvements
  docker/dbinit.sql
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  docker/temp/private-key.pem
  package.json
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/backend/package.json
  packages/wallet/frontend/Dockerfile.prod
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: wallet/backend, type: docker, type: source

#453 chore: fix PR title check trigger
  .github/workflows/pr_title_check.yml
Labels: type: ci

#418 feat(frontend): create onboarding flow
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/AccountCard.tsx
  packages/wallet/frontend/src/components/PaymentPointerCard.tsx
  packages/wallet/frontend/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/components/icons/Dollar.tsx
  packages/wallet/frontend/src/components/icons/HomeRooftop.tsx
  packages/wallet/frontend/src/components/icons/MoneyCircle.tsx
  packages/wallet/frontend/src/components/icons/MoneyHand.tsx
  packages/wallet/frontend/src/components/icons/MoneyOut.tsx
  packages/wallet/frontend/src/components/icons/PaperPlane.tsx
  packages/wallet/frontend/src/components/icons/Person.tsx
  packages/wallet/frontend/src/components/icons/PersonDoc.tsx
  packages/wallet/frontend/src/components/icons/Plus.tsx
  packages/wallet/frontend/src/components/icons/Pointer.tsx
  packages/wallet/frontend/src/components/icons/Switch.tsx
  packages/wallet/frontend/src/components/icons/ThumbsUp.tsx
  packages/wallet/frontend/src/components/icons/TransactionCircle.tsx
  packages/wallet/frontend/src/components/icons/Wave.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/components/providers/OnboardingProvider.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/lib/context/onboarding.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/kyc/proof.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
  packages/wallet/frontend/src/utils/constants.ts
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

#454 feat(wallet): use payment pointer format instead of `https://`
  packages/wallet/backend/src/incomingPayment/validation.ts
  packages/wallet/backend/src/quote/validation.ts
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/ui/CopyButton.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#455 feat(wallet/backend): add default account and payment pointer for a new user
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rapyd/controller.ts
Labels: package: wallet/backend, type: source

#449 feat(transactions): add fund/withdraw transactions
  packages/wallet/backend/migrations/20230317143010_create_payment_pointers.js
  packages/wallet/backend/migrations/20230317143023_create_transactions.js
  packages/wallet/backend/migrations/20230626171045_update_transactions_field_types.js
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/transaction/model.ts
Labels: package: wallet/backend, type: source

#432 feat: developer key backend
  packages/wallet/backend/migrations/20230620082429_add_publicKey_to_payment_pointers.js
  packages/wallet/backend/package.json
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/paymentPointer/controller.ts
  packages/wallet/backend/src/paymentPointer/model.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/backend/src/rafiki/generated/graphql.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/request/payment-pointer-key.request.ts
  packages/wallet/backend/src/utils/jwk.ts
Labels: package: wallet/backend, type: source

#428 feat(wallet/frontend): add developer keys
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/SettingsTabs.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/settings/ApiKeys.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/paymentPointer.ts
  packages/wallet/frontend/src/pages/settings/api.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/ui/CopyButton.tsx
  packages/wallet/frontend/src/utils/mocks.ts
Labels: package: wallet/frontend, type: source
