Repository interledger/testnet, pull requests merged in 2023-10, with the labels that each got.

#817 fix(rates): remove previous rate api
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/rates/service.ts
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

#819 feat(wallet-frontend): Feedback changes for texts
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

#818 fix(payment): continue payment if it is not internal
  packages/wallet/backend/src/outgoingPayment/service.ts
  packages/wallet/backend/src/utils/helpers.ts
Labels: package: wallet/backend, type: source

#820 feat: Add unit tests for rapyd controllers and services
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/rapyd/service.test.ts
Labels: package: wallet/backend, type: test

#639 feat: Automatic balance update
  packages/boutique/frontend/src/components/ui/popover.tsx
  packages/boutique/frontend/src/components/ui/sheet.tsx
  packages/wallet/backend/package.json
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/socket/messageType.ts
  packages/wallet/backend/src/socket/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/helpers.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/components/icons/MoneyBird.tsx
  packages/wallet/frontend/src/components/toast/Toast.tsx
  packages/wallet/frontend/src/components/toast/Toaster.tsx
  packages/wallet/frontend/src/lib/balance.ts
  packages/wallet/frontend/src/lib/hooks/useToast.ts
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/frontend/tailwind.config.js
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: wallet/backend, type: test, type: source, package: boutique/frontend

#838 chore: Update documentation with linked image
  README.md
Labels: type: documentation

#837 fix: Interledger Link in README.md
  README.md
Labels: type: documentation

#840 feat: deposit additional rapyd funds
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
Labels: package: wallet/backend, type: source

#848 feat: add Back navigation
  packages/wallet/frontend/src/components/BackButton.tsx
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/PageHeader.tsx
  packages/wallet/frontend/src/components/TransferHeader.tsx
  packages/wallet/frontend/src/components/icons/BackButton.svg
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

#834 feat: Added unit tests for quote controller and service
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/quote/service.test.ts
Labels: package: wallet/backend, type: test

#866 feat(wallet-frontend): Add copy button for PP interledger#814
  packages/wallet/frontend/src/components/cards/PaymentPointerCard.tsx
Labels: package: wallet/frontend, type: source

#889 feat(wallet-frontend): private key copy as base 64
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

#892 fix(wallet-frontend): overflow in developer keys page
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

#893 feat(wallet/frontend): specify payment pointer type
  packages/wallet/frontend/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/frontend/src/lib/api/paymentPointer.ts
  packages/wallet/frontend/src/ui/forms/Checkbox.tsx
Labels: package: wallet/frontend, type: source

#896 feat(wallet-backend): introduce web-monetization payment pointers
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  packages/wallet/backend/migrations/20231013113754_add_wm_payment_pointers_table.js
  packages/wallet/backend/migrations/20231013114620_add_wm_transactions_table.js
  packages/wallet/backend/migrations/20231018084125_update_payment_pointers_table.js
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/cache/redis-client.ts
  packages/wallet/backend/src/cache/service.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/paymentPointer/controller.ts
  packages/wallet/backend/src/paymentPointer/model.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/backend/src/paymentPointer/validation.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/webMonetization/paymentPointer/model.ts
  packages/wallet/backend/src/webMonetization/transaction/model.ts
  packages/wallet/frontend/src/lib/api/paymentPointer.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: wallet/backend, type: source

#870 fix(wallet/frontend): back button refactoring
  packages/wallet/frontend/src/components/BackButton.tsx
  packages/wallet/frontend/src/components/PageHeader.tsx
  packages/wallet/frontend/src/components/TransferHeader.tsx
  packages/wallet/frontend/src/components/icons/Back.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

#906 feat(wm): update webhook handling and transactions service
  .github/workflows/ci.yml
  docker/dev/docker-compose.yml
  packages/wallet/backend/jest.setup.js
  packages/wallet/backend/jest.teardown.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/webMonetization/transaction/model.ts
  packages/wallet/backend/src/webMonetization/transaction/service.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/app.test.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/auth/service.test.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/quote/service.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/rapyd/service.test.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/backend/tests/transaction/service.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/user/service.test.ts
Labels: package: wallet/backend, type: test, type: ci, type: source

#902 feat(wallet-frontend): Display wm payment pinters in separate list
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/frontend/src/components/cards/PaymentPointerCard.tsx
  packages/wallet/frontend/src/lib/api/paymentPointer.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

#890 feat: remove websocket notification for Exchange
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/utils/helpers.ts
  packages/wallet/backend/tests/quote/service.test.ts
Labels: package: wallet/backend, type: test, type: source

#928 fix: Update README.md
  README.md
Labels: type: documentation

#930 fix: Update README.md
  README.md
Labels: type: documentation

#932 fix(wallet/frontend): payment pointer format and focus
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

#936 feat(wallet/frontend): add cookie name environment variable
  docker/prod/docker-compose.yml
  packages/wallet/frontend/Dockerfile.prod
  packages/wallet/frontend/src/middleware.ts
Labels: package: wallet/frontend, type: source

#938 feat(wallet): WM only for USD accounts
  packages/boutique/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/src/components/TemporaryWMNotice.tsx
  packages/wallet/frontend/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source, package: boutique/backend
