Repository interledger/testnet, pull requests merged in 2023-12, with the labels that each got.

#953 feat: Use Awilix as a DI container
  packages/wallet/backend/package.json
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/config/knex.ts
  packages/wallet/backend/src/config/rafiki.ts
  packages/wallet/backend/src/config/redis.ts
  packages/wallet/backend/src/config/walletAddress.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/backend/src/grant/service.ts
  packages/wallet/backend/src/incomingPayment/controller.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/index.ts
  packages/wallet/backend/src/outgoingPayment/controller.ts
  packages/wallet/backend/src/outgoingPayment/service.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/auth/service.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/service.ts
  packages/wallet/backend/src/rates/service.ts
  packages/wallet/backend/src/shared/container.ts
  packages/wallet/backend/src/socket/service.ts
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/webMonetization/transaction/service.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/app.test.ts
  packages/wallet/backend/tests/app.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/auth/service.test.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/quote/service.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/rapyd/service.test.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/backend/tests/transaction/service.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/user/service.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: test, type: source

#926 feat: Payment pointer unit test
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/grant/service.test.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
Labels: package: wallet/backend, type: test

#859 feat(boutique): one click buy
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/cache/in-memory.ts
  packages/boutique/backend/src/cache/one-click.ts
  packages/boutique/backend/src/cache/token.ts
  packages/boutique/backend/src/container.ts
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/order/validation.ts
  packages/boutique/backend/src/shared/utils.ts
  packages/boutique/frontend/src/app/cart/components/one-click-setup.tsx
  packages/boutique/frontend/src/app/cart/components/summary.tsx
  packages/boutique/frontend/src/app/cart/finish.tsx
  packages/boutique/frontend/src/app/cart/routes.tsx
  packages/boutique/frontend/src/app/checkout/components/order-summary.tsx
  packages/boutique/frontend/src/app/checkout/confirmation.tsx
  packages/boutique/frontend/src/app/products/components/product-cta.tsx
  packages/boutique/frontend/src/app/route-schemas.ts
  packages/boutique/frontend/src/components/loader.tsx
  packages/boutique/frontend/src/components/ui/dialog.tsx
  packages/boutique/frontend/src/components/ui/form/form.tsx
  packages/boutique/frontend/src/components/ui/input.tsx
  packages/boutique/frontend/src/components/ui/sheet.tsx
  packages/boutique/frontend/src/hooks/use-create-order-mutation.ts
  packages/boutique/frontend/src/hooks/use-finish-setup-mutation.ts
  packages/boutique/frontend/src/hooks/use-instant-buy-mutation.ts
  packages/boutique/frontend/src/hooks/use-setup-one-click-mutation.ts
  packages/boutique/frontend/src/hooks/use-token-store.ts
  packages/boutique/frontend/src/hooks/use-zod-search-params.ts
  packages/boutique/frontend/src/lib/stores/token-store.ts
  packages/boutique/frontend/src/main.css
  packages/boutique/frontend/tsconfig.json
Labels: type: source, package: boutique/backend, package: boutique/frontend

#1000 chore(deps): revert update nextjs monorepo to ^13.5.6
  packages/wallet/frontend/package.json
  pnpm-lock.yaml
Labels: package: wallet/frontend

#993 feat: added unit tests for the Transaction controller& service
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/transaction/service.test.ts
Labels: package: wallet/backend, type: test

#995 fix: Update README.md
  README.md
Labels: type: documentation

#1019 test: Add tests in Incoming Payment Controller
  packages/wallet/backend/tests/incomingPayment/controller.test.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/rafiki/controller.test.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
Labels: package: wallet/backend, type: test, do not merge, hacktoberfest-accepted

#1017 test: added tests for outgoingPayment controller
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/outgoingPayment/controller.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
Labels: package: wallet/backend, type: test, hacktoberfest-accepted
