Repository interledger/testnet, pull requests merged in 2023-09, with the labels that each got.

#705 feat(commerce/frontend): add OP pay button
  packages/commerce/frontend/src/app/checkout/components/pay-button.tsx
  packages/commerce/frontend/src/components/icons.tsx
  packages/commerce/frontend/src/main.css
  packages/commerce/frontend/tailwind.config.cjs
Labels: package: commerce/frontend

#708 feat(backend): Add temporary fees for multiple assets
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

#706 feat(backend): Slow incoming payments
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

#719 feat(middleware): add handling of axios errors
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/middleware/errorHandler.ts
  packages/wallet/backend/src/paymentPointer/controller.ts
  packages/wallet/backend/src/user/controller.ts
Labels: package: wallet/backend, type: source

#723 feat(commerce/backend): add pre-interaction checkout flow
  .gitignore
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/commerce/backend/migrations/20230810053817_add_orders_table.js
  packages/commerce/backend/package.json
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/cache/in-memory.ts
  packages/commerce/backend/src/cache/token.ts
  packages/commerce/backend/src/config/env.ts
  packages/commerce/backend/src/container.ts
  packages/commerce/backend/src/errors/bad-request.ts
  packages/commerce/backend/src/errors/base.ts
  packages/commerce/backend/src/errors/conflict.ts
  packages/commerce/backend/src/errors/index.ts
  packages/commerce/backend/src/errors/internal-server-error.ts
  packages/commerce/backend/src/errors/not-found.ts
  packages/commerce/backend/src/errors/unauthorized.ts
  packages/commerce/backend/src/index.ts
  packages/commerce/backend/src/middleware/validate.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order-item/model.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/service.ts
  packages/commerce/backend/src/order/validation.ts
  packages/commerce/backend/src/product/model.ts
  packages/commerce/backend/src/shared/utils.ts
  packages/commerce/backend/tests/app.test.ts
  packages/commerce/backend/tests/order/service.test.ts
  packages/commerce/backend/tests/product/controller.test.ts
  packages/commerce/backend/tests/product/service.test.ts
  packages/commerce/backend/tests/user/service.test.ts
  pnpm-lock.yaml
Labels: type: test, package: commerce/backend

#729 fix(quote): change invalid amount error
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

#731 feat(commerce/frontend): add checkout view
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/validation.ts
  packages/commerce/frontend/package.json
  packages/commerce/frontend/src/app/cart/components/summary.tsx
  packages/commerce/frontend/src/app/cart/index.tsx
  packages/commerce/frontend/src/app/checkout/components/order-summary.tsx
  packages/commerce/frontend/src/app/checkout/components/pay-button.tsx
  packages/commerce/frontend/src/app/checkout/components/payment-methods.tsx
  packages/commerce/frontend/src/app/checkout/index.tsx
  packages/commerce/frontend/src/app/checkout/routes.tsx
  packages/commerce/frontend/src/app/index.tsx
  packages/commerce/frontend/src/app/products/components/product-card.tsx
  packages/commerce/frontend/src/components/icons.tsx
  packages/commerce/frontend/src/components/ui/form/form.tsx
  packages/commerce/frontend/src/components/ui/input.tsx
  packages/commerce/frontend/src/components/ui/tabs.tsx
  packages/commerce/frontend/src/hooks/use-create-order-mutation.ts
  packages/commerce/frontend/src/hooks/use-custom-mutation.ts
  packages/commerce/frontend/src/hooks/use-product-query.ts
  packages/commerce/frontend/src/hooks/use-products-query.ts
  packages/commerce/frontend/src/lib/fetcher.ts
  packages/commerce/frontend/src/lib/utils.ts
  pnpm-lock.yaml
Labels: package: commerce/backend, package: commerce/frontend

#730 fix(rapyd): add additional beneficiary fields on withdraw money
  packages/wallet/backend/package.json
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/rapyd.d.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

#733 feat(commerce): post-interaction checkout flow
  packages/commerce/backend/knexfile.js
  packages/commerce/backend/migrations/20230810053817_add_orders_table.js
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/cache/in-memory.ts
  packages/commerce/backend/src/cache/token.ts
  packages/commerce/backend/src/index.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/service.ts
  packages/commerce/backend/src/order/validation.ts
  packages/commerce/frontend/package.json
  packages/commerce/frontend/src/app/checkout/components/loader.tsx
  packages/commerce/frontend/src/app/checkout/components/payment-methods.tsx
  packages/commerce/frontend/src/app/checkout/confirmation.tsx
  packages/commerce/frontend/src/app/checkout/routes.tsx
  packages/commerce/frontend/src/app/products/components/products-list.tsx
  packages/commerce/frontend/src/app/route-schemas.ts
  packages/commerce/frontend/src/components/animated-check-mark.tsx
  packages/commerce/frontend/src/components/animated-text.tsx
  packages/commerce/frontend/src/components/ui/button.tsx
  packages/commerce/frontend/src/hooks/use-create-order-mutation.ts
  packages/commerce/frontend/src/hooks/use-custom-mutation.ts
  packages/commerce/frontend/src/hooks/use-finish-checkout-mutation.ts
  packages/commerce/frontend/src/hooks/use-zod-search-params.ts
  packages/commerce/frontend/src/lib/fetcher.ts
  packages/commerce/frontend/src/main.tsx
  pnpm-lock.yaml
Labels: package: commerce/backend, package: commerce/frontend

#763 feat(commerce): verify interaction hash and add polling mechanism
  packages/commerce/backend/migrations/20230810053817_add_orders_table.js
  packages/commerce/backend/migrations/20230918114934_add_payments_table.js
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/container.ts
  packages/commerce/backend/src/open-payments/service.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/service.ts
  packages/commerce/backend/src/payment/model.ts
  packages/commerce/backend/src/payment/service.ts
  packages/commerce/backend/tests/order/service.test.ts
Labels: type: test, package: commerce/backend

#765 feat(payments): create external receiver
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/receiver.request.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

#758 feat(wallet-frontend): grant interaction fe improvement
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
Labels: package: wallet/frontend, type: source

#772 feat: upgrade rafiki to v1.0.0-alpha.3
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/commerce/backend/package.json
  packages/commerce/backend/src/open-payments/service.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/incomingPayment/controller.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/outgoingPayment/controller.ts
  packages/wallet/backend/src/outgoingPayment/service.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/request/grant.request.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/incoming-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/quote.request.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
  packages/wallet/backend/src/rates/service.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: wallet/backend, type: source, package: commerce/backend

#777 chore: release
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/commerce/backend/package.json
  packages/commerce/backend/src/open-payments/service.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/incomingPayment/controller.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/outgoingPayment/controller.ts
  packages/wallet/backend/src/outgoingPayment/service.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/request/grant.request.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/incoming-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/quote.request.ts
  packages/wallet/backend/src/rafiki/backend/request/receiver.request.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
  packages/wallet/backend/src/rates/service.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: wallet/backend, type: source, package: commerce/backend

#783 feat(boutique): deployment
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/backend/src/config/env.ts
  packages/boutique/frontend/Dockerfile.prod
  packages/boutique/frontend/nginx/nginx.conf
  packages/boutique/frontend/src/components/navigation.tsx
  packages/boutique/frontend/src/lib/constants.ts
Labels: type: source, package: boutique/backend, package: boutique/frontend

#788 fix(grant): validate payment pointer account
  packages/wallet/backend/src/grant/service.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/frontend/public/bird-error.webp
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/no-access.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source

#805 fix(deps): update dependency graphql to ^16.8.1
  packages/wallet/backend/package.json
  pnpm-lock.yaml
Labels: package: wallet/backend

#787 fix(boutique): add description to payments
  packages/boutique/backend/migrations/20230824054747_add_products.js
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/backend/src/order/controller.ts
Labels: type: source, package: boutique/backend

#781 chore: added additional sections to Contribution guide
  .github/contributing.md
Labels: type: ci

#806 chore: bump rafiki image version
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/boutique/frontend/src/components/ui/toast.tsx
Labels: package: boutique/frontend

#807 chore: release
  .github/contributing.md
  docker/dev/docker-compose.yml
  docker/dev/local-http-signatures/Dockerfile
  docker/dev/local-http-signatures/package.json
  docker/prod/docker-compose.yml
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/backend/migrations/20230824054747_add_products.js
  packages/boutique/backend/package.json
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/frontend/Dockerfile.prod
  packages/boutique/frontend/package.json
  packages/boutique/frontend/src/components/ui/sheet.tsx
  packages/boutique/frontend/src/components/ui/toast.tsx
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/backend/package.json
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/grant/service.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.prod
  packages/wallet/frontend/package.json
  packages/wallet/frontend/public/bird-error.webp
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/no-access.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: wallet/backend, type: ci, type: source, package: boutique/backend, package: boutique/frontend
