Repository interledger/testnet, pull requests merged in 2023-04, with the labels that each got.

#251 feat(wallet): small design changes
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/tailwind.config.js
Labels: package: wallet, type: source

#267 feat(wallet): Update Personal Details to use default value Denmark and default addr…
  packages/wallet-frontend/src/components/kyc/PersonalDetailsForm.tsx
Labels: package: wallet/frontend, type: source

#274 fix: enable Open Payments APIs and HTTP signatures
  docker/dev/docker-compose.yml
  docker/dev/local-http-signatures/Dockerfile
  docker/dev/local-http-signatures/README.md
  docker/dev/local-http-signatures/app.js
  docker/dev/local-http-signatures/package.json
  docker/dev/temp/private-key.pem
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: type: documentation

#280 fix(wallet-frontend): sent/received toggle
  packages/wallet-frontend/src/lib/api/transfers.ts
  packages/wallet-frontend/src/pages/transfer/pay.tsx
  packages/wallet-frontend/src/pages/transfer/send.tsx
  packages/wallet-frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/frontend, type: source

#279 feat: add payment description for transaction pages
  packages/wallet-backend/src/incoming-payment/incoming-payment.schema.ts
  packages/wallet-backend/src/incoming-payment/incoming-payment.service.ts
  packages/wallet-backend/src/outgoing-payment/outgoing-payment.schema.ts
  packages/wallet-backend/src/outgoing-payment/outgoing-payment.service.ts
  packages/wallet-backend/src/rafiki/request/incoming-payment.request.ts
  packages/wallet-backend/src/rafiki/request/outgoing-payment.request.ts
  packages/wallet-frontend/src/lib/api/transfers.ts
  packages/wallet-frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet-frontend/src/pages/transfer/pay.tsx
  packages/wallet-frontend/src/pages/transfer/request.tsx
  packages/wallet-frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source

#281 chore: update readme & contributing
  .github/contributing.md
  README.md
Labels: type: documentation, type: ci

#272 feat(wallet): Icon change for Transactions IN/OUT
  packages/wallet-frontend/src/components/icons/Arrow.tsx
  packages/wallet-frontend/src/pages/account/[accountId]/[paymentPointerId].tsx
Labels: package: wallet/frontend, type: source

#303 feat(wallet/frontend): Update Grant icon
  packages/wallet-frontend/src/components/icons/Grant.tsx
Labels: package: wallet/frontend, type: source

#200 feat(backend): Testnet rafiki integration
  .vscode/launch.json
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  package.json
  packages/wallet-backend/migrations/20230209130752_transaction.js
  packages/wallet-backend/src/account/account.model.ts
  packages/wallet-backend/src/auth/jwtStrategy.ts
  packages/wallet-backend/src/auth/models/refreshToken.ts
  packages/wallet-backend/src/config/env.ts
  packages/wallet-backend/src/global.d.ts
  packages/wallet-backend/src/incoming-payment/incoming-payment.schema.ts
  packages/wallet-backend/src/incoming-payment/incoming-payment.service.ts
  packages/wallet-backend/src/index.ts
  packages/wallet-backend/src/outgoing-payment/outgoing-payment.schema.ts
  packages/wallet-backend/src/outgoing-payment/outgoing-payment.service.ts
  packages/wallet-backend/src/payment-pointer/payment-pointer.model.ts
  packages/wallet-backend/src/rafiki/generated/graphql.ts
  packages/wallet-backend/src/rafiki/integration/prices/prices.controller.ts
  packages/wallet-backend/src/rafiki/integration/prices/prices.service.ts
  packages/wallet-backend/src/rafiki/integration/quote/quote.controller.ts
  packages/wallet-backend/src/rafiki/integration/quote/quote.service.ts
  packages/wallet-backend/src/rafiki/integration/rafiki-integration.routes.ts
  packages/wallet-backend/src/rafiki/integration/webhook/webhook.controller.ts
  packages/wallet-backend/src/rafiki/integration/webhook/webhook.service.ts
  packages/wallet-backend/src/rafiki/request/incoming-payment.request.ts
  packages/wallet-backend/src/rafiki/request/liquidity.request.ts
  packages/wallet-backend/src/rafiki/request/quote.request.ts
  packages/wallet-backend/src/rapyd/wallet/request.ts
  packages/wallet-backend/src/rapyd/wallet/wallet.d.ts
  packages/wallet-backend/src/routes.ts
  packages/wallet-backend/src/shared/models/errors/NotFoundException.ts
  packages/wallet-backend/src/transaction/transaction.model.ts
  packages/wallet-backend/src/transaction/transaction.service.ts
  packages/wallet-backend/src/types/express/index.d.ts
  packages/wallet-backend/src/user/models/user.ts
Labels: package: wallet/backend, type: source

#292 feat(wallet): add soft delete functionality
  packages/wallet-backend/migrations/20230209095526_payment_pointer.js
  packages/wallet-backend/src/incoming-payment/incoming-payment.service.ts
  packages/wallet-backend/src/outgoing-payment/outgoing-payment.service.ts
  packages/wallet-backend/src/payment-pointer/payment-pointer.model.ts
  packages/wallet-backend/src/payment-pointer/payment-pointer.route.ts
  packages/wallet-backend/src/payment-pointer/payment-pointer.service.ts
  packages/wallet-frontend/src/components/PaymentPointerCard.tsx
  packages/wallet-frontend/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet-frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet-frontend/src/lib/api/paymentPointer.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#315 chore(wallet-backend): rename prices to rates
  docker/dev/docker-compose.yml
  packages/wallet-backend/src/rafiki/integration/prices/prices.controller.ts
  packages/wallet-backend/src/rafiki/integration/rafiki-integration.routes.ts
  packages/wallet-backend/src/rafiki/integration/rates/rates.controller.ts
  packages/wallet-backend/src/rafiki/integration/rates/rates.service.ts
Labels: package: wallet/backend, type: source
