Repository interledger/testnet, pull requests merged in 2023-11, with the labels that each got.

#990 fix(deps): bump `@interledger/open-payments` to `6.1.1`
  packages/boutique/backend/package.json
  pnpm-lock.yaml
Labels: package: boutique/backend

#989 fix(deps): bump `crypto-js` version to `4.2.0`
  packages/wallet/backend/package.json
  pnpm-lock.yaml
Labels: package: wallet/backend

#952 feat: updated Auth unit test
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/auth/service.test.ts
Labels: package: wallet/backend, type: test

#949 feat: Grant unit test
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/grant/service.test.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: test
