Repository interledger/testnet, pull requests merged in 2023-03, with the labels that each got.

#135 feat(wallet): add registration functionality
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/models/refreshToken.ts
  packages/backend/src/index.ts
  packages/backend/src/middlewares/validator.ts
  packages/wallet/src/components/icons/X.tsx
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/lib/axios.ts
  packages/wallet/src/pages/auth/index.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/register.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/ui/forms/Form.tsx
  packages/wallet/src/utils/helpers.ts
Labels: package: wallet, package: backend, type: source

#107 feat(wallet): add account page
  .eslintrc.js
  packages/wallet/.eslintrc.js
  packages/wallet/package.json
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/src/components/icons/Exchange.tsx
  packages/wallet/src/components/icons/Pencil.tsx
  packages/wallet/src/components/icons/Warning.tsx
  packages/wallet/src/components/layouts/AppLayout.tsx
  packages/wallet/src/lib/hooks/useDialog.ts
  packages/wallet/src/lib/hooks/useOnClickOutside.ts
  packages/wallet/src/pages/account/[id].tsx
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/ui/IconButton.tsx
  packages/wallet/src/ui/forms/Form.tsx
  packages/wallet/tailwind.config.js
  pnpm-lock.yaml
Labels: package: wallet, type: source

#141 fix: cookie issues for login and refresh
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/models/refreshToken.ts
Labels: package: backend, type: source

#155 fix(auth): access token expiry is now number.
  packages/backend/src/config/env.ts
Labels: package: backend, type: source

#156 feat(wallet): bump `react-hook-form` version
  packages/wallet/package.json
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/src/lib/hooks/useZodForm.ts
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/forms/Form.tsx
  pnpm-lock.yaml
Labels: package: wallet, type: source

#148 feat(wallet): Implement fund account dialog
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/components/icons/Request.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/pages/account/[id].tsx
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

#158 feat(noKYC): Backend blocks access to protected routes for users without kyc
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/jwtStrategy.ts
Labels: package: backend, type: source

#164 feat(noKyc): Add me endpoint to be used as authenticated middleware by next
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/routes.ts
  packages/backend/src/shared/models/errors/NotFoundException.ts
Labels: package: backend, type: source

#169 fix(backend): hot fix on create wallet
  packages/backend/src/rapyd/countries/countries.service.ts
  packages/backend/src/rapyd/utills/request.ts
  packages/backend/src/routes.ts
  packages/backend/src/wallet/schemas/walletSchema.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

#165 chore: move next app outside docker
  docker/dev/docker-compose.yml
  package.json
  packages/wallet/next.config.js
  packages/wallet/package.json
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, type: source

#160 feat(wallet): add transactions page
  packages/wallet/src/components/PageHeader.tsx
  packages/wallet/src/components/icons/Arrow.tsx
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Badge.tsx
  packages/wallet/src/ui/Table.tsx
Labels: package: wallet, type: source

#168 chore(wallet): remove `@next/font` dependency
  packages/wallet/package.json
  packages/wallet/src/pages/_app.tsx
  pnpm-lock.yaml
Labels: package: wallet, type: source

#174 feat(backend): Added document type api
  packages/backend/src/rapyd/documents/documents.d.ts
  packages/backend/src/rapyd/documents/documents.service.ts
  packages/backend/src/routes.ts
Labels: package: backend, type: source

#177 feat(backend): /verify and /documents api improvement
  packages/backend/migrations/20230209095515_user.js
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/jwtStrategy.ts
  packages/backend/src/rapyd/documents/documents.service.ts
  packages/backend/src/rapyd/wallet/request.ts
  packages/backend/src/rapyd/wallet/wallet.d.ts
  packages/backend/src/routes.ts
  packages/backend/src/user/models/user.ts
  packages/backend/src/wallet/schemas/kycSchema.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

#167 feat(wallet): add middleware
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/middleware.ts
Labels: package: wallet, type: source

#144 feat(wallet): Implement requests for wallet creation and verify identity
  packages/backend/src/rapyd/documents/documents.service.ts
  packages/backend/src/wallet/schemas/kycSchema.ts
  packages/backend/src/wallet/wallet.service.ts
  packages/wallet/next.config.js
  packages/wallet/public/favicon.ico
  packages/wallet/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/Tabs.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/components/kyc/context.tsx
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/ui/forms/Select.tsx
  packages/wallet/src/utils/helpers.ts
  packages/wallet/src/utils/mocks.ts
Labels: package: wallet, package: backend, type: source

#176 feat(wallet): replace `axios` with `ky`
  docker/dev/docker-compose.yml
  packages/wallet/package.json
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/lib/axios.ts
  packages/wallet/src/lib/hooks/useHttp.ts
  packages/wallet/src/lib/httpClient.ts
  packages/wallet/src/middleware.ts
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/utils/constants.ts
  packages/wallet/src/utils/helpers.ts
  pnpm-lock.yaml
Labels: package: wallet, type: source

#180 feat(wallet): KYC Verify Identity image uploads to base64
  packages/backend/src/index.ts
  packages/backend/src/wallet/schemas/kycSchema.ts
  packages/backend/src/wallet/wallet.service.ts
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/ui/forms/FileUpload.tsx
  packages/wallet/src/utils/helpers.ts
Labels: package: wallet, package: backend, type: source

#170 feat: create account and payment pointer
  .eslintignore
  .prettierignore
  docker/dev/docker-compose.yml
  packages/backend/migrations/20230209092730_account.js
  packages/backend/migrations/20230209095526_payment_pointer.js
  packages/backend/package.json
  packages/backend/src/account/account.model.ts
  packages/backend/src/account/account.route.ts
  packages/backend/src/account/account.service.ts
  packages/backend/src/account/schemas/account.schema.ts
  packages/backend/src/asset/asset.route.ts
  packages/backend/src/asset/asset.service.ts
  packages/backend/src/asset/schemas/asset.schema.ts
  packages/backend/src/config/env.ts
  packages/backend/src/payment-pointer/index.ts
  packages/backend/src/payment-pointer/payment-pointer.model.ts
  packages/backend/src/payment-pointer/payment-pointer.route.ts
  packages/backend/src/payment-pointer/payment-pointer.schema.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/backend/src/rafiki/generated/graphql.ts
  packages/backend/src/rafiki/graphql.client.ts
  packages/backend/src/rafiki/index.ts
  packages/backend/src/rafiki/request/asset.request.ts
  packages/backend/src/rafiki/request/payment-pointer.request.ts
  packages/backend/src/routes.ts
  packages/backend/src/shared/models/errors/ConflictException.ts
  packages/backend/src/types/express/index.d.ts
  packages/backend/src/utils/getUserId.ts
  packages/backend/tsconfig.json
  pnpm-lock.yaml
Labels: package: backend, type: source

#184 feat(backend): some improvement on create wallet
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

#191 feat(backend): returning new access token after wallet is created
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/jwtStrategy.ts
  packages/backend/src/wallet/wallet.service.ts
Labels: package: backend, type: source

#190 fix(wallet): Verify image type for KYC upload
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/lib/api/user.ts
  packages/wallet/src/utils/constants.ts
Labels: package: wallet, type: source

#189 feat(wallet): add list/create account
  packages/backend/src/account/account.service.ts
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/lib/api/asset.ts
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/index.tsx
Labels: package: wallet, package: backend, type: source

#197 feat(backend): store payment pointer url
  packages/backend/migrations/20230209095526_payment_pointer.js
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/payment-pointer/payment-pointer.model.ts
  packages/backend/src/payment-pointer/payment-pointer.schema.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/backend/src/rafiki/request/payment-pointer.request.ts
Labels: package: backend, type: source

#192 feat(wallet): add get/list/create payment pointer
  packages/backend/src/payment-pointer/payment-pointer.schema.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/lib/api/paymentPointer.ts
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/pages/account/[accountId]/[paymentPointerId].tsx
Labels: package: wallet, package: backend, type: source

#179 feat(testing): Integration tests
  packages/backend/jest.config.json
  packages/backend/jest.setup.js
  packages/backend/jest.teardown.js
  packages/backend/package.json
  packages/backend/src/config/env.ts
  packages/backend/src/global.d.ts
  packages/backend/src/index.ts
  packages/backend/src/rafiki/generated/graphql.ts
  packages/backend/src/tests/.gitkeep
  packages/backend/src/tests/auth/auth.service.test.ts
  packages/backend/src/types/express/index.d.ts
  pnpm-lock.yaml
Labels: package: backend, type: test, type: source

#193 feat(backend): fund wallet
  packages/backend/migrations/20230209092730_account.js
  packages/backend/src/account/account.model.ts
  packages/backend/src/account/account.route.ts
  packages/backend/src/account/account.service.ts
  packages/backend/src/account/schemas/account.schema.ts
  packages/backend/src/payment-pointer/payment-pointer.service.ts
  packages/backend/src/rapyd/virtual-accounts/index.ts
  packages/backend/src/rapyd/virtual-accounts/request.ts
  packages/backend/src/rapyd/virtual-accounts/virtual-accounts.d.ts
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/pages/account/[accountId].tsx
Labels: package: wallet, package: backend, type: source

#199 feat: get accounts balance from rapyd
  packages/backend/src/account/account.model.ts
  packages/backend/src/account/account.service.ts
  packages/backend/src/rapyd/wallet/request.ts
  packages/backend/src/utils/helpers.ts
  packages/wallet/package.json
  packages/wallet/src/components/AccountCard.tsx
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/lib/api/account.ts
  packages/wallet/src/lib/api/paymentPointer.ts
  packages/wallet/src/pages/_app.tsx
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/pages/index.tsx
  packages/wallet/src/styles/main.css
  packages/wallet/src/ui/Progress.tsx
  pnpm-lock.yaml
Labels: package: wallet, package: backend, type: source

#212 feat(wallet): Add loading state for buttons
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/src/components/icons/Play.tsx
  packages/wallet/src/components/icons/Spinner.tsx
  packages/wallet/src/components/kyc/PersonalDetailsForm.tsx
  packages/wallet/src/components/kyc/VerifyIdentityForm.tsx
  packages/wallet/src/pages/account/create.tsx
  packages/wallet/src/pages/auth/login.tsx
  packages/wallet/src/pages/auth/signup.tsx
  packages/wallet/src/pages/transfer/pay.tsx
  packages/wallet/src/pages/transfer/request.tsx
  packages/wallet/src/pages/transfer/send.tsx
  packages/wallet/src/ui/Button.tsx
Labels: package: wallet, type: source

#218 feat: create incoming/outgoing payments
  docker/dev/docker-compose.yml
  packages/backend/migrations/20230209130752_transaction.js
  packages/backend/src/incoming-payment/incoming-payment.route.ts
  packages/backend/src/incoming-payment/incoming-payment.schema.ts
  packages/backend/src/incoming-payment/incoming-payment.service.ts
  packages/backend/src/outgoing-payment/outgoing-payment.route.ts
  packages/backend/src/outgoing-payment/outgoing-payment.schema.ts
  packages/backend/src/outgoing-payment/outgoing-payment.service.ts
  packages/backend/src/rafiki/generated/graphql.ts
  packages/backend/src/rafiki/request/incoming-payment.request.ts
  packages/backend/src/rafiki/request/outgoing-payment.request.ts
  packages/backend/src/rafiki/request/payment-pointer.request.ts
  packages/backend/src/rafiki/request/quote.request.ts
  packages/backend/src/routes.ts
  packages/backend/src/transaction/transaction.model.ts
  packages/backend/src/transaction/transaction.route.ts
  packages/backend/src/transaction/transaction.service.ts
Labels: package: backend, type: source

#219 feat(wallet): display transactions from database
  packages/wallet/next.config.js
  packages/wallet/src/components/Menu.tsx
  packages/wallet/src/components/PaymentPointerCard.tsx
  packages/wallet/src/components/dialogs/CreatePaymentPointerDialog.tsx
  packages/wallet/src/lib/api/paymentPointer.ts
  packages/wallet/src/middleware.ts
  packages/wallet/src/pages/account/[accountId].tsx
  packages/wallet/src/pages/account/[accountId]/[paymentPointerId].tsx
  packages/wallet/src/utils/constants.ts
  packages/wallet/src/utils/helpers.ts
Labels: package: wallet, type: source

#223 fix(payment): create incoming payment on sent
  packages/backend/src/incoming-payment/incoming-payment.service.ts
  packages/backend/src/outgoing-payment/outgoing-payment.service.ts
Labels: package: backend, type: source
