Repository interledger/testnet, pull requests merged in 2023-08, with the labels that each got.

#516 chore: bump rafiki and use tigerbeetle
  docker/dev/.env.example
  docker/dev/docker-compose-prod.yml
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/frontend/Dockerfile-Prod.dev
Labels: package: wallet/frontend

#556 fix(backend): rapyd temporary workaround
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/tests/account/controller.test.ts
Labels: package: wallet/backend, type: test, type: source

#527 feat(wallet): allow the user to set the expiry of a payment
  packages/wallet/backend/migrations/20230728101910_update_transactions_columns.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/incomingPayment/controller.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/incomingPayment/validation.ts
  packages/wallet/backend/src/index.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source

#559 fix: revert Rapyd temporary workaround
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/tests/account/controller.test.ts
Labels: package: wallet/backend, type: test, type: source

#561 fix(transactions): set outogoing currency from quote
  packages/wallet/backend/src/outgoingPayment/service.ts
Labels: package: wallet/backend, type: source

#566 chore: run the release workflow on push
  .github/workflows/ci_deploy.yml
Labels: type: ci

#563 fix(quote): Quote amount not set properly
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/utils/helpers.ts
Labels: package: wallet/backend, type: source

#570 fix: allow hyphens for PP name when fetching IP details
  packages/wallet/backend/src/incomingPayment/validation.ts
Labels: package: wallet/backend, type: source

#574 chore: release
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/incomingPayment/validation.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, type: source

#575 fix: set asset from payment pointer
  packages/wallet/backend/src/quote/service.ts
Labels: package: wallet/backend, type: source

#576 chore: release
  packages/wallet/backend/src/quote/service.ts
Labels: package: wallet/backend, type: source

#589 feat(wallet): convert amount in a cross-currency scenario
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/frontend/src/lib/api/asset.ts
  packages/wallet/frontend/src/lib/api/paymentPointer.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source

#601 chore: release
  .prettierrc.js
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  package.json
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/backend/package.json
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/frontend/Dockerfile.dev
  packages/wallet/frontend/Dockerfile.prod
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/lib/api/asset.ts
  packages/wallet/frontend/src/lib/api/paymentPointer.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/pages/transfer/send.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: wallet/backend, type: source

#603 chore(deps): revert - update nextjs monorepo to ^13.4.13 (#595)
  packages/wallet/frontend/package.json
  pnpm-lock.yaml
Labels: package: wallet/frontend

#580 feat: set rate limit on signup
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/middleware/rateLimit.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

#625 feat: make use of Rafiki's rates service changes
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source

#635 feat(wallet/backend): fix conversions
  packages/wallet/backend/src/quote/service.ts
Labels: package: wallet/backend, type: source

#600 feat: added daily rates api
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/rapyd/rapyd.d.ts
  packages/wallet/backend/src/rapyd/service.ts
  packages/wallet/backend/src/rapyd/validation.ts
Labels: package: wallet/backend, type: source

#609 feat(commerce/backend): add objection models and services
  packages/commerce/backend/images/.gitkeep
  packages/commerce/backend/migrations/20230809220722_add_products_table.js
  packages/commerce/backend/migrations/20230809222011_add_users_table.js
  packages/commerce/backend/migrations/20230810053817_add_orders_table.js
  packages/commerce/backend/package.json
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/container.ts
  packages/commerce/backend/src/order/model.ts
  packages/commerce/backend/src/order/service.ts
  packages/commerce/backend/src/orderItem/model.ts
  packages/commerce/backend/src/product/model.ts
  packages/commerce/backend/src/product/service.ts
  packages/commerce/backend/src/shared/model.ts
  packages/commerce/backend/src/shared/utils.ts
  packages/commerce/backend/src/user/model.ts
  packages/commerce/backend/src/user/service.ts
  packages/commerce/backend/tests/app.test.ts
  packages/commerce/backend/tests/app.ts
  packages/commerce/backend/tests/helpers.ts
  packages/commerce/backend/tests/mocks.ts
  packages/commerce/backend/tests/order/service.test.ts
  packages/commerce/backend/tests/product/service.test.ts
  packages/commerce/backend/tests/tables.ts
  packages/commerce/backend/tests/user/service.test.ts
Labels: type: test

#638 feat(commerce/backend): add product and order endpoints
  packages/commerce/backend/images/.gitkeep
  packages/commerce/backend/images/courage.png
  packages/commerce/backend/images/kindness.png
  packages/commerce/backend/images/knowledge.png
  packages/commerce/backend/images/luck.png
  packages/commerce/backend/images/opportunity.png
  packages/commerce/backend/images/patience.png
  packages/commerce/backend/migrations/20230824054747_add_products.js
  packages/commerce/backend/package.json
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/container.ts
  packages/commerce/backend/src/global.d.ts
  packages/commerce/backend/src/order/controller.ts
  packages/commerce/backend/src/order/service.ts
  packages/commerce/backend/src/product/controller.ts
  packages/commerce/backend/src/product/service.ts
  packages/commerce/backend/src/shared/utils.ts
  packages/commerce/backend/tests/app.ts
  packages/commerce/backend/tests/order/service.test.ts
  packages/commerce/backend/tests/product/controller.test.ts
  packages/commerce/backend/tests/product/service.test.ts
  pnpm-lock.yaml
Labels: type: test

#612 feat(commerce/frontend): scaffold
  package.json
  packages/commerce/backend/knexfile.js
  packages/commerce/backend/migrations/20230824054747_add_products.js
  packages/commerce/backend/src/app.ts
  packages/commerce/backend/src/product/service.ts
  packages/commerce/frontend/README.md
  packages/commerce/frontend/index.html
  packages/commerce/frontend/package.json
  packages/commerce/frontend/postcss.config.cjs
  packages/commerce/frontend/public/favicon.svg
  packages/commerce/frontend/src/app/index.tsx
  packages/commerce/frontend/src/app/orders/$id.tsx
  packages/commerce/frontend/src/app/orders/index.tsx
  packages/commerce/frontend/src/app/orders/routes.tsx
  packages/commerce/frontend/src/app/products/$slug.tsx
  packages/commerce/frontend/src/app/products/components/product-card-shimmer.tsx
  packages/commerce/frontend/src/app/products/components/product-card.tsx
  packages/commerce/frontend/src/app/products/components/products-list.tsx
  packages/commerce/frontend/src/app/products/index.tsx
  packages/commerce/frontend/src/app/products/routes.tsx
  packages/commerce/frontend/src/app/query-client.ts
  packages/commerce/frontend/src/components/bubbles.tsx
  packages/commerce/frontend/src/components/header.tsx
  packages/commerce/frontend/src/components/icons.tsx
  packages/commerce/frontend/src/components/layouts/base.tsx
  packages/commerce/frontend/src/components/navigation.tsx
  packages/commerce/frontend/src/components/page-header.tsx
  packages/commerce/frontend/src/components/ui/card.tsx
  packages/commerce/frontend/src/components/ui/sheet.tsx
  packages/commerce/frontend/src/components/ui/shimmer.tsx
  packages/commerce/frontend/src/hooks/useCartStore.ts
  packages/commerce/frontend/src/hooks/useProductsQuery.ts
  packages/commerce/frontend/src/lib/constants.ts
  packages/commerce/frontend/src/lib/fetcher.ts
  packages/commerce/frontend/src/lib/stores/cart-store.ts
  packages/commerce/frontend/src/lib/types.ts
  packages/commerce/frontend/src/lib/utils.ts
  packages/commerce/frontend/src/lib/valtio-persist.ts
  packages/commerce/frontend/src/main.css
  packages/commerce/frontend/src/main.tsx
  packages/commerce/frontend/src/vite-env.d.ts
  packages/commerce/frontend/tailwind.config.cjs
  packages/commerce/frontend/tsconfig.json
  packages/commerce/frontend/tsconfig.node.json
  packages/commerce/frontend/vite.config.ts
  pnpm-lock.yaml
Labels: type: documentation

#648 chore(ci): add commerce app to workflows
  .github/labeler.yml
  .github/workflows/ci.yml
Labels: type: ci

#636 feat(wallet-backend): Integrate Daily rates in cross currency transfers
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/rapyd/rapyd.d.ts
  packages/wallet/backend/src/rapyd/service.ts
  packages/wallet/backend/src/rates/service.ts
  packages/wallet/backend/src/rates/validation.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

#640 feat(wallet-frontend): Display converted amount with correct exchange rate in sending money
  packages/wallet/backend/src/rates/service.ts
  packages/wallet/frontend/src/components/ExchangeRate.tsx
  packages/wallet/frontend/src/components/icons/Arrow.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/lib/api/asset.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#637 feat(grants): add backend&frontend setup for grant requests interactions
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/errors/Forbidden.ts
  packages/wallet/backend/src/errors/index.ts
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/backend/src/grant/service.ts
  packages/wallet/backend/src/grant/validation.ts
  packages/wallet/backend/src/paymentPointer/service.ts
  packages/wallet/backend/src/rafiki/auth/service.ts
  packages/wallet/frontend/Dockerfile.prod
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source

#663 feat(commerce/frontend): product page and shopping cart popover
  packages/commerce/frontend/package.json
  packages/commerce/frontend/src/app/index.tsx
  packages/commerce/frontend/src/app/products/$slug.tsx
  packages/commerce/frontend/src/app/products/components/product-card.tsx
  packages/commerce/frontend/src/app/products/components/product-cta.tsx
  packages/commerce/frontend/src/app/products/components/product-shimmer.tsx
  packages/commerce/frontend/src/app/products/components/products-list.tsx
  packages/commerce/frontend/src/app/route-schemas.ts
  packages/commerce/frontend/src/components/bird.tsx
  packages/commerce/frontend/src/components/header.tsx
  packages/commerce/frontend/src/components/icons.tsx
  packages/commerce/frontend/src/components/layouts/base.tsx
  packages/commerce/frontend/src/components/navigation.tsx
  packages/commerce/frontend/src/components/shopping-cart-popover.tsx
  packages/commerce/frontend/src/components/ui/button.tsx
  packages/commerce/frontend/src/components/ui/popover.tsx
  packages/commerce/frontend/src/components/ui/shimmer.tsx
  packages/commerce/frontend/src/components/ui/toast.tsx
  packages/commerce/frontend/src/components/ui/toaster.tsx
  packages/commerce/frontend/src/hooks/use-cart-store.ts
  packages/commerce/frontend/src/hooks/use-product-query.ts
  packages/commerce/frontend/src/hooks/use-products-query.ts
  packages/commerce/frontend/src/hooks/use-toast.tsx
  packages/commerce/frontend/src/hooks/use-zod-params.ts
  packages/commerce/frontend/src/lib/stores/cart-store.ts
  packages/commerce/frontend/tailwind.config.cjs
  pnpm-lock.yaml
Labels: package: commerce/frontend

#673 feat(commerce/frontend): add shopping cart page
  packages/commerce/frontend/src/app/cart/components/cart-item.tsx
  packages/commerce/frontend/src/app/cart/components/cart-items.tsx
  packages/commerce/frontend/src/app/cart/components/order-summary.tsx
  packages/commerce/frontend/src/app/cart/index.tsx
  packages/commerce/frontend/src/app/cart/routes.tsx
  packages/commerce/frontend/src/app/index.tsx
  packages/commerce/frontend/src/app/products/components/product-card.tsx
  packages/commerce/frontend/src/app/products/components/product-cta.tsx
  packages/commerce/frontend/src/app/products/components/product-shimmer.tsx
  packages/commerce/frontend/src/components/icons.tsx
  packages/commerce/frontend/src/components/navigation.tsx
  packages/commerce/frontend/src/components/shopping-cart-popover.tsx
  packages/commerce/frontend/src/components/ui/button.tsx
  packages/commerce/frontend/src/components/ui/toast.tsx
  packages/commerce/frontend/src/lib/stores/cart-store.ts
  packages/commerce/frontend/tailwind.config.cjs
Labels: package: commerce/frontend
