Repository interledger/testnet, pull requests merged in 2024-07, with the labels that each got.

#1410 feat: update account details page; related components
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/components/icons/Exchange.tsx
  packages/wallet/frontend/src/components/icons/Withdraw.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/ui/CopyButton.tsx
  packages/wallet/frontend/src/ui/Link.tsx
  packages/wallet/frontend/src/ui/Tooltip.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

#1431 feat: fix duplicate uploaded key
  packages/wallet/backend/src/walletAddressKeys/service.ts
Labels: package: wallet/backend, type: source

#1395 feat: bring incoming payment and quote response type into shared package
  packages/wallet/backend/src/incomingPayment/controller.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/frontend/src/components/ExchangeRate.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/asset.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/shared/src/types/incomingPayment.ts
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/qoute.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#1362 chore: fixed pnpm version
  .github/workflows/build-publish.yaml
Labels: type: ci

#1434 feat: bring user response type into shared package
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/settings/index.tsx
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#1438 feat: Display revoke button for recurring payments
  packages/boutique/backend/src/order/controller.ts
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
Labels: package: wallet/frontend, type: source, package: boutique/backend

#1437 feat: update form elements; fix ui components; fix layouts; update send/request
  packages/wallet/frontend/src/components/SettingsTabs.tsx
  packages/wallet/frontend/src/components/TransferHeader.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/Badge.tsx
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/Divider.tsx
  packages/wallet/frontend/src/ui/Table.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
  packages/wallet/frontend/src/ui/forms/FieldError.tsx
  packages/wallet/frontend/src/ui/forms/FileUpload.tsx
  packages/wallet/frontend/src/ui/forms/Label.tsx
  packages/wallet/frontend/src/ui/forms/Select.tsx
  packages/wallet/frontend/src/ui/forms/TextArea.tsx
  packages/wallet/frontend/src/utils/constants.ts
  packages/wallet/frontend/tailwind.config.js
Labels: package: wallet/frontend, type: source

#1440 fix: keep request grants filters
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, type: source
