Repository interledger/testnet, pull requests merged in 2024-02, with the labels that each got.

#1121 fix: Bug fix and transaction improvements
  packages/wallet/frontend/src/components/icons/Arrow.tsx
  packages/wallet/frontend/src/lib/api/asset.ts
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
  packages/wallet/frontend/src/ui/Table.tsx
Labels: package: wallet/frontend, type: source

#1131 fix: update grants types after rafiki change
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/auth/request/grant.request.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/ui/Badge.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#1137 fix: update rapyd transfer response schema
  packages/wallet/backend/src/rapyd/schemas.ts
Labels: package: wallet/backend, type: source

#1144 fix: skip setting SG api key when send email is disabled
  packages/wallet/backend/src/email/service.ts
Labels: package: wallet/backend, type: source

#1145 feat: developer keys improvement FE part
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/forms/TextArea.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

#1151 feat: Add architecture diagramm to testnet
  .github/TESTNET_architecture.md
  README.md
Labels: type: documentation, type: ci

#1153 chore: update README.md
  README.md
Labels: type: documentation

#1126 feat: Add soft delete for transactions
  packages/wallet/backend/migrations/20240215061440_add_deletedAt_column.js
  packages/wallet/backend/src/config/walletAddress.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

#1163 chore: change prod log driver to gcp
  docker/prod/docker-compose.yml
  packages/boutique/backend/package.json
  packages/boutique/backend/src/config/logger.ts
  packages/wallet/backend/package.json
  packages/wallet/backend/src/config/logger.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source, package: boutique/backend

#1164 feat: Websocket notification for Grant Withdraw
  packages/boutique/backend/src/open-payments/service.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/socket/messageType.ts
  packages/wallet/backend/src/socket/service.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: test, type: source, package: boutique/backend
