Repository interledger/testnet, pull requests merged in 2024-01, with the labels that each got.

#1033 feat(grants): show interaction only for PENDING grants
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

#664 feat: implement exchange button feature
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/socket/service.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: test, type: source

#1034 feat: Add unit test for income payment service
  packages/wallet/backend/tests/incomingPayment/service.test.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: test

#1044 feat: Change password feature implemented in settings page
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/user/validation.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/frontend/src/components/providers/PasswordProvider.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/lib/context/password.ts
Labels: package: wallet/frontend, package: wallet/backend, type: test, type: source

#983 feat: deploy on release branch by creating tags
  .github/workflows/ci_deploy.yml
  .github/workflows/deploy.yml
Labels: type: ci

#1065 feat(wallet-frontend): add create WM PP button to Web Monetization PP list
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

#1063 feat: Replace 'data' for 'result' in API response
  packages/boutique/backend/src/global.d.ts
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/product/controller.ts
  packages/boutique/backend/src/shared/utils.ts
  packages/boutique/backend/tests/product/controller.test.ts
  packages/boutique/frontend/src/app/cart/components/one-click-setup.tsx
  packages/boutique/frontend/src/app/cart/finish.tsx
  packages/boutique/frontend/src/app/checkout/components/payment-methods.tsx
  packages/boutique/frontend/src/app/products/$slug.tsx
  packages/boutique/frontend/src/app/products/components/product-cta.tsx
  packages/boutique/frontend/src/app/products/components/products-list.tsx
  packages/boutique/frontend/src/hooks/use-create-order-mutation.ts
  packages/boutique/frontend/src/hooks/use-custom-mutation.ts
  packages/boutique/frontend/src/hooks/use-finish-checkout-mutation.ts
  packages/boutique/frontend/src/hooks/use-finish-setup-mutation.ts
  packages/boutique/frontend/src/hooks/use-instant-buy-mutation.ts
  packages/boutique/frontend/src/hooks/use-product-query.ts
  packages/boutique/frontend/src/hooks/use-products-query.ts
  packages/boutique/frontend/src/hooks/use-setup-one-click-mutation.ts
  packages/boutique/frontend/src/lib/fetcher.ts
  packages/boutique/frontend/src/lib/types.ts
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/global.d.ts
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/backend/src/incomingPayment/controller.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/incomingPayment/controller.test.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/lib/hooks/useTransactions.ts
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: test, type: source, package: boutique/backend, package: boutique/frontend

#1077 feat: Rapyd zod validation
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/rapyd.d.ts
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/src/rapyd/service.ts
  packages/wallet/backend/src/rapyd/validation.ts
  packages/wallet/backend/src/utils/helpers.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: test, type: source

#1083 fix: Update Onboarding to work only with tooltip
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
Labels: package: wallet/frontend, type: source

#1039 feat: Run workflow checks based on modified package
  .github/workflows/ci.yml
Labels: type: ci

#1045 feat(grants): add endpoint to list grants with pagination
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/backend/src/grant/service.ts
  packages/wallet/backend/src/rafiki/auth/service.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/grant/service.test.ts
Labels: package: wallet/backend, type: test, type: source
