Repository interledger/testnet, pull requests merged in 2024-03, with the labels that each got.

#1171 test: add developer keys tests
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: test

#1175 fix: Fix onboarding by downgrading
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

#1176 chore: upgrade rafiki to alpha 6
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/boutique/backend/package.json
  packages/boutique/backend/src/open-payments/service.ts
  packages/wallet/backend/src/incomingPayment/service.ts
  packages/wallet/backend/src/outgoingPayment/service.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rafiki/auth/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/receiver.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/tests/incomingPayment/service.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: test, type: source, package: boutique/backend

#1198 feat: make key nickname required
  packages/wallet/backend/migrations/20240306113102_default_keys_nickname.js
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/backend/src/walletAddressKeys/validation.ts
Labels: package: wallet/backend, type: source

#1210 chore: upgrade rafiki to alpha 7
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/boutique/backend/package.json
  pnpm-lock.yaml
Labels: package: boutique/backend

#1212 fix: remove rate limit on signup
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

#1213 fix: added valid url check in callback url redirection
  packages/wallet/frontend/src/pages/auth/login.tsx
Labels: package: wallet/frontend, type: source

#1140 chore: added focus to the first focusable elements on component load
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/exchange.tsx
Labels: package: wallet/frontend, type: source

#1229 fix: check for existing transaction
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

#1242 feat(shared): initial setup and move models
  package.json
  packages/boutique/backend/Dockerfile.prod
  packages/boutique/backend/package.json
  packages/boutique/backend/src/order-item/model.ts
  packages/boutique/backend/src/order/model.ts
  packages/boutique/backend/src/payment/model.ts
  packages/boutique/backend/src/product/model.ts
  packages/boutique/backend/src/user/model.ts
  packages/shared/backend/index.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/index.ts
  packages/shared/backend/src/model.ts
  packages/shared/backend/tsconfig.build.json
  packages/shared/backend/tsconfig.json
  packages/wallet/backend/Dockerfile.prod
  packages/wallet/backend/package.json
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/session/model.ts
  packages/wallet/backend/src/shared/model.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package: wallet/backend, type: source, package: boutique/backend

#1239 feat(boutique): refactor controller functions to arrow functions
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/product/controller.ts
Labels: type: source, package: boutique/backend

#1243 feat(shared): migrate test/table into shared package
  packages/boutique/backend/tests/order/service.test.ts
  packages/boutique/backend/tests/product/controller.test.ts
  packages/boutique/backend/tests/product/service.test.ts
  packages/boutique/backend/tests/user/service.test.ts
  packages/shared/backend/index.ts
  packages/shared/backend/package.json
  packages/shared/backend/tests/index.ts
  packages/shared/backend/tests/tables.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/auth/service.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/grant/service.test.ts
  packages/wallet/backend/tests/incomingPayment/service.test.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/quote/service.test.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/rapyd/service.test.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/backend/tests/tables.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/transaction/service.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/user/service.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: test, package: boutique/backend

#1246 feat(shared): share lib utils
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/errors/base.ts
  packages/boutique/backend/src/global.d.ts
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/product/controller.ts
  packages/boutique/backend/src/shared/utils.ts
  packages/boutique/backend/tests/order/service.test.ts
  packages/boutique/backend/tests/product/controller.test.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/index.ts
  packages/shared/backend/src/types.ts
  packages/shared/backend/src/utils.ts
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/errors/Base.ts
  packages/wallet/backend/src/global.d.ts
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/backend/src/incomingPayment/controller.ts
  packages/wallet/backend/src/outgoingPayment/controller.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: test, type: source, package: boutique/backend
