Repository interledger/testnet, pull requests merged in 2024-08, with the labels that each got.

#1461 fix: fix upload repetitive key into the Rafiki
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: test, type: source

#1451 feat: New design transfer pages
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/icons/PaperPlane.tsx
Labels: package: wallet/frontend, type: source

#1484 feat: add assetScale 2 filter for assets in exchange page
  packages/wallet/frontend/src/pages/exchange.tsx
Labels: package: wallet/frontend, type: source

#1473 feat: Added release template and issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-or-feature-subtask.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/release.yaml
Labels: type: ci

#1448 feat: New design Auth/KYC pages
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/images/EnvelopeBird.png
  packages/wallet/backend/src/email/templates/images/InterledgerTestWallet.png
  packages/wallet/backend/src/email/templates/images/InterledgerTestnet.png
  packages/wallet/backend/src/email/templates/images/KeyBird.png
  packages/wallet/backend/src/email/templates/images/Verify.png
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/components/HeaderLogo.tsx
  packages/wallet/frontend/src/components/TransferHeader.tsx
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  packages/wallet/frontend/src/components/toast/Toast.tsx
  packages/wallet/frontend/src/pages/404.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
  packages/wallet/frontend/src/pages/kyc/personal.tsx
  packages/wallet/frontend/src/pages/kyc/proof.tsx
  packages/wallet/frontend/src/pages/no-access.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source

#1426 feat: test wallet new design onboarding update
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/ExchangeRate.tsx
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/SettingsTabs.tsx
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/icons/Euro.tsx
  packages/wallet/frontend/src/components/icons/HomeRooftop.tsx
  packages/wallet/frontend/src/components/icons/Key.tsx
  packages/wallet/frontend/src/components/icons/MoneyHand.tsx
  packages/wallet/frontend/src/components/icons/New.tsx
  packages/wallet/frontend/src/components/icons/Person.tsx
  packages/wallet/frontend/src/components/icons/PersonDoc.tsx
  packages/wallet/frontend/src/components/icons/Play.tsx
  packages/wallet/frontend/src/components/icons/Pointer.tsx
  packages/wallet/frontend/src/components/icons/Request.tsx
  packages/wallet/frontend/src/components/icons/Send.tsx
  packages/wallet/frontend/src/components/icons/Switch.tsx
  packages/wallet/frontend/src/components/icons/ThumbsUp.tsx
  packages/wallet/frontend/src/components/icons/TransactionCircle.tsx
  packages/wallet/frontend/src/components/icons/Wave.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/components/toast/Toast.tsx
  packages/wallet/frontend/src/pages/_document.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/TogglePayment.tsx
  packages/wallet/frontend/src/ui/forms/Select.tsx
  packages/wallet/frontend/src/utils/constants.ts
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: wallet/backend, type: source

#1493 feat: add default user to rafiki admin
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rafiki/kratos.service.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

#1498 feat: upgrade rafiki to alpha 16
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/quote.request.ts
Labels: package: wallet/backend, type: source

#1501 feat: new design readd withdraw button
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/components/icons/Withdraw.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source
