Repository interledger/testnet, pull requests merged in 2024-04, with the labels that each got.

#1253 fix: start background processing only if the app started
  packages/boutique/backend/src/app.ts
  packages/boutique/backend/src/index.ts
  packages/wallet/backend/src/index.ts
Labels: package: wallet/backend, type: source, package: boutique/backend

#1251 feat(shared): migrate configs into shared package
  packages/boutique/backend/src/config/knex.ts
  packages/boutique/backend/src/config/logger.ts
  packages/boutique/backend/src/container.ts
  packages/shared/backend/package.json
  packages/shared/backend/src/configs/knex.ts
  packages/shared/backend/src/configs/logger.ts
  packages/shared/backend/src/index.ts
  packages/wallet/backend/src/config/knex.ts
  packages/wallet/backend/src/config/logger.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/middleware/errorHandler.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source, package: boutique/backend

#1138 fix(wallet-frontend): Transaction view improvements
  packages/wallet/frontend/src/components/icons/Chevron.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/lib/api/transaction.ts
  packages/wallet/frontend/src/lib/hooks/useTransactions.ts
  packages/wallet/frontend/src/lib/hooks/useTypedRouter.ts
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/Table.tsx
  packages/wallet/frontend/src/ui/forms/Select.tsx
Labels: package: wallet/frontend, type: source

#1278 feat(webhook): add context to errors
  packages/shared/backend/src/configs/logger.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
Labels: package: wallet/backend, type: source

#1282 fix: pass correct env to logger
  packages/shared/backend/src/configs/logger.ts
  packages/wallet/backend/src/config/logger.ts
Labels: package: wallet/backend, type: source

#1296 fix: add required field to rapyd contact
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/src/rapyd/service.ts
Labels: package: wallet/backend, type: source

#1290 fix(1289): change name to "test wallet"
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source

#1303 fix: Update README.md
  README.md
Labels: type: documentation

#1270 fix: 1264 fixed the onboarding steps
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

#1330 feat(workflows): build and publish docker image
  .github/workflows/build-publish.yaml
  packages/wallet/frontend/src/ui/forms/Input.tsx
Labels: package: wallet/frontend, type: ci, type: source

#1332 fix(workflows): use latest pnpm version
  .github/workflows/build-publish.yaml
Labels: type: ci

#1333 feat(workflows): latest pnpm
  .github/workflows/build-publish.yaml
Labels: type: ci
