Repository interledger/testnet, pull requests merged in 2024-06, with the labels that each got.

#1355 feat: parse open-payments intervals
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/package.json
  packages/wallet/backend/src/grant/service.ts
  packages/wallet/backend/tests/grant/service.test.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/frontend/Dockerfile.dev
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: wallet/backend, type: test, type: source, package: boutique/backend

#1356 feat: Add wallet/shared package
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/shared/package.json
  packages/wallet/shared/src/responses/account.ts
  packages/wallet/shared/src/responses/index.ts
  packages/wallet/shared/tsconfig.build.json
  packages/wallet/shared/tsconfig.json
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source

#1363 fix: Rename Testnet
  .github/TESTNET_architecture.md
  .github/contributing.md
  README.md
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
Labels: type: documentation, package: wallet/frontend, package: wallet/backend, type: ci, type: source

#1364 fix: Quote text changes
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
Labels: package: wallet/frontend, type: source

#1366 fix: Add payment pointer full url tooltip to transaction list
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/styles/main.css
Labels: package: wallet/frontend, type: source

#1361 feat: bring asset response type into shared package
  .github/workflows/ci.yml
  packages/wallet/backend/package.json
  packages/wallet/backend/src/asset/controller.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rates/service.ts
  packages/wallet/frontend/src/components/ExchangeRate.tsx
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/asset.ts
  packages/wallet/frontend/src/lib/api/transfers.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/exchange.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/shared/src/index.ts
  packages/wallet/shared/src/responses/index.ts
  packages/wallet/shared/src/types/account.ts
  packages/wallet/shared/src/types/asset.ts
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/rate.ts
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: wallet/backend, type: ci, type: source

#1377 feat: bring grant response type into shared package
  packages/wallet/backend/src/grant/controller.ts
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/lib/hooks/useGrants.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/shared/src/types/grant.ts
  packages/wallet/shared/src/types/index.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#1393 fix: Menu improvements
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/icons/Request.tsx
  packages/wallet/frontend/src/components/icons/Send.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

#1391 fix: Update Account details page
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

#1394 fix: Update Grant Badges
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

#1399 feat: update sidebar and mobile menu
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/icons/Bars.tsx
  packages/wallet/frontend/src/components/icons/Request.tsx
  packages/wallet/frontend/src/components/icons/X.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/_document.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/Logo.tsx
Labels: package: wallet/frontend, type: source

#1401 chore: update wallet font
  packages/wallet/frontend/public/fonts/DejaVuSansMono-Bold.ttf
  packages/wallet/frontend/public/fonts/DejaVuSansMono-Oblique.ttf
  packages/wallet/frontend/public/fonts/DejaVuSansMono.ttf
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source

#1378 feat: bring transaction response type into shared package
  packages/wallet/backend/src/transaction/controller.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/frontend/src/lib/api/transaction.ts
  packages/wallet/frontend/src/lib/hooks/useTransactions.ts
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#1379 fix: Onboarding - make it great again
  package.json
  packages/boutique/frontend/src/app/cart/components/summary.tsx
  packages/boutique/frontend/src/app/checkout/components/order-summary.tsx
  packages/boutique/frontend/src/app/products/components/product-card.tsx
  packages/boutique/frontend/src/app/products/components/product-shimmer.tsx
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/icons/Euro.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/components/providers/OnboardingProvider.tsx
  packages/wallet/frontend/src/lib/context/onboarding.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/kyc/proof.tsx
  packages/wallet/frontend/src/pages/transfer/request.tsx
  packages/wallet/frontend/src/pages/transfer/send.tsx
  packages/wallet/frontend/src/ui/CopyButton.tsx
  packages/wallet/frontend/src/ui/TogglePayment.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source, package: boutique/frontend

#1402 feat: update accounts page and related components
  packages/wallet/frontend/src/components/BackButton.tsx
  packages/wallet/frontend/src/components/PageHeader.tsx
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/components/icons/Back.tsx
  packages/wallet/frontend/src/components/icons/New.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
  packages/wallet/frontend/src/ui/Bubbles.tsx
Labels: package: wallet/frontend, type: source

#1403 fix: Add developer keys onboarding
  packages/wallet/frontend/src/components/SettingsTabs.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/icons/Key.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/onboarding/OnboardingTooltip.tsx
  packages/wallet/frontend/src/components/providers/OnboardingProvider.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/context/onboarding.ts
  packages/wallet/frontend/src/ui/CopyButton.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

#1396 feat: Bring walletAddress response type into shared package
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/shared/src/types/WalletAddressKey.ts
  packages/wallet/shared/src/types/asset.ts
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/walletAddress.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#1416 fix: Update tooltip on send page
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/frontend, type: source

#1428 fix: conflicts of build has been resolved
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/model.ts
  packages/wallet/frontend/src/components/cards/WalletAddressCard.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/shared/src/types/index.ts
  packages/wallet/shared/src/types/walletAddress.ts
  packages/wallet/shared/src/types/walletAddressKey.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#1406 feat: fix grant message fix when it is NOT withdraw
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/frontend/src/hooks/use-setup-one-click-mutation.ts
  packages/boutique/shared/src/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/frontend/src/lib/api/grants.ts
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source, package: boutique/backend, package: boutique/frontend

#1429 fix(docker): dev docker compose + kratos configuration
  docker/dbinit.sql
  docker/dev/docker-compose.yml
  docker/dev/kratos.yml
  docker/entrypoint.sh
  docker/identity.schema.json
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/asset.request.ts
  packages/wallet/backend/src/rafiki/backend/request/incoming-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/liquidity.request.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/quote.request.ts
  packages/wallet/backend/src/rafiki/backend/request/receiver.request.ts
  packages/wallet/backend/src/rafiki/backend/request/wallet-address-key.request.ts
  packages/wallet/backend/src/rafiki/backend/request/wallet-address.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
Labels: package: wallet/backend, type: docker, type: source
