Repository interledger/testnet, pull requests merged in 2024-10, with the labels that each got.

#1656 feat(wallet/backend): add lock and unlock endpoints for cards
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/shared/src/types/card.ts
  packages/wallet/shared/src/types/index.ts
Labels: package: wallet/backend, type: test, type: source

#1659 feat(wallet/backend): add endpoints for view/change pin
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: test, type: source

#1661 feat(wallet/backend): add view card transactions endpoint
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: test, type: source

#1662 feat(wallet/backend): add permanently block card endpoint
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: test, type: source

#1663 feat(wallet/backend): add view/update card limits endpoints
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: test, type: source

#1676 fix(wallet/backend): send managed user id when retrieving wallet balance
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

#1680 feat(webhook): implement webhook signature validation
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/middleware/isRafikiSignedWebhook.ts
  pnpm-lock.yaml
Labels: package: wallet/backend, type: source

#1677 feat(account): fund account in sandbox
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/account/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

#1706 fix!: upgrade eslint version to 9.12.0
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  package.json
  packages/boutique/frontend/src/hooks/use-custom-mutation.ts
  packages/boutique/frontend/src/lib/fetcher.ts
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  packages/wallet/frontend/src/lib/context/dialog.ts
  packages/wallet/frontend/src/pages/transactions.tsx
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source, package: boutique/frontend

#1698 fix(wallet/frontend): update account settings page
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/frontend/src/components/settings/PersonalSettingsForm.tsx
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
Labels: package: wallet/frontend, type: source

#1692 feat(workflows): separate image for boutique-frontend for jopacc
  .github/workflows/build-publish.yaml
  packages/boutique/frontend/Dockerfile.prod
Labels: type: ci, package: boutique/frontend

#1675 feat(wallet/backend): add script for managed user and customer creation
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20241008143459_add_customer_id_to_users.js
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/cardUsers.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/reorder.ts
  packages/wallet/backend/src/user/model.ts
Labels: package: wallet/backend, type: source

#1705 feat(wallet/frontend): build separate images for prod and staging
  .github/workflows/build-publish.yaml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/frontend/Dockerfile.prod
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/dialogs/ErrorDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/pages/404.tsx
  packages/wallet/frontend/src/pages/_app.tsx
  packages/wallet/frontend/src/pages/_document.tsx
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
  packages/wallet/frontend/src/pages/grants/[grantId].tsx
  packages/wallet/frontend/src/pages/no-access.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/settings/index.tsx
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: ci, type: source

#1701 feat: Add sandbox deposit
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

#1716 fix(wallet/frontend): redirect user to home page after KYC complete
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

#1717 fix: correction in email template for link to main
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
Labels: package: wallet/backend, type: source

#1631 feat: Boutique implement new design
  packages/boutique/backend/images/courage-dark.png
  packages/boutique/backend/images/courage.png
  packages/boutique/backend/images/kindness-dark.png
  packages/boutique/backend/images/kindness.png
  packages/boutique/backend/images/knowledge-dark.png
  packages/boutique/backend/images/knowledge.png
  packages/boutique/backend/images/luck-dark.png
  packages/boutique/backend/images/luck.png
  packages/boutique/backend/images/opportunity-dark.png
  packages/boutique/backend/images/opportunity.png
  packages/boutique/backend/images/patience-dark.png
  packages/boutique/backend/images/patience.png
  packages/boutique/backend/migrations/20230809220722_add_products_table.js
  packages/boutique/backend/migrations/20230824054747_add_products.js
  packages/boutique/backend/tests/mocks.ts
  packages/boutique/frontend/src/app/cart/components/cart-item.tsx
  packages/boutique/frontend/src/app/cart/components/cart-items.tsx
  packages/boutique/frontend/src/app/cart/components/summary.tsx
  packages/boutique/frontend/src/app/cart/finish.tsx
  packages/boutique/frontend/src/app/checkout/components/order-summary.tsx
  packages/boutique/frontend/src/app/checkout/components/pay-button.tsx
  packages/boutique/frontend/src/app/checkout/components/payment-methods.tsx
  packages/boutique/frontend/src/app/checkout/confirmation.tsx
  packages/boutique/frontend/src/app/index.tsx
  packages/boutique/frontend/src/app/products/$slug.tsx
  packages/boutique/frontend/src/app/products/components/product-card.tsx
  packages/boutique/frontend/src/app/products/components/product-cta.tsx
  packages/boutique/frontend/src/app/products/components/products-list.tsx
  packages/boutique/frontend/src/components/animated-text.tsx
  packages/boutique/frontend/src/components/header.tsx
  packages/boutique/frontend/src/components/icons.tsx
  packages/boutique/frontend/src/components/layouts/base.tsx
  packages/boutique/frontend/src/components/navigation.tsx
  packages/boutique/frontend/src/components/page-header.tsx
  packages/boutique/frontend/src/components/shopping-cart-popover.tsx
  packages/boutique/frontend/src/components/theme-provider.tsx
  packages/boutique/frontend/src/components/theme-toggle.tsx
  packages/boutique/frontend/src/components/ui/button.tsx
  packages/boutique/frontend/src/components/ui/card.tsx
  packages/boutique/frontend/src/components/ui/dialog.tsx
  packages/boutique/frontend/src/components/ui/input.tsx
  packages/boutique/frontend/src/components/ui/tabs.tsx
  packages/boutique/frontend/src/components/ui/toast.tsx
  packages/boutique/frontend/src/fonts/DejaVuSansMono-Bold.ttf
  packages/boutique/frontend/src/fonts/DejaVuSansMono-Oblique.ttf
  packages/boutique/frontend/src/fonts/DejaVuSansMono.ttf
  packages/boutique/frontend/src/hooks/use-products-query.ts
  packages/boutique/frontend/src/lib/theme.ts
  packages/boutique/frontend/src/main.css
  packages/boutique/frontend/src/main.tsx
  packages/boutique/frontend/tailwind.config.cjs
  packages/wallet/frontend/src/components/toast/Toast.tsx
Labels: package: wallet/frontend, type: source, package: boutique/backend, package: boutique/frontend

#1720 feat(workflows): frontend envs
  .github/workflows/build-publish.yaml
Labels: type: ci

#1721 fix(rafiki-boutique-frontend): eslint to eslint config mjs
  packages/boutique/frontend/Dockerfile.prod
Labels: package: boutique/frontend

#1722 fix(rafiki-wallet-frontend): eslint to eslint config mjs
  packages/wallet/frontend/Dockerfile.prod
Labels: package: wallet/frontend

#1724 feat(boutique-frontend): change default of dark theme to light theme
  packages/boutique/frontend/src/components/theme-provider.tsx
Labels: package: boutique/frontend

#1718 feat(wallet/backend): lock cards API for staging
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

#1726 fix(boutique): return dark image from API and update build step
  .github/workflows/build-publish.yaml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/boutique/backend/src/product/model.ts
  packages/boutique/frontend/Dockerfile.prod
  packages/boutique/frontend/index.html
  packages/boutique/frontend/src/components/theme-provider.tsx
  packages/boutique/frontend/src/lib/constants.ts
  packages/boutique/frontend/vite.config.ts
Labels: type: ci, type: source, package: boutique/backend, package: boutique/frontend

#1729 fix: Fix boutique image issues
  packages/boutique/frontend/src/app/cart/components/cart-items.tsx
  packages/boutique/frontend/src/app/products/$slug.tsx
  packages/boutique/frontend/src/components/layouts/base.tsx
  packages/boutique/frontend/src/components/shopping-cart-popover.tsx
Labels: package: boutique/frontend

#1730 feat(workflows): api urls
  .github/workflows/build-publish.yaml
Labels: type: ci

#1732 fix: Replace rafiki money and boutique with correct names
  README.md
  packages/boutique/backend/src/open-payments/service.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/pages/_app.tsx
Labels: type: documentation, package: wallet/frontend, package: wallet/backend, type: source, package: boutique/backend

#1734 feat: add support for GBP and ZAR in sandbox
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, type: source

#1735 fix(wallet/frontend): temporary hardcoded value for staging
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: source

#1744 fix(wallet/backend): provide correct rates to rafiki
  packages/wallet/backend/src/gatehub/client.ts
Labels: package: wallet/backend, type: source

#1742 fix: Post deployment small fixes and improvements
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/frontend/src/components/HeaderLogo.tsx
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/components/layouts/AuthLayout.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source

#1741 chore(ci): fix build
  .github/workflows/build-publish.yaml
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/src/utils/constants.ts
Labels: package: wallet/frontend, type: ci, type: source

#1745 chore(ci): fix open payments host
  .github/workflows/build-publish.yaml
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
Labels: package: wallet/frontend, type: ci, type: source

#1746 fix(wallet/backend): update vault ids; remove fees
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

#1736 feat(user): update session if kyc was verified
  packages/wallet/backend/src/user/controller.ts
Labels: package: wallet/backend, type: source

#1697 feat(wallet/backend): add customer creation on login for sandbox environment
  packages/wallet/backend/migrations/20241010085051_add_customer_id_to_users.js
  packages/wallet/backend/migrations/20241015141156_add_card_id_to_accounts.js
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/global.d.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/utils.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
Labels: package: wallet/backend, type: test, type: source

#1749 fix(wallet/frontend): check applicant status after kyc is completed
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

#1713 feat(wallet/backend): verify that user is managed at sign up on prod environment
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20241008143459_add_customer_id_to_users.js
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

#1747 fix(rafiki-auth): dev environment fix interaction
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
Labels: package: wallet/backend, type: source

#1739 feat(wallet/backend): fix change pin endpoint
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: test, type: source

#1751 fix(wallet/backend): fix CI
  packages/wallet/backend/src/card/service.ts
Labels: package: wallet/backend, type: source

#1752 feat(wallet-backend): handle manual approve flow
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

#1753 fix: temporary disable the signature
  packages/wallet/backend/src/app.ts
Labels: package: wallet/backend, type: source

#1754 fix: fix user id
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

#1755 feat(wallet/backend): socket logs are now debug level
  packages/wallet/backend/src/socket/service.ts
Labels: package: wallet/backend, type: source

#1756 fix: add optional on metadata
  packages/wallet/backend/src/rafiki/service.ts
Labels: package: wallet/backend, type: source

#1725 fix: updated the headlessui/react package and refactored its usage
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/dialogs/ConfirmationDialog.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/ErrorDialog.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/dialogs/QuoteDialog.tsx
  packages/wallet/frontend/src/components/dialogs/SuccessDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UploadPublicKeyDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardSpendingLimitDialog.tsx
Labels: package: wallet/frontend, type: source, hacktoberfest

#1757 fix: enable gatehub signature check
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/middleware/isGateHubSignedWebhook.ts
Labels: package: wallet/backend, type: source

#1760 feat: add MXN support on test wallet
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, type: source

#1759 feat: handle webhooks
  packages/wallet/backend/migrations/20241022161159_add_status_flags_to_users.js
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/actionRequiredEmail.ts
  packages/wallet/backend/src/email/templates/rejectEmail.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/user/model.ts
Labels: package: wallet/backend, type: source

#1764 feat: add card WA to user
  packages/wallet/backend/migrations/20241023143459_card_wallet_address_to_users.js
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/user/model.ts
Labels: package: wallet/backend, type: source

#1763 fix: Frontend parts for card
  packages/wallet/backend/migrations/20241023160155_add_accepted_terms_to_users.js
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/actionRequiredEmail.ts
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/images/InterledgerWallet.png
  packages/wallet/backend/src/email/templates/kycVerifiedEmail.ts
  packages/wallet/backend/src/email/templates/rejectEmail.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/frontend/src/components/HeaderLogo.tsx
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/cards/AccountCard.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
  packages/wallet/frontend/src/ui/Logo.tsx
  packages/wallet/frontend/src/ui/forms/Checkbox.tsx
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#1767 fix: save user info before approving
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

#1679 feat(wallet): freeze card; pin; card details
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/middleware/isAuth.ts
  packages/wallet/backend/src/middleware/withSession.ts
  packages/wallet/backend/src/reorder.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/tests/cards/controller.test.ts
  packages/wallet/frontend/next.config.js
  packages/wallet/frontend/package.json
  packages/wallet/frontend/src/components/dialogs/TerminateCardDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardSpendingLimitDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardContext.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/lib/httpClient.ts
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/frontend/src/pages/card.tsx
  packages/wallet/frontend/src/pages/index.tsx
  packages/wallet/frontend/src/pages/kyc.tsx
  packages/wallet/frontend/src/utils/constants.ts
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/frontend/tailwind.config.js
  packages/wallet/frontend/tsconfig.json
  packages/wallet/shared/src/types/card.ts
  pnpm-lock.yaml
Labels: package: wallet/frontend, package: wallet/backend, type: test, type: source

#1768 feat: insert card transactions
  packages/wallet/backend/migrations/20241023200155_add_is_card_to_transactions.js
  packages/wallet/backend/migrations/20241024200455_add_is_card_to_wallet_addresses.js
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source

#1770 feat(wallet): ask for user password on certain card actions
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/frontend/src/components/dialogs/PasswordDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#1771 fix(wallet/backend): update email templates
  packages/wallet/backend/src/email/service.ts
  packages/wallet/backend/src/email/templates/kycVerifiedEmail.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
Labels: package: wallet/backend, type: source

#1773 feat(wallet/frontend): use custom domain for card pp
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/shared/src/types/walletAddress.ts
Labels: package: wallet/frontend, type: source

#1774 fix(wallet/frontend): fix pp for card
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/pages/index.tsx
Labels: package: wallet/frontend, type: source

#1777 fix: login fixes
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/frontend, type: source

#1781 feat: replace ip dev
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/utils/helpers.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

#1779 feat: save card transactions
  packages/shared/backend/src/model.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

#1782 fix: set currency to euro
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source

#1783 fix: check new transactions length
  packages/wallet/backend/src/transaction/service.ts
Labels: package: wallet/backend, type: source
