Repository interledger/testnet, pull requests merged in 2024-11, with the labels that each got.

#1740 feat(wallet/backend,boutique/backend): DEV env - add hot reload for wallet and boutique backends
  README.md
  boutique-entrypoint.sh
  docker/dev/docker-compose.yml
  package.json
  packages/boutique/backend/Dockerfile.dev
  packages/boutique/backend/package.json
  packages/wallet/backend/Dockerfile.dev
  packages/wallet/backend/package.json
  pnpm-lock.yaml
  wallet-entrypoint.sh
Labels: type: documentation, package: wallet/backend, package: boutique/backend

#1786 fix: Fix images in emails
  packages/wallet/backend/src/email/templates/images/InterledgerWallet.png
  packages/wallet/backend/src/email/templates/images/Verify.png
Labels: package: wallet/backend, type: source

#1743 fix: windows compat issues with pnpm dev cmd & env var syntax
  README.md
  package.json
  packages/wallet/frontend/package.json
  pnpm-lock.yaml
Labels: bug, type: documentation, package: wallet/frontend

#1632 feat: add rate limiters for sending emails and login
  README.md
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  packages/shared/backend/src/errors/index.ts
  packages/shared/backend/src/errors/too-many-requests.ts
  packages/wallet/backend/jest.setup.js
  packages/wallet/backend/package.json
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/rateLimit.ts
  packages/wallet/backend/src/config/redis.ts
  packages/wallet/backend/src/middleware/rateLimit.ts
  packages/wallet/backend/src/rateLimit/service.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  pnpm-lock.yaml
Labels: type: documentation, package: wallet/backend, type: test, type: source

#1812 feat: save deposit transactions
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

#1817 feat: Enhance Boutique
  packages/boutique/frontend/src/app/checkout/components/pay-button.tsx
  packages/boutique/frontend/src/app/checkout/components/payment-methods.tsx
  packages/boutique/frontend/src/components/icons.tsx
  packages/boutique/frontend/src/components/ui/button.tsx
  packages/boutique/frontend/src/components/ui/tabs.tsx
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source, package: boutique/frontend

#1819 fix: Update payment methods boutique
  packages/boutique/frontend/src/components/ui/tabs.tsx
Labels: package: boutique/frontend

#1821 fix: Update order-summary fees text
  packages/boutique/frontend/src/app/checkout/components/order-summary.tsx
Labels: package: boutique/frontend

#1829 fix: Update mobile menu navigation
  packages/boutique/frontend/src/components/bubbles.tsx
  packages/boutique/frontend/src/components/navigation.tsx
  packages/boutique/frontend/src/components/ui/sheet.tsx
Labels: package: boutique/frontend

#1846 feat: check user verification status on onboarding request
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/tests/gatehub/controller.test.ts
  packages/wallet/backend/tests/gatehub/service.test.ts
Labels: package: wallet/backend, type: test, type: source
