Repository interledger/testnet, pull requests merged in 2024-09, with the labels that each got.

#1524 feat: Added card type and menu
  packages/wallet/frontend/public/frozen.webp
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/icons/CardButtons.tsx
  packages/wallet/frontend/src/components/icons/Clipboard.tsx
  packages/wallet/frontend/src/components/icons/DetailsCard.tsx
  packages/wallet/frontend/src/components/icons/NormalCard.tsx
  packages/wallet/frontend/src/components/userCards/CardButtonMenu.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/pages/card/index.tsx
  packages/wallet/frontend/src/ui/Button.tsx
  packages/wallet/frontend/src/ui/CopyButton.tsx
Labels: package: wallet/frontend, type: source

#1552 fix(wallet/frontend): update card colors
  packages/wallet/frontend/src/components/icons/Clipboard.tsx
  packages/wallet/frontend/src/components/icons/UserCardIcons.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
Labels: package: wallet/frontend, type: source

#1546 feat: implement initial gatehub client
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/types.ts
Labels: package: wallet/backend, type: source

#1553 fix: center IDP page
  packages/wallet/frontend/src/pages/grant-interactions/index.tsx
Labels: package: wallet/frontend, type: source

#1526 fix: remove WM accounting
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20231013114620_add_wm_transactions_table.js
  packages/wallet/backend/migrations/20231016055803_add_debt_column.js
  packages/wallet/backend/migrations/20231018084125_update_payment_pointers_table.js
  packages/wallet/backend/migrations/20231026113102_rename_payment_pointer_tables.js
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/utils/consts.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddress/validation.ts
  packages/wallet/backend/src/webMonetization/transaction/model.ts
  packages/wallet/backend/src/webMonetization/transaction/service.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/frontend/src/components/TemporaryWMNotice.tsx
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/account/create.tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/utils/constants.ts
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/shared/src/types/walletAddress.ts
Labels: package: wallet/frontend, package: wallet/backend, type: test, type: source

#1554 feat(wallet/frontend): add temporary card service
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

#1555 feat(wallet/frontend): separate card state from side view
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardContext.tsx
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

#1556 fix: forgotten password - extend reset token expire time
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/user/service.ts
Labels: package: wallet/backend, type: source

#1562 fix: Improve password complecxity for security reasons
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

#1566 fix: add password complexity constraint everywhere where needed
  packages/wallet/frontend/src/lib/api/user.ts
Labels: package: wallet/frontend, type: source

#1446 feat: revoke recurring grants
  packages/boutique/backend/src/order/controller.ts
  packages/boutique/backend/src/order/service.ts
Labels: type: source, package: boutique/backend

#1568 fix: fix wrongly rebased PR for WM PPs removal
  packages/wallet/frontend/src/pages/account/[accountId].tsx
Labels: package: wallet/frontend, type: source

#1570 feat: button hover actions
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/tailwind.config.js
Labels: package: wallet/frontend, type: source

#1576 fix: remove className form transition
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

#1577 fix: developer keys headless UI bug fix
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
Labels: package: wallet/frontend, type: source

#1581 test(wallet/backend): fix wallet address keys test
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: test

#1564 feat(wallet/frontend): add card settings
  packages/wallet/frontend/src/components/dialogs/UserCardPINDialog.tsx
  packages/wallet/frontend/src/components/dialogs/UserCardSpendingLimitDialog.tsx
  packages/wallet/frontend/src/components/icons/Key.tsx
  packages/wallet/frontend/src/components/icons/Limit.tsx
  packages/wallet/frontend/src/components/userCards/UserCard.tsx
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
  packages/wallet/frontend/src/lib/api/card.ts
  packages/wallet/frontend/src/pages/card/index.tsx
Labels: package: wallet/frontend, type: source

#1590 fix(wallet/frontend): update card key icon and button sizes
  packages/wallet/frontend/src/components/userCards/UserCardActions.tsx
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
Labels: package: wallet/frontend, type: source

#1591 feat: add endpoint to get iframe url
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/shared/src/types/iframe.ts
  packages/wallet/shared/src/types/index.ts
Labels: package: wallet/backend, type: source

#1586 fix: Resend verification email
  packages/shared/backend/src/errors/index.ts
  packages/shared/backend/src/errors/not-verified.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/auth/validation.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/src/user/validation.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/auth/service.test.ts
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/auth/forgot.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/frontend, package: wallet/backend, type: test, type: source

#1594 fix(wallet/backend): add missing awaits; fix scope for gatehub client
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/controller.ts
Labels: package: wallet/backend, type: source

#1599 feat(wallet/frontend): add window message types
  packages/wallet/frontend/src/lib/types/windowMessages.ts
Labels: package: wallet/frontend, type: source

#1600 fix: moved chared zod schemas, updated password generation for tests
  packages/wallet/backend/src/asset/validation.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/auth/validation.ts
  packages/wallet/backend/src/rafiki/controller.ts
  packages/wallet/backend/src/rafiki/validation.ts
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/frontend/src/lib/api/user.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
  packages/wallet/shared/src/types/user.ts
Labels: package: wallet/frontend, package: wallet/backend, type: source

#1605 fix: update grants status badge text per right status reason
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/pages/grants/index.tsx
Labels: package: wallet/frontend, type: source

#1606 fix(wallet/frontend): move all tooltips to Radix
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/styles/main.css
  packages/wallet/frontend/src/ui/TogglePayment.tsx
Labels: package: wallet/frontend, type: source

#1609 feat: hover state for Card Settings
  packages/wallet/frontend/src/components/userCards/UserCardSettings.tsx
Labels: package: wallet/frontend, type: source

#1612 feat: replace rapyd with gatehub
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20230317135105_create_users.js
  packages/wallet/backend/migrations/20230317142949_create_accounts.js
  packages/wallet/backend/src/account/controller.ts
  packages/wallet/backend/src/account/model.ts
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/account/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/auth/controller.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/index.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rapyd/controller.ts
  packages/wallet/backend/src/rapyd/rapyd-client.ts
  packages/wallet/backend/src/rapyd/schemas.ts
  packages/wallet/backend/src/rapyd/service.ts
  packages/wallet/backend/src/user/controller.ts
  packages/wallet/backend/src/user/model.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/account/controller.test.ts
  packages/wallet/backend/tests/asset/controller.test.ts
  packages/wallet/backend/tests/auth/controller.test.ts
  packages/wallet/backend/tests/grant/controller.test.ts
  packages/wallet/backend/tests/grant/service.test.ts
  packages/wallet/backend/tests/incomingPayment/service.test.ts
  packages/wallet/backend/tests/mocks.ts
  packages/wallet/backend/tests/quote/controller.test.ts
  packages/wallet/backend/tests/quote/service.test.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
  packages/wallet/backend/tests/rapyd/controller.test.ts
  packages/wallet/backend/tests/rapyd/service.test.ts
  packages/wallet/backend/tests/socket/service.test.ts
  packages/wallet/backend/tests/transaction/controller.test.ts
  packages/wallet/backend/tests/transaction/service.test.ts
  packages/wallet/backend/tests/user/controller.test.ts
  packages/wallet/backend/tests/user/service.test.ts
  packages/wallet/backend/tests/utils.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
Labels: package: wallet/backend, type: test, type: source

#1623 feat: add user to gateway
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/gatehub/consts.ts
  packages/wallet/backend/src/gatehub/types.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/rates/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: source

#1638 feat: boutique add currency into an env variable
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/backend/src/payment/service.ts
  packages/boutique/frontend/.env.example
  packages/boutique/frontend/package.json
  packages/boutique/frontend/src/lib/utils.ts
  packages/wallet/frontend/next-env.d.ts
  pnpm-lock.yaml
Labels: package: wallet/frontend, type: source, package: boutique/backend, package: boutique/frontend

#1642 feat: 1639 - add password view/hide functionality on the login/register pages
  packages/wallet/frontend/src/components/icons/Eye.tsx
  packages/wallet/frontend/src/components/icons/SlashEye.tsx
  packages/wallet/frontend/src/components/settings/ChangePasswordForm.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/reset/[token].tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/frontend, type: source

#1645 fix: update readme
  README.md
  docker/dev/.env.example
Labels: type: documentation

#1650 feat(wallet): replace rapyd fund account with gatehub deposit
  packages/wallet/frontend/src/components/dialogs/FundAccountDialog.tsx
  packages/wallet/frontend/src/components/layouts/AppLayout.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/deposit.tsx
  packages/wallet/shared/src/types/account.ts
Labels: package: wallet/frontend, type: source

#1651 feat(wallet): replace rapyd withdrawal with gatehub
  packages/wallet/frontend/src/components/dialogs/WithdrawFundsDialog.tsx
  packages/wallet/frontend/src/lib/api/account.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/withdraw.tsx
  packages/wallet/shared/src/types/account.ts
Labels: package: wallet/frontend, type: source

#1633 feat(wallet/backend): add view card details endpoint
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/prod/.env.example
  docker/prod/docker-compose.yml
  packages/wallet/backend/migrations/20240923105930_update_wallet_addresses.js
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/card/service.ts
  packages/wallet/backend/src/card/types.ts
  packages/wallet/backend/src/card/validation.ts
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/createContainer.ts
  packages/wallet/backend/src/gatehub/client.ts
  packages/wallet/backend/src/walletAddress/model.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: test, type: source
