Repository interledger/testnet, pull requests merged in 2025-07, with the labels that each got.

#2016 feat: add wallet address mentions everywhere and leave a few payment pointe…
  README.md
  packages/boutique/backend/src/open-payments/service.ts
  packages/boutique/frontend/src/app/checkout/components/payment-methods.tsx
  packages/wallet/backend/src/account/service.ts
  packages/wallet/backend/src/quote/service.ts
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/src/walletAddress/service.ts
  packages/wallet/backend/src/walletAddress/validation.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
  packages/wallet/backend/tests/walletAddress/service.test.ts
  packages/wallet/frontend/src/components/GrantDetails.tsx
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/components/dialogs/CreateWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/DepositDialog.tsx
  packages/wallet/frontend/src/components/dialogs/EditWalletAddressDialog.tsx
  packages/wallet/frontend/src/components/dialogs/GenerateKeysDialog.tsx
  packages/wallet/frontend/src/components/onboarding/Onboarding.tsx
  packages/wallet/frontend/src/lib/api/transaction.ts
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: type: documentation, package: wallet/frontend, package: wallet/backend, type: test, type: source, package: boutique/backend, package: boutique/frontend

#2026 fix: failing tests fix
  packages/wallet/backend/src/walletAddress/controller.ts
  packages/wallet/backend/tests/walletAddress/controller.test.ts
Labels: package: wallet/backend, type: test, type: source

#2022 feat: Update registration option for cards
  packages/wallet/backend/src/app.ts
  packages/wallet/frontend/src/pages/auth/index.tsx
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/pages/auth/signup.tsx
Labels: package: wallet/frontend, package: wallet/backend, type: source

#2052 fix: update prettier
  README.md
  package.json
  pnpm-lock.yaml
Labels: type: documentation

#2060 fix: Fix tests after rafiki update
  packages/wallet/backend/tests/incomingPayment/service.test.ts
Labels: package: wallet/backend, type: test

#2065 feat(wallet): forward erroring webhooks to wallet
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

#2067 fix: Revert "feat(wallet): forward erroring webhooks to wallet (#2065)"
  docker/dev/docker-compose.yml
  docker/prod/docker-compose.yml
  packages/wallet/backend/src/config/env.ts
  packages/wallet/backend/src/gatehub/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

#2070 fix: remove updatedAt from webhook valdiation
  packages/wallet/backend/src/rafiki/validation.ts
  packages/wallet/backend/tests/mocks.ts
Labels: package: wallet/backend, type: source

#2069 feat: update OP to new version
  packages/boutique/backend/package.json
  packages/boutique/backend/src/open-payments/service.ts
  pnpm-lock.yaml
Labels: type: source, package: boutique/backend
