Repository interledger/testnet, pull requests merged in 2025-03, with the labels that each got.

#1952 feat: change theme of Boutique to default light
  packages/boutique/frontend/src/lib/constants.ts
  packages/boutique/frontend/vite.config.ts
  packages/wallet/frontend/src/pages/auth/verify/[token].tsx
Labels: package: wallet/frontend, type: source, package: boutique/frontend

#1954 feat(boutique): change theme of Boutique from dark to light
  .github/workflows/build-publish.yaml
Labels: type: ci

#1961 fix: Update nickname error message
  packages/wallet/frontend/src/lib/api/walletAddress.ts
Labels: package: wallet/frontend, type: source

#1964 feat: Add slack channel info for emails
  packages/wallet/backend/src/email/templates/actionRequiredEmail.ts
  packages/wallet/backend/src/email/templates/forgotPassword.ts
  packages/wallet/backend/src/email/templates/kycVerifiedEmail.ts
  packages/wallet/backend/src/email/templates/rejectEmail.ts
  packages/wallet/backend/src/email/templates/verifyEmail.ts
Labels: package: wallet/backend, type: source
