Repository interledger/testnet, pull requests merged in 2025-05, with the labels that each got.

#1988 feat(boutique): check order status before showing success message
  packages/boutique/backend/src/app.ts
  packages/boutique/frontend/src/app/checkout/confirmation.tsx
  packages/boutique/frontend/src/hooks/use-order-query.ts
Labels: type: source, package: boutique/backend, package: boutique/frontend

#1990 feat: feature request revoke keys in bulk
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/walletAddressKeys/controller.ts
  packages/wallet/backend/src/walletAddressKeys/service.ts
  packages/wallet/backend/src/walletAddressKeys/validation.ts
  packages/wallet/backend/tests/walletAddressKeys/controller.test.ts
  packages/wallet/backend/tests/walletAddressKeys/service.test.ts
  packages/wallet/frontend/src/components/providers/DeveloperKeysProvider.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/components/settings/DeveloperKeys.tsx
  packages/wallet/frontend/src/lib/api/walletAddress.ts
  packages/wallet/frontend/src/lib/context/developerKeys.ts
Labels: package: wallet/frontend, package: wallet/backend, type: test, type: source

#1996 fix(cards): createdAt bug and remove failed transactions
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/shared/src/types/card.ts
Labels: package: wallet/backend, type: source
