Repository interledger/testnet, pull requests merged in 2025-02, with the labels that each got.

#1920 fix: add sandbox gatehub vault id for SGD
  packages/wallet/backend/src/gatehub/consts.ts
Labels: package: wallet/backend, type: source

#1921 fix(deposit): solve issue with deposit transactions for 1K+
  packages/wallet/backend/src/gatehub/service.ts
Labels: package: wallet/backend, type: source

#1922 feat: add second party wallet address
  packages/wallet/backend/migrations/20250217140155_second_party_pp_to_transactions.js
  packages/wallet/backend/src/backfillTrxDetails.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/transaction/model.ts
  packages/wallet/backend/src/transaction/service.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/backend, type: source

#1924 fix(build&publish): correct API base URLs in build-publish workflow
  .github/workflows/build-publish.yaml
Labels: type: ci

#1923 fix: improve error message for invalid interaction
  packages/wallet/backend/src/grant/service.ts
Labels: package: wallet/backend, type: source

#1926 fix: remove exhange endpoint
  packages/wallet/backend/src/account/validation.ts
  packages/wallet/backend/src/app.ts
  packages/wallet/backend/src/quote/controller.ts
  packages/wallet/backend/src/quote/service.ts
Labels: package: wallet/backend, type: source

#1931 feat: Add second party WA, and refund option
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/components/providers/RefundProvider.tsx
  packages/wallet/frontend/src/components/providers/index.tsx
  packages/wallet/frontend/src/lib/context/refund.ts
  packages/wallet/frontend/src/pages/send.tsx
Labels: package: wallet/frontend, type: source

#1936 feat: Reload transaction page when money is received
  packages/wallet/frontend/src/lib/hooks/useToast.ts
  packages/wallet/frontend/src/pages/_app.tsx
Labels: package: wallet/frontend, type: source
