Repository interledger/testnet, pull requests merged in 2025-01, with the labels that each got.

#1892 fix: add user to gateway on test wallet
  packages/wallet/frontend/src/pages/kyc.tsx
Labels: package: wallet/frontend, type: source

#1879 fix: revert allowing everyone to sign up for cards
  packages/wallet/backend/src/auth/service.ts
  packages/wallet/backend/src/card/controller.ts
  packages/wallet/backend/src/gatehub/service.ts
  packages/wallet/backend/src/user/service.ts
  packages/wallet/backend/tests/cards/controller.test.ts
Labels: package: wallet/backend, type: test, type: source

#1882 fix: PP for cards did not display correctly everywhere
  packages/wallet/frontend/src/components/WalletAddressesTable.tsx
  packages/wallet/frontend/src/pages/account/[accountId].tsx
  packages/wallet/frontend/src/pages/request.tsx
  packages/wallet/frontend/src/pages/send.tsx
  packages/wallet/frontend/src/pages/settings/developer-keys.tsx
  packages/wallet/frontend/src/utils/helpers.ts
Labels: package: wallet/frontend, type: source

#1870 feat: Add user name to transactions list and redesign list
  packages/wallet/frontend/src/components/Menu.tsx
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/pages/card.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
  packages/wallet/frontend/src/ui/Table.tsx
  packages/wallet/frontend/src/utils/helpers.ts
  packages/wallet/shared/src/types/transaction.ts
Labels: package: wallet/frontend, type: source

#1908 feat(transaction): add backfill trx details script
  packages/wallet/backend/src/backfillTrxDetails.ts
  packages/wallet/backend/src/rafiki/backend/generated/graphql.ts
  packages/wallet/backend/src/rafiki/backend/request/incoming-payment.request.ts
  packages/wallet/backend/src/rafiki/backend/request/outgoing-payment.request.ts
  packages/wallet/backend/src/rafiki/rafiki-client.ts
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/walletAddress/service.ts
Labels: package: wallet/backend, type: source

#1911 fix: card PP correct name, and card type fix
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
Labels: package: wallet/frontend, type: source

#1909 fix: catch errors on backfill
  packages/wallet/backend/src/backfillTrxDetails.ts
Labels: package: wallet/backend, type: source

#1910 fix: 1902 callback url is not preserved
  packages/wallet/frontend/src/middleware.ts
  packages/wallet/frontend/src/pages/auth/login.tsx
  packages/wallet/frontend/src/ui/ButtonOrLink.tsx
Labels: package: wallet/frontend, type: source

#1913 fix: transactions details cards pp is not ilpdev
  packages/wallet/frontend/src/components/dialogs/TransactionDetailsDialog.tsx
  packages/wallet/frontend/src/pages/transactions.tsx
Labels: package: wallet/frontend, type: source

#1915 fix: add additional fields
  packages/wallet/backend/src/rafiki/validation.ts
Labels: package: wallet/backend, type: source

#1916 fix: change webhook validation according to specs
  packages/wallet/backend/src/rafiki/service.ts
  packages/wallet/backend/src/rafiki/validation.ts
  packages/wallet/backend/tests/rafiki/controller.test.ts
  packages/wallet/backend/tests/rafiki/service.test.ts
Labels: package: wallet/backend, type: test, type: source
